<template>
<view style="width:100%;position: absolute;top:50%;transform:translateY(-50%);z-index:9999" v-if='campaignBollen'>
    <view class="campaign">
    <view class="close" @click='close'><img src="/static/images/close.png"></view>
        <p style="display:flex; padding:30rpx 0;margin:0 20rpx;justify-content: center;align-items: center;20rpx;border-bottom:1rpx solid #fff;font-size:35rpx;font-weight:bold">活动规则</p>
        <view class="textb">
        <p class="texting">1、所获红包金额可在“我的”中进行查看。</p>
        <p class="texting">2、红包仅限在母婴24小程序购买商品使用。</p>
        <p class="texting">
        3、单笔订单金额≥可用红包金额，如选择使用红包，则红包不可拆分。单笔订单金额＜红包使用金额，则仅扣除与订单金额相等的红包金额。
        </p>
        <p class="texting">4、部分活动不能与红包同时享用。</p>
        <p class="texting">5、活动时间:2018年10月15日至2018年12月31日红包发放完毕或活动时间结束，则不再发放红包，所获红包永久有效。</p>
        <p class="texting">6、本次活动最终解释权由北京店佳科技有限公司所有。</p>
        <p class="texting">7、凡以不正当手段 （包括但不限于侵犯第三人合法权利、虚假交易、作弊、扰乱系统、实施网络攻击等）参与本次活动的用户，母婴24有权终止其参与活动，取消其活动资格（如红包已发放，母婴24有权协助追回）。</p>
        </view>
    </view>
</view>
</template>
<script>
export default {
  props: ['campaignBollen'],
  data () {
    return {
    }
  },
  methods: {
    close () {
      this.$emit('close', false)
    }
  }
}
</script>
<style lang="scss" scoped>
.campaign{
    font-family:'SoureHanSansCN-Medium';
    height: auto;
    margin: 0 20rpx;
    position: relative;
    background: rgba(0,0,0,0.6);
    color:#fff;
    font-size: 30rpx;
    border-radius:20rpx;
}
.close{
  height: 50rpx;
	width: 50rpx;
	position: absolute;
	top: 17rpx;
	right: 31rpx;
	img{
		height:100%;
		width:100%;
		background-size:cover;
	}
}
.textb{
	display: flex;
	flex-direction: column;
	padding: 0 22rpx;
	font-size: 30rpx;
}
.texting{
	padding: 10rpx 0;
}
.texting:nth-child(1){
	padding-top:20rpx !important;
}
.texting:nth-child(6){
	padding-bottom:20rpx !important;
}
</style>
