<template style="height:100%;">
  <div style="height:100%;">
    <div style="height:100%;">
      <scroll-view scroll-y @scrolltolower='lower' style="height: 100vh" v-if="orderList.length > 0">
        <SingleOrder v-for="(item,index) in orderList" @showNewMannerInfo='showNewMannerInfo' :tabIndex="tabIndex" :itemdata="item" @refreshList="refreshList" @clearIntval="clear" :key="index" :seconds = "item.seconds" :minutes="item.minutes"></SingleOrder>
      </scroll-view>
      <div class="no-order-img" v-if="orderList.length == '0'">
        <img src="/static/images/no_order.jpg" alt="">
        <div>还没有订单哟，快点忙里偷闲下一单~</div>
      </div>
    </div>
    <!-- 新人礼模太框 -->
    <!-- <div class="modal-slot" v-if="showNewManner" @click="close">
      <div class="boom-modal">
        <div class="content-box">
          <div class="store-info">
            <div class="icon-box" style="font-size:34rpx;color:rgba(0,0,0,1);text-align:center;">
              每位用户只能购买一次新人礼商品，不能再次购买哦
            </div>
          </div>
          <div @click="close" style="font-size:30rpx; text-align:center; font-weight:bold;color:rgba(253,116,34,1);border-top:1px solid #ccc;margin-top:30rpx;padding-top:16rpx;">
            我知道了
          </div>
        </div>
      </div>
    </div> -->
  </div>
</template>
<script>
  import Utils from '@utils/utils'
  import * as types from '@store/types.js'
  import API from '@api'

  import SingleOrder from './SingleOrder'
  import { mapGetters } from 'vuex'

  // import Tools from '@utils/tools'
export default {
    components: {SingleOrder},
    props: ['tabIndex'],
    data () {
      return {
        pageData: {
          page: 0,
          size: 20
        },
        hasUnload: false,
        allLoaded: false,
        tabIndex: 0,
        orderList: [],
        updateTime: 0,
        showNewManner: false
      }
    },
    computed: {
      storageServer () {
        return this.$storageServer
      },
      ...mapGetters({
        shopInfo: 'shopInfo'
      })

    },
    methods: {
      // 新人礼
      // close () {
      //   this.showNewManner = false
      // },
      // showNewMannerInfo (val) {
      //   console.log(val)
      //   this.showNewManner = val
      // },
      // 获取未支付订单数量
      getNoPayNum () {
        // API.Order.getNoPayNum(this.shopInfo.storeId).then(res => {
        //   if (parseInt(res.status) === 200) {
        //     console.log(res.data)
        //     this.$store.commit(types.SAVE_NO_PAY_NUM, res.data)
        //   }
        // })
        API.Order.getOrderNum(this.shopInfo.storeId).then(res => {
          if (parseInt(res.status) === 200) {
            // console.log(res.data, 'order-num--------')
            this.$store.commit(types.SAVE_NO_PAY_NUM, res.data)
          }
        })
      },
      // 获取全部顶顶那
      refreshList (isBring) {
        console.log(isBring)
        if (isBring && isBring.isSureBring) {
          this.pageData.page = 0
        }
        console.log('父组件刷新')
        // console.log(this.pageData.page, '这是分页页码')
        wx.showLoading({
          title: '加载中',
          icon: 'loading'
        })
        let obj = {
          status: this.tabIndex,
          page: this.pageData.page,
          size: this.pageData.size,
          storeId: this.shopInfo.storeId
        }
        this.getNoPayNum()
        if (this.tabIndex === 1 || this.tabIndex === 1 + '') {
          // 未支付单独接口
          API.Order.getOrderListNoPay(this.shopInfo.storeId).then(res => {
            if (parseInt(res.status) === 200) {
              res.data.map((item) => {
                if (item.orderDetailList) {
                  item.orderDetailList = Utils.resolveData(item.orderDetailList, [
                    { path: 'skuImg', width: 130 }
                  ]
                  )
                }
              })
              if (obj.page === 0) {
                this.orderList = res.data
              } else {
                this.orderList.push(...res.data)
              }
              for (let i = 0; i < res.data.length; i++) {
                let temp = this.orderList[i].orderTime
                // 格式化时间
                if (temp.length > 20) {
                  this.orderList[i].orderTime = Utils.formatTime(this.orderList[i].orderTime, '{y}-{m}-{d} {h}:{i}')
                  // this.orderList[i].orderTime = temp.substring(0, 10) + ' ' + temp.substring(11, 19)
                }
                // 给一个该订单的产品数量 倒计时
                if (this.orderList[i].orderDetailList) {
                  this.orderList[i].pronum = 0
                  for (let z = 0; z < this.orderList[i].orderDetailList.length; z++) {
                    this.orderList[i].pronum += this.orderList[i].orderDetailList[z].saleNum
                  }
                }
              }
              for (let n = 0; n < this.orderList.length; n++) {
                this.orderList[n].uuidd = Utils.uuid()
              }
              // 定时器
              this.updateTime = setInterval(() => {
                for (let i = 0; i < this.orderList.length; i++) {
                  let item = this.orderList[i]
                  // console.log(item, i, 'data------->')
                  let tmptime = new Date().getTime()
                  let tmpdiff = item.overTimeMilli - tmptime
                  if (tmpdiff >= 0) {
                    // 这种方式添加属性才能被vue的complier 监听到 by zbm 2018年11月8日 21点26分
                    let tmpmin = Math.floor(tmpdiff % (1000 * 60 * 60) / 1000 / 60)
                    // 往上取秒可以保证当倒计时结束时,后台数据状态已经改变.
                    let tmpsec = Math.ceil(tmpdiff % (1000 * 60) / 1000)
                    if (tmpmin < 10) {
                      tmpmin = '0' + tmpmin
                    }
                    if (tmpsec < 10) {
                      tmpsec = '0' + tmpsec
                    }
                    this.$set(this.orderList[i], 'seconds', tmpsec)
                    this.$set(this.orderList[i], 'minutes', tmpmin)
                    if (tmpmin === '00' && tmpsec === '00') {
                      // 清除定时器并重新获取数据 给3s延迟确定获取到的数据已经更新
                      setTimeout(() => {
                        // 刷新列表
                        this.clear()
                        this.refreshList()
                      }, 1000)
                    }
                  } else {
                    this.clear()
                  }
                }
              }, 1000)
              if (res.data.length < this.pageData.size) {
                this.allLoaded = true
              } else {
                this.pageData.page = this.pageData.page + 1
                // console.log(this.pageData.page, '这是分页页码+1')
                // console.log('--------ZZG')
              }
            }
          })
        } else {
          if (this.tabIndex > 1) {
            obj.status = this.tabIndex - 1
          } else if (parseInt(this.tabIndex) === 0) {
            obj.status = 0
          }
          // console.log('这里的page', )
          // 其余相同的接口
          let _this = this
          API.Order.getOrderListByTab(obj).then(res => {
            // 清空列表
            // this.orderList = []
            console.log(this.tabIndex)
            if (parseInt(this.tabIndex) === 1) {
              return
            }
            if (parseInt(res.status) === 200) {
              res.data.content.map((item) => {
                if (item.orderDetailList) {
                  item.orderDetailList = Utils.resolveData(item.orderDetailList, [
                    { path: 'skuImg', width: 130 }
                  ]
                  )
                }
              })
              if (obj.page === 0) {
                this.orderList = res.data.content
              } else {
                this.orderList.push(...res.data.content)
              }
              for (let i = 0; i < this.orderList.length; i++) {
                let temp = this.orderList[i].orderTime
                if (temp.length > 20) {
                  this.orderList[i].orderTime = Utils.formatTime(this.orderList[i].orderTime, '{y}-{m}-{d} {h}:{i}')
                  // this.orderList[i].orderTime = temp.substring(0, 10) + ' ' + temp.substring(11, 19)
                }
                // 给一个该订单的产品数量
                if (this.orderList[i].orderDetailList) {
                  this.orderList[i].pronum = 0
                  for (let z = 0; z < this.orderList[i].orderDetailList.length; z++) {
                    this.orderList[i].pronum += this.orderList[i].orderDetailList[z].saleNum
                  }
                }
              }
              for (let n = 0; n < this.orderList.length; n++) {
                this.orderList[n].uuidd = Utils.uuid()
              }
              if (res.data.content.length < _this.pageData.size) {
                _this.allLoaded = true
              } else {
                _this.pageData.page = _this.pageData.page + 1
                // console.log(this.pageData.page, '这是分页页码+1')
              }
            }
          })
        }
        wx.hideLoading()
      },
      clear () {
        clearInterval(this.updateTime)
      },
      lower () {
        // console.log(this.allLoaded + 'this.allLoaded')
        if (this.allLoaded) {
          return
        }
        this.refreshList()
      }
    },
    onLoad (options) {
      this.hasUnload = false
      this.allLoaded = false
      this.pageData.page = 0
      // console.log('onLoad----------orderList')
      // console.log(this.tabIndex)
      // console.log(options, 'this is options')
      // 进入时 获取status = 0 时的数据即全部状态标签
    },
    onHide () {
      console.log('onhide----------orderList')
      this.clear()
      this.orderList = []
      // this.tabIndex = null
    },
    onUnload () {
      this.hasUnload = true
      console.log('onUnload----------orderList')
      // 此处给tabIndex =0 防止onshow及watch同时触发，
      this.pageData.page = 0
      this.tabIndex = 0
      this.clear()
      this.allLoaded = false
    },
    onShow () {
      // this.$forceUpdate()
      this.hasUnload = false
      this.allLoaded = false
      this.pageData.page = 0
      // console.log(this.tabIndex + '------tabIndex-----')
      console.log('onShow----------orderList')
      this.refreshList()
    },
    watch: {
      tabIndex: {
        handler: function (oldValue, newValue) {
          // console.log(newValue)
          this.pageData.page = 0
          this.allLoaded = false
          if (!this.hasUnload) {
            this.refreshList()
          }
        },
        immediate: true
      },
      minutes () {
      }

    }
  }
</script>
<style lang="stylus" scoped>
  .item-box{
    font-family:PingFang-SC-Bold;
    padding: 10rpx 20rpx;
    border-top: 20rpx solid #eee;
    .img-list>img{
      width 130rpx
      height  130rpx
    }
    .order-status{
      display flex
      justify-content space-between
      align-items center
      border-bottom 2rpx solid #eee
      padding 10rpx 0
      .number{
        font-size 28rpx
        color #888
      }
      .status{
        color #ff7900
        font-size 28rpx
      }
    }
    .store-name-time{
      display flex
      justify-content space-between
      align-items center
      padding 20rpx 0
      .store-name{
        font-size 32rpx
        color #333
      }
      .time{
        font-size 28rpx
        color #888
      }
    }
    .num-money{
      display flex
      justify-content flex-start
      border-bottom 2rpx solid #eee
      padding 10rpx 0
      .goods-num{
        font-size 28rpx
        color #888
      }
      .real-money{
        font-size 28rpx
        margin-left 25rpx
        color #333
      }
    }
    .btn-two{
      display flex
      justify-content flex-end
      align-items center
      padding 16rpx 0
      .right{
        width:auto;color:#FF7900;border-color:#FF7900;border:1px solid #ff7900;padding:10rpx 20rpx;font-size:28rpx;border-radius:20px
      }
      .look-detail{
        width:180rpx;
        text-align:center;
        height:60rpx;
        line-height:60rpx;
        border:2rpx solid #999;
        border-radius:30rpx;
        font-size:28rpx;
        color #666
        margin-right 25rpx
      }
      .buy-again.look-detail{
        color #ff7900
        border-color #ff7900
      }
    }
  }
  .no-order-img{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    margin-top:100rpx;
    >img{
      width:262rpx;
      height:177rpx;
    }
    >div {
      font-size:26rpx;
      font-family:PingFang-SC-Medium;
      font-weight:500;
      color:rgba(153,153,153,1);
      margin-top 30rpx
    }
  }
  .modal-sale-server{
    background:rgba(0, 0, 0, 0.5);
    width 100%
    height 100%
    display:flex;
    position:fixed;
    top:0;
    .content-info{
      width:600rpx;
      background:#fff;
      border-radius:16rpx;
      height:auto;
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      box-sizing:border-box;
      font-size:32rpx;
      color #555
      .info-box{
        padding:30rpx;
        .word-box{
          padding:40rpx 10rpx 30rpx;
        }
        .title {
          border-bottom:2rpx solid #eee;
          padding:20rpx 0 30rpx;
          font-weight:bold;
          text-align:center;
          font-size:32rpx;
        }
      }
      .store-info{
        display flex
        // padding 20rpx 0
        .phone-color{
          color #5571d8
        }
      }
      .sign{
        width 40rpx
      }
      .word{
        display:flex;
        // padding 20rpx 0
        .sign{
          width 50rpx
        }
        .sign>span{
          width:20rpx;
          height:20rpx;
          background:#f6d94e;
          display:inline-block;
          border-radius:50%;
          border:2rpx solid #000;
        }
      }
    }
  }
  .confirm{
    width 600rpx
    background:rgba(0, 0, 0, 0.5);
    width 100%
    height 100%
    display:flex;
    position:fixed;
    top:0;
  }
.modal-slot{
  width 100%
  height 110%
  position:fixed;
  top:-15px;
  left:0;
  background:rgba(0,0,0,0.5);
  z-index:1000;
  display:flex;
  justify-content:center;
  align-items:center;

  .title{
    text-align:center;
    font-weight:bold;
    font-size:36rpx;
    padding-bottom:26rpx;
    border-bottom:1px solid #ccc;
  }
  .content-box{
    background #ffffff
    width:80%;
    margin:0 auto;
    padding:20rpx;
    border-radius:16rpx;
  }
  .store-info{
    .icon-box{
      display flex
      justify-content space-start
      padding 8rpx 0
      .icon{
        display:flex;
        align-items:center;

        div:nth-of-type(1){
          width:20rpx;
          height:20rpx;
          background:#f6d94e;
          display:inline-block;
          border-radius:50%;
          border:2rpx solid #000;
          margin-right 20rpx
        }
        .expecily{
          width:34rpx;
          position:relative;
          top:-25rpx;

        }
      }
      .phone-num{
        color #4f70d1
      }
    }
  }
}
</style>
