<template>
  <div>
    <div class="boom-modal">
      <div class="content-box">
         <slot></slot>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
    }
  },
  computed: {
  },
  methods: {
  },
  onLoad (options) {
  },
  onHide () {
  },
  onUnload () {
  },
  onShow () {
  }
}
</script>
<style lang="stylus" scoped>
  .boom-modal{
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    display:flex;
    position:fixed;
    top:0;
    z-index: 2
    .content-box{
      min-height 200rpx
      width:600rpx;
      background:#fff;
      border-radius:16rpx;
      height:auto;
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%, -50%);
      box-sizing:border-box;
      font-size:32rpx;
      color:#555;
      padding 35rpx
    }
  }
</style>
