<template>
  <div class="order-info">
    <div class="order-header">
        <div>订单信息</div>
        <div class="call-store-btn" @click="showStore">
          <img src="/static/images/orange_phone.jpg" alt="">
          <div>联系门店</div>
        </div>
    </div>
    <div class="info-list" v-for="(item, index) in orderDetail.orderDetailList" :key="index">
      <div class="name">{{item.skuName}}</div>
      <div>
        <div class="money">￥{{item.realMoney}}</div>
        <div class="num"><span>×</span><span>{{item.saleNum}}</span></div>
      </div>
    </div>
    <div class="send-type-liuyan">
      <div class="type">
        <div>配送方式</div>
        <div>{{orderDetail.deliveryType}}</div>
      </div>
      <div class="liuyan">
        <div>买家留言：</div>
        <div style="flex:3; padding-right:10rpx">{{orderDetail.remark !== '' ? orderDetail.remark : '无'}}</div>
      </div>
    </div>
    <div class="order-money">
      <div class="item">
        <div class="name">商品金额：</div>
        <div>
          <span>￥</span>
          <span>{{orderDetail.productMoney}}</span>
        </div>
      </div>
      <div class="item">
        <div class="name">运费：</div>
        <div>
          <span>+￥</span>
          <span>{{orderDetail.deliveryMoney}}</span>
        </div>
      </div>
      <div class="item">
        <div class="name">红包：</div>
        <div>
          <span>-￥</span>
          <span>{{orderDetail.redPackMoney}}</span>
        </div>
      </div>
      <div class="item allCount">
        <div class="name">总计金额</div>
        <div>
          <span>￥</span>
          <span>{{orderDetail.realMoney}}</span>
        </div>
      </div>
    </div>
    <div class="order-num">
      <div class="item">
        <div class="name">订单编号</div>
        <div>{{orderDetail.srl ? orderDetail.srl : orderDetail.totalSrl || ''}}</div>
      </div>
      <div class="item" v-if="status != '4'">
        <div class="name">付款时间</div>
        <div>{{orderDetail.payTime}}</div>
      </div>
      <div class="item" v-if="orderDetail.sendOutTime || orderDetail.deliveryTime">
        <div class="name">发货时间</div>
        <div>{{orderDetail.sendOutTime || orderDetail.deliveryTime}}</div>
      </div>
      <div class="item" v-if="orderDetail.orderOverTime">
        <div class="name">完成时间</div>
        <div>{{orderDetail.orderOverTime}}</div>
      </div>
    </div>
    <div class="buy-again">
      <!-- 确认订单 -->
      <form @submit="sureConsignee" report-submit v-if="orderDetail.deliveryType == '送货上门' && orderDetail.orderStatus == '配送中'" class="confirm-consign" style="margin-right: 30rpx;">
        <button class="pay-btn" form-type="submit">确认收货</button>
      </form>
      <!-- <div class="confirm-consign" v-if="orderDetail.deliveryType == '送货上门' && orderDetail.orderStatus == '配送中'" @click="sureConsignee">确认收货</div> -->
      <div class="sale-after" @click="afterBuy" v-if="orderDetail.orderStatus == '已完成'">售后</div>
      <div class="again-btn" v-if="status != '4'" @click="buyAgain">再次购买</div>
      <div style="width:auto;" @click="cancelOrder" v-if="status == '4'">取消订单</div>
      <!-- <div style="width:auto;color:#FF7900;border-color:#FF7900;" v-if="status == '4'" @click="payMoney">付款{{minutes}}:{{seconds}}</div> -->
      <form @submit="payMoney" report-submit v-if="status == '4'" style="margin-right: 30rpx;">
        <button class="pay-btn pay-btn-look" form-type="submit">付款{{minutes}}:{{seconds}}</button>
      </form>
    </div>
    <!-- 门店信息模态框  插槽-->
    <div class="modal-slot" v-if="showStoreInfo" @click="close">
      <div class="boom-modal">
        <div class="content-box">
        <div class="title">
          联系门店
        </div>
        <div class="store-info">
          <div class="icon-box">
            <div class="icon">
              <div></div>
              <div>门店：</div>
            </div>
            <div >{{orderDetail.storeName}}</div>
          </div>
          <div class="icon-box">
            <div class="icon">
              <div></div>
              <div>联系人：</div>
            </div>
            <div >{{orderDetail.contactName}}</div>
          </div>
          <div class="icon-box">
            <div class="icon">
              <div></div>
              <div>联系方式：</div>
            </div>
            <div class="phone-num">{{orderDetail.contactPhone}}</div>
          </div>
          <div class="icon-box">
            <div class="icon">
              <div class=""></div>
              <div>门店地址：<span>{{orderDetail.contactAddress}}</span></div>
            </div>
            <div class=""></div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- sale-end模态框 -->
    <!-- <div class="adolf-modal-box" v-if="saleEnd" style="z-index:999" @click="true" id="canNotBuyAgain">
      <div class="content-box">
        <div class="tip">提示</div>
        <div class="title">该订单以下商品无法加入购物车，请重新下单~</div>
        <div class="canNot-box">
          <div id="canNotBuyItem" v-for="(item,index) in canNotBuy" :key="index">
            <div class="box">
              <img style="" :src="Contants.BASE_IMG_URL + item.skuImg" alt="">
              <div class="word-num">
                <div class="word">{{item.productName}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="know-btn" @click="saleEnd = false">知道啦</div>
      </div>
    </div> -->
    <div class="adolf-modal-box canNotBuyModal" v-if="saleEnd" style="z-index:999" @click="true" id="canNotBuyAgain">
      <div class="content-box">
        <div class="tip">提示</div>
        <div class="canNotBuy-box" style="overflow: auto;">
          <div class="hasSaleEnd border-bottom" v-if="soldOutList.length>0">
            <div class="title">以下商品已下架，不能购买哦~</div>
            <div class="canNotBuyItem" v-for="(item,index) in soldOutList" :key="index">
              <div class="box">
                <img style="" :src="Contants.BASE_IMG_URL + item.skuImg" alt="">
                <div class="word-num">
                  <div class="word">{{item.productName}}{{item.skuName}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="notEnough" v-if="notEnoughList.length>0">
            <div class="title">以下商品库存不足，已为您选择最大可购买量~</div>
            <div class="canNot-box">
              <div class="canNotBuyItem" v-for="(item,index) in notEnoughList" :key="index">
                <div class="box">
                  <img style="" :src="Contants.BASE_IMG_URL + item.skuImg" alt="">
                  <div class="word-num">
                    <div class="word">{{item.productName}}{{item.skuName}}</div>
                    <div class="num"><span>仅剩</span><span>{{item.count}}</span><span>件</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="know-btn" @click="iKnow">知道啦</div>
      </div>
    </div>
    <!-- 售后服务模态框 -->
    <div catchtouchmove='true' class="modal-sale-server" v-if="modalSaleServer" @click="close">
      <div class="content-info">
        <div class="info-box">
          <div class="title">售后服务</div>
          <div class="word-box">
            <div class="word">
              <div class="sign"><span></span></div>
              <span style="padding-left: 12rpx;">若你对本订单商品有任何疑问，请直接联系门店：</span>
            </div>
            <div class="word">
              <div class="sign"><span></span></div>
              <span>门店：{{orderDetail.storeName}}</span>
            </div>
            <div class="word">
              <div class="sign"><span></span></div>
              <span>联系方式：{{orderDetail.contactPhone}}</span>
            </div>
            <div class="word">
              <div class="sign"><span></span></div>
              <span>地址：{{orderDetail.contactAddress}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 新人礼模太框 -->
    <!-- <div class="modal-slot" v-if="showNewMannerInfo" @click="close">
      <div class="boom-modal">
        <div class="content-box">
          <div class="store-info">
            <div class="icon-box" style="font-size:34rpx;color:rgba(0,0,0,1);text-align:center;">
              每位用户只能购买一次新人礼商品，不能再次购买哦
            </div>
          </div>
          <div @click="close" style="font-size:30rpx; text-align:center; font-weight:bold;color:rgba(253,116,34,1);border-top:1px solid #ccc;margin-top:30rpx;padding-top:30rpx;">
            我知道了
          </div>
        </div>
      </div>
    </div> -->
    <div class="show-comfirm-consignee" v-if="comfirmConsignee">
      <confirm-modal v-on:isCancel="listenOperation" :title="confirmModal.title" :cancel="confirmModal.cancel" :confirm="confirmModal.confirm"/>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import API from '@api/index'
import Contants from '@contants/index'
import RouterPath from '@router/config'
import Configure from '../../utils/configure'

import orderModal from './OrderModal'
import ConfirmModal from '@components/UI/ConfirmModal'
export default {
  props: ['orderDetail', 'minutes', 'status', 'seconds'],
  data () {
    return {
      Contants,
      modalSaleServer: false,
      comfirmConsignee: false,
      // overTimeMilli: null,
      saleEnd: false,
      showStoreInfo: false,
      // showNewMannerInfo: false,
      confirmModal: {
        title: '确认收货成功吗？',
        cancel: '取消',
        confirm: '确认'
      },
      canNotBuy: [],
      soldOutList: [],
      notEnoughList: [],
      targetFromId: '' // 点击确认收货--模版推送的formId
    }
  },
  computed: {
    ...mapGetters({
      shopInfo: 'shopInfo'
    })
  },
  components: {
    orderModal,
    ConfirmModal
  },
  methods: {
    iKnow () {
      this.saleEnd = false
      if (this.notEnoughList.length > 0) {
        wx.redirectTo({
          url: RouterPath.Carts
        })
      }
    },
    // 取消订单
    cancelOrder () {
      API.Order.cancelOrder({totalSrl: this.orderDetail.totalSrl}).then(res => {
        if (res.status === 200) {
          wx.showToast({
            title: '已取消',
            duration: 1000
          })
          setTimeout(() => {
            wx.navigateBack(1)
          }, 1000)
        }
      })
    },
    payMoney (e) {
      const { totalSrl, orderType } = this.orderDetail
      API.Order.payOrder({totalSrl: totalSrl}).then(res => {
        var resData = res.data
        if (resData.needPay) {
          console.log(resData)
          if (resData.payMap && resData.payMap.success && resData.payMap.data) {
            wx.requestPayment({
              'timeStamp': resData.payMap.data.timeStamp,
              'nonceStr': resData.payMap.data.nonceStr,
              'package': resData.payMap.data.package,
              'signType': resData.payMap.data.signType,
              'appId': resData.payMap.data.appId,
              'paySign': resData.payMap.data.paySign,
              success: (response) => {
                const _paramWx = {
                  totalSrl: resData.totalSrl,
                  formId: e.target.formId,
                  sessionId: resData.payMap.data.package.split('=')[1]
                }
                console.log(_paramWx, '微信模版输入的数值')
                Configure.sendWxMessage(_paramWx)

                if (orderType === '团购') {
                  this.$router.replace({path: `${RouterPath.GroupBuy.Detail}?source=success&id=${resData.orderIds[0]}`})
                } else {
                  this.$router.replace({path: RouterPath.Order.OrderResutl})
                }
              },
              fail: () => {
                wx.showToast({
                  title: '支付失败',
                  icon: 'none',
                  duration: 600
                })
              }
            })
          }
        } else {
        }
      })
    },
    listenOperation (msg) {
      if (msg) {
        this.comfirmConsignee = false
      } else {
        // 掉接口
        API.Order.confirm({id: this.orderDetail.id, formId: this.targetFromId}).then(res => {
          this.comfirmConsignee = false
          if (res.status === 200) {
            wx.showToast({
              title: '收货成功',
              duration: 1000
            })
            setTimeout(() => {
              wx.navigateBack(1)
            }, 800)
          }
        })
      }
    },
    afterBuy () {
      this.modalSaleServer = true
    },
    close () {
      this.modalSaleServer = false
      this.showStoreInfo = false
      this.saleEnd = false
      this.comfirmConsignee = false
      this.showNewMannerInfo = false
    },
    sureConsignee (e) {
      this.targetFromId = e.target.formId
      this.comfirmConsignee = true
    },
    buyAgain () {
      this.soldOutList = []
      this.notEnoughList = []
      console.log(this.orderDetail, 'this.orderDetail')
      if (this.orderDetail.orderDetailList[0].activityFlag === 1) { // 热销商品 和 新人有礼 订单中只有一个商品无法再次购买
        wx.showToast({
          title: '此商品目前无法再次购买',
          icon: 'none',
          duration: 2000
        })
        return
      }
      let param = {
        orderId: this.orderDetail.id,
        storeId: this.shopInfo.storeId
      }
      API.Order.addShopFromOrder(param).then(res => {
        console.log(res.data)
        if (res.status === 200) {
          if (res.data.length === 0) {
            console.log('可以购买')
            setTimeout(() => {
              wx.redirectTo({
                url: RouterPath.Carts
              })
            }, 800)
          } else {
            // console.log('bunenggoumai')
            this.saleEnd = true
            // 判断返回数据
            this.canNotBuy = res.data
            // 过滤掉下架商品
            for (var i = 0; i < this.canNotBuy.length; i++) {
              if (!this.canNotBuy[i].shelfFlag) {
                this.soldOutList.push(this.canNotBuy[i])
                console.log(this.soldOutList, '...............')
                this.canNotBuy = true
                this.canNotBuy.splice(i, 1)
                i--
              } else {
                // 判断库存是否够需要购买的数量，true为够
                if (!this.canNotBuy[i].remainStock) {
                  // this.canNotBuy = true
                  this.canNotBuy[i].count = this.canNotBuy[i].remainStockCount || 0
                  this.notEnoughList.push(this.canNotBuy[i])
                }
              }
            }
          }
        } else {
          console.log('再次购买失败')
        }
      })
    },
    showStore () {
      this.showStoreInfo = true
    }
    // startInterval (endDate) {
    //   // 时间转时间戳
    //   // var date = '2018-11-06 18:35:00'
    //   // date = new Date(Date.parse(date.replace(/-/g, '/'))).getTime()
    //   console.log(endDate)
    //   setInterval(() => {
    //     let nowDate = new Date().getTime()
    //     let difference = endDate - nowDate
    //     if (difference >= 0) {
    //       let minutes = parseInt(difference % (1000 * 60 * 60) / 1000 / 60)
    //       let seconds = Math.floor(difference % (1000 * 60) / 1000)
    //       console.log(minutes, seconds)
    //     } else {
    //       console.log('订单已超时')
    //     }
    //   }, 1000)
    // }
  },
  onLoad (options) {
    // this.overTimeMilli = this.orderDetail.overTimeMilli
  },
  watch: {
    minutes () {
      // handler () {
      //   // if (this.nowSelectPage === 'classify') {
      //   //   this.getPageData()
      //   // }
      //   // retun this.minutes
      // }
    }
  },
  onHide () {
  },
  onUnload () {
    this.saleEnd = false
    this.soldOutList = []
    this.notEnoughList = []
  },
  onShow () {
  }
}
</script>
<style lang="stylus" scoped>
button::after{ border: none; }
.pay-btn{
  display:flex;
  font-size:28rpx;
  width:100%;
  height:100%;
  line-height:2.1;
  background:#fff;
  padding:0;
  min-width:187rpx;
  box-sizing: border-box;
  border:2rpx solid #000;
  justify-content:center;
  height: 60rpx;
  border: 2rpx solid #999;
  border-radius: 30rpx;
  color: #666;
}
.pay-btn-look{
  color: #ff7900 !important;
  border-color: #ff7900 !important;
}
::webkit-scrollbar{
  width 0
  height 0
  color transparent
}
#canNotBuyItem{
  .box{
    display:flex;
    align-items:center;
    padding: 20rpx 40rpx
    // flex-direction:column;
    img{
      width 100rpx
      height 100rpx
      // flex 1
      margin-right:54rpx;
    }
    .word-num{
      flex 2
      .word{
        font-size:24rpx;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        color:rgba(0,0,0,1);
        text-align left
      }
      .num{
        font-size:24rpx;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        color:rgba(153,153,153,1);
        color #666
        text-align left
      }
    }
  }
}
.modal-sale-server{
    background:rgba(0, 0, 0, 0.5);
    width 100%
    height 100%
    display:flex;
    position:fixed;
    top:0;
    .content-info{
      width:600rpx;
      background:#fff;
      border-radius:16rpx;
      height:auto;
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      box-sizing:border-box;
      font-size:32rpx;
      color #555
      .info-box{
        padding:30rpx;
        .word-box{
          padding:40rpx 10rpx 30rpx;
        }
        .title {
          border-bottom:2rpx solid #eee;
          padding:20rpx 0 30rpx;
          font-weight:bold;
          text-align:center;
          font-size:32rpx;
        }
      }
      .store-info{
        display flex
        // padding 20rpx 0
        .phone-color{
          color #5571d8
        }
      }
      .sign{
        width 40rpx
      }
      .word{
        display:flex;
        // padding 20rpx 0
        .sign{
          width 50rpx
        }
        .sign>span{
          width:20rpx;
          height:20rpx;
          background:#f6d94e;
          display:inline-block;
          border-radius:50%;
          border:2rpx solid #000;
        }
      }
    }
  }
  .boom-modal{
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    display:flex;
    position:fixed;
    top:0;
    z-index: 2
    .content-box{
      min-height 200rpx
      width:600rpx;
      background:#fff;
      border-radius:16rpx;
      height:auto;
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%, -50%);
      box-sizing:border-box;
      font-size:32rpx;
      color:#555;
      padding 35rpx
    }
  }
  .order-info{
    position:relative;
    top:30rpx;
    .adolf-modal-box.canNotBuyModal{
      .content-box{
        padding-left 0
        padding-right 0
        padding-bottom 0
        margin-top -50rpx
        // z-index 999
      }
      .canNotBuy-box{
        max-height 800rpx
        overflow-y auto
      }
      .border-bottom {
        border-bottom  10rpx solid #F5F8FA
      }
      div{
        text-align center
      }
      .word{
        text-align left
        display:-webkit-box;
        word-break:break-all;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
        overflow:hidden;
        text-overflow:ellipsis;
      }
      .num{
        text-align left
        font-size:24rpx;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        color:rgba(153,153,153,1);
      }
      .tip{
        font-size 34rpx
        font-weight bold
        text-align center
      }
      .title{
        padding:20rpx 62rpx;
        text-align:left;
        // border-bottom:2rpx solid #eee;
        color #999
        font-size 30rpx
      }
      .know-btn{
        border-top 2rpx solid #f1f1f1
        color:#ff8f00;
        padding:10px;
      }
      img{
        width 120rpx
        height 120rpx
        margin-right 26rpx
      }
      .box{
        display:flex;
        align-items:center;
        padding:30rpx 62rpx;
        .word-num{
          width 317rpx
          font-size:24rpx;
          font-family:PingFang-SC-Medium;
          font-weight:500;
          color:rgba(0,0,0,1);
        }
      }
    }
    .modal-slot{
      .title{
        text-align:center;
        font-weight:bold;
        font-size:36rpx;
        padding-bottom:26rpx;
        border-bottom:1px solid #ccc;
      }
      .store-info{
        .icon-box{
          display flex
          justify-content space-start
          padding 8rpx 0
          .icon{
            display:flex;
            align-items:center;

            div:nth-of-type(1){
              width:20rpx;
              height:20rpx;
              background:#f6d94e;
              display:inline-block;
              border-radius:50%;
              border:2rpx solid #000;
              margin-right 20rpx
            }
            .expecily{
              width:34rpx;
              position:relative;
              top:-25rpx;

            }
          }
          .phone-num{
            color #4f70d1
          }
        }
      }
    }

    .order-header{
      display:flex;
      justify-content:space-between;
      margin-left:30rpx;
      align-items:center;
      padding-bottom:20rpx;

      div:nth-of-type(1){
        font-size 32rpx
      }
      .call-store-btn{
        // background:#ff6d47;
        border-radius:27rpx 0 0 27rpx;
        height:54rpx;
        // padding-left:30rpx;
        display:flex;
        align-items:center;
        border:2rpx solid #eee;
        width:216rpx;
        border-right:0;
        font-size:32rpx;
        justify-content:center;

        img{
          width 34rpx
          height 34rpx
        }
        div{
          font-size:30rpx;
          color:#ff7900;
          margin-left:20rpx;

        }
      }

    }
    .info-list{
      display flex
      padding:30rpx;
      font-size:34rpx;
      color:#1f1f1f;
      border-top:2rpx solid #f5f5f5;
      justify-content:space-between;
      .name {
        width 75%
        font-size 30rpx
      }
      .money{
        color #ff8f00
      }
      .num{
        color:#888;
        padding-left:10rpx;

      }
    }
    .send-type-liuyan{
      border-top:20rpx solid #f5f8fa;
      border-bottom:20rpx solid #f5f8fa;
      .type{
        display flex
        justify-content space-between
        margin-left:30rpx;
        border-bottom:2rpx solid #eee;
        padding:16rpx 0;
        font-size 30rpx
        div:nth-of-type(2){
          margin-right:30rpx;
        }
      }
      .liuyan{
        display flex
        justify-content flex-start
        margin-left:30rpx;
        border-bottom:2rpx solid #eee;
        padding:16rpx 0;
        font-size 30rpx
      }
    }
    .order-money{
      border-bottom:20rpx solid #f5f8fa;
      padding 30rpx
      .item{
        display flex
        justify-content:space-between;
        font-size:32rpx;
        padding:5rpx 0;
        .name{
          color #666
        }
      }
      .allCount{
        font-size 36rpx
        .name{
          color #000
        }
        div:nth-of-type(2){
          color #ff8f00
        }
      }
    }
    .order-num{
      padding 30rpx 30rpx 120rpx
      border-bottom:15rpx solid #f5f8fa;
      .item{
        display flex
        justify-content:space-between;
        font-size:32rpx;
        padding:5rpx 0;
        .name{
          color #666
        }
        div:nth-of-type(2){
          color #666
        }
      }
    }
    .buy-again{
      display flex
      justify-content: flex-end
      align-items center
      padding 20rpx 0
      div{
        width:184rpx;
        color #333
        height:65rpx;
        border-radius:35rpx;
        border:2rpx solid #d6d6d6;
        padding:0 30rpx;
        line-height:65rpx;
        font-size:30rpx;
        margin-right:55rpx;
        box-sizing:border-box;
        text-align:center;
      }
      .again-btn{
        color:#ff8f00;
        border-color #ff8f00
      }
    }
    .del-modal{
      .word{
        text-align:center;
        color:#000;
        font-size:36rpx;
        padding:40rpx 0;
        border-bottom:2rpx solid #eee;
        width:600rpx;
        margin-left:-33rpx;
      }
      .confirm-del-box{
        display flex
        .btn{
          flex 1
          flex:1;
          display:flex;
          justify-content:center;
          align-items:center;
          padding-top:10px;


        }
        .border-right{
          border-right:2rpx solid #eee;
          height:100rpx;
          position:absolute;
          left:50%;

        }
        .cancel{
          //
        }
        .sure{

        }
      }
    }
  }
</style>
