<template>
<div v-if="showModalStatus">
  <view class="commodity_screen" @click="hideModal" v-if="showModalStatus"></view>
  <view :animation="animationData" class="commodity_attr_box" v-if="showModalStatus">
      <view class="leave" @click='hideModal'><img src="/static/images/leave.png" alt="" ></view>
      <view style='display:flex;flex-direction: column;padding-right:45rpx;padding-left:45rpx'>
         <view class="titleMes">
             <view class="imgBox">
               <img v-if="shopDetailDto.skuImg" :src="storageServer+shopDetailDto.skuImg" alt="">
               <img v-else :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/6c1943bc89394410b76102138cccc46a.png'">
              </view>
             <view style='height:150rpx;margin-top:-27rpx;'>
                <p class='nowMon'>
                  <span>￥</span><span>{{shopDetailDto.sellPrice}}</span>
                  <span class='agoMon'>
                    <span>￥{{shopDetailDto.marketPrice}}</span>
                  </span>
                </p>
                <p style="font-size:26rpx;color:#232323;font-family:'Medium';" class="ago">
                  <!-- <span>已选:</span><span>{{shopDetailDto.skuName || '默认'}}</span> -->
                  <span>已选:</span><span>{{'默认'}}</span>
                </p>
             </view>
          </view>
          <view class="numBox">
            <p style="font-size:35rpx;font-family:'Medium';">规格型号</p>
            <p class="listNum">
              <span v-if="item.shelfFlag" v-for='(item,index) in shopDetailDtos' :key='index' :class="[activeBoolen === item.id ? ' active' : 'noActive']" @click='changeTypeFrame(item)'>
                <!-- <view style="font-size:24rpx;color:#333">{{item.skuName ? item.skuName: '默认'}}</view> -->
                <view style="font-size:24rpx;color:#333">{{'默认'}}</view>
                <img src="/static/images/biao.png" v-if="activeBoolen === item.id" :class="[activeBoolen === item.id ? ' biao' : '']"/>
              </span>
            </p>
          </view>
          <view>
            <p style="font-size:35rpx;margin-bottom:10rpx;font-family:'Medium';">购买数量</p>
            <p class="shopNum" style="display:flex;">
              <span class = 'minus' :class="{ numKong:num === 1}" @click='minus_clickHander' style='width:93rpx;height:70rpx;margin-right:2rpx;font-size:32rpx'>-</span>
              <span class="shoppingNum" style='width:147rpx;font-size:32rpx'>{{num}}</span>
              <span class="plus" @click='plusFn_clickHander' style='width:93rpx;height:70rpx;margin-left:2rpx;font-size:32rpx'>+</span>
            </p>
          </view>
      </view>
  </view>
  <view class="addShopCar">
    <p class="bottomban addshopcar" style="width:50%" @click='pushShopCar'>加入购物车</p>
    <p class="bottomban mustgo" @click='goBuy_clickHander'>立即购买</p>
  </view>
  <DTotast ref="totast"/>
</div>
</template>
<script type='text/javascript'>

import { mapActions, mapGetters } from 'vuex'
import * as types from '@store/types'
import RouterPath from '@router/config'
import detail from '@mixins/Detail'
import API from '@api/index'
import Contants from '@contants/index'
import TalkingData from '../../utils/talkingData.js'

import DTotast from '@components/UI/DTotast'

export default {
  props: ['showhide', 'shopDetailDto', 'shopDetailDtos'],
  data () {
    return {
      Contants,
      showModalStatus: false,
      isEnterCarFlag: false, // 加入购物车防刷
      animationData: null,
      activeBoolen: null,
      showPop: false
    }
  },
  mixins: [detail],
  components: {
    DTotast
  },
  computed: {
    ...mapGetters({
      login: 'login',
      shopInfo: 'shopInfo'
    }),
    storageServer () {
      return this.$storageServer
    }
  },
  onHide () {
  },
  onUnload () {
    this.hideModal()
  },
  methods: {
    ...mapActions({
      cartToOrder: types.CART_TO_ORDER
    }),
    // 加
    async goBuy_clickHander () {
      // if (this.goBuyHander) {
      //   this.goBuyHander()
      // }
      if (!this.login) {
        return wx.navigateTo({
          url: RouterPath.Auth.Login + '?fromPage=index'
        })
      }
      if (!this.shopDetailDto.shelfFlag) {
        return this.$refs.totast.showToast({title: '该商品已下架'})
      }
      let _storeSkuBuySet = [{
        id: this.shopDetailDto.id,
        buyCount: this.num
      }]
      let queryStore = {
        storeId: this.shopInfo.id,
        storeSkuBuySet: _storeSkuBuySet
      }
      // 用于判断正常商品是不是超出库存
      let _res = await API.shopDetail.postCheckStoreSkus(queryStore)
      if (_res.status === 200) {
        const queryDate = {}
        queryDate.productDetail = this.shopDetailDto
        queryDate.num = this.num
        this.$store.commit(types.SET_QUERY_DATA, queryDate)
        this.$router.push({ path: RouterPath.Order.OrderConfirm, query: { type: 1 } })
      } else {
        this.$refs.totast.showToast({title: '库存不足'})
      }
    },
    plusFn_clickHander () {
      let {limitCount} = this.shopDetailDto
      this.plus(limitCount)
    },
    showModal (id) {
      this.num = 1
      this.activeBoolen = id
      this.showModalStatus = true
    },
    hideModal () {
      this.showModalStatus = false
    },
    // 加入购物车
    pushShopCar () {
      // 判断是否登陆 未登录跳转到授权页面
      if (!this.login) { // 已登录
        return wx.navigateTo({
          url: RouterPath.Auth.Login + '?fromPage=index'
        })
      }
      if (!this.shopDetailDto.shelfFlag) {
        return this.$refs.totast.showToast({title: '该商品已下架'})
      }
      const sendObject = {
        storeSkuId: this.shopDetailDto.id,
        storeId: this.shopInfo.id,
        count: this.num
      }
      if (this.isEnterCarFlag) return
      this.isEnterCarFlag = true
      this.$store.dispatch(types.DO_POST_SHOPCARS, sendObject).then(res => {
        this.$store.dispatch(types.DO_GET_SHOPCAR_COUNT, { storeId: this.shopInfo.id }).then((data) => {
          this.$emit('shopCount', data.count)
          this.isEnterCarFlag = false
          this.$store.commit(types.DO_SET_SHOPCAR_COUNT, data.count)
          wx.showToast({
            title: '已添加购物车',
            icon: 'success',
            duration: 1000
          })
          this.hideModal()
        }).catch(rest => {
          this.isEnterCarFlag = false
        })
      }).catch(rest => {
        this.isEnterCarFlag = false
      })
      TalkingData.onEvent('c_添加购物车', 'c_添加购物车', {storeSkuId: this.shopDetailDto.id, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
    },
    // 商品规格切换
    changeTypeFrame (item) {
      this.activeBoolen = item.id
      this.shopDetailDto = item
      // 当时活动商品时，请求额外的信息
      this.num = 1
      this.$emit('shopDetailDT', item)
    }
  }
}
</script>
<style  lang="scss" scoped>
  .save-success-toast{
    position:fixed;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#333;
    padding-left: 30rpx;
    font-size: 26rpx;
    padding-right: 30rpx;
    height: 80rpx;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    border-radius:40rpx;
    z-index: 100000;
  }
  .Saleout{
    background:#ccc;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40rpx;
  }
  .disabled{
    background:#ccc !important;
    color: #fff !important;
  }
.imgBox{
  width:200rpx;
  height:200rpx;
  position: absolute;
  left:45rpx;
  top:-42rpx;
  img{
    height:100%;
    width:100%;
    box-shadow:0rpx 10rpx 15rpx 2rpx rgba(99,99,99,0.2);
    background-size:cover;
  }
}
.ago{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.leave{
  height: 27rpx;
  width: 27rpx;
  position: absolute;
  right: 20rpx;
  top: 20rpx;
  img{
    width:100%;
    height:100%;
    background-size:cover;
  }
}
.vip{
  width:46rpx;
  height:28rpx;
  margin-left:8rpx;
}
.numKong{background: #fcfcfc !important;}
.active{border:1rpx solid #ff7900;background:#fff5e9 !important;}
.numBox{display: flex;flex-direction: column;margin-top:30rpx;}
.agoMon{
  color:#ADADAD;
  text-decoration: line-through;
  font-size: 30rpx;
  height:25rpx;
  margin-top:10rpx;
  margin-bottom:10rpx;
  margin-left: 10px;
}
.addshopcar,.mustgo{
  width:50%;
  height:100%;
  font-size:28rpx;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#fff;
}
  .addshopcar,.mustgo2{
    width:100%;
    height:100%;
    font-size:28rpx;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
  }
.addshopcar{background:#FF8F00;}.mustgo{background:#FDD41A;}
  .addshopcar{background:#FF8F00;}.mustgo2{background:#FDD41A;}
.addShopCar{
  height: 100rpx;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 1000;
  bottom:0;
  left:0;
}
.listNum{
  display: flex;
  flex-wrap: wrap;
  margin-bottom:25rpx;
  span{
    position:relative;
    margin-top:20rpx;
    border-radius: 10rpx;
    font-size:32rpx;
    margin-right:15rpx;
    display:flex;
    padding:8rpx 20rpx;
    background:#f5f8fa;
    justify-content: center;
    align-items: center;
    color:#232323;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
}
.nowMon{
  font-size:22px;
  color:#FF0000;
  font-family:Medium;
  font-weight: 500;
  padding-top: 26px;
}
.biao{
  height: 24rpx;
  width: 24rpx;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
}
    /*使屏幕变暗  */
.commodity_screen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  overflow: hidden;
  z-index: 50;
  color: #fff;
}
.titleMes{
  display: flex;
  flex-direction: column;
  margin-left:250rpx;
  margin-top:-20rpx;
}
.shopNum{
  margin-top: 15px;
  span{
    background:#f5f8fa;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#333;
    font-size:32rpx;
  }
}
/*对话框 */
.commodity_attr_box {
  font-family:'Pingfang-SC-Medium';
  height: 450px;
  background: #ffffff;
  position: fixed;
  left: 0;
  z-index: 900;
  bottom: 0;
  width: 100%;
  padding-top: 28px;
}
.noActive{
  height:60rpx;
  padding-left: 10rpx;
  padding-right: 10rpx;
  line-height: 60rpx;
  background:rgba(245,248,250,1);
  border-radius:4px;
}
.active{
  height:60rpx;
  line-height: 60rpx;
  padding-left: 10rpx;
  padding-right: 10rpx;
  background:rgba(255,245,233,1);
  border:1px solid rgba(255,121,0,1);
  border-radius:4px;
}
</style>
<style lang="stylus" scoped>
.mark{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  height: 100%;
  z-index: 1001;
}
.text{
  padding 40rpx
  font-weight 500
  text-align center
  // border-bottom 1px solid rgba(241,241,241,1)
}
.btn{
  color rgba(253,116,34,1)
  font-size 30rpx
  text-align center
  padding 30rpx
}
.save-success-toast-btn{
  z-index 1003
  position:fixed;
  top:45%;
  left:50%;
  transform:translate(-50%,-50%);
  background: rgba(0,0,0,.5);
  width:80%;
  height:200rpx;
  color:#fff;
  border-radius:30rpx;
  font-size 34rpx
}
</style>

