<template>
  <div>
    <div>
      <!--订单信息框-->
      <div class="item-box">
        <div class="order-status">
          <div class="number" v-if="tabIndex == '1'">订单编号：
            <span>{{itemdata.totalSrl}}</span>
          </div>
          <div class="number" v-else>订单编号：
            <span>{{itemdata.srl}}</span>
          </div>
          <div class="status" v-if="tabIndex == '1'">待付款</div>
          <div class="status" v-else>{{itemdata.orderStatus}}</div>
        </div>
        <div @click="goDetail(itemdata)">
          <div id="add-recive-code" v-if="itemdata.deliveryType == '门店自提' && tabIndex != '1'">
            <div style="" class="time">{{itemdata.orderTime}}</div>
            <div class="code">
              <span>提货码：</span>
              <span>{{itemdata.ladingCode}}</span>
            </div>
            <!-- <div class="code" style="width:185rpx;" v-if="itemdata.actGroupStatus === '待成团'">
              <span>拼团中...</span>
            </div> -->
          </div>
          <div class="store-name-time">
            <div class="store-name">{{itemdata.storeName}}
              <span class="groupBuy" v-if="itemdata.orderType == '团购'">拼团订单</span>
              <span class="groupBuy" v-else-if="itemdata.orderType == '秒杀'">秒杀订单</span>
            </div>
            <div class="time" v-if="itemdata.deliveryType != '门店自提'">{{itemdata.orderTime}}</div>
          </div>
          <div class="img-list">
            <img v-for="(imgItem, index2) in itemdata.orderDetailList" :src="imgItem.skuImg" :key="index2" alt>
          </div>
          <div class="num-money">
            <div class="goods-num number">
              <span>共</span>
              <span>{{itemdata.pronum}}</span>件商品
            </div>
            <div class="real-money" v-if="itemdata.orderType != '送礼'">
              <span style="font-size:26rpx;font-family:PingFang-SC-Medium;font-weight:500;color:rgba(51,51,51,1);">实付款：</span>
              <span style="font-size:28rpx;font-weight:500;color:rgba(51,51,51,1);">￥{{itemdata.realMoney}}</span>
            </div>
          </div>
        </div>
        <div class="btn-two">
          <div class="look-detail" @click="cancelOrder(itemdata)" v-if="tabIndex == '1'">取消订单</div>
          <!-- 付款 -->
          <form @submit="(e)=>{this.payMoney(itemdata, e)}" report-submit v-if="tabIndex == '1'" >
            <button class="pay-btn pay-btn-look" form-type="submit">付款{{itemdata.minutes}}:{{itemdata.seconds}}</button>
          </form>
          <!-- <div class="look-detail buy-again" v-if="tabIndex == '1'" @click="payMoney(itemdata)">付款{{itemdata.minutes}}:{{itemdata.seconds}}</div> -->
          <div class="look-detail" v-if="(itemdata.orderProperty == '2' && itemdata.orderStatus != '待发货')" @click="goToLogistics(itemdata)">查看物流</div>
          <!-- <div class="look-detail" v-if="(itemdata.deliveryType !='门店自提' && itemdata.orderStatus == '配送中')" @click="showConfirmModal(itemdata)">确认收货</div> -->
          <!-- 确认收货 -->
          <form @submit="(e)=>{this.showConfirmModal(itemdata, e)}" report-submit v-if="(itemdata.deliveryType !='门店自提' && itemdata.orderStatus == '配送中')" >
            <button class="pay-btn" form-type="submit">确认收货</button>
          </form>
          <div class="look-detail" v-if="itemdata.orderStatus == '已完成'" @click="afterSaleServer">售后</div>
          <div class="look-detail buy-again" v-if="itemdata.payStatus =='已支付' && itemdata.orderDetailList[0].activityFlag == '0'" @click="buyAgainBtn(itemdata)">再次购买</div>
        </div>
      </div>
      <div class="adolf-modal-box canNotBuyModal" v-if="saleEnd" style="z-index:999" @click="true" id="canNotBuyAgain">
        <div class="content-box">
          <div class="tip">提示</div>
          <div class="canNotBuy-box" style="overflow: auto;">
            <div class="hasSaleEnd border-bottom" v-if="soldOutList.length>0">
              <div class="title">以下商品已下架，不能购买哦~</div>
              <div class="canNotBuyItem" v-for="(item,index) in soldOutList" :key="index">
                <div class="box">
                  <img style :src="storageServer + item.skuImg" alt>
                  <div class="word-num">
                    <div class="word">{{item.productName}}</div>
                    <!-- <div class="word">{{item.productName}}{{item.skuName}}</div>                     -->
                  </div>
                </div>
              </div>
            </div>
            <div class="notEnough" v-if="notEnoughList.length>0">
              <div class="title">以下商品库存不足，已为您选择最大可购买量~</div>
              <div class="canNot-box">
                <div class="canNotBuyItem" v-for="(item,index) in notEnoughList" :key="index">
                  <div class="box">
                    <img style :src="storageServer + item.skuImg" alt>
                    <div class="word-num">
                      <div class="word">{{item.productName}}</div>
                      <!-- <div class="word">{{item.productName}}{{item.skuName}}</div>                       -->
                      <div class="num">
                        <span>仅剩</span>
                        <span>{{item.count}}</span>
                        <span>件</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="know-btn" @click="iKnow">知道啦</div>
        </div>
      </div>
      <!--售后服务框-->
      <div catchtouchmove="true" class="modal-sale-server" v-if="modalSaleServer" @click="close">
        <div class="content-info">
          <div class="info-box">
            <div class="title">售后服务</div>
            <div class="word-box">
              <div class="word">
                <div class="sign">
                  <span></span>
                </div>
                <span style="padding-left: 12rpx;">若你对本订单商品有任何疑问，请直接联系门店：</span>
              </div>
              <div class="word">
                <div class="sign">
                  <span></span>
                </div>
                <span>门店：{{shopInfo.storeName}}</span>
              </div>
              <div class="word">
                <div class="sign">
                  <span></span>
                </div>
                <span>联系方式：{{shopInfo.contactPhone}}</span>
              </div>
              <div class="word">
                <div class="sign">
                  <span></span>
                </div>
                <span>地址：{{shopInfo.contactAddress}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 拼团结束模态框 -->
      <div class="boom-modal" v-if="groupOver">
        <div class="content-box">
          <div class="del-modal">
            <div class="word">来晚了，该团已成团
              <div class="has-cancel-word">订单将自动取消</div>
            </div>

            <div class="confirm-del-box">
              <div class="cancel btn" @click="groupOver = false">知道了</div>
              <div class="border-right"></div>
              <div class="sure btn" @click="goGroupBuyList()" style="color:#ee7300">看看其他团</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import * as types from '@store/types.js'
import API from '@api'
import { mapGetters } from 'vuex'
import RouterPath from '@router/config'
import Configure from '../../utils/configure'

export default {
  props: ['tabIndex', 'itemdata', 'seconds', 'minutes'],
  data () {
    return {
      itemId: null,
      buyAgainModal: false,
      modalSaleServer: false,
      showNewMannerInfo: false, // 新人礼
      saleEnd: false,
      timeEnd: '1541419800000',
      allLoaded: false,
      minutes: 0,
      seconds: 0,
      comfirmConsignee: false,
      updateTime: 0,
      canNotBuy: [],
      soldOutList: [],
      notEnoughList: [],
      groupOver: false
    }
  },
  computed: {
    storageServer () {
      return this.$storageServer
    },
    ...mapGetters({
      shopInfo: 'shopInfo'
    })
  },
  components: {
  },
  methods: {
    goGroupBuyList () {
      wx.navigateTo({
        url: RouterPath.GroupBuy.List
      })
    },
    iKnow () {
      this.saleEnd = false
      if (this.notEnoughList.length > 0) {
        wx.redirectTo({
          url: RouterPath.Carts
        })
      }
    },
    cancelOrder (item) {
      var totalSrl = item.totalSrl
      API.Order.cancelOrder({ totalSrl: totalSrl }).then(res => {
        wx.showToast({
          icon: 'success',
          title: '取消成功'
        })
        // 取消订单后 刷新页面
        console.log('取消订单刷页面')
        this.refreshList()
      })
    },
    goToLogistics (item) {
      this.$store.dispatch(types.GET_EXXPRESS_INFO, { joinId: item.id }).then(res => {
        console.log(res)
        wx.navigateTo({
          url: RouterPath.Common.Logistics + '?address=' + item.contactAddress || null
        })
      })
      // }
    },
    // 商品详情页
    goDetail (item) {
      console.log(this.tabIndex, item, '进入详情')
      if (this.tabIndex === 1 || this.tabIndex === '1') {
        console.log(item)
        wx.navigateTo({
          url: RouterPath.Order.OrderDetail + '?item=' + encodeURIComponent(JSON.stringify(item))
        })
      } else {
        wx.navigateTo({
          url: RouterPath.Order.OrderDetail + '?id=' + item.id
        })
      }
    },
    buyAgainBtn (item) {
      this.soldOutList = []
      this.notEnoughList = []
      if (item.orderDetailList[0].activityFlag === 1) {
        // 热销商品 和 新人有礼 订单中国只有一个商品无法再次购买
        wx.showToast({
          title: '此商品目前无法再次购买',
          icon: 'none',
          duration: 2000
        })
        return
      }
      let param = {
        orderId: item.id,
        storeId: this.shopInfo.storeId
      }
      API.Order.addShopFromOrder(param).then(res => {
        if (res.status === 200) {
          console.log(res.data)
          if (res.data.length === 0) {
            console.log('可以购买')
            setTimeout(() => {
              wx.redirectTo({
                url: RouterPath.Carts
              })
            }, 800)
          } else {
            // console.log('bunenggoumai')
            this.saleEnd = true
            // 判断返回数据
            this.canNotBuy = res.data
            // 过滤掉下架商品
            for (var i = 0; i < this.canNotBuy.length; i++) {
              if (!this.canNotBuy[i].shelfFlag) { // 已下架
                this.soldOutList.push(this.canNotBuy[i])
                console.log(this.soldOutList, '...............')
                this.canNotBuy = true
                this.canNotBuy.splice(i, 1)
                i--
              } else {
                // 判断库存是否够需要购买的数量，true为够
                if (!this.canNotBuy[i].remainStock) { // 库存不足，显示最大可购买量
                  // this.canNotBuy = true
                  this.canNotBuy[i].count = this.canNotBuy[i].remainStockCount || 0
                  this.notEnoughList.push(this.canNotBuy[i])
                }
              }
            }
          }
        } else {
          console.log('再次购买失败')
        }
      })
    },
    async payMoney (item, e) {
      var totalSrl = item.totalSrl
      console.log(item, 'item')
      let res
      if (item.orderType === '团购') {
        res = await API.Order.payGroupBuyOrder({ totalSrl: totalSrl }).catch((_res) => {
          if (_res.status === 500) {
            this.groupOver = true
          }
          console.log(_res, '_res000000')
        })
      } else {
        res = await API.Order.payOrder({ totalSrl: totalSrl }).catch(() => {})
      }
      if (res.status === 200) {
        var resData = res.data
        if (resData.needPay) {
          if (resData.payMap && resData.payMap.success && resData.payMap.data) {
            wx.requestPayment({
              timeStamp: resData.payMap.data.timeStamp,
              nonceStr: resData.payMap.data.nonceStr,
              package: resData.payMap.data.package,
              signType: resData.payMap.data.signType,
              appId: resData.payMap.data.appId,
              paySign: resData.payMap.data.paySign,
              success: response => {
                let _paramWx = {
                  totalSrl: resData.totalSrl,
                  formId: e.target.formId,
                  sessionId: resData.payMap.data.package.split('=')[1]
                }
                console.log(_paramWx, '1123456')
                Configure.sendWxMessage(_paramWx)
                if (item.orderType === '团购') {
                  this.$router.replace({path: `${RouterPath.GroupBuy.Detail}?source=success&id=${resData.orderIds[0]}`})
                } else {
                  this.$router.replace({ path: RouterPath.Order.OrderResutl })
                }
                this.refreshList()
              },
              fail: () => {
                wx.showToast({
                  title: '支付失败',
                  icon: 'none',
                  duration: 1000
                })
              }
            })
          }
        } else {
        }
      }
    },
    close () {
      this.modalSaleServer = false
      this.showNewMannerInfo = false
    },
    afterSaleServer () {
      this.modalSaleServer = true
    },
    showConfirmModal (item, e) {
      console.log(item, 'item----这是订单确认收货的字段')
      console.log(e, '5555这是确认收货的地址')
      let _this = this
      wx.showModal({
        content: '确认收货成功吗？',
        cancelColor: '#939393',
        confirmColor: '#ff7900',
        success: function (res) {
          if (res.confirm) {
            console.log('用户点击确定')
            console.log({ id: item.id, formId: e.target.formId })
            API.Order.confirm({ id: item.id, formId: e.target.formId }).then(res => {
              if (res.status === 200 || res.status === '200') {
                console.log(res.status)
                _this.comfirmConsignee = false
                wx.showToast({
                  title: '收货成功',
                  duration: 1000
                })
                _this.refreshList()
              }
            })
          } else if (res.cancel) {
            console.log('用户点击取消')
          }
        }
      })
    },
    // 获取未支付订单数量
    getNoPayNum () {
      API.Order.getOrderNum(this.shopInfo.storeId).then(res => {
        if (res.status === 200 || res.status === '200') {
          console.log(res.data)
          this.$store.commit(types.SAVE_NO_PAY_NUM, res.data)
        }
      })
    },
    // 通知列表刷新页面
    refreshList () {
      console.log('执行了刷新')
      this.$emit('refreshList', { isSureBring: true })
    }
  },
  onLoad (options) {
    console.log('onLoad----------singleOrder')
  },
  onHide () {
    // this.clear()
    console.log('hide---------singleOrder')
    // console.log('onHide')
    this.$emit('clearIntval')
  },
  onUnload () {
    this.saleEnd = false
    this.soldOutList = []
    this.notEnoughList = []
    console.log('onUnload---------singleOrder')
    // this.clear()
  },
  onShow () {
    console.log(this.tabIndex + '------tabIndex-----')
    console.log('onShow--------singleOrder')
    // this.ReadTime(this.itemdata)
  },
  watch: {
    minutes () {}
  }
}
</script>
<style lang="stylus" scoped>
#add-recive-code{
    display flex
    align-items center
    // height 50rpx
    justify-content:space-between;
    margin-bottom 5rpx
    border-bottom:2rpx solid #f1f1f1;
    padding-bottom:10rpx;

    .time{
      font-size 28rpx
      color #888
      font-family:'PingFang-SC-Regular';
    }
    .code{
      font-size:30rpx;
      font-family:PingFang-SC-Bold;
      font-weight:bold;
      color:#fff;
      margin-right:10rpx;
      height:54rpx;
      // border:2rpx solid #ff6d47;
      // padding:0 12rpx;
      border-radius:54rpx 0 0 54rpx;
      display:flex;
      align-items:center;
      background:#ff6d47;
      width:336rpx;
      justify-content:center;
      margin-right:-10rpx;
    }
  }

.item-box {
  font-family: PingFang-SC-Bold;
  padding: 10rpx 20rpx;
  border-top: 10rpx solid #eee;

  .img-list>img {
    width: 130rpx;
    height: 130rpx;
  }

  .order-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom 2rpx solid #eee
    padding: 10rpx 20rpx 10rpx 0;

    .number {
      font-size: 28rpx;
      color: #888;
      font-family:'PingFang-SC-Regular';
    }

    .status {
      color: #ff7900;
      font-size: 28rpx;
    }
  }

  .store-name-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20rpx 0;

    .store-name {
      font-size: 32rpx;
      color: #333;
      flex: 2;
      .groupBuy{
        width: 114rpx;
        height: 40rpx;
        border: 2rpx solid #FF7E00;
        color: #FF7E00;
        font-size:24rpx;
        border-radius:10rpx;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        display: inline-block;
        text-align: center;
        line-height 40rpx;
      }
    }

    .time {
      font-size: 28rpx;
      color: #888;
      flex: 1;
    }
  }

  .num-money {
    display: flex;
    justify-content: flex-start;
    border-bottom: 2rpx solid #eee;
    padding: 10rpx 0;

    .goods-num {
      font-size: 28rpx;
      color: #888;
    }

    .real-money {
      font-size: 28rpx;
      margin-left: 25rpx;
      color: #333;
    }
  }

  .btn-two {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16rpx 0;

    .right {
      width: auto;
      color: #FF7900;
      border-color: #FF7900;
      border: 1px solid #ff7900;
      padding: 10rpx 20rpx;
      font-size: 28rpx;
      border-radius: 20px;
    }

    .look-detail {
      min-width: 180rpx;
      padding: 0 20rpx;
      text-align: center;
      height: 60rpx;
      line-height: 60rpx;
      border: 2rpx solid #999;
      border-radius: 30rpx;
      font-size: 28rpx;
      color: #666;
      margin-right: 25rpx;
      box-sizing: border-box;
      display flex;
      justify-content center;
    }

    .buy-again.look-detail {
      color: #ff7900;
      border-color: #ff7900;
    }
  }
}

.no-order-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100rpx;

  >img {
    width: 262rpx;
    height: 177rpx;
  }

  >div {
    font-size: 26rpx;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    margin-top: 30rpx;
  }
}

.adolf-modal-box.canNotBuyModal {
  .content-box {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-top: -50rpx;
    // z-index 999
  }

  .canNotBuy-box {
    max-height: 800rpx;
    overflow-y: auto;
  }

  .border-bottom {
    border-bottom: 10rpx solid #F5F8FA;
  }

  div {
    text-align: center;
  }

  .word {
    text-align: left;
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .num {
    text-align: left;
    font-size: 24rpx;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
  }

  .tip {
    font-size: 34rpx;
    font-weight: bold;
    text-align: center;
  }

  .title {
    padding: 20rpx 62rpx;
    text-align: left;
    // border-bottom:2rpx solid #eee;
    color: #999;
    font-size: 30rpx;
  }

  .know-btn {
    border-top: 2rpx solid #f1f1f1;
    color: #ff8f00;
    padding: 10px;
  }

  img {
    width: 120rpx;
    height: 120rpx;
    margin-right: 26rpx;
  }

  .box {
    display: flex;
    align-items: center;
    padding: 30rpx 62rpx;

    .word-num {
      width: 317rpx;
      font-size: 24rpx;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(0, 0, 0, 1);
    }
  }
}

.modal-sale-server {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;

  .content-info {
    width: 600rpx;
    background: #fff;
    border-radius: 16rpx;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    font-size: 32rpx;
    color: #555;

    .info-box {
      padding: 30rpx;

      .word-box {
        padding: 40rpx 10rpx 30rpx;
      }

      .title {
        border-bottom: 2rpx solid #eee;
        padding: 20rpx 0 30rpx;
        font-weight: bold;
        text-align: center;
        font-size: 32rpx;
      }
    }

    .store-info {
      display: flex;

      // padding 20rpx 0
      .phone-color {
        color: #5571d8;
      }
    }

    .sign {
      width: 40rpx;
    }

    .word {
      display: flex;

      // padding 20rpx 0
      .sign {
        width: 50rpx;
      }

      .sign>span {
        width: 20rpx;
        height: 20rpx;
        background: #f6d94e;
        display: inline-block;
        border-radius: 50%;
        border: 2rpx solid #000;
      }
    }
  }
}

.confirm {
  width: 600rpx;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
}
 .boom-modal{
  background:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  display:flex;
  position:fixed;
  top:0;
  z-index 2
  .content-box{
    min-height 200rpx
    width:600rpx;
    background:#fff;
    border-radius:16rpx;
    height:auto;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    box-sizing:border-box;
    font-size:32rpx;
    color:#555;
    padding 35rpx
    .del-modal{
      .word{
        text-align:center;
        color:#000;
        font-size:36rpx;
        padding:40rpx 0;
        border-bottom:2rpx solid #eee;
        width:600rpx;
        margin-left:-33rpx;
        .has-cancel-word{
          font-size:30rpx;
          font-family:PingFang-SC-Medium;
          font-weight:500;
          color:rgba(153,153,153,1);
          padding: 20rpx;
        }
      }
      .confirm-del-box{
        display flex
        .btn{
          flex 1
          flex:1;
          display:flex;
          justify-content:center;
          align-items:center;
          padding-top:10px;


        }
        .border-right{
          border-right:2rpx solid #eee;
          height:100rpx;
          position:absolute;
          left:50%;

        }
        .cancel{
          //
        }
        .sure{

        }
      }
    }
  }
}
.pay-btn{
  display:flex;
  font-size:28rpx;
  width:100%;
  height:100%;
  line-height:2.1;
  background:#fff;
  padding:0;
  min-width:187rpx;
  height: 60rpx;
  box-sizing: border-box;
  justify-content:center;
  border: 2rpx solid #999;
  border-radius: 30rpx;
  color: #666;
}
.pay-btn-look{
  color: #ff7900 !important;
  border-color: #ff7900 !important;
}
</style>
