.body {
  background-color: #fff;
  color: #323232;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear::after{
  content: '';
  clear: both;
  display: block;
}
.adolf-modal-box{
  background:rgba(0,0,0,0.5);
  width:100%;
  height:100%;
  display:flex;
  position:fixed;
  top:0;
}
.adolf-modal-box .content-box{
  min-height: 200rpx;
  width:600rpx;
  background:#fff;
  border-radius:16rpx;
  height:auto;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  box-sizing:border-box;
  font-size:32rpx;
  color:#555;
  padding :35rpx;
}
.arrow-right{
  display:inline-block;
  border-top:2rpx solid;
  border-right:2rpx solid;
  width:16rpx;
  height:16rpx;
  border-color:#999;
  transform:rotate(45deg);
  margin-right:10rpx;
}
.page-bottom-null{display:block;width:80%;margin:40rpx auto 0 auto;position:relative;border-top:1px solid #e0e0e0;padding-top:40rpx;font-size: 28rpx;}
.page-bottom-null::before{content:"已经到底了~";position:absolute;background-color:#f2f2f2;width:180rpx;text-align:center;top:-15rpx;left:50%;margin-left:-90rpx;height:30rpx;line-height:30rpx;color:#999}

.page-bottom-noline{color: #999;font-size: 28rpx;text-align: center;margin-top: 20px;padding-bottom:20px;}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
