<template>
  <!--商品列表项-->
  <div class="item" @click="goDetail(datas)">
    <div class="img">
      <img class="icon" :src="datas.skuImg" mode="widthFix">
    </div>
    <div class="info">
      <div class="name">{{datas.skuName}}</div>
      <div class="priceInfo">
        <div class="price">
          <div class="memberCount">
            <img src="/static/images/member-count-bg.png" alt>
            <span>礼物价</span>
          </div>
          <text class="now">￥{{datas.unitPrice}}</text>
        </div>
        <span v-if="isShowBtn" class="priceButton">
          去送礼
          <span class="arrow-right arrow-right--border-color"></span>
        </span>
      </div>
    </div>
  </div>
</template>
<script>
/*
 * @Title: 送礼物商品列表
 * @Author: 张怡瑾
 * @Date: 2019-1-17 19:06:46
 * @LastEditTime: 2019-1-17 11:14:49
 * @LastEditors: 张怡瑾
 * @Description: 送礼物商品列表
 */
import RouterPath from '@router/config'
import mixins from '@mixins/index'
import TalkingData from '../../utils/talkingData.js'
import Contants from '@contants/index'
export default {
  props: ['item', 'isShowBtn'],
  data () {
    return {
      datas: {}
    }
  },
  mixins: [mixins],
  watch: {
    item: {
      handler (val = {}) {
        let { skuImg } = val
        if (this.$Utils.isString(skuImg) && skuImg.length) {
          skuImg = skuImg.indexOf('http') !== -1 ? skuImg : this.$Utils.compressImg(Contants.BASE_IMG_URL + skuImg, 200)
        } else {
          skuImg = Contants.DEFAUTL_URL
        }
        this.datas = { ...val, skuImg }
      },
      immediate: true
    }
  },
  methods: {
    goDetail (item) {
      this.$router.push({ path: RouterPath.Gift.ActivityDetail, query: { id: item.id } })
      if (!this.isNewUser) {
        TalkingData.onEvent('c_去送礼物的商品详情', 'c_去送礼物的商品详情', {storeSkuId: item.id, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      }
    },
    addCars (item) {
      console.log(item)
      this.$emit('addCar', item)
    }
  }
}
</script>
<style lang="stylus" scoped>
.item {
  background-color: #fff;
  padding: 25rpx;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 10rpx;
  border-bottom:10rpx solid #f5f8fa;
  .img {
    width: 200rpx!important;
    height: 200rpx;

    .icon {
      width: 200rpx;
      height: 200rpx;
    }
  }

  .info {
    flex: 1;
    height: 200rpx;
    display flex;
    flex-direction: column;
    justify-content space-between;
    margin-left: 25rpx;

    .name {
      color: #000;
      line-height: 40rpx;
      display: -webkit-box;
      word-break: break-all;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 27rpx;
    }

    .priceInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        .memberCount {
          width: 98rpx;
          height: 40rpx;
          position: relative;

          img {
            width: 98rpx;
            height: 40rpx;
          }

          span {
            position: absolute;
            left: 0;
            width: 98rpx;
            height: 40rpx;
            font-size: 22rpx;
            line-height: 30rpx;
            color: #fff;
            text-align: center;
          }
        }

        .now {
          color: #FF0000;
          font-size: 36rpx;
          font-weight: bold;
        }
      }



      .priceButton {
        width: 156rpx;
        height: 69rpx;
        background: linear-gradient(45deg, rgba(236, 69, 67, 1), rgba(254, 142, 111, 1));
        border-radius: 10rpx;
        text-align: center;
        line-height: 69rpx;
        font-size: 32rpx;
        font-weight: 500;
        color: #fff;

        .arrow-right--border-color {
          border-color: #fff;
          width: 18rpx;
          height: 18rpx;
          margin-right: 0rpx;
          margin-left: -8rpx;
        }
      }
    }
  }
}
</style>


