<template>
    <!--商品列表项-->
    <div class="item">
      <div @click="goDetail(item.id)">
        <div class="img">
          <img class="icon" :src="item.skuImg" mode="widthFix">
        </div>
        <div class="info">
          <!-- <div class="name">{{item.productName}}{{item.skuName}}</div> -->
          <div class="name">{{item.productName}}</div>          
          <div class="price">
            <text class="now">￥{{item.sellPrice}}</text>
            <text class="before">￥{{item.marketPrice}}</text>
          </div>
        </div>
      </div>
      <div class="addCarts" @click="addCars(item)" v-if="!item.activityFlag">
        <img class="icon" src="/static/images/search_carts_icon.png" mode="widthFix">
      </div>
    </div>
</template>
<script>
/*
 * @Title: 商品列表
 * @Author: 张怡瑾
 * @Date: 2018-11-12 19:06:46
 * @LastEditTime: 2018-11-15 11:14:49
 * @LastEditors: 张怡瑾
 * @Description: 商品列表
 */
import RouterPath from '@router/config'
import mixins from '@mixins/index'
import TalkingData from '../../utils/talkingData.js'
export default {
  props: ['item'],
  data () {
    return {
    }
  },
  mixins: [mixins],
  methods: {
    goDetail (item) {
      this.$router.push({ path: RouterPath.Goods.GoodsDetail, query: { id: item } })
      if (!this.isNewUser) {
        TalkingData.onEvent('c_去普通商品商品详情', 'c_去普通商品商品详情', {storeSkuId: item, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      }
    },
    addCars (item) {
      this.$emit('addCar', item)
    }
  }
}
</script>
<style lang="stylus" scoped>
.item {
    background-color: #fff;
    position: relative;
    padding: 20rpx;
    margin-bottom: 20rpx;

    .img {
      position: absolute;
      top: 20rpx;
      left: 20rpx;
      width: 200rpx;
      height: 200rpx;
      overflow: hidden;

      .icon {
        width: 200rpx;
        height: 200rpx;
      }
    }

    .info {
      margin-left: 220rpx;

      .name {
        height: 85rpx;
        display: -webkit-box;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 26rpx;
        margin-bottom: 40rpx;
      }

      .price {
        .now {
          color: #ff0e28;
          font-size: 45rpx;
          padding-right: 10rpx;
        }

        .before {
          color: #999;
          font-size: 26rpx;
          text-decoration: line-through;
        }
      }
    }

    .addCarts {
      width: 140rpx;
      height: 100rpx;
      position: absolute;
      bottom: 0;
      right: 0;

      .icon {
        width: 48rpx;
        height: 48rpx;
        margin: 20rpx 0 0 45rpx;
      }
    }
  }
</style>


