<template>
  <div class="order-edit" :class="{'fixed-body': fixedBody}">
    <div v-show="loadingFlag">
      <div class="page__bd">
        <!-- 切换门店 -->
        <div class="weui-tab">
          <div class="weui-navbar order-navbar" v-if="shopInfo.enableDeliveryHome && shopInfo.enableSelfLifting">
            <block v-for="(item,index) in tabs" :key="index">
              <div :id="index" :class="{'weui-bar__item_on':setOrderBar == index}" class="weui-navbar__item navbar__p" @click="tab_clickHandler">
                <div class="weui-navbar__title">{{item}}</div>
              </div>
            </block>
            <div class="weui-navbar__slider" :class="'weui-navbar__slider_' +  setOrderBar"></div>
          </div>
          <div class="weui-tab__panel order-panel" :class="{'active_top_0':!shopInfo.enableDeliveryHome || !shopInfo.enableSelfLifting}">
            <view class='personM' v-if='setOrderBar == 0 && shopInfo.enableSelfLifting'>
              <view class="mesAge" style="border-bottom:1px solid #eee;">
                <div class="mesImg" style="align-items: flex-start">
                  <span class="message-shopShow">
                    <image src="/static/images/gouwuche_icon1.png" style="width:40rpx; height:40rpx;margin-right:10rpx;position:relative;top:-3rpx;" />
                    <span>自取门店:</span>
                  </span>
                  <span style="flex: 1; padding-left: 15rpx;">{{shopInfo.storeName}}</span>
                </div>
              </view>
              <view class="mesAge">
                <div class="mesImg mesAndress" style="align-items: flex-start">
                  <span class="message-shopShow">门店地址:</span>
                  <span style="flex: 1; padding-left: 15rpx;">{{shopInfo.province || ''}}{{shopInfo.city || ''}}{{shopInfo.area || ''}}{{shopInfo.contactAddress || ''}}</span>
                </div>
              </view>
              <div style="width: 100%; height: 15rpx;background: #F5F8FA"></div>
              <view>
                <p class="mesImg buyShopInfoPerson">
                  <label>联系人:</label>
                  <input v-model.trim='nickName' placeholder="请输入姓名" type='text' adjust-position='true' />
                </p>
              </view>
              <div style="width:100%;height:1px;background-color:#F1F1F1;margin:0 0 0 15px;"></div>
              <view>
                <p class="mesImg buyShopInfoPerson">
                  <label>手机号:</label>
                  <input v-model.trim='phone' placeholder="请输入手机号" type='number' adjust-position='true' />
                </p>
              </view>
            </view>
            <view class='personM personN' v-if='setOrderBar == 1 && shopInfo.enableDeliveryHome'>
              <view class="localBox">
                <p class="imgLocalBox">
                  <img src="/static/images/local.png" style="height:42rpx;width:47rpx;background-size:cover" alt="">
                </p>
                <p class="listAdd" @click='enterAddress_clickHandler'>
                  <view v-if="orderAddress.id">
                    <p>
                      <span style="margin-right: 15rpx">{{orderAddress.receiptName}}</span>
                      <span>{{orderAddress.receiptPhone}}</span>
                    </p>
                    <p>{{orderAddress.provinceName}}{{orderAddress.cityName}}{{orderAddress.areaName}}{{orderAddress.receiptAddress}}</p>
                  </view>
                  <!-- 这里没有地址 -->
                  <span v-if="!orderAddress.id">请填写你的地址</span>
                </p>
              </view>
            </view>
            <!-- 订单信息 -->
            <div style="width: 100%; height: 15rpx;background: #F5F8FA"></div>
            <view>
              <div class="orderTitle">订单信息</div>
              <!-- 从立即购买进入 -->
              <div class="orderList" v-if="sourceType === 1">
                <div class="orderShopName">{{queryData.productDetail.productName || ''}}</div>                
                <!-- <div class="orderShopName">{{queryData.productDetail.productName || ''}}{{queryData.productDetail.skuName}}</div> -->
                <div class="orderShopNum">
                  <div style="color: #FF7E00;font-size: 28rpx;">
                    <span style="font-size: 26rpx;">¥</span>
                    {{queryData.productDetail.sellPrice}}
                  </div>
                  <div style="color: #999999;font-size: 24rpx;">
                    <span style="font-size: 22rpx;">X</span>
                    {{queryData.num}}
                  </div>
                </div>
              </div>
              <div class="orderList" v-if="sourceType === 3">
                <div class="orderShopName">{{activityDetail.productName || ''}}</div>
                <!-- <div class="orderShopName">{{activityDetail.productName || ''}}{{activityDetail.skuName}}</div>                 -->
                <div class="orderShopNum">
                  <div style="color: #FF7E00;font-size: 28rpx;">
                    <span style="font-size: 26rpx;">¥</span>
                    {{activityDetail.sellPrice}}
                  </div>
                  <div style="color: #999999;font-size: 24rpx;">
                    <span style="font-size: 22rpx;">X</span>
                    {{queryData.num}}
                  </div>
                </div>
              </div>
              <!-- 从购物车进入 -->
              <div class="orderList" v-if="sourceType === 2" v-for="(item, index) in orderList" :key="index">
                <!-- <div class="orderShopName">{{item.productName  || ''}}{{item.skuName}}</div> -->
                <div class="orderShopName">{{item.productName  || ''}}</div>                
                <div class="orderShopNum">
                  <div style="color: #FF7E00;font-size: 28rpx;">
                    <span style="font-size: 26rpx;">¥</span>
                    {{item.salePrice}}
                  </div>
                  <div style="color: #999999;font-size: 24rpx;">
                    <span style="font-size: 22rpx;">X</span>
                    {{item.count}}
                  </div>
                </div>
              </div>
            </view>
            <div style="width: 100%; height: 15rpx;background: #F5F8FA"></div>
            <scroll-view @scrolltolower='scrollbottom' scroll-top=0 scroll-y='true' lower-threshold=300 style="height:100%">
              <div class="weui-tab__content">
                <div class="order-edit-group">
                  <view :class="{hideFaceMaster: isActivityNoRed}" class="order-edit-line flex-box space-between align-center">
                    <view class="textbox">
                      <span style="font-size: 30rpx;color:#333">红包抵扣</span>
                      <span style="color:#999;font-size:28rpx;">红包总额 ￥{{shopDepositMy.amount}}</span>
                    </view>
                    <switch :checked='isRedPacketFlag' color="#ff7900" @change="isChooseRedPacket_changeHandler" style="margin-left: 30px;" />
                  </view>
                  <!-- 优惠券 -->
                  <!-- <div class="coupon flex-box space-between align-center" @click="gotoCoupon_click()">
                    <span>优惠券</span>
                    <div>
                      <span>优惠20.0元</span>
                      <img src="/static/images/fenlei_nor.png" style='position: relative;top: 5rpx;width:12rpx;height:28rpx;margin-left:10rpx;'/>
                    </div>
                  </div> -->
                  <view style="padding-right:8rpx;">
                    <div class="flex-other">
                      <span class="flex-left">商品总额：</span>
                      <span class="flex-right">¥{{totalPrice}}</span>
                    </div>
                    <!-- isUseCloudStock判断是不是门店商品，如果是门店商品则使用路费，配送到用户不适用运费 -->
                    <div class="flex-other" v-if="isDeliverFlag">
                      <span class="flex-left">运费：</span>
                      <span class="flex-left" v-if="shopInfo.enableFreeShipping">(还差{{otherMoney}}元就能免运费了)</span>
                      <span class="flex-right flex-icon" v-if="shopInfo.enableFreeShipping" style="height: 50rpx;" @click="showRole"></span> 
                      <span class="flex-right" :class="{'p-l':shopInfo.enableFreeShipping}">+ ¥{{shopInfo.deliveryMoney || 0}}</span>
                    </div>
                    <div class="flex-other" v-if="isRedPacketFlag && !isActivityNoRed">
                      <span class="flex-left">红包：</span>
                      <span class="flex-right">- ¥{{redPackMoney}}</span>
                    </div>
                  </view>
                  <view>
                    <div class="flex-other">
                      <span class="flex-left" style="color: #000000; width: 150px; font-size: 38rpx;height:33px;line-height:33px;">总计金额：</span>
                      <span class="flex-right" style="color: #ff7900; font-size: 40rpx;">¥{{payMoneyX}}</span>
                    </div>
                  </view>
                </div>
              </div>
              <div style="width: 100%; height: 15rpx;background: #F5F8FA"></div>
              <div class="align-center">
                <div class="message-leave">买家留言：</div>
                <div class="text-look" :style="{color: !remark ? 'rgba(51,51,51,0.4)':'rgba(51,51,51,1)'}" @click='inputText_clickHandler(false)' v-if="textareaFlag">{{remark || '请在这里输入留言'}}</div>
                <textarea v-else type="text" @blur='inputText_clickHandler(true)' :auto-focus="foucusFlag" :focus="foucusFlag" class="message-input" style="width: 100%;" :maxlength="50" v-model="remark" placeholder="请在这里输入留言..."></textarea>
              </div>
            </scroll-view>
          </div>
        </div>
      </div>
      <!-- 支付计算 底部 -->
      <div class="price-foot flex-box space-between">
        <div class="flex-box direction-column flex-center" style="line-height: 1;margin-left: 30rpx;">
          <span>
            <span class="l-g" style="color: #000;">金额总计：</span>
            <span class="main-color l-g">￥</span><span class="main-color l-g">{{payMoneyX}}</span>
          </span>
          <span class="l-p">
            <span class="low-color l-g-s">数量合计：</span>
            <span class="low-color l-g-s">{{count}}</span>
          </span>
        </div>
        <form @submit="pay_clickHanlder" report-submit>
          <button class="pay-btn" form-type="submit" style="line-height: 3.5;">去支付</button>
        </form>
        <!-- <div class="pay-btn" @click.stop="pay_clickHanlder" :class="{'disabled': count > 0}">
          <span>去支付</span>
        </div> -->
      </div>
      <!-- 下架、库存不足商品显示模态框 -->
      <div class="adolf-modal-box canNotBuyModal" v-if="canNotBuy" style="z-index:999" @click="true" id="canNotBuyAgain">
        <div class="content-box">
          <div class="tip">提示</div>
          <div class="canNotBuy-box" style="overflow: auto;">
            <div class="hasSaleEnd border-bottom" v-if="soldOutList.length>0">
              <div class="title">以下商品已售罄或已下架，不能购买哦~</div>
              <div class="canNotBuyItem" v-for="(item,index) in soldOutList" :key="index">
                <div class="box">
                  <img style="" :src="Contants.BASE_IMG_URL + item.skuImg" alt="">
                  <div class="word-num">
                    <div class="word">{{item.productName || ''}}</div>
                    <!-- <div class="word">{{item.productName || ''}}{{item.skuName}}</div>                     -->
                  </div>
                </div>
              </div>
            </div>
            <div class="notEnough" v-if="notEnoughList.length>0">
              <div class="title">以下商品库存不足，已为您选择最大可购买量~</div>
              <div class="canNot-box">
                <div class="canNotBuyItem" v-for="(item,index) in notEnoughList" :key="index">
                  <div class="box">
                    <img style="" :src="Contants.BASE_IMG_URL + item.skuImg" alt="">
                    <div class="word-num">
                      <!-- <div class="word">{{item.productName || ''}}{{item.skuName}}</div> -->
                      <div class="word">{{item.productName || ''}}</div>                      
                      <div class="num"><span>仅剩</span><span>{{item.count}}</span><span>件</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="know-btn" @click="iKnow">知道啦</div>
        </div>
      </div>
    </div>
    <!-- 运费规则 -->
    <DeliverRuleModal ref="ruleModal" />
  </div>
</template>
<script>
/*
 * @Description: 确认订单页面
 * @Author: 徐长剑
 * @Date: 2018-11-12 19:06:46
 * @LastEditTime: 2018-11-15 11:14:49
 * @LastEditors: Please set LastEditors
 * @Description: 确认订单 支付订单页面
 * @Params {String | Number} type 判断是页面来源  1:立即购买 2:购物车进入
 * @Params {String} ids 订单信息
 */
import { mapGetters, mapActions } from 'vuex'
import api from '@api'
import * as types from '@store/types.js'
import Contants from '@contants/index'
import RouterPath from '@router/config'
import Configure from '../../utils/configure'
import DeliverRuleModal from '@components/UI/deliverRuleModal'

export default {
  data () {
    return {
      tabs: ['门店自提', '送货到家'],
      loadingFlag: false, // 控制整个页面显示隐藏
      buyFlag: false, // 去支付 按钮 防刷flag
      foucusFlag: false, // textarea自动获得焦点
      textareaFlag: true, // 控制切换 textarea 和 展示div 显示隐藏
      setOrderBar: 0, // 判断是配送方式 0:门店自取 1:送货到家
      sourceType: 0, // 判断是页面来源  1:立即购买 2:购物车进入 3:活动商品进入
      remark: '', // 留言信息
      isRedPacketFlag: true, // 是否使用红包
      nickName: '', // 用户名字
      phone: '', // 用户手机号
      orderList: [], // 订单信息
      Contants,
      orderAddress: {}, // 订单收货地址
      shopDepositMy: {
        amount: 0
      },
      payMoneyX: 0,
      totalPrice: 0, // 总金额
      count: 0, // 商品个数
      redPackMoney: 0, // 红包展示金额
      soldOutList: [], // 下架商品列表
      notEnoughList: [], // 库存不足商品列表
      canNotBuy: false, // 下架或库存不足商品提示模态框
      fixedBody: false, // 控制模态框滑动
      isActivityNoRed: false, // 判断不使用红包
      // detailActions: {}, // 判断从商品详情页面传过来的商品是不是活动商品
      activityDetail: {}, //  活动详情的内容
      storeIdCheck: false, // 微信分佣中是不是存在当前门店
      isStoreProduct: false, // 判断是不是门店商品《useCloudStock》
      ruleModalProps: {
        showRuleModal: true,
        ruleTextArr: [
        ]
      },
      isDeliver: false, // 是不是显示运费文字说明
      otherMoney: '' // 还有多少钱可以免运费
    }
  },
  computed: {
    ...mapGetters(['shopInfo', 'queryData', 'setCheckShop', 'userPhone', 'userInfo', 'openId', 'storeId', 'saveFromAddress', 'isFromOrderConfirm']),
    /**
     * 活动商品是平台商品（配送到用户 -- 没有运费，配送到门店-- 有运费）
     * 送货到家--有运费
     * 门店商品 -- 有运费
     * 平台商品 + 配送到用户 --- 没有运费
     * isCloud 平台商品
     * isDeliverFlag 为true时收取运费 ，false不收取运费
     */
    isDeliverFlag () {
      // let _flag = false
      // let isCloud = !this.isStoreProduct || this.sourceType === 3 // 平台商品
      // console.log(this.shopInfo.enableFreeShipping, '是不是开启免职服功能')
      // console.log(this.shopInfo.freeShippingMoney - this.totalPrice, '计算的值')
      // console.log(this.shopInfo.freeShippingMoney - this.totalPrice <= 0, '计算的钱')
      // this.isDeliver = this.shopInfo.enableFreeShipping && (this.shopInfo.freeShippingMoney - this.totalPrice <= 0)
      // if (this.setOrderBar === 1) {
      //   // _flag = !isCloud || (isCloud && this.shopInfo.cloudProductDeliverDestination !== '配送到用户')
      //   console.log((isCloud && this.shopInfo.cloudProductDeliverDestination !== '配送到用户'), '这个是平台上品+不配送到用户手中')
      //   console.log(isCloud, '平台商品是没有运费的 -- isCloud')
      //   console.log(this.isDeliver, '满足免运费的条件 --- this.isDeliver')
      //   _flag = !isCloud || (isCloud && this.shopInfo.cloudProductDeliverDestination !== '配送到用户') || this.isDeliver
      //   // _flag = !isCloud || (isCloud && this.shopInfo.cloudProductDeliverDestination !== '配送到用户') || isDeliver
      //   console.log(_flag, 'true使用运费')
      // }
      let _flag = true
      // isDeliver 为true时 不收取运费
      // isCloud && this.shopInfo.cloudProductDeliverDestination === '配送到用户' 配送到用户不收取运费
      this.isDeliver = this.shopInfo.enableFreeShipping && (this.shopInfo.freeShippingMoney - this.totalPrice <= 0)
      let isCloud = !this.isStoreProduct || this.sourceType === 3 // 平台商品
      if (this.setOrderBar === 1) {
        _flag = (isCloud && this.shopInfo.cloudProductDeliverDestination === '配送到用户') || this.isDeliver
      }
      return !_flag
    }
  },
  watch: {
    canNotBuy  (newVal, oldVal) {
      if (newVal === true) {
        this.fixedBody = true
      } else {
        this.fixedBody = false
      }
    }
  },
  components: {
    DeliverRuleModal
  },
  onLoad (opt) {
    let { type, ids } = opt
    this.sourceType = Number(type)
    this.ids = ids
    wx.showLoading({
      title: '加载中...',
      complete: () => {
        this.loadingFlag = false
      }
    })
  },
  async onShow () {
    console.log(this.sourceType, '页面类型')
    this.ruleModalProps.ruleTextArr[0] = this.shopInfo.deliverMoneyExplanation
    let { num, productDetail } = this.queryData

    let { shopInfo, ids } = this
    this.nickName = this.userInfo.nickName
    this.phone = this.userPhone
    // 用于判断改商户是不是微信分佣商户,--如果是微信分佣商户则不能使用红包付款
    let _data = await api.Public.getPayConfig()
    if (_data && _data.status === 200) {
      _data.data.storeIds.map(i => {
        if (i === this.shopInfo.id) {
          this.storeIdCheck = true
        }
      })
      if (!_data.data.abTest || this.storeIdCheck) {
        console.log('绑定微信用户 不适用红包')
        // 绑定用户 不使用红包
        if (this.shopInfo.bind) {
          this.isActivityNoRed = true
          this.isRedPacketFlag = false
        }
      } else {
        console.log('正常的用户')
      }
    }

    // 立即购买进入
    switch (this.sourceType) {
      case 1:
        this.totalPrice = this.formatFloat(num * productDetail.sellPrice, 2)
        this.count = num
        console.log(this.setCheckShop, 'setCheckShop.....jajjaj')
        // 判断立即购买时是不是门店商品
        if (this.setCheckShop && this.setCheckShop.length) {
          this.isStoreProduct = !this.setCheckShop[0].useCloudStock
        }
        break
      case 3:
        console.log(productDetail)
        // 新人有礼活动-不适用红包
        if (productDetail.activityType === '新人有礼') {
          this.isActivityNoRed = true
          this.isRedPacketFlag = false
        }
        this.activityDetail = productDetail.storeSkuDetail
        this.totalPrice = this.formatFloat(num * this.activityDetail.sellPrice, 2)
        this.count = num
        break
      default:
        // 获取订单信息
        let _res = await api.Carts.submitSelectShopInfo({ ids, storeId: shopInfo.id })
        console.log('获得订单信息接口返回数据:', _res)
        if (_res && _res.status === 200) {
          let showList = []
          let { data = [] } = _res
          let _totalPrice = 0
          // 过滤掉下架商品
          for (var i = 0; i < data.length; i++) {
            if (!data[i].shelfFlag) {
              this.soldOutList.push(data[i])
              console.log(this.soldOutList, '...............')
              this.canNotBuy = true
              data.splice(i, 1)
              i--
            }
          }
          // 未下架商品，判断库存
          for (var j = 0; j < data.length; j++) {
            let { useCloudStock, limitCount, count, remainStockCount } = data[j]
            if (remainStockCount < count) { // 说明库存  不 足
              count = remainStockCount
              this.notEnoughList.push({...data[j], count})
              this.canNotBuy = true
            }
            // 走云库存时判断
            if (useCloudStock && limitCount !== 0 && count > limitCount) { // 云仓商品限购
              count = limitCount
            }
            if (count) {
              showList.push({...data[j], count})
              this.count += count // 商品总数量
              _totalPrice += data[j].salePrice * count
            }
          }
          // 判断是云仓商品还是门店商品
          this.isStoreProduct = data.some(k => !k.useCloudStock)
          console.log(this.isUseCloudStock, 'this.isUseCloudStock')
          this.orderList = showList // 订单信息列表
          this.totalPrice = this.formatFloat(_totalPrice, 2)
        }
        break
    }
    // 地址选择
    if (this.isFromOrderConfirm) {
      // 选择地址列表 回调数据
      this.orderAddress = this.saveFromAddress
    } else {
      let _adressRes = await api.my.getCustomerAddresDefault()
      console.log('请求默认收货接口返回数据', _adressRes)
      if (_adressRes && _adressRes.status === 200) {
        this.orderAddress = _adressRes.data
      }
    }
    let _res = await this.getShopInfo({storeId: this.shopInfo.id}).catch(() => {})
    if (_res) {
      // 配送路径进入页面中选择方式
      if ((this.shopInfo.enableDeliveryHome && !this.shopInfo.enableSelfLifting) || this.isFromOrderConfirm) {
        this.setOrderBar = 1
      } else {
        this.setOrderBar = 0
      }
    }
    let _redPacketRes = await api.shopDetail.getMyCustomerDeposits()
    console.log('获得红包接口返回数据:', _redPacketRes)
    if (_redPacketRes && _redPacketRes.status === 200) {
      let { data = {} } = _redPacketRes
      this.shopDepositMy = data
    }

    this.computedPayRedPack()
    wx.hideLoading()
    let _otherMoney = this.shopInfo.freeShippingMoney - this.totalPrice
    this.otherMoney = this.formatFloat(_otherMoney, 2)

    this.loadingFlag = true
    this.$store.dispatch(types.GET_SHOP_INFO_BY_ID, {storeId: shopInfo.id})

    console.log('门店信息', shopInfo)
  },
  onHide () {
    this.clearData()
  },
  onUnload () {
    this.nickName = ''
    this.phone = ''
    this.remark = ''
    this.setOrderBar = 0
    this.clearData()
  },
  methods: {
    ...mapActions({
      getShopInfo: types.GET_SHOP_INFO_BY_ID
    }),
    // 运费弹框
    showRole () {
      this.$refs.ruleModal.showToast({ruleModalProps: this.ruleModalProps})
    },
    iKnow () {
      this.canNotBuy = false
      if (this.orderList.length === 0) {
        this.myToast('您暂无可购买的商品，请重新下单~')
        setTimeout(() => {
          wx.navigateBack(1)
        }, 1500)
      }
    },
    clearData () {
      this.orderAddress = {}
      this.count = 0
      this.$store.commit(types.IS_FROM_ORDER_CONFIRM, false)
      this.isRedPacketFlag = true
      this.count = 0
      this.soldOutList = [] // 下架商品列表
      this.notEnoughList = [] // 库存不足商品列表
      this.canNotBuy = false
      this.fixedBody = false
      this.isActivityNoRed = false
      this.activityDetail = {}
      this.storeIdCheck = false
      this.isUseCloudStock = false
      this.isDeliver = false
      this.otherMoney = ''
      // this.detailActions = {}
    },
    // 动态切换textarea输入框中的值
    inputText_clickHandler (flag) {
      this.textareaFlag = flag

      setTimeout(() => {
        this.foucusFlag = !flag
      }, 100)
      console.log(flag, 'this.textareaFlag1')
    },
    // 正常商品支付成功 --
    formSubmit (e) {
      // console.log('form发生了submit事件，携带数据value为：', e.detail.value)
      console.log('form发生了submit事件，携带数据formId为：', e)
    },
    pay_clickHanlder (e) {
      // console.log('form发生了submit事件，携带数据value为：', e.detail.value)
      console.log('form发生了submit事件，携带数据formId为：', e)
      let { receiptAddress, receiptPhone, receiptName, provinceName, cityName, areaName } = this.orderAddress
      let { productDetail, num } = this.queryData
      let { shopInfo, nickName, phone } = this
      let _orderDetailSubmit = [] // 每条订单信息
      let params = {
        deliveryType: !this.setOrderBar ? '门店自提' : '送货上门',
        storeId: this.shopInfo.id,
        remark: this.remark,
        orderFrom: this.sourceType === 2 ? 2 : 1, // 来源 2:是从购物车来的， 1是从立即购买过来的
        redPackMoney: this.isRedPacketFlag ? this.redPackMoney : 0, // 红包金额
        receiptName, // 收货姓名
        receiptPhone, // 收货电话
        receiptAddress: provinceName + cityName + areaName + receiptAddress // 收货地址
      }
      if (this.orderList.length === 0 && this.sourceType === 2) {
        this.myToast('暂无可支付的商品')
        return
      }
      if (!this.setOrderBar) {
        // 门店自提
        if (!nickName || !phone) {
          this.myToast('请输入联系人和手机号')
          return
        }
        if (!/^[1][0-9][0-9]{9}$/.test(phone)) {
          this.myToast('请输入正确的手机号')
          return
        }
      }
      if (this.setOrderBar && (!receiptAddress && !receiptPhone && !receiptName)) {
        this.myToast('请填写地址信息')
        return
      }

      // 立即购买
      // 1 正常商品进入 2: 购物车 3: 活动商品
      switch (this.sourceType) {
        case 1:
          _orderDetailSubmit.push({
            buyCount: num,
            id: productDetail.id
          })
          break
        case 2:
          this.orderList.filter(item => {
            _orderDetailSubmit.push({
              buyCount: item.count,
              id: item.storeSkuId
            })
          })
          break
      }

      // 门店自提
      if (!this.setOrderBar) {
        Object.assign(params, {
          receiptName: nickName,
          receiptPhone: phone,
          storeName: shopInfo.storeName,
          receiptAddress: shopInfo.contactAddress
        })
      }
      if (this.buyFlag) return
      this.buyFlag = true
      if (this.sourceType === 3) {
        params.buyCount = this.count
        params.id = productDetail.id
        api.shopDetail.postActivitySaveOrder(params).then(res => {
          console.log('支付下单接口返回数据:', res)
          if (res.status === 200) {
            let { data } = res
            this.$store.commit(types.SET_TOTAALSRL, data.totalSrl)
            if (data && data.needPay) {
              let { payMap } = data
              // 微信支付
              if (payMap && payMap.success && payMap.data) {
                let {timeStamp, nonceStr, signType, appId, paySign} = payMap.data
                wx.requestPayment({
                  timeStamp,
                  nonceStr,
                  package: payMap.data.package,
                  signType,
                  appId,
                  paySign,
                  success: response => {
                    console.log('支付成功微信回调:', response)
                    let _paramWx = {
                      totalSrl: data.totalSrl,
                      formId: e.target.formId,
                      sessionId: payMap.data.package.split('=')[1]
                    }
                    console.log(_paramWx, '1123456')
                    Configure.sendWxMessage(_paramWx)
                    this.buyFlag = false
                    this.$router.replace({path: RouterPath.Order.OrderResutl})
                  },
                  fail: () => {
                    this.myToast('支付失败')
                    this.buyFlag = false
                    this.$router.replace({ path: `${RouterPath.Order.OrderList}?type=1` })
                  }
                })
              }
            } else {
              // 红包支付
              this.$router.replace({ path: RouterPath.Order.OrderResutl })
              this.buyFlag = false
            }
          }
        }).catch(rest => {
          this.buyFlag = false
        })
      } else {
        params.storeSkuBuySet = _orderDetailSubmit
        api.shopDetail
          .postSaveOrder(params)
          .then(res => {
            console.log('支付下单接口返回数据:', res)
            if (res.status === 200) {
              let { data } = res
              this.$store.commit(types.SET_TOTAALSRL, data.totalSrl)
              if (data && data.needPay) {
                let { payMap } = data
                // 微信支付
                if (payMap && payMap.success && payMap.data) {
                  let {timeStamp, nonceStr, signType, appId, paySign} = payMap.data
                  wx.requestPayment({
                    timeStamp,
                    nonceStr,
                    package: payMap.data.package,
                    signType,
                    appId,
                    paySign,
                    success: response => {
                      console.log('支付成功微信回调:', response)
                      // 模版消息的发送 参数
                      const _paramWx = {
                        totalSrl: data.totalSrl,
                        formId: e.target.formId,
                        sessionId: payMap.data.package.split('=')[1]
                      }
                      console.log(_paramWx, '微信模版输入的数值')
                      Configure.sendWxMessage(_paramWx)
                      this.buyFlag = false
                      this.$router.replace({path: RouterPath.Order.OrderResutl})
                    },
                    fail: () => {
                      this.myToast('支付失败')
                      this.buyFlag = false
                      this.$router.replace({ path: `${RouterPath.Order.OrderList}?type=1` })
                    }
                  })
                }
              } else {
              // 红包支付
                this.$router.replace({ path: RouterPath.Order.OrderResutl })
                this.buyFlag = false
              }
            }
          })
          .catch(rest => {
            this.buyFlag = false
          })
      }
    },
    // 计算数字
    computedPayRedPack () {
      if (this.isRedPacketFlag) {
        if (this.shopDepositMy.amount >= this.totalPrice) {
          // 当前红包大于总金额
          this.redPackMoney = this.totalPrice
          if (this.isDeliverFlag) {
            this.payMoneyX = this.shopInfo.deliveryMoney || 0
          } else {
            this.payMoneyX = 0
          }
        } else {
          let tempPayMoney
          if (this.isDeliverFlag) {
            tempPayMoney = this.totalPrice + (this.shopInfo.deliveryMoney || 0) - this.shopDepositMy.amount
          } else {
            tempPayMoney = this.totalPrice - this.shopDepositMy.amount
          }
          this.redPackMoney = this.shopDepositMy.amount
          this.payMoneyX = this.formatFloat(tempPayMoney, 2)
        }
      } else {
        let tempMoney
        if (this.isDeliverFlag) {
          tempMoney = this.totalPrice + (this.shopInfo.deliveryMoney || 0)
        } else {
          tempMoney = this.totalPrice
        }
        this.payMoneyX = this.formatFloat(tempMoney, 2)
      }
    },
    // 数字精度方法
    formatFloat (f, d) {
      const m = Math.pow(10, d)
      return Math.round(f * m, 10) / m
    },
    // 是否选择红包
    isChooseRedPacket_changeHandler (e) {
      this.isRedPacketFlag = e.mp.detail.value
      this.computedPayRedPack()
    },
    // 选择优惠券
    gotoCoupon_click () {
      this.$router.push({ path: RouterPath.Coupon.list })
    },
    // 进入地址管理页面
    enterAddress_clickHandler () {
      wx.navigateTo({
        url: RouterPath.Address.List
      })
    },
    // tab切换
    tab_clickHandler (e) {
      wx.pageScrollTo({
        scrollTop: 0,
        duration: 0
      })
      this.setOrderBar = Number(e.currentTarget.id)
      this.computedPayRedPack()
    },
    // 弹出框展示
    myToast (msg) {
      wx.showToast({
        title: msg,
        icon: 'none',
        duration: 2000
      })
    }
  }
}
</script>
<style lang="stylus" scoped>
.fixed-body {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hideFaceMaster {
  display: none !important
}
.p-l{
  padding-right:0rpx !important; 
}
.adolf-modal-box.canNotBuyModal{
      .content-box{
        padding-left 0
        padding-right 0
        padding-bottom 0
        margin-top -50rpx
        // z-index 999
      }
      .canNotBuy-box{
        max-height 800rpx
        overflow-y auto
      }
      .border-bottom {
        border-bottom  10rpx solid #F5F8FA
      }
      div{
        text-align center
      }
      .word{
        text-align left
        display:-webkit-box;
        word-break:break-all;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
        overflow:hidden;
        text-overflow:ellipsis;
      }
      .num{
        text-align left
        font-size:24rpx;
        font-family:PingFang-SC-Medium;
        font-weight:500;
        color:rgba(153,153,153,1);
      }
      .tip{
        font-size 34rpx
        font-weight bold
        text-align center
      }
      .title{
        padding:20rpx 62rpx;
        text-align:left;
        // border-bottom:2rpx solid #eee;
        color #999
        font-size 30rpx
      }
      .know-btn{
        border-top 2rpx solid #f1f1f1
        color:#ff8f00;
        padding:10px;
      }
      img{
        width 120rpx
        height 120rpx
        margin-right 26rpx
      }
      .box{
        display:flex;
        align-items:center;
        padding:30rpx 62rpx;
        .word-num{
          width 317rpx
          font-size:24rpx;
          font-family:PingFang-SC-Medium;
          font-weight:500;
          color:rgba(0,0,0,1);
        }
      }
    }
.textbox {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.personN {
  display: flex;
  flex-direction: column;
}

.listAdd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  font-size: 30rpx;
}

.imgLocalBox {
  display: flex;
  align-items: center;
  padding: 0 20rpx 0 0;
}

.personM {
  overflow: hidden;
}

.localBox {
  display: flex;
  align-items: center;
  padding: 60rpx 40rpx;
}

.mesImg {
  display: flex;
  align-items: center;
  padding: 25rpx 0rpx;
  width: 100%;
}

.buyShopInfoPerson {
  width: 100%;
  margin: 0;
  padding: 5rpx 30rpx;
  line-height: 100rpx;
  height: 100rpx;

  label {
    width: 120rpx;
    font-size: 28rpx;
    float: left;
  }

  input {
    font-size: 14px;
  }
}

.mesAndress {
  position: relative;
  font-size: 28rpx;

  .andressTit {
    position: absolute;
    left: 0;
    top: 30rpx;
    line-height: 30rpx;
  }

  .andressMinute {
    margin: 0 0 0 140rpx;
    min-height: 48rpx;
  }
}

.message-shopShow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mesAge {
  display: flex;
  align-items: center;
  margin: 20rpx 30rpx;
  font-size: 30rpx;
}

page, .page, .page__bd {
  height: 100%;
}

.page__bd {
  padding-bottom: 0;
}

.weui-tab__content {
  text-align: center;
}

.weui-navbar__slider {
  color: #ff7900;
  background-color: #ff7900;
  width: 3em;
}

.weui-bar__item_on {
  color: #ff7900;
}

.weui-navbar__slider_0 {
  left: 136rpx;
  transform: translateX(0);
}

.weui-navbar__slider_1 {
  left: 263rpx;
  transform: translateX(250rpx);
}
.active_top_0 {
  padding-top: 0rpx !important;
}

.order-edit {
  padding-bottom: 140rpx;
}

.order-edit-group {
  padding: 8rpx 0 40rpx 30rpx;
}

.order-edit-line {
  padding-top: 32rpx;
  border-bottom: 1px solid #f0f0f0;
  font-size: 32rpx;
  color: #333333;
  padding-bottom: 24rpx;
  padding-right: 40rpx;
  line-height: 1.97;

  .weui-bar__item_on {
    color: #ff7900;
  }
}
.coupon{
  font-weight:500;
  font-size:28rpx;
  color: #333;
  padding-bottom: 20rpx;
  padding-right: 40rpx;
  line-height: 1.97;
  border-bottom: 1px solid #f0f0f0;
}

.price-foot {
  background: #ffffff;
  position: fixed;
  z-index: 9998;
  bottom: 0;
  left: 0;
  height: 115rpx;
  line-height: 115rpx;
  width: 100%;
  font-size: 36rpx;
  font-family: 'PingFang-SC-Bold';
  box-shadow: 0px 1px 7px 0px rgba(227, 223, 207, 0.75);

  .pay-btn {
    font-size: 32rpx;
    color: #ffffff;
    width: 268rpx;
    background: #FDD317;
    text-align: center;
    height: 100%;
    border-radius:0px !important;
  }
}
button::after{ border: none; }
.l-g {
  font-size: 32rpx;
}

.l-g-s {
  font-size: 26rpx;
}

.main-color {
  color: #FF7E00;
}

.low-color {
  color: #999999;
  font-weight: 500;
}

.l-p {
  margin-top: 7px;
}

.flex-other {
  overflow: hidden;
  padding-top: 20rpx;
}

.flex-left {
  // width: 200rpx;
  font-size: 28rpx;
  color: #666666;
  line-height: 30rpx;
  display: inline-block;
  float: left;
  text-align: left;
}
.flex-icon{
  width: 12rpx;
  height: 12rpx;
  background: url(../../../static/images/tubiao-address.png) no-repeat;
  background-size: 76%;
  margin-left:10rpx;
  margin-top:2rpx;
  margin-right:18rpx;
}
.flex-right {
  text-align: right;
  display: inline-block;
  padding-right: 40rpx;
  color: #000000;
  float: right;
  font-size: 28rpx;
}

.orderTitle {
  padding-left: 30rpx;
  height: 66rpx;
  line-height: 66rpx;
  border-bottom: 1px solid #F1F1F1;
  color: #333333;
  font-size: 28rpx;
  font-weight: bold;
}

.orderList {
  height: 100rpx;
  border-bottom: 1px solid #F1F1F1;
  padding-left: 30rpx;
  padding-right: 50rpx;
  display: flex;
  padding-top: 25rpx;
  padding-bottom: 25rpx;

  .orderShopName {
    color: #333333;
    font-size: 28rpx;
    line-height: 45rpx;
    width: 70%;
    height: 90rpx;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .orderShopNum {
    width: 30%;
    text-align: right;
    font-size: 28rpx;
    text-align: right;
    height: 90rpx;
    line-height: 45rpx;
  }
}

.message-leave {
  padding-left: 30rpx;
  height: 66rpx;
  line-height: 66rpx;
  border-bottom: 1px solid #F1F1F1;
  color: #333333;
  font-size: 28rpx;
  font-weight: bold;
}

.message-input {
  padding-left: 30rpx;
  margin-top: 20rpx;
  color: #333333;
  width: 100%;
  height: 150rpx;
  overflow: hidden;
  text-align: left;
  font-size: 28rpx;
  z-index: 0;

  .message-input::-webkit-input-placeholder {
    color: #cccccc;
    font-size: 22rpx;
    z-index: 1;
  }
}

.text-look {
  padding-left: 30rpx;
  margin-top: 20rpx;
  color: #333;
  width: 100%;
  height: 150rpx;
  overflow: hidden;
  text-align: left;
  font-size: 28rpx;
  z-index: 0;
}
</style>
