<template>
  <div class="order-detail">
    <div class="box-loading" style="height:100%;" v-if="showContent">
      <scroll-view class="y" style="height:100%;" scroll-y>
      <header>
        <div class="icon-code">
          <div class="icon-left">
            <!-- 等待商家发货 -->
            <img v-if="orderDetail && orderDetail.orderStatus == '待发货'" :src="'/static/images/send_1.png'" alt="">
            <!-- 商品正在配送 -->
            <img v-if="orderDetail.orderStatus == '配送中'" :src="'/static/images/send_2.png'" alt="">
            <!-- 订单待提货 -->
            <img v-if="orderDetail.orderStatus == '待提货'" :src="'/static/images/send_3.png'" alt="">
            <!-- 订单已完成 -->
            <img v-if="orderDetail.orderStatus == '已完成'" :src="'/static/images/send_4.png'" alt="">
            <div class="status-word" v-if="orderDetail.orderStatus == '待发货'">等待商家发货</div>
            <div class="status-word" v-if="orderDetail.orderStatus == '配送中'">商品正在配送</div>
            <div class="status-word" v-if="orderDetail.orderStatus == '待提货'">订单待提货</div>
            <div class="status-word" v-if="orderDetail.orderStatus == '已完成'">订单已完成</div>
          </div>
          <!-- 点单待提货 || 订单已完成显示提货码 && 自提 -->
          <div class="code-right" v-if= "orderDetail.deliveryType == '门店自提' && status != '4'">
            <span>提货码：</span>
            <span>{{orderDetail.ladingCode}}</span>
          </div>
          <!-- <div class="code-right" style="width:160rpx;" v-if="orderDetail.actGroupStatus === '待成团' && (orderDetail.deliveryType == '门店自提' && status != '4')">
            <span>拼团中...</span>
          </div> -->
        </div>
        <div class="icon-code" v-if="status == '4'">
          <div class="icon-left">
            <img v-bind:src="'/static/images/order_wait_pay.png'" alt="">
            <div>等待付款</div>
          </div>
          <div class="code-right wait_pay">
            <span>剩余<span>{{minutes}}</span>分<span>{{seconds}}</span>秒自动关闭</span>
          </div>
        </div>
        <!-- 门店 -->
        <div id="storeShop" v-if="status != 4 && orderDetail.orderProperty == '1' && orderDetail.deliveryType!='送货上门'">
          <!-- 自提 -->
          <div class="send-status" >
            <div class="status-word" style="justify-content:space-between;padding:18rpx 8%;margin-bottom:20rpx;width:95%;">
              <div>待提货</div>
              <div>已完成</div>
            </div>
            <div class="status-num clear">
              <div class="sign" style="width:100%;" :class="{active:orderDetail.orderStatus == '待提货',statu_4:orderDetail.orderStatus == '已完成'}">
                <div class="icon"></div>
                <div class="border" style="width:93%;"></div>
                <div class="selected">
                    <div class="arrow-right new-arrow"></div>
                </div>
                <div class="icon last"></div>
              </div>
            </div>
          </div>
        </div>
                  <!-- 送货上门  公用的状态 -->
        <div class="send-status songhuo" v-if="status != 4 && orderDetail.deliveryType=='送货上门'">
          <div class="status-word">
            <div style="position:relative;left:-36rpx;">待发货</div>
            <div>配送中</div>
            <div style="position:relative;right:-36rpx;">已完成</div>
          </div>
          <div class="status-num clear">
            <div class="sign" :class="{active:orderDetail.orderStatus == '待发货'}">
              <div class="icon"></div>
              <div style="width:87%;" class="border"></div>
              <div class="selected">
                  <div class="arrow-right new-arrow"></div>
              </div>
            </div>
            <div class="sign" :class="{active:orderDetail.orderStatus == '配送中', statu_4: orderDetail.orderStatus == '已完成'}">
              <div class="icon"></div>
              <div style="width:87%;" class="border"></div>
              <div class="selected">
                  <div class="arrow-right new-arrow"></div>
              </div>
              <div class="icon last"></div>
            </div>
            <!-- <div class="sign">
              <div class="icon"></div>
              <div class="border"></div>
            </div> -->
          </div>
        </div>
        <!-- 平台 -->
        <div id="platformShop"  v-if="status != 4 && orderDetail.orderProperty == '2'">
          <!-- 自提 -->
          <div class="send-status" v-if="orderDetail.deliveryType == '门店自提'">
            <div class="status-word">
              <div>待发货</div>
              <div>配送中</div>
              <div>待提货</div>
              <div>已完成</div>
            </div>
            <div class="status-num clear">
              <div class="sign" :class="{active: orderDetail.orderStatus === '待发货'}">
                <div class="icon"></div>
                <div class="border"></div>
                <div class="selected">
                    <div class="arrow-right new-arrow"></div>
                </div>
              </div>
              <div class="sign" :class="{active: orderDetail.logisticsStatus === 'AL_PTDEL'||orderDetail.logisticsStatus === 'WT_STDEL'}">
                <div class="icon">
                </div>
                <div class="border"></div>
                <div class="selected">
                    <div class="arrow-right new-arrow"></div>
                </div>
              </div>
              <div class="sign" :class="{active: orderDetail.orderStatus === '待提货', statu_4: orderDetail.orderStatus === '已完成'}">
                <div class="icon"></div>
                <div class="border"></div>
                <div class="selected">
                    <div class="arrow-right new-arrow"></div>
                </div>
                <div class="icon last"></div>
              </div>
              <!-- <div class="sign">
                <div class="icon"></div>
                <div class="border"></div>
              </div> -->
            </div>
          </div>
          <!-- 送货上门 -->
        </div>

        <!-- 送货上门 -->
      </header>
      <div v-if="status != 4">
        <!-- 送货地址 -->
        <div class="send-address clear" v-if="orderDetail.deliveryType == '送货上门'">
          <div class="address-icon left">
            <img src="/static/images/local.png" alt="">
          </div>
          <div class="send-people left">
            <div class="name">
              <span>{{orderDetail.receiptName}}</span><span style="margin-left:20rpx">{{orderDetail.receiptPhone}}</span>
            </div>
            <div class="address">
              地址：<span>{{orderDetail.receiptAddress}}</span>
            </div>
          </div>
        </div>
        <!-- 物流信息 -->
        <div class="logistics" @click="goToLogistics()" v-if="orderDetail.orderProperty == '2' && orderDetail.orderStatus != '待发货'">
          <div class="img-header">
            <img src="/static/images/wuliu.png" alt="">
            <div>物流信息</div>
          </div>
          <div class="info-list clear">
            <div class="left"></div>
            <div class="left">
              {{traceList[0] ? traceList[0].AcceptStation || traceList[0].acceptStation : '暂无物流信息'}}
            </div>
            <div class="arrow-right right"></div>
          </div>
          <!-- <div class="arrow-right right"></div> -->
        </div>

        <!-- 配送员信息 -->
        <div class="send-person" v-if="orderDetail.deliveryType == '送货上门' && orderDetail.orderProperty == '1' && orderDetail.orderStatus != '待发货'">
          <div class="img-header">
            <img src="/static/images/wuliu.jpg" alt="">
            <div>配送员信息</div>
          </div>
          <div class="person-info">
            <div class="info">
              <div class="icon"></div>
              <div>送货员</div>
              <div>{{orderDetail.distributionName || '未填写'}}</div>
            </div>
            <div class="info">
              <div class="icon"></div>
              <div>手机号</div>
              <div>{{orderDetail.distributionPhone || '未填写'}}</div>
              <img src="/static/images/phone_icon.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
      <!-- <div> -->
        <img class="order_detail_cell" src="/static/images/order_detail_cell.png" alt="">
      <!-- </div> -->
      <orderInfo :orderDetail="orderDetail" :minutes="minutes" :seconds="seconds" :status="status"/>
      </scroll-view>
    </div>
  </div>
</template>
<script>
import RouterPath from '@router/config'

import orderInfo from '@components/Order/OrderInfo'
import API from '@api/index'
import * as types from '@store/types.js'
import Utils from '@utils/utils'
// import Tools from '@utils/tools'
// import moment from 'moment'
export default {
  data () {
    return {
      showContent: false,
      minutes: 0,
      seconds: 0,
      status: 'null',
      timer: null,
      orderDetail: {},
      overTimeMilli: 0,
      traceList: []
    }
  },
  components: {
    orderInfo
  },
  computed: {
  },
  methods: {
    startInterval (endDate) {
      this.timer = setInterval(() => {
        let nowDate = new Date().getTime()
        let difference = endDate - nowDate
        if (difference >= 0) {
          var minutes = parseInt(difference % (1000 * 60 * 60) / 1000 / 60)
          var seconds = Math.floor(difference % (1000 * 60) / 1000)
          this.minutes = minutes >= 10 ? minutes : '0' + minutes
          this.seconds = seconds >= 10 ? seconds : '0' + seconds
        } else {
          console.log('订单已超时')
          clearInterval(this.timer)
        }
      }, 1000)
    },
    getOrderListById (param) {
      API.Order.getOrderById(param).then(res => {
        this.orderDetail = res.data
        this.orderDetail.orderTime = Utils.formatTime(this.orderDetail.orderTime, '{y}-{m}-{d} {h}:{i}:{s}')
        this.orderDetail.payTime = Utils.formatTime(this.orderDetail.payTime, '{y}-{m}-{d} {h}:{i}:{s}')
        if (this.orderDetail.sendOutTime) {
          this.orderDetail.sendOutTime = Utils.formatTime(this.orderDetail.sendOutTime, '{y}-{m}-{d} {h}:{i}:{s}')
        }
        if (this.orderDetail.orderOverTime) {
          this.orderDetail.orderOverTime = Utils.formatTime(this.orderDetail.orderOverTime, '{y}-{m}-{d} {h}:{i}:{s}')
        }
        if (this.orderDetail.deliveryTime) {
          this.orderDetail.deliveryTime = Utils.formatTime(this.orderDetail.deliveryTime, '{y}-{m}-{d} {h}:{i}:{s}')
        }
        this.getLogisticsInfo(this.orderDetail.id)
        // setTimeout(() => {
        wx.hideLoading()
        this.showContent = true
        // }, 1000)
      })
    },
    goToLogistics () {
      wx.navigateTo({
        // url: '/pages/logistics/index?address=' + this.orderDetail.contactAddress || null
        url: RouterPath.Common.Logistics + '?address=' + this.orderDetail.contactAddress || null
      })
    },
    // 获取订单物流信息
    getLogisticsInfo (joinId) {
      // console.log(joinId, this.orderDetail.orderProperty === 2, this.orderDetail.orderStatus === '配送中')
      if (joinId && this.orderDetail.orderProperty === 2 && this.orderDetail.orderStatus !== '待发货') {
        this.$store.dispatch(types.GET_EXXPRESS_INFO, {joinId: joinId}).then(res => {
          if (res.traceList) {
            this.traceList = JSON.parse(res.traceList)
            console.log(this.traceList, '物流信息第一个')
            if (this.traceList[0]) {
              this.traceList = this.traceList
            }
            console.log(this.traceList)
            console.log(this.traceList[0])
          }
        })
      }
    }
  },
  onLoad (options) {
    wx.showLoading({
      title: '加载中',
      icon: 'loading'
    })
    console.log(options, 'father____onload')
    // this.showContent = false
    // this.status = 'null'
    if (options.id !== undefined) {
      this.getOrderListById({id: options.id})
      // this.getLogisticsInfo(itemId)
    } else { // 未付款订单
      this.showContent = true
      // console.log(options.item)
      let thisItem = JSON.parse(decodeURIComponent(options.item))
      // console.log('_++_______', thisItem)
      this.orderDetail = thisItem
      // console.log(this.orderDetail)
      this.overTimeMilli = thisItem.overTimeMilli
      this.status = 4
      wx.hideLoading()
      this.startInterval(this.overTimeMilli)
    }
    // Tools.hideLoading()
  },
  onHide () {
    // clearInterval(this.timer)
  },
  onUnload () {
    this.status = 'null'
    this.traceList = []
    clearInterval(this.timer)
    this.showContent = false
  },
  onShow () {
    console.log('father____onshow')
  }
}
</script>
<style lang="stylus" scoped>
 .songhuo .sign{
    width: 50% !important;
  }
  .wait_pay{
    font-size 22rpx
  }
  .send-person{
    font-family:PingFang-SC-Bold;
    margin-top: 20rpx
    .person-info{
      padding-left 90rpx
      .icon{
        background:#878787;
        width:16rpx;
        height:16rpx;
        border-radius:50%;
        position:relative;
        top:20rpx;

      }
      .info{
        display flex
        font-size:30rpx;
        div:nth-of-type(2){
          margin-left:24rpx;
          margin-right 20rpx
        }
        img{
          width:50rpx;
          height:50rpx;
          margin-left:10rpx;

        }
      }
    }
    .img-header{
      display:flex;
      margin-left:30rpx;
      border-bottom:2rpx solid #eee;
      padding-bottom:10rpx;
      color:#444;
      align-items:center;
      font-size:30rpx;
      img{
        width:40rpx;
        height:31rpx;
        margin-right:20rpx;

      }
    }
  }
  .send-address{
    padding:20rpx 0;
    background:#fafafa;
    border-top:2rpx solid #eee;
    display:flex;
  align-items:center;
    .address-icon{
      position:relative;
      // top:40rpx;
      left:50rpx;
      display flex
      img{
        width 60rpx
        height 60rpx
      }
    }
    .send-people{
      width:80%;
      padding-left:65rpx;
      font-size:30rpx;
      color #333
      .name{

      }
      .address{

      }
    }
  }
  .logistics{
    .time{
      font-size:26rpx;
      color:#666;
      padding:10rpx 0 10rpx 63px;

    }
    .img-header{
      display:flex;
      margin-left:27px;
      border-bottom:2rpx solid #eee;
      padding-bottom:10rpx;
      color:#444;
      align-items center
      font-size 30rpx
      img{
        width 40rpx
        height 31rpx
        margin-right 20rpx
      }
    }
    .info-list{
      padding 15rpx 30rpx
      displsy flex
      align-items center
      position:relative;
      div:nth-of-type(1){
        background:#878787;
        width:16rpx;
        height:16rpx;
        border-radius:50%;
        position:relative;
        left:36rpx;
        top:15rpx;
        display:flex;
        align-self:flex-start;
      }
      div:nth-of-type(2){
        width:80%;
        font-size:30rpx;
        margin-left 60rpx
      }
      div:nth-of-type(3){
       position:absolute;
      right:20rpx;
      align-self:flex-end;
      display:flex;
      top:50%;

      }
    }
  }
  .order-detail{
    font-family:PingFang-SC-Bold;
    height 100%
    header{
      background #fafafa
      padding 20rpx 0 40rpx 0
      .icon-code{
        display flex
        justify-content space-between
        align-items center
        font-size 34rpx
        .icon-left{
          margin-left 30rpx
          display flex
          align-items center
          .status-word{
            font-size:32rpx;
            font-family:PingFang-SC-Medium;
            font-weight:500;
            color:rgba(35,35,35,1);
          }
          img{
            width 70rpx
            height 70rpx
            margin-right 30rpx
          }
          div{
            color #ff8f00
            font-size:32rpx;
          }
        }
        .code-right{
          color:#fff;
          display:flex;
          align-items:center;
          height:54rpx;
          background:#FF6D47;
          padding:0 20rpx;
          border-radius:30rpx 0 0 30rpx;
          justify-content:center;
          font-size:30rpx;
          width:366rpx;

        }
      }
      .send-status{
        .status-word{
          padding:18rpx 0;
          display flex
          justify-content space-around
          font-size 24rpx
          width:110%;
          margin-left:-5%;
          div{
            float left
          }
        }
        .status-num{
          padding 0 30rpx
          .sign{
            width 33%
            float left
            .selected{
              display none
            }
            .icon{
              background #878787
              width 16rpx
              height 16rpx
              border-radius 50%
            }
            .icon.last{
              position:relative;
              top:-13rpx;
              float:right;
              left:10rpx;
            }
            .border{
              width:80%;
              border-bottom:2rpx solid #000;
              position:relative;
              left:30rpx;
              top:-6rpx;
            }
          }
          .sign.active{
            position relative
            .selected{
              display block
              width:28rpx;
              height:28rpx;
              background:rgba(86,187,55,1);
              border-radius:50%;
              left:-5rpx;
              position:absolute;
              top:-5rpx;
              .new-arrow{
                border-color:#fff;
                position:absolute;
                transform:rotate(130deg);
                height:4px;
                left:5rpx;
                top:6rpx;
                z-index 2
              }
            }
          }
          .sign.statu_4{
            position relative
            .selected{
              display block
              background #71b84c
              width:30rpx;
              height:30rpx;
              border-radius:50%;
              left:-5rpx;
              position:absolute;
              top:-5rpx;
              right -20rpx !important
              left auto !important
              .new-arrow{
                border-color:#fff;
                position:absolute;
                transform:rotate(130deg);
                height:4px;
                left:5rpx;
                top:6rpx;
                z-index 2
              }
            }
            .icon.last{
              background none !important
            }
          }
        }
      }
    }
    .order_detail_cell{
      width 100%
      height 20rpx
      position absolute
    }
  }
  .arrow-right{
    display:inline-block;
    border-top:4rpx solid;
    border-right:4rpx solid;
    width:16rpx;
    height:16rpx;
    border-color:#999;
    transform:rotate(45deg);
    margin-right:10rpx;
  }
</style>
