<template>
   <div class="myShopBox">
		 <view class="title">
			  <div v-for='(item,index) in contents' :class="{selected:item.name == tabIndex}" :key='index' @click.stop='tabNameClick(item.name)'>
          {{item['content']}}
          <!-- <span class="num-icon" v-if="item.name == '0' && noPayNum.totalCount > 0">{{noPayNum.totalCount}}</span> -->
          <span class="num-icon" v-if="item.name == '1' && noPayNum.noPayCount > 0">{{noPayNum.noPayCount}}</span>
          <span class="num-icon" v-if="item.name == '2' && noPayNum.deliveringCount > 0">{{noPayNum.deliveringCount}}</span>
          <span class="num-icon" v-if="item.name == '3' && noPayNum.noTakeCount > 0">{{noPayNum.noTakeCount}}</span>
        </div>
		 </view>
		 <div class="mainBox" >
				 <orderList :tabIndex='tabIndex'/>
		 </div>
    <div class="go-home-btn" id="go-home-btn" @click="goHomeBtn_clickHander">
      <img src="/static/images/index_icon_home.png" alt="">
      <div>首页</div>
    </div>
   </div>
</template>
<script>
import orderList from '@components/Order/OrderList'
import RouterPath from '@router/config'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      contents: [
        {name: '0', content: '全部'},
        {name: '1', content: '待付款'},
        {name: '2', content: '配送中'},
        {name: '3', content: '待提货'},
        {name: '4', content: '已完成'}
      ],
      tabIndex: 0
    }
  },
  components: {
    orderList
  },
  computed: {
    ...mapGetters(['noPayNum', 'shopInfo', 'userInfo'])
  },
  methods: {
    tabNameClick (index) {
      this.tabIndex = Number(index)
    },
    goHomeBtn_clickHander () {
      wx.reLaunch({
        url: RouterPath.Home
      })
    }
  },
  onLoad (options) {
    console.log(this.noPayNum)
    this.tabIndex = options.type ? options.type : 0
  },
  onShow () {
    this.$forceUpdate()
    // this.tabIndex = 0
  },
  onUnload () {
    // console.log('onUnload----------index.orderList')
  }
}
</script>
<style lang="scss" scoped>
.myShopBox{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: column;
  .title{
    position:fixed;
    width:100%;
    background:#fff;
    /*top:0;*/
    display: flex;
    height:100rpx;
    border-bottom:1rpx solid #eee;
    font-size:30rpx;
    justify-content: center;
    align-items: center;
    z-index: 99;
    div{
      .num-icon{
        width:30rpx;
        height:30rpx;
        background:#ff7900;
        border-radius:50%;
        top:16rpx;
        position:absolute;
        right:2rpx;
        color:#fff;
        font-size:22rpx;
        display:flex;
        justify-content:center;
        align-items:center;
        font-weight:normal;
      }
      position: relative;
      display: flex;
      justify-content: center;
      height: 100%;
      flex:1;
      align-items: center;
    }
  }
  .mainBox{
    flex:1;
    margin-top:100rpx;
  }
  .selected{
    color:#ff7900;;
    border-bottom:8rpx solid #ff7900;
    font-weight: bold;
  }
}
#go-home-btn{
  width:94rpx;
  height:94rpx;
  border-radius:50%;
  position:fixed;
  right:30rpx;
  top:600rpx;
  z-index:999;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background: #ff8f00;
  color: #fff;
  box-shadow:0px 5px 16px 5px rgba(213,213,213,0.41);
  >img{
    width: 50rpx;
    height: 50rpx
  }
  >div{
    font-size: 24rpx;
    position: relative;
    top: -4rpx;
  }
}
</style>
