<template>
  <div class="success-tip">
    <div class="top-line"></div>
    <div class="tip-top text-center">
      <image :src="Contants.RESULT_ORDER" class="tip-img"/>
      <div class="tip-text">支付成功！</div>
    </div>
    <div class="btn-group flex-box flex-center">
      <a class="tip-btn go-home" @click="goHome">去首页</a>
      <a class="tip-btn order-detail" @click="goOrderDetail">订单列表</a>
    </div>
    <!-- <couponRedPacket /> -->
  </div>
</template>

<script>
import RouterPath from '@router/config'
import Contants from '@contants/index'
// import couponRedPacket from '@components/Coupon/couponRedPacket'
export default {
  data () {
    return {
      Contants
    }
  },
  onLoad () {
  },
  computed: {
  },
  components: {
    // couponRedPacket
  },
  methods: {
    goHome () {
      wx.redirectTo({
        url: RouterPath.Home
      })
    },
    goOrderDetail () {
      this.$router.push({ path: RouterPath.Order.OrderList + '?type=0' })
    }
  }
}
</script>

<style lang="stylus" scoped>
  .top-line
    height 2rpx
    background #ccc
    position fixed
    top 0rpx
    width 100%
  .tip-top
    margin-left 20rpx
    margin-right 20rpx
    padding-bottom 92rpx
    border-bottom 1px solid #f1f1f1
  .tip-img
    width 180rpx
    height 180rpx
    margin 100rpx auto 36rpx
  .tip-text
    font-size 36rpx
    font-family 'PingFang-SC-Medium'
    color #ff8f00
  .btn-group
    padding-top 64rpx
    .tip-btn
      width 180rpx
      height 70rpx
      text-align center
      line-height 70rpx
      font-size 30rpx
      border-radius 35rpx
    .go-home
      border 1px solid #ff8f00
      color #ff8f00
      margin-right 60rpx
    .order-detail
      background #ff8f00
      color #ffffff

</style>
