<template>
  <view class="redpackbox" v-if='showBollen' @click="leave">
    <div class="coupon_desc">
      <img :src="Contants.COUPONRED" alt="" class="redPackBg">
      <div class="coupon_coniter">
        <div class="prize">
          <span>¥</span>
          <span style="margin-left: 10rpx;">{{couponValue.couponAmount}}</span>
        </div>
        <div class="btn" @click="draw_click()"></div>
      </div>
    </div>

  </view>
</template>
<script>
import API from '@api'
import { mapGetters } from 'vuex'
import RouterPath from '@router/config'
import Contants from '@contants/index'

export default {
  data () {
    return {
      Contants,
      showBollen: true,
      couponValue: {}
    }
  },
  computed: {
    ...mapGetters({
      storeId: 'storeId',
      totalSrl: 'totalSrl'
    })
  },
  onLoad () {
    this.openCoupon()
  },
  onUnload () {
    this.showBollen = false
  },
  methods: {
    draw_click () {
      this.$router.push({ path: RouterPath.Coupon.MyList + '?type=1' })
    },
    openCoupon () {
      let query = {
        reference: this.totalSrl,
        storeId: this.storeId,
        triggerType: 'ORDER'
      }
      API.Coupon.postActCustomerCoupon(query).then(res => {
        console.log(res, 'res ')
        if (res && res.status === 200) {
          this.couponValue = res.data
        }
      })
    },
    leave () {
      this.showBollen = false
    }
  }
}
</script>
<style lang="scss" scoped>
  .redpackbox{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 9999;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    .coupon_desc{
      width: 550rpx;
      height: 467rpx;
      position: relative;
      left: 50%;
      top: 30%;
      margin-left: -275rpx;
      .redPackBg{
        width: 100%;
        height: 100%;
      }
      .coupon_coniter{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        .prize{
          position: absolute;
          left: 235rpx;
          top: 128rpx;
          font-size: 50rpx;
          color: red;
        }
        .btn{
          position: absolute;
          left: 130rpx;
          bottom: 80rpx;
          width: 280rpx;
          height: 80rpx;
        }
      }
    }
  }
</style>
