<template>
  <div class="coupon">
    <div class="coupon_item">
      
      <img :src="Contants.COUPON" alt="" class="img" v-if="type === 'coupon'">
      <img :src="Contants.OVERCOUPON" alt="" class="img" v-else>
      <div class="coupon_desc" :class="{'opacity':type === 'overCoupon'}">
        <div class="coninter">
          <div class="coninter_l">
            <div class="price">
              <span>{{item.couponAmount}}</span>
              <span style="font-size: 32rpx;margin-left: 10rpx;">¥</span>
            </div>
            <div class="desc">
              金额满
              <span>{{item.usePriceLimit}}</span>
              使用
            </div>
          </div>
          <div class="coninter_r">
            <div class="text">购物返券</div>
            <div class="desc1">全场满 100 元  使用立减 20元</div>
            <div class="desc2">有效期：{{item.expireTime}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/*
 * @Description: 未使用的优惠券
 */
import RouterPath from '@router/config'
import Contants from '@contants/index'
export default {
  props: ['item', 'type'],
  data () {
    return {
      Contants
    }
  },
  methods: {
    goDetail (item) {
      this.$router.push({ path: RouterPath.Goods.GoodsDetail, query: { id: item } })
    }
  }
}
</script>
<style lang="scss" scoped>
  .coupon{
    padding-left: 30rpx;
    padding-right: 30rpx;
    margin-bottom: 30rpx;
    .coupon_item{
      width: 100%;
      height: 271rpx;
      position: relative;
      .img{
        width: 100%;
        height: 100%;
      }
      .coupon_desc{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        .coninter{
          width: 100%;
          height: 100%;
          display: flex;
          .coninter_l{
            width: 215rpx;
            overflow: hidden;
            color: #fff;   
            text-align: center;         
            .price{
              padding-top: 10rpx;
              font-size: 70rpx;
              font-weight: 800;
            }
            .desc{
              font-size: 24rpx;
              font-weight: 500;
            }
          }
          .coninter_r{
            width: 495rpx;
            padding-top: 30rpx;
            padding-left: 50rpx;
            padding-right: 10rpx;
            font-weight:bold;            
            .text{
              font-size:32rpx;
              color: rgba(255,121,0,1);
            }
            .desc1{
              font-size: 24rpx;
              color:rgba(102,102,102,1);
              line-height:32rpx;
              margin-top: 20rpx;
            }
            .desc2{
              font-size: 20rpx;
              font-weight:500;
              color:rgba(153,153,153,1);
              line-height:30rpx;
              margin-top: 60rpx;
            }
          }
        }
      }
    }
    .opacity{
      opacity:0.5;
    }
  }
</style>


