<template>
  <div id="storeList">
    <div>
      <div class="container" v-for="(item, index) in storeList" :key="index" @click="changeStore_hander(item)">
        <div class="storeItem">
            <div class="storeName"><span>{{item.storeName}}</span></div>
            <div class="storePhone">
                <span>联系电话：</span>
                <span>{{item.phone}}</span>
            </div>
            <div class="storeAdd">
                <span>地址：</span>
                <span>{{item.address}}</span>
            </div>
        </div>
      </div>
      <div class="page-bottom-noline" v-if="showPageBootom && storeList.length">已经到底了～</div>
    </div>
    
    <!-- nodata -->
    <div v-if="!storeList.length" class="empty-list">
      <img :src="Contants.STORE_LIST" alt="">
      <div>没有找到门店哦～</div>
    </div>
  </div>
</template>
<script>
/*
 * @Title: 门店列表
 * @Author: txy
 * @LastEditors: txy
 * @Description: 门店列表
 */
import API from '@api'
import * as types from '@store/types'
import RouterPath from '@router/config'
import Contants from '@contants/list'

import NoData from '@components/NoData'
export default {
  data () {
    return {
      storeName: '', // 门店名称
      city: '',
      province: '',
      area: '',
      storeList: [],
      Contants,
      // 下拉获取数据的
      showPageBootom: false,
      isloadMoreGoods: false,
      params: {
        page: 0,
        size: 20,
        sort: 'id,desc'
      }
    }
  },
  components: {
    NoData
  },
  methods: {
    /**
     * 点击门店,跳转到当前门店时，重新调用获取用户信息的内容
    */
    changeStore_hander (item) {
      wx.login({
        success: res => {
          if (res.code) {
            this.$store.dispatch(types.GET_OPEN_ID, { code: res.code, storeId: item.storeId }).then(data => {
              if (data) {
                let _storeId = data.storeId
                this.$store.dispatch(types.GET_SHOP_INFO_BY_ID, { storeId: _storeId }).then(res => {
                  if (res) {
                    wx.reLaunch({
                      url: RouterPath.Home
                    })
                  }
                })
              }
            })
          }
        }
      })
    },
    // 获取门店列表数据
    getDataList () {
      wx.showLoading({
        title: '加载中...',
        mask: true
      })
      this.params = { ...this.params, storeName: this.storeName, area: this.area, city: this.city, province: this.province }
      // 门店获取数据
      this.searchGoodsReq(this.params)
    },
    searchGoodsReq () {
      API.Store.getStoreSearch(this.params).then(res => {
        wx.hideLoading()
        if (res.status === 200) {
          let data = res.data.content
          this.storeList = [...this.storeList, ...data]
          // console.log(this.storeList, 'this.storeList')
          if (data.length) {
            this.isloadMoreGoods = false
            this.params.page++
          } else {
            this.showPageBootom = true
          }
        }
      }).catch(rest => {
        this.isloadMoreGoods = false
      })
    },
    loadMoreGoods () {
      console.log('加载更多')
      if (!this.isloadMoreGoods) {
        this.isloadMoreGoods = true
        this.getDataList(true)
      }
    },
    clearData () {
      this.storeList = []
      this.isloadMoreGoods = false
      this.showPageBootom = false
      this.params = {
        page: 0,
        size: 20,
        sort: 'id,desc'
      }
    }
  },
  onPullDownRefresh () {
  },
  // 触底时继续请求数据
  onReachBottom () {
    this.loadMoreGoods()
  },
  onLoad (opt) {
    console.log(opt, '数据传递的数值')
    let {storeName, city, province, area} = opt
    this.storeName = storeName
    this.city = city
    this.province = province
    this.area = area
  },
  onHide () {
    this.clearData()
  },
  onUnload () {
    this.clearData()
  },
  onShow () {
    this.getDataList()
    console.log('onShow111')
  }
}
</script>
<style lang="scss" scoped>
#storeList{
  width:100%;
  min-height: 100%;
  background:#f4f5f7;
  overflow-y: scroll;
  .container{
    width: 94%;
    margin: 10rpx auto;
    .storeItem{
        width: 94%;
        margin: 10rpx 0rpx;
        background: #fff;
        padding: 25rpx;
        border-radius: 20rpx;
        .storeName{
            width:98%;
            height: 70rpx;
            line-height: 73rpx;
            border-radius:35rpx;
            background: rgba(255,228,204,1);
            margin-bottom: 20rpx;
            span{
                font-size:32rpx;
                font-weight:bold;
                color:rgba(0,0,0,1);
                padding-left: 30rpx;
                display: inline-block;
                white-space:nowrap;
                text-overflow:ellipsis;
                overflow:hidden;
                word-break: keep-all;
                width: 90%;
            }
        }
        .storePhone{
            width:93%;
            min-height: 40rpx;
            line-height: 40rpx;
            font-size:28rpx;
            color:rgba(0,0,0,1);
            margin:10rpx auto
        }
        .storeAdd{
            width:93%;
            min-height: 0rpx;
            line-height: 40rpx;
            font-size:28rpx;
            color:rgba(0,0,0,1);
            margin:10rpx auto;
        }
    }
  }
  .empty-list{
    display: flex;
    align-items:center;
    flex-direction:column;
    margin-top:86rpx;
    >img{
      width: 268rpx;
      height: 182rpx;
    }
    >div{
      font-size:30rpx;
      font-family:PingFang-SC-Medium;
      font-weight:500;
      color:rgba(201,201,201,1);
      margin-top: 48rpx
    }

  }
}
</style>
