<template>
  <div class="storeSearch">
      <div class="city">
        <picker style="max-width:100%;" mode="region"  @change="bindRegionChange">
          <view class="picker" v-if="addInfo.city && addInfo.province && addInfo.area">
            <div class="pickerItem">{{addInfo.province}}</div>
            <div class="pickerItem" style="margin-right: 2%;margin-left:2%;">{{addInfo.city}}</div>
            <div class="pickerItem">{{addInfo.area}}</div>
          </view>
          <view class="picker" v-else>
            <div class="pickerItem">省
              <div style="imgIcon">
                <img src="/static/images/down-icon.png" class="imgIcon" alt="">
              </div>
            </div>
            <div class="pickerItem" style="margin-right: 2%;margin-left:2%;">市
              <div style="imgIcon">
                <img src="/static/images/down-icon.png" class="imgIcon" alt="">
              </div>
            </div>
            <div class="pickerItem">区
              <div style="imgIcon">
                <img src="/static/images/down-icon.png" class="imgIcon" alt="">
              </div>
            </div>
          </view>
        </picker>
      </div>
      <div class="searchName">
        请输入门店名称
      </div>
      <div class="fromInput">
        <input class="form" placeholder="搜索门店名称(不是必填)" confirm-type="search" v-model="storeName">
      </div>
      <div class="fromBtn">
        <span style="display:block; width: 100%;" @click="searchStore()">找门店</span>
      </div>
      <div class="positionBg">
        <img class="icon" src="/static/images/searchIcon.png" mode="widthFix">
      </div>
  </div>
</template>
<script>
/*
 * @Title: 门店搜索
 * @Author: txy
 * @LastEditors: txy
 * @Description: 门店列表
 */
// import API from '@api'
// import Utils from '@utils/utils'
import RouterPath from '@router/config'

export default {
  data () {
    return {
      addInfo: {
        city: '',
        province: '',
        area: ''
      },
      storeName: ''
    }
  },
  methods: {
    // 选择获取省市区
    bindRegionChange: function (e) {
      console.log(e.target.value)
      this.addInfo.province = e.target.value[0]
      this.addInfo.city = e.target.value[1]
      this.addInfo.area = e.target.value[2]
    },
    // 门店的搜索
    searchStore () {
      this.$router.push({
        path: RouterPath.Store.List,
        query: { storeName: this.storeName, province: this.addInfo.province, city: this.addInfo.city, area: this.addInfo.area }
      })
    }
  },
  onLoad (opt) {
  },
  onHide () {
  },
  onUnload () {
    this.addInfo.city = ''
    this.addInfo.province = ''
    this.addInfo.area = ''
  },
  onShow () {}
}
</script>
<style lang="scss" scoped>
.storeSearch{
  width: 100%;
  height: 100%;
  background: #ffffff;
  .city{
    width: 100%;
    height: 100rpx;
    background: #f4f5f7;
    margin-bottom: 60rpx;
    // padding: 10rpx 0rpx;
    .picker{
      height: 90rpx;
      width: 100%;
      display: flex;
      .pickerItem{
        width: 32%;
        margin-top: 10rpx;
        color:rgba(51,51,51,1);
        background: #ffffff;
        text-align: center;
        font-size:30rpx;
        line-height:80rpx;
        position: relative;
        .imgIcon{
          position: absolute;
          width: 15rpx;
          height: 9rpx;
          top:45%;
          left:58%;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .searchName{
    font-size:42rpx;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(51,51,51,1);
    width: 100%;
    height: 40rpx;
    text-align: center;    
  }
  .fromInput{
    width: 80%;
    margin: 20rpx auto;
    height: 90rpx;
    margin-top: 55rpx;
    border:2rpx solid rgba(239,239,244,1);
    .form{
      padding-top:20rpx;
      font-size:30rpx;
      padding-left:30rpx
    }
  }
  .fromBtn{
    width: 80%;
    height:90rpx;
    background:rgba(255,121,0,1);
    border-radius:16rpx;
    line-height: 90rpx;
    text-align: center;
    margin: 20rpx auto;
    color: #fff;
    margin-top: 60rpx;
  }
  .positionBg{
    width: 100%;
    height: 332rpx;
    position: fixed;
    bottom: 0rpx;
    left: 0rpx;
    z-index: 0;
    .icon{
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
}
</style>
