<template>
  <div class="help-center">
    <div class="daijinquan">
      <div class="heading">| 关于小程序现金红包</div>
      <div class="heading-secent">一、查看红包剩余金额</div>
      <div class="usuall-word">在门店小程序商城界面，点击右下角【我的】＞【钱包】进行查看。</div>
      <div class="heading-secent">二、现金红包使用规则：</div>
      <div class="usuall-word">1、选购商品后，在订单结算时，可以手动选择是否使用红包金额抵扣；</div>
      <div class="usuall-word">2、消费金额 ≤ 红包金额时，使用红包抵扣后，剩余金额可继续使用；</div>
      <div class="usuall-word">3、消费金额 ＞ 红包金额时，红包金额默认全部抵扣，不可部分抵扣；</div>
      <div class="usuall-word">4、小程序商城红包仅限门店消费等额抵扣使用，不可提现、不可转售；</div>
      <div class="usuall-word">5、部分活动/商品暂不支持红包抵扣，详情可参考当期活动或商品说明。</div>
      <div class="heading-secent">三、红包消费 退款规则：</div>
      <div class="usuall-word">1、选购商品后，订单结算时未成功支付，该订单取消后，红包抵扣金自动退还账户；</div>
      <div class="usuall-word">2、完成消费支付结算后，如整单退货退款，退款成功后，红包抵扣金自动退还账户；</div>
      <div class="usuall-word">3、完成消费支付结算后，如该笔消费订单产生部分退货退款，红包抵扣金不予退还。</div>
    </div>
    <div class="daijinquan">
      <div class="heading">| 关于配货</div>
      <div class="heading-secent">用户可在门店小程序商城界面，点击右下角【我的】，在【订单状态】＞【订单详情】中查看商品配货信息。</div>
      <div class="usuall-word">提示：部分商品受库存及区域影响，提货/配送时间长短会有所影响。</div>
    </div>
    <div class="daijinquan">
      <div class="heading">| 关于物流</div>
      <div class="heading-secent">一、配送地区：</div>
      <div class="usuall-word">新疆、西藏、青海、宁夏、甘肃、内蒙古、港、澳、台等偏远地区无法配送。</div>
      <div class="heading-secent">二、配送费用：</div>
      <div class="usuall-word">如果订单总金额不满足减/免运费条件，需按照您选购的商品及门店实际物流情况支付实际发生费用。</div>
      <div class="heading-secent">三、配送方式：</div>
      <div class="usuall-word">母婴24小程序平台商品配送分为门店自提和送货到家两种方式。</div>
      <div class="usuall-word">门店自提：选购商品后，请在确认订单时选择“门店自提”方式，并确认自提门店信息。下单成功后随时到门店自提。</div>
      <div class="usuall-word">送货到家：选购商品后，请在确认订单时选择“送货到家”方式，并详细填写收货人电话及收货地址，下单成功后，可在平台查看订单处理进度，等待收货即可。如因收货信息填写不当，造成商品丢失或延期收货，不予以补发商品及赔偿。</div>
    </div>
    <div class="daijinquan">
      <div class="heading">| 商品发货：</div>
      <div class="heading-secent">1、非特殊情况，订单将在下单成功后72小时内发货；</div>
      <div class="heading-secent">2、您可以通过母婴24小程序后台查看相关物流信息；</div>
      <div class="heading-secent">3、非自提商品，商家需按订单约定的收货地址、收货人信息将商品送达消费者指定地址。</div>
    </div>
    <div class="daijinquan">
      <div class="heading">| 商品签收：</div>
      <div class="heading-secent">1、孕婴童商品存在特殊性，请您在签收时对商品进行核验。商品的种类、数量、规格、生产日期等（如有赠品活动，请一并检查相应的赠品）。如商品破损（非外包装破损），请与快递人员当面核实，并对破损进行拍照取证。对配送商品确认无误后，请在送货单上签字。一旦您确认签字，我们将无法为您办理补发。</div>
      <div class="heading-secent">2、您可以委托他人代为签收商品，被委托人的签收会视为收货人本人已确认并签收。</div>
      <div class="heading-secent">3、如您在商品订单中未填写收货人信息，或收货人信息不特定，物流配送商品在收货地址被签收时，即视同为收货人本人已确认并签收。</div>
    </div>
    <div class="send">
      <div class="heading">| 支付问题</div>
      <div class="usuall-word">付款方式：小程序商城只支持微信付款</div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
    }
  },
  computed: {
  },
  methods: {
  },
  onLoad (options) {
    wx.setNavigationBarTitle({
      title: '帮助中心'
    })
  },
  onHide () {
  },
  onUnload () {
  },
  onShow () {
  }
}
</script>
<style scoped>
  .help-center{
    padding: 36rpx;
  }
  .help-center .freight,
  .help-center .daijinquan{
    margin-bottom: 50rpx;
  }
  .help-center .heading{
    font-size:36rpx;
    color: #333;
    /* line-height:56rpx; */
    /* margin-bottom:10rpx; */
  }
  .help-center .heading-secent{
    color: #000;
    padding: 15rpx 0;
    font-size:28rpx;
  }
  .help-center .usuall-word{
    font-size: 26rpx;
    color:#666;
  }
</style>
