<template>
  <div class="logistics-content">
    <header>
      <div class="logistics-header">
        <img src="/static/images/logistics.png" alt="">
        <div class="logistics-type">
          <div>{{expressInfo ? expressInfo.expressCompany.expressName : ''}}</div>
          <div>运单号<span class="page-num">{{expressInfo ? expressInfo.expressNo : '：暂无'}}</span></div>
          <div>官方电话 <span class="phone">{{expressInfo ? expressInfo.expressCompany.phone : '：暂无'}}</span></div>
        </div>
      </div>
    </header>
    <section class="logistics-info">
      <!-- <div class="item aim-address">
        <div class="time">
        </div>
        <div class="line-icon">
          <span class="solid-circle-icon"></span>
          <span class="solid-line"></span>
          <div class="aim-address-img">收</div>
        </div>
        <div class="word-info">
          <div>【收货地址】{{address}}</div>
        </div>
      </div> -->
      <div class="item" :class="{'has-bring': index == '0' && expressInfo.status == 3}" v-for="(item, index) in traceList" :key="index">
        <div class="time">
          <div>{{item.mouth}}</div>
          <div>{{item.time}}</div>
        </div>
        <div class="line-icon">
          <span class="solid-circle-icon"></span>
          <span class="solid-line"></span>
           <img class="has-bring-img" src="/static/images/has-bring.png" alt="">
           <img id="has-pay-img" class="has-pay-img" v-if="index == traceList.length - 1" src="/static/images/logistics-hasPay.png" alt="">
        </div>
        <div class="word-info">
          <div class="isBring" v-if="index == '0' && expressInfo.status == 3">已签收</div>
          {{item.AcceptStation || item.acceptStation}}
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
// import moment from 'moment'
export default {
  data () {
    return {
      address: '',
      traceList: []
    }
  },
  computed: {
    ...mapGetters({
      expressInfo: 'expressInfo'
    })
  },
  methods: {

  },
  onLoad (options) {
    wx.showLoading({
      title: '加载中',
      icon: 'loading'
    })
    this.address = options.address || ''
    // console.log(this.expressInfo)
  },
  onShow () {
    this.traceList = JSON.parse(this.expressInfo.traceList || '[]')
    for (let i = 0; i < this.traceList.length; i++) {
      if (this.traceList[i]) {
        let acceptTime = this.traceList[i].AcceptTime || this.traceList[i].acceptTime
        console.log(acceptTime, '_______accepttime')
        this.traceList[i].mouth = acceptTime.split(' ')[0].substring(5)
        this.traceList[i].time = acceptTime.split(' ')[1].substring(0, 5)
      }
    }
    setTimeout(() => {
      wx.hideLoading()
    }, 300)
    // console.log(this.traceList)
  },
  onHide () {
  },
  onUnload () {
  }
}
</script>
<style lang="stylus" scoped>
  .logistics-content{
    font-family PingFang-SC-Regular
    font-siz 24rpx
    #has-pay-img{
      width 52rpx
      height 52rpx
      position absolute
      top -10rpx
    }
    .logistics-header{
      display flex
      height:100rpx;
      align-items:center;
      border-bottom:14rpx solid #F5F8FA;
      padding-bottom:20rpx;
      >img{
        width 100rpx
        height 100rpx
        margin-right 20rpx
        margin-left 37rpx
      }
      .logistics-type{
        font-size 22rpx
        div:nth-of-type(1){
          font-size 30rpx
        }
      }
    }
    .logistics-info{
      padding 37rpx
      .item{
        display flex
        align-items:flex-start;
        margin-bottom 10rpx
        .time{
          color #868686
          padding 0 15rpx
          text-align right
          position:relative;
          top:-10rpx;
          width:106rpx;
          box-sizing:border-box;
          div{
            font-size 20rpx
          }
          div:nth-of-type(1) {
            font-size 24rpx
          }
        }
        .line-icon{
          height 90rpx
          width 50rpx
          display:flex;
          justify-content:center;
          position:relative;
          .solid-circle-icon{
            width:13rpx;
            height:13rpx;
            background:rgba(221,221,221,1);
            border:4rpx solid rgba(255, 255, 255, 1);
            border-radius:50%;
            display:inline-block;
            position:absolute;
            // bottom:0;

          }
          .solid-line{
            display:inline-block;
            height:78%;
            position:absolute;
            bottom:0;
            border-left:2rpx solid #f0f0f0;

          }
          .has-bring-img{
            width 52rpx
            height 52rpx
            position:absolute;
            top:-10rpx;
            display none
          }
          .aim-address-img{
            width 52rpx
            height 52rpx
            background #cdcdcd
            color #fff
            font-size 24rpx
            border-radius 50%
            line-height 52rpx
            text-align center
            position absolute
            // top -10rpx
          }
        }
        .word-info{
          font-size:24rpx;
          font-weight:bold;
          color:rgba(134,134,134,1);
          width 500rpx
          .isBring{
            // display none
            padding-left 15rpx
          }
        }
      }
      .item:last-child {
        .line-icon{
          .solid-line{
            display none
            .has-pay-img{
              display inline-block !important
            }
          }
        }
      }
      .item.aim-address{
        .word-info{
          font-size 30rpx
        }
        .line-icon{
          height 120rpx
          .solid-line{
            border-left:2rpx dashed #f0f0f0;

          }
        }
      }
      .item.has-bring{
        .word-info{
          font-size 24rpx
          color #333
        }
        .line-icon{
          height 120rpx
          .has-bring-img{
            display block
          }
        }
        .isBring{
          display block
        }
      }
      .item.has-buy{
        .word-info{
          padding-left 15rpx
        }
        .line-icon{
          .has-pay-img{
            width 52rpx
            height 52rpx
            position absolute
            display none !important
          }
        }
      }
    }
  }
</style>
