<template>
	<div class="body">
	  <div v-if="!userImpower" class="user impower">
	  	<img :src="'https://img.dianjia001.com/online/opmactivitymg/bd6fdfaad25f478ebb286cadc9a8246f.png'" mode="widthFix" class="img">
	  	<div class="h1">母婴24申请获得以下权限</div>
	  	<div class="h2">获取您的公开信息 （昵称,头像等）</div>
	  	<button class="btn" @getuserinfo="getUserInfoSuccess" open-type="getUserInfo">授权微信用户信息</button>
	  </div>
	  <div v-if="!loginImpower&&userImpower" class="login impower">
	  	<img :src="'https://img.dianjia001.com/online/opmactivitymg/173b41f552bf47b2bfeacd26983f9157.png'" mode="widthFix" class="img">
	  	<div class="h1">24小时母婴便利购物</div>
	  	<button class="btn" @getphonenumber="getPhoneNumberSuccess" open-type="getPhoneNumber">微信用户一键登录</button>
	  </div>
	</div>
</template>
<script>
/*
 * @Title: 微信授权页面
 * @Author: 徐长剑
 * @Date: 2018-11-12 19:06:46
 * @LastEditTime: 2018-11-15 11:14:49
 * @LastEditors: 徐长剑
 * @Description:
 */

import * as types from '@store/types'
import { mapGetters } from 'vuex'
import Contants from '@contants/index'

export default {
  data () {
    return {
      Contants,
      opt: {},
      userImpower: false, // 获取用户信息授权
      loginImpower: false // 获取用户手机号授权
    }
  },
  computed: {
    ...mapGetters({
      openId: 'openId',
      login: 'login',
      userInfo: 'userInfo',
      userPhone: 'userPhone',
      storeId: 'storeId'
    })
  },
  methods: {
    getUserInfoSuccess (res) {
      console.log('获取用户信息', res)
      const target = res.target
      console.log(target)
      if (target && target.errMsg.indexOf('ok') !== -1) {
        let userInfo = target.userInfo
        userInfo.headPortraitImgUrl = userInfo.avatarUrl
        userInfo.gender = (userInfo.gender === 0 ? '未知' : (userInfo.gender === 1 ? '男' : '女'))
        this.$store.commit(types.SAVE_USER_INFO, userInfo)
        this.userImpower = true
      }
      console.log(this.userInfo)
    },
    getPhoneNumberSuccess (res) {
      console.log('获取手机号', res)
      const target = res.target
      const $this = this
      if (target && target.errMsg.indexOf('ok') !== -1) {
        $this.$store.dispatch(types.GET_USER_PHONE, {encryptedData: target.encryptedData, ivStr: target.iv, openId: $this.openId}).then(data => {
          const {avatarUrl, city, gender, nickName, province} = $this.userInfo
          $this.$store.dispatch(types.USER_LOGIN, {
            city: city,
            gender: gender,
            headPortraitImgUrl: avatarUrl,
            nickName: nickName,
            openId: $this.openId,
            phone: $this.userPhone,
            province: province,
            storeId: $this.storeId
          }).then(data => {
            if ($this.$route.query.fromShareRedPacket) {
              wx.setStorageSync('refreshRedPacket', 'true')
            }
            const _opt = {}
            _opt.isfromImporove = true
            _opt.opt = this.opt
            this.$store.commit(types.DO_GET_GIFT_FROM, _opt)
            // this.$store.state.fromGift.isfromImporove = true
            // this.$store.state.fromGift.opt = this.opt
            console.log(this.$store.state.fromGift)
            wx.navigateBack(1)
            console.log('注册成功')
            console.log($this.$route.query) // 判断入口做出相应处理
          })
        })
      } else {
        wx.showToast({
          title: '获取微信手机号失败',
          icon: 'none',
          duration: 3000
        })
      }
    }
  },
  onLoad (opt) { // 初始加载页，判断是否授权登录
    console.log(opt, 'opt--start')
    this.opt = opt
    console.log('this is impower')

    let $this = this
    // wx.getSetting({
    //   success (res) {
    //     let If = res.authSetting['scope.userInfo']
    //     $this.userImpower = If
    //     console.log(If, 'getSetting If')
    //     if (If) {
    //       wx.getUserInfo({
    //         lang: 'zh_CN',
    //         success: res => {
    //           console.log('获取用户信息', res)
    //           let _userInfo = res.userInfo
    //           _userInfo.headPortraitImgUrl = _userInfo.avatarUrl
    //           _userInfo.gender = (_userInfo.gender === 0 ? '未知' : (_userInfo.gender === 1 ? '男' : '女'))
    //           $this.$store.commit(types.SAVE_USER_INFO, _userInfo)
    //           console.log($this.$store.state.userInfo)
    //         }
    //       })
    //     }
    //   },
    //   fail () {
    //     $this.userImpower = false
    //   },
    //   complete () {
    //     $this.loginImpower = $this.login
    //   }
    // })
    wx.login({
      success: res => {
        if (res.code) {
          $this.$store.dispatch(types.GET_OPEN_ID, {code: res.code, storeId: this.storeId}).then(data => {
            console.log(data)
            this.$store.commit(types.REFRESH_TOKEN, data)
          })
        }
      }
    })
  },
  onReady () {
  },
  onHide () {
  },
  onUnload () {
  },
  onShow () {
    console.log(3)
  }
}
</script>
<style lang="stylus" scoped>
  .body{
    .impower{
    	padding-top: 40rpx;
    	text-align: center;
    	.img{
    		width: 600rpx;
    	}
    	.btn{
    		color: #fff;
    		border-radius: 40rpx;
    		border: none;
    		width: 600rpx;
    		line-height: 90rpx;
    	}
    }
    .login{
    	.img{
    		height: 416rpx;
    	}
    	.h1{
    		font-size:26rpx;
    		color: #999;
    		margin-top: 60rpx;
    	}
    	.btn{
    		background-color: #40ba20;
    		margin-top: 140rpx;
    	}
    }
    .user{
    	.img{
    		height: 492rpx;
    	}
    	.h1{
    		font-size:28rpx;
    		margin-top: 20rpx;
    	}
    	.h2{
    		font-size:28rpx;
    		color: #999;
    	}
    	.btn{
    		background-color: #ff7900;
    		margin-top: 50rpx;
    	}
    }
  }
</style>
