

<template>
  <div></div>
</template>
<script>
/*
 * @Title: 中转页面 判断跳转
 * @Author: 徐长剑
 * @Date: 2018-11-12 19:06:46
 * @LastEditTime: 2018-11-15 11:14:49
 * @LastEditors: Please set LastEditors
 * @Description: 判断 是分享海报扫码进入(scene) 或 小程序自带分享 和小程序后台进入(sId,sf)
 * @Params {String} scene 扫码进入才会有  example:sId=8&sf=goods&id=64270
 * @Params {String} sf 页面类型
 * @Params {String} sId 店铺ID
 */

import Utils from '@utils/utils'
import * as types from '@store/types'
import TalkingData from '../../utils/talkingData.js'

import RouterPath from '@router/config'

export default {
  data () {
    return {}
  },
  computed: {},
  methods: {
    init () {
      console.log(process.TYPE_ENV, 'process.TYPE_ENV')
      let { opt = {} } = this
      let storeId = opt.sId || '' // 1953门店编号’华普大厦万达城一店‘
      let sourceId = opt.sourceId || '' // 礼物详情页面 发出礼物的id
      let url = '' // 默认跳转页面
      let _id = opt.id // id(商品详情,团购活动id)
      let sf = opt.sf // 页面类型
      let _scene = {} // 页面类型

      // 通过二维码进入
      if (opt.scene) {
        // 扫码进入
        /**
        * @params sf
        *       A 代表正常详情页面
        *       B 代表活动商品详情页面
        *       C 代表新人礼分享页面
        *       D 代表首页
        *       E 物流
        *       F 拼团活动详情
        *       G 拼团活动商品详情
        *       H 礼物的活动商品详情
        *       L 秒杀商品详情
        */
        _scene = Utils.delOpt(opt.scene)
        console.log(_scene, 'start.scene解析后的_scene数据')
        storeId = _scene.sId
        sf = _scene.sf
        switch (sf) {
          case 'A': // 正常商品
          case 'B': // 活动商品
          case 'G': // 拼团活动商品详情
          case 'F': // 拼团活动详情
          case 'H': // 礼物的活动商品详情
          case 'L': // 秒杀商品详情
            _id = _scene.id
            break
        }
      }
      switch (sf) {
        case 'A': // 正常商品
          console.log(_scene, '正常商品')
          url = RouterPath.Goods.GoodsDetail + '?fromPage=share&id=' + _id
          break
        case 'B': // 活动商品
          console.log(_scene, '活动商品')
          url = RouterPath.Goods.GoodsActivityDetail + '?fromPage=share&id=' + _id
          break
        case 'C':
          console.log(_scene, '新人礼')
          url = RouterPath.Activitys.NewManner + '?sf=new'
          break
        case 'E':
          console.log(_scene, '模版消息---配送中的路由')
          url = RouterPath.Order.OrderList + '?type=2'
          break
        case 'F':
          console.log(_scene, '拼团活动详情')
          url = RouterPath.GroupBuy.Detail + '?id=' + _id
          break
        case 'G':
          console.log(_scene, '拼团活动商品详情')
          url = RouterPath.GroupBuy.ActivityDetail + '?id=' + _id
          break
        case 'H':
          console.log(_scene, '礼物活动商品详情')
          url = RouterPath.Gift.ActivityDetail + '?id=' + _id
          break
        case 'I':
          console.log(_scene, '礼物详情')
          // url = RouterPath.Gift.GiftResult + '?id=' + _id +
          url = `${RouterPath.Gift.GiftResult}?id=${_id}&sourceId=${sourceId}`
          break
        case 'L':
          console.log(_scene, '秒杀详情')
          url = RouterPath.SecKill.ActivityDetail + '?id=' + _id
          break
        // case 'M':
        //   console.log('线下支付')
        //   url = RouterPath.PayLine.pay + '?id=' + _id
        //   break
        default:
          url = RouterPath.Home
          break
      }
      wx.login({
        success: res => {
          if (res.code) {
            this.$store.dispatch(types.GET_OPEN_ID, { code: res.code, storeId }).then(data => {
              let _id
              if (data && data.user) {
                _id = data.user.id
              }
              if (data && data.storeId) {
                let _storeId = data.storeId
                this.$store.dispatch(types.GET_SHOP_INFO_BY_ID, { storeId: _storeId }).then(res => {
                  console.log(res, 'res')
                  if (res) {
                    wx.redirectTo({
                      url
                    })
                    if (_id && _storeId) {
                      TalkingData.onEvent('c_全局进入小程序', 'c_全局进入小程序', {storeId: storeId, userId: res.userId, customerId: _id})
                    }
                  }
                })
              } else {
                wx.reLaunch({
                  url: RouterPath.Store.search
                })
              }

              // if (data) {
              //   console.log('获得门店信息接口数据返回:', data)
              //   let _storeId = data.storeId || '1953'
              //   // let _storeId = 1
              //   this.$store.dispatch(types.GET_SHOP_INFO_BY_ID, { storeId: _storeId }).then(res => {
              //     if (res) {
              //       wx.redirectTo({
              //         url
              //       })
              //     }
              //   })
              // }
            })
          }
        }
      })
    }
  },
  onLoad (opt) {
    this.opt = opt
    console.log('this is bootpage------->onLoad', this.opt)
  },
  onHide () { },
  onUnload () { },
  onShow () {
    console.log('this is bootpage------->onShow ', this.opt)
    this.init()
  }
}
</script>
