<template>
  <!--商品列表项-->
  <div style="position: relative;">
    <div class="item" @click="goDetail(datas)">
        <div class="img">
            <img class="icon" :src="datas.skuImg" mode="widthFix">
        </div>
        <div class="info">
            <div class="name">{{datas.productName}}</div>
            <div class="memberCount">
                <img src="/static/images/member-count-bg.png" alt>
                <span>秒杀价</span>
            </div>
            <div class="priceInfo">
                <div class="price">
                  <span class="now"><span style="font-size: 36rpx;">￥</span>{{datas.unitPrice}}</span>
                  <span class="before" style="text-decoration: line-through;">￥{{datas.sellPrice}}</span>
                </div>
                <div>
                  <span class="priceButton" v-if="datas.status === '进行中' && !datas.flags">立即抢购</span>
                  <span class="priceButton prive-btn" v-else-if="datas.status === '已结束'">已抢空</span>
                </div>
                
            </div>
        </div>
    </div>
    <!-- 预约按钮 -->
    <div>
      <form @submit="(e)=>{this.showConfirmModal(datas, e)}" report-submit v-if="(datas.status === '未开始' && !datas.subscribeFlag) || (datas.status === '进行中' && datas.flags && !datas.subscribeFlag)">
        <button class="priceButton next-btn" form-type="submit">预约提醒</button>
      </form>
      <div @click="orderModel()">
        <span class="priceButton next-btn-close" v-if="(datas.status === '未开始' && datas.subscribeFlag) || (datas.status === '进行中' && datas.flags && datas.subscribeFlag)">预约提醒</span>
      </div>
    </div>
    <!-- <div v-if="datas.defaltFlag">
      <div @click="orderModel()">
        <span class="priceButton next-btn-close">预约提醒</span>
      </div>
    </div> -->

    <div class="progress" v-if="datas.status !== '已结束'">
        <span class="text">已售{{datas.soldPercent}}%</span>
        <div class="outProgress">
            <div class="redProgress" :style="{width:datas.soldPercent + '%'}"></div>
        </div>
    </div>
    <div class="progress" v-if="datas.status === '已结束'">
        <span class="text">已售100%</span>
        <div class="outProgress">
            <div class="redProgress" style="width: 100%"></div>
        </div>
    </div>
    <DTotast ref="totast"/>
    <subscribeModel ref="subModel"></subscribeModel>
  </div>
</template>
<script>
/*
 * @Title: 秒杀商品列表
 * @Date: 2019-1-17 19:06:46
 * @LastEditTime: 2019-1-17 11:14:49
 * @Description: 秒杀商品列表
 */
import RouterPath from '@router/config'
import mixins from '@mixins/index'
import Contants from '@contants/index'
import DTotast from '@components/UI/DTotast'
import TalkingData from '../../utils/talkingData.js'
import subscribeModel from '@components/UI/subscribeModel'
export default {
  props: ['item', 'isShowBtn'],
  data () {
    return {
      datas: {},
      ruleModalProps: {
        showRuleModal: true,
        ruleTextArr: [
          '成功预约活动商品',
          '请留意微信通知'
        ]
      }
    }
  },
  mixins: [mixins],
  components: {
    DTotast,
    subscribeModel
  },
  watch: {
    item: {
      handler (val = {}) {
        let { skuImg } = val
        if (this.$Utils.isString(skuImg) && skuImg.length) {
          skuImg = Contants.BASE_IMG_URL + skuImg
        } else {
          skuImg = Contants.DEFAUTL_URL
        }
        this.datas = { ...val, skuImg }
      },
      immediate: true
    }
  },
  methods: {
    goDetail (item) {
      this.$router.push({ path: RouterPath.SecKill.ActivityDetail, query: { id: item.id } })
      if (!this.isNewUser) {
        TalkingData.onEvent('c_去普通商品商品详情', 'c_去普通商品商品详情', {storeSkuId: item.id, storeId: this.$store.getters.storeId, userId: this.$store.getters.shopInfo.userId, customerId: this.$store.getters.userInfo.id})
      }
    },
    showConfirmModal (item, e) {
      console.log('form发生了submit事件，携带数据formId为：', e)
      console.log(item, '---item--')
      let _prames = {
        actFlashSaleId: item.id,
        formId: e.target.formId
      }

      if (item.status === '进行中') {
        this.$emit('subRule', _prames)
        item.subscribeFlag = true
        this.$refs.subModel.showToast({ruleModalProps: this.ruleModalProps})
      } else if (item.status === '未开始') {
        if (item.typeFlag) {
          this.$emit('subRule', _prames)
          item.subscribeFlag = true
          this.$refs.subModel.showToast({ruleModalProps: this.ruleModalProps})
        } else {
          this.$refs.totast.showToast({title: '还没有开始预约了哦～'})
        }
      }
    },
    orderModel () {
      this.$refs.totast.showToast({title: '已经预约过了哦～'})
    }
  }
}
</script>
<style lang="stylus" scoped>
.item {
  background-color: #fff;
  padding: 25rpx;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 10rpx;
  .img {
    width: 200rpx;
    height: 200rpx;

    .icon {
      width: 200rpx;
      height: 200rpx;
    }
  }

  .info {
    flex: 1;
    margin-left: 25rpx;

    .name {
      color: #000;
      line-height: 40rpx;
      display: -webkit-box;
      word-break: break-all;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 27rpx;
      margin-bottom: 10rpx;
    }

    .memberCount {
      width: 98rpx;
      height: 40rpx;
      position: relative;

      img {
        width: 98rpx;
        height: 40rpx;
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 98rpx;
        height: 40rpx;
        font-size: 22rpx;
        line-height: 30rpx;
        color: #fff;
        text-align: center;
      }
    }

    .priceInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .price {
        .now {
          color: #FF0000;
          font-size: 32rpx;
          font-weight: bold;
        }

        .before {
          color: #555;
          font-size: 22rpx;
          display: block;
        }
      }

      .priceButton {
        width: 156rpx;
        height: 69rpx;
        background: linear-gradient(45deg, rgba(236, 69, 67, 1), rgba(254, 142, 111, 1));
        border-radius: 10rpx;
        text-align: center;
        line-height: 69rpx;
        font-size: 32rpx;
        font-weight: 500;
        color: #fff;
        display: inline-block;
      }
      
      .prive-btn{
        background:linear-gradient(45deg,rgba(169,169,169,1),rgba(220,220,220,1)) !important;
      }
    }
  }
}
.progress{
    position: absolute;
    bottom: 10rpx;
    right: 30rpx; 
    display flex;
    .text{
        min-width:65rpx;
        height:15rpx;
        font-size:16rpx;
        font-weight:400;
        color:rgba(77,77,77,1);
        position relative;
        top: -6rpx;
        margin-right 10rpx;
    }
    .outProgress{
        width:121rpx;
        height:8rpx;
        background:rgba(224,224,224,1);
        border-radius:4rpx;
        position relative;
        .redProgress{
            // width:30%;
            height:8rpx;
            background:linear-gradient(90deg,rgba(255,54,52,1) 0%,rgba(254,78,54,1) 100%);
            border-radius:4rpx;
            position: absolute;
            left: 0;
            top: 0;
        }       
    }
}
.next-btn {
  border-radius: 10rpx;
  text-align: center;
  line-height: 69rpx;
  font-size: 32rpx;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 30rpx;
  bottom: 50rpx;
  width: 170rpx !important; 
  height: 69rpx;
  background:linear-gradient(45deg,rgba(97,198,36,1),rgba(97,198,36,1)) !important;
}
.next-btn-close{
  border-radius: 10rpx;
  text-align: center;
  line-height: 69rpx;
  font-size: 32rpx;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 30rpx;
  bottom: 50rpx;
  width: 170rpx !important; 
  height: 69rpx;
  background:linear-gradient(45deg,rgba(97,198,36,0.6),rgba(97,198,36,0.6)) !important;
}
button{
  padding-left: 0px;
  padding-right: 0px; 
}
button::after{ border: none; }
</style>


