<template>
  <div style="width:100%;background:#f4f5f7;" :class="{'fixed-body': fixedBody}" v-if="!flags.isShow">
    <div v-if="storeSkuDetail">
      <div class="detailwarpper">
        <swiper class="categoryList" :autoplay="true" :circular="true" :indicator-dots="true" indicator-color="rgba(228,228,228,1)" indicator-active-color="#FECA49">
          <swiper-item class="swiper" v-if="storeSkuDetail.storeSkuDetail.skuImgUrl && storeSkuDetail.storeSkuDetail.skuImgUrl.length !== 0" v-for="(item,index) in storeSkuDetail.storeSkuDetail.skuImgUrl" :key="index" >
            <img :src="item" class="category-image">
          </swiper-item>
          <swiper-item class="swiper" v-if="storeSkuDetail.storeSkuDetail.skuImgUrl && storeSkuDetail.storeSkuDetail.skuImgUrl.length === 0">
            <img :src="Contants.DEFAUTL_URL" class="category-image" style="">
          </swiper-item>
        </swiper>
        <div class="priceDetail">
          <img class="img" src="/static/images/newpersonprice.png">
          <div class="content" v-if="storeSkuDetail.activityType === '新人有礼'">新人礼</div>
          <div class="content" v-else>爆款价</div>
          <div class="numberAbout">
            <span class="money">{{storeSkuDetail.storeSkuDetail.sellPrice}} <span class="sellPrice">￥</span></span>
            <span class="beforePrice">￥{{storeSkuDetail.storeSkuDetail.marketPrice}}</span>
            <span class="sellText">已抢购<span class="sellCount">{{storeSkuDetail.storeSkuDetail.saleCnt}}</span>个</span>
          </div>
        </div>
        <div class="textHot" style='font-size:28rpx'>
          {{storeSkuDetail.storeSkuDetail.productSkuName}}
        </div>
      </div>
      <div class="textBottom">
        <!-- 新人礼 -->
        <view class="listType" style='height:100%;align-items:center;'>
          <span style='padding-right:15rpx;color:#898989;display: inline-block;width: 140rpx;'>
            规格型号
          </span>
          <p style='display:flex;flex:1;align-items:center; height:100%' class="textfile">
            <span style="flex:1;">
              <span style="color:#232323;">已选:"{{'默认'}}"</span>
              <!-- <span style="color:#232323;">已选:"{{storeSkuDetail.storeSkuDetail.skuName ? storeSkuDetail.storeSkuDetail.skuName : '默认'}}"</span> -->
            </span>
          </p>
        </view>
        <view class="listType" style='height:100%;align-items:center;'>
          <span style='padding-right:15rpx;color:#898989;display: inline-block;width: 140rpx;'>
            数量
          </span>
          <span class="shopNum" style="display:flex;">
            <span class='minus shopBtn' :class="{ numKong:num === 1}" @click='minus_clickHander' style=''>-</span>
            <span class="shoppingNum">{{num}}</span>
            <span class="plus shopBtn add" @click='plusFn_clickHander'>+</span>
          </span>
        </view>
        <view class="listType" style='height:100%;align-items:center;'>
          <span style='padding-right:15rpx;color:#898989;display: inline-block;width: 140rpx;'>
            服务
          </span>
          <span style="color: #232323;font-size: 24rpx;">正品保证 • 破损包退</span>
        </view>
      </div>
      <div class="textBottom">
        <view class="shopDian">
          <img class="vipImgfn" src="/static/images/gouwuche_icon1.png">
          <span class="shopTitle" v-if="shopInfo">{{shopInfo.storeName}}</span>
        </view>
        <view class="titleDetail">
          <span>商品详情</span>
        </view>
      </div>
      <view class="imgban" style="background-color: #fff; text-align: center;" v-if="storeSkuDetail.storeSkuDetail.productImgUrl && storeSkuDetail.storeSkuDetail.productImgUrl.length">
        <template v-if="storeSkuDetail.storeSkuDetail.productImgUrl && storeSkuDetail.storeSkuDetail.productImgUrl.length">
          <img v-for='(value, productIndex) in storeSkuDetail.storeSkuDetail.productImgUrl' :key="productIndex" :src="value" class="imgban-image" mode='widthFix'> </template>
        <template v-else>
          <img :src="Contants.DEFAULT_SHOP_DATAILS_URL" class="imgban-image" mode='widthFix'>
        </template>
      </view>
      <!-- 新人有礼的底部-->
      <div class="shopcarlist" v-if="storeSkuDetail.activityType === '新人有礼'">
        <div class="bottomban">
          <view class="shopcarboxif" @click='onShare'>
            <span class="shopshare"></span>
            <span style="margin-top:2px;">分享</span>
          </view>
          <div class="shopGo" v-if="!storeSkuDetail.canPart">
            <span>您已领取专享礼</span>
          </div>
          <div class="sellOut" v-else-if="!storeSkuDetail.storeSkuDetail.shelfFlag">
            <span>已下架</span>
          </div>
          <div class="sellOut" v-else-if="!storeSkuDetail.storeSkuDetail.stockFlag">
            <span>已售罄</span>
          </div>
          <div class="shopGo" @click="goBuy_clickHander" v-else>
            <span>立即抢购</span>
          </div>
        </div>
      </div>
      <!-- 爆款的底部 -->
      <div class="shopcarlist" v-if="storeSkuDetail.activityType === '每日爆款'">
        <div class="bottomban">
          <view class="shopcarboxif" @click='onShare'>
            <span class="shopshare"></span>
            <span style="margin-top:2px;">分享</span>
          </view>
          <div class="sellOut" v-if="!storeSkuDetail.storeSkuDetail.shelfFlag">
            <span>已下架</span>
          </div>
          <div class="sellOut" v-else-if="!storeSkuDetail.storeSkuDetail.stockFlag">
            <span>已售罄</span>
          </div>
          <div class="shopGo" @click="goBuy_clickHander" v-else>
            <span>立即抢购</span>
          </div>
        </div>
      </div>
      <!-- 分享海报 -->
      <poster v-if='showPosterActivityDetail' :pageData="pageDate" @showPoster="showPoster" />
    </div>

    <div class="go-home-btn" id="go-home-btn" @click="goHomeBtn_clickHander">
      <img src="/static/images/index_icon_home.png" alt="">
      <div>首页</div>
    </div>
    <DTotast ref="totast" :title='text'/>
    <confirmKnowModal v-if="payConfig"></confirmKnowModal>
  </div>
</template>
<script>
/*
 * @Title: 活动商品的详情页面
 * @Author: txy
 * @Date: 2018-11-12 19:06:46
 * @LastEditTime: 2018-11-15 11:14:49
 * @LastEditors: txy
 * @Description:
 */
import * as types from '@store/types.js'
import { mapGetters } from 'vuex'
import Utils from '@utils/utils'
import Tools from '@utils/tools'
import Contants from '@contants/index'
import detail from '@mixins/Detail'
import index from '@mixins/index'
import API from '@api/index'
import RouterPath from '@router/config'
import TalkingData from '../../utils/talkingData.js'

import poster from '@components/Common/Poster'
import confirmKnowModal from '@components/UI/ConfirmKnowModal.vue'

import DTotast from '@components/UI/DTotast'

export default {
  data () {
    return {
      Contants,
      fixedBody: false, // 控制页面滚回顶部
      storeSkuId: 0, // 商品id
      storeSkuDetail: {}, // 活动商品的详情
      showPosterActivityDetail: false, // 海报
      pageDate: {
        type: 'B' // 传入分享页面中活动商品的参数
      },
      flags: {
        isShow: true
      },
      storeIdCheck: false, // 微信绑定
      payConfig: false // 微信绑定
    }
  },
  mixins: [detail, index],
  computed: {
    ...mapGetters({
      shopInfo: 'shopInfo',
      userInfo: 'userInfo',
      login: 'login'
    })
  },
  watch: {
    showPosterActivityDetail (newVal, oldVal) {
      if (newVal === true) {
        this.fixedBody = true
      } else {
        this.fixedBody = false
      }
    }
  },
  components: {
    DTotast,
    confirmKnowModal,
    poster
  },
  methods: {
    showPoster (boole) {
      console.log(boole, 'boole')
      this.showPosterActivityDetail = boole
    },
    plusFn_clickHander () {
      let {limitCount} = this.storeSkuDetail.storeSkuDetail
      this.plus(limitCount)
    },
    async goBuy_clickHander () {
      let { id = '' } = this.storeSkuDetail
      console.log(this.login, 'this.login')
      if (!this.login) {
        return wx.navigateTo({
          url: RouterPath.Auth.Login + '?fromPage=index'
        })
      }
      if (!this.storeSkuDetail.storeSkuDetail.shelfFlag) {
        return this.$refs.totast.showToast({title: '该商品已下架'})
      }
      if (!this.storeSkuDetail.storeSkuDetail.stockFlag) {
        return this.$refs.totast.showToast({title: '库存不足'})
      }
      let _res = await API.newManner.checkActivities({id, buyCount: this.num})
      if (_res && _res.status === 200) {
        const queryDate = {}
        queryDate.productDetail = this.storeSkuDetail
        queryDate.num = this.num
        // 订单信息保存store
        this.$store.commit(types.SET_QUERY_DATA, queryDate)
        this.$router.push({ path: RouterPath.Order.OrderConfirm, query: { type: 3 } })
      } else {
        console.log('您还有待支付的新人礼商品订单，请取消后再购买哦')
      }
      TalkingData.onEvent('c_活动商品去下单', 'c_活动商品去下单', {id: this.storeSkuId, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
    },
    onShare () {
      if (!this.login) {
        return wx.navigateTo({
          url: RouterPath.Auth.Login + '?fromPage=index&target=shareShop'
        })
      }
      const ctx = wx.createCanvasContext('mycanvas')
      if (!ctx.measureText) {
        Tools.toast('该版本暂不支持生成海报', 'loading', 800)
      } else {
        this.showPosterActivityDetail = true
        this.pageDate.data = this.storeSkuDetail.storeSkuDetail
        console.log(this.pageDate)
        TalkingData.onEvent('c_活动商品生成海报', 'c_活动商品生成海报', {id: this.storeSkuId, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      }
    },
    // 获取活动商品详情的信息
    getshopDetail () {
      this.flags.isShow = true
      wx.showLoading()
      API.newManner.getActivitiesDetail({id: this.storeSkuId}).then(res => {
        let productImgUrl
        let skuImgUrl
        if (res.status === 200) {
          this.storeSkuDetail = res.data
          productImgUrl = res.data.storeSkuDetail.productImgUrl.map(k => {
            return Utils.compressImg(Contants.BASE_IMG_URL + k, 750)
          })
          skuImgUrl = res.data.storeSkuDetail.skuImgUrl.map(i => {
            return Utils.compressImg(Contants.BASE_IMG_URL + i, 750)
          })
        }
        this.storeSkuDetail.storeSkuDetail.productImgUrl = productImgUrl
        this.storeSkuDetail.storeSkuDetail.skuImgUrl = skuImgUrl
        wx.hideLoading()
        this.flags.isShow = false
      })
    },
    // 微信分佣金
    getPayConfig () {
      API.Public.getPayConfig().then(res => {
        if (res.status === 200) {
          res.data.storeIds.map(i => {
            if (i === this.shopInfo.id) {
              this.storeIdCheck = true
            }
          })
          if ((!res.data.abTest || this.storeIdCheck)) {
            console.log('这是需要微信绑定')
            if (!this.shopInfo.bind) {
              console.log('这里需要微信弹出框的问题')
              this.payConfig = true
            }
          } else {
            console.log('不适用微信绑定')
          }
        }
      })
    }
  },
  onLoad (options) {
    this.storeSkuId = options.id
    console.log(options)
    console.log('执行 onload--1', this.shopInfo)
  },
  onHide () {
    this.num = 1
    this.storeSkuDetail = {}
    this.showPosterActivityDetail = false
    this.flags.isShow = true
    this.payConfig = false
    this.storeIdCheck = false
  },
  onUnload () {
    this.num = 1
    this.storeSkuDetail = {}
    this.showPosterActivityDetail = false
    this.flags.isShow = true
    this.payConfig = false
    this.storeIdCheck = false
  },
  onShow () {
    Tools.showLoading('加载中...')
    this.getshopDetail()
    this.getPayConfig()
    Tools.hideLoading()
  },
  onShareAppMessage () {
    if (!this.isNewUser) {
      TalkingData.onEvent('c_活动商品分享页面', 'c_活动商品分享页面', {id: this.storeSkuId, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
    }
    const { skuImgUrl = [], productSkuName } = this.storeSkuDetail.storeSkuDetail
    const imageUrl = skuImgUrl[0] || Contants.DEFAUTL_URL
    const path = RouterPath.Auth.Start + '?sf=B&sId=' + this.shopInfo.id + '&id=' + this.storeSkuId
    return this.shareMessage_handler(productSkuName, path, imageUrl)
  }
}
</script>
<style lang="stylus" scoped>
@import '../../assets/mixin.styl';
#go-home-btn{
  width:94rpx;
  height:94rpx;
  border-radius:50%;
  position:fixed;
  right:30rpx;
  top:600rpx;
  z-index:999;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background: #ff8f00;
  color: #fff;
  box-shadow:0px 5px 16px 5px rgba(213,213,213,0.41);
  >img{
    width 50rpx
    height 50rpx
  }
  >div{
    font-size: 24rpx
    position relative
    top -4rpx
  }
}

.fixed-body {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.mainbox {
  padding: 0 28rpx 20rpx 28rpx;
  box-sizing: border-border-box;
}

.categoryList {
  height: 750rpx;
  width: 100%;
}

.priceDetail {
  overflow: hidden;
  width: 750rpx;
  height: 100rpx;
  background: linear-gradient(to right,#ff564e,#f6817f);
  position: relative;

  .img {
    margin-top: 5px;
    margin-left: 16px;
    width: 98rpx;
    height: 40rpx;
  }

  .content {
    position: absolute;
    z-index: 2;
    left: 50rpx;
    top: 8rpx;
    font-size: 22rpx;
    color: #ea3323;
    font-weight: 500;
    font-family: PingFang-SC-Medium;
  }
}

.numberAbout {
  margin-top: -10rpx;
  overflow: hidden;

  .sellPrice {
    font-size: 30rpx;
    display: inline-block;
    float: left;
    margin-top: 12rpx;
    color: #fff;
    font-weight: 800;
    font-family: PingFang-SC-Heavy;
  }

  .money {
    font-size: 40rpx;
    display: inline-block;
    padding-left: 24rpx;
    float: left;
    margin-top: -13rpx;
    color: #fff;
    font-weight: 800;
    font-family: PingFang-SC-Heavy;
  }

  .beforePrice {
    font-size: 22rpx;
    color: rgba(255, 255, 255, 1);
    text-decoration: line-through;
    display: inline-block;
    float: left;
    margin-left: 17rpx;
    margin-top: 7rpx;
    font-family: PingFang-SC-Medium;
    opacity: 0.4;
  }

  .sellText {
    float: right;
    display: inline-block;
    margin-right: 30rpx;
    font-size: 22rpx;
    font-family: PingFang-SC-Medium;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-top: -13rpx;
  }

  .sellCount {
    font-size: 40rpx;
  }
}


.textHot {
  position: relative;
  margin-top: 24rpx;
  margin-left: 26rpx;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  padding-bottom: 15rpx;
  font-weight: 500;
}


.listType {
  display: flex;
  font-size: 28rpx;
  padding: 24rpx 28rpx 24rpx 28rpx;
  border-bottom: 1px solid #F1F2F6;
}

.shopTitle {
  font-size: 28rpx;
  color: #898989;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  padding-left: 10rpx;
}

.textBottom {
  background: #fff;
  margin-top: 12rpx;
}

.detailwarpper {
  background: #fff;
}

.vipImgfn {
  width: 40rpx;
  height: 36rpx;
  background-size: cover;
  float: left;
}

.vipImg {
  width: 46rpx;
  height: 28rpx;
  background-size: cover;
  margin-left: 8rpx;
}

.titleDetail {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 14px;

  span {
    position: relative;
    display: inline-block;
    color: #999999;
    font-size: 14px;

    &::before {
      content: '';
      position: absolute;
      color: #f00;
      top: 14px;
      left: -108px;
      width: 100px;
      height: 5px;
      background-image: url('../../../static/images/title-img-left.png');
      background-position: 0 0;
      background-size: 100px 5px;
      background-repeat: no-repeat;
      display: block;
    }

    &::after {
      content: '';
      position: absolute;
      right: -108px;
      top: 14px;
      width: 100px;
      height: 5px;
      background-image: url('../../../static/images/title-img-right.png');
      background-position: 0 0;
      background-size: 100px 5px;
      background-repeat: no-repeat;
      display: block;
    }
  }
}

.shopDian {
  padding: 30rpx 28rpx 30rpx 28rpx;
  border-bottom: 1rpx solid #F1F1F1;
  display: flex;
}

.swiper {
  width: 100%;
  height: 100%;
  text-align: center;
}
.category-image {
  width: 100% !important;
  height: 100% !important;
  background-size: cover;
}

.imgban {
  width: 100%;
  padding-bottom: 100rpx;
  display: flex;
  flex-direction: column;

  .imgban-image {
    width: 100%;
  }
}

.textfile {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.numKong {
  background: #FCFCFC !important;
}

.shoppingNum {
  width: 120rpx;
  font-size: 32rpx;
  text-align: center;
  background: #f4f5f7;
}

.shopBtn {
  width: 50rpx;
  height: 50rpx;
  margin-right: 2rpx;
  font-size: 32rpx;
  text-align: center;
  background: #F6F8FA;
}

.add {
  margin-left: 2rpx;
  margin-right: 20rpx;
}
.mark{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    z-index: 10;
  }
  .text{
    padding 40rpx
    font-weight 500
    text-align center
    // border-bottom 1px solid rgba(241,241,241,1)
  }
  .btn{
    color rgba(253,116,34,1)
    font-size 30rpx
    text-align center
    padding 30rpx
  }
  .save-success-toast-btn{
    z-index 22
    position:fixed;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    background: rgba(0,0,0,.5);
    width:80%;
    height:200rpx;
    color:#fff;
    border-radius:30rpx;
    font-size 34rpx
  }
</style>
<style lang="scss" scoped>
.shopcarlist {
    position: fixed;
    bottom: 0;
    background: #898989;
    width: 100%;
    height: 100rpx;
    left: 0;
    z-index: 999;
    box-shadow: -3px 0px 9px 0px rgba(63, 101, 157, 0.54);
}
.bottomban {
    display: flex;
    height: 100%;
    align-items: center;
    .shopcarbox {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ccc;
        height: 100%;
        font-size: 20rpx;
        width: 150rpx;
        .shopcar {
            position: relative;
            width: 38rpx;
            height: 36rpx;
            background: url(../../../static/images/cart.png) no-repeat;
            background-size: 38rpx 36rpx;
            margin-bottom: 3px;
            margin-top: 6px;
        }
        .shopshare {
            position: relative;
            width: 36rpx;
            height: 36rpx;
            background: url(../../../static/images/share.png) no-repeat;
            background-size: 36rpx 36rpx;
            margin-bottom: 3px;
            margin-top: 6px;
        }
    }
    .shopcarboxif {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ccc;
        height: 100%;
        font-size: 20rpx;
        width: 200rpx;
        .shopcar {
            position: relative;
            width: 38rpx;
            height: 36rpx;
            background: url(../../../static/images/cart.png) no-repeat;
            background-size: 38rpx 36rpx;
            margin-bottom: 3px;
            margin-top: 6px;
        }
        .shopshare {
            position: relative;
            width: 36rpx;
            height: 36rpx;
            background: url(../../../static/images/share.png) no-repeat;
            background-size: 36rpx 36rpx;
            margin-bottom: 3px;
            margin-top: 6px;
        }
    }
    .addshopcar {
        width: 275rpx;
        height: 100%;
        background: #423524;
        font-size: 28rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .mustgo {
        width: 337rpx;
        height: 100%;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fdd41a;
        font-size: 28rpx;
        flex: 1;
    }
    .redNum {
        position: absolute;
        height: 25rpx;
        width: 25rpx;
        top: -7rpx;
        right: -10rpx;
        color: #fff;
        font-size: 16rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #ff0000;
    }
    .shopGo {
        flex: 1;
        width: 337rpx;
        background: #ff8f00;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        span {
            font-size: 14px;
            letter-spacing: 0.5px;
        }
    }
    .sellOut {
        flex: 1;
        width: 337rpx;
        background: rgba(194,194,194,1);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        span {
            font-size: 14px;
            letter-spacing: 0.5px;
        }
    }
}
</style>
