<template>
<!--  v-if="!flags.isShow" -->
  <div style="width:100%;background:#f4f5f7;" :class="{'fixed-body': fixedBody}">
    <div v-if="shopDetailDto && !showPageModal">
      <div class="detailwarpper">
        <swiper class="categoryList" :autoplay="true" :circular="true" :indicator-dots="true" indicator-color="rgba(228,228,228,1)" indicator-active-color="#FECA49">
          <swiper-item class="swiper" v-for="(item,index) in shopDetailDto.skuImgUrl" :key="index" v-if="shopDetailDto.skuImgUrl && shopDetailDto.skuImgUrl.length !== 0">
            <img :src="item" class="category-image">
          </swiper-item>
          <swiper-item class="swiper" v-if="shopDetailDto.skuImgUrl && shopDetailDto.skuImgUrl.length === 0">
            <img :src="Contants.DEFAUTL_URL" class="category-image" style="">
          </swiper-item>
        </swiper>
        <view class="mainbox" style="position: relative">
          <view style='color:#EA3323;margin-top:32rpx;transform: translate(-8rpx,20rpx);'>
            <span style="font-size:42rpx;">￥</span>
            <span style="font-size:42rpx;font-weight: 400;">{{shopDetailDto.sellPrice}}</span>
            <span style="font-size:22rpx;font-family: 'Regular';text-decoration: line-through; margin-left: 10rpx;color: #ADADAD;">￥{{shopDetailDto.marketPrice}}</span>
          </view>
          <view class="textTitle" style='font-size:28rpx'>
            {{shopDetailDto.productName}}
          </view>
        </view>
      </div>
      <div class="textBottom">
        <!-- <view class="listType" style='height:100%;align-items:center;' @click='showCode'> -->
        <view class="listType" style='height:100%;align-items:center;'>          
          <span style='padding-right:15rpx;color:#898989;display: inline-block;width: 140rpx;'>
            规格型号
          </span>
          <p style='display:flex;flex:1;align-items:center; height:100%' class="textfile">
            <span style="flex:1;">
              <!-- <span style="color:#232323;">已选:"{{shopDetailDto.skuName ? shopDetailDto.skuName : '默认'}}"</span> -->
              <span style="color:#232323;">已选:"{{'默认'}}"</span>
              
            </span>
            <img src="/static/images/fenlei_nor.png" style='width:12rpx;display:flex;justify-content: flex-end;display:flex;justify-content:flex-end;height:28rpx;'/>
          </p>
        </view>
        <view class="listType" style='height:100%;align-items:center;'>
          <span style='padding-right:15rpx;color:#898989;display: inline-block;width: 140rpx;'>
            数量
          </span>
          <span class="shopNum" style="display:flex;">
            <span class='minus shopBtn' :class="{ numKong:num === 1}" @click='minus_clickHander' style=''>-</span>
            <span class="shoppingNum">{{num}}</span>
            <span class="plus shopBtn add" @click='plusFn_clickHander'>+</span>
          </span>
        </view>
        <view class="listType" style='height:100%;align-items:center;'>
          <span style='padding-right:15rpx;color:#898989;display: inline-block;width: 140rpx;'>
            服务
          </span>
          <span style="color: #232323;font-size: 24rpx;">正品保证 • 破损包退</span>
        </view>
      </div>
      <div class="textBottom">
        <view class="shopDian">
          <img class="vipImgfn" src="/static/images/gouwuche_icon1.png">
          <span class="shopTitle" v-if="shopInfo">{{shopInfo.storeName}}</span>
        </view>
        <view class="titleDetail">
          <span>商品详情</span>
        </view>
      </div>
      <view class="imgban" style="background-color: #fff; text-align: center;" v-if="shopDetailDto.productImgUrl && shopDetailDto.productImgUrl.length">
        <template v-if="shopDetailDto.productImgUrl && shopDetailDto.productImgUrl.length">
          <div class="imgban-image" v-for='(value, prodImgIndex) in shopDetailDto.productImgUrl' :key="prodImgIndex">
            <img :src="value"  mode='widthFix' style="width: 100%; height: 100%;">
          </div>
        </template>
        <template v-else>
          <img :src="Contants.DEFAULT_SHOP_DATAILS_URL" class="imgban-image" mode='widthFix'>
        </template>
      </view>
      <!-- 正常的底部 -->
      <div class="shopcarlist">
        <div class="bottomban">
          <view class="shopcarbox" @click='onShare'>
            <span class="shopshare"></span>
            <span style="margin-top:2px;">分享</span>
          </view>
          <view class="shopcarbox" @tap='gocar'>
            <span class="shopcar">
              <span class="redNum" v-if='shopCarNum > 0'>{{shopCarNum}}</span>
            </span>
            <span style="margin-top:2px;">购物车</span>
          </view>
          <div class="sellOut" v-if="!shopDetailDto.shelfFlag">
            <span>已下架</span>
          </div>
          <!-- <div class="sellOut" v-else-if="!shopDetailDto.stockFlag">
            <span>已售罄</span>
          </div> -->
          <div v-else class="shopdetailBtn">
            <div class="mustgo" @tap='showCode'>
              <span>加入购物车</span>
            </div>
            <div class="shopGo" @click="goBuy_clickHander">
              <span>立即购买</span>
            </div>
          </div>
        </div>
      </div>
      <projectileFrame ref='projectileFrame' :shopDetailDtos='shopDetailDtos' :shopDetailDto='shopDetailDto' @shopDetailDT='shopDetailDT' @shopCount="shopCount">
      </projectileFrame>
      <poster v-if='showPosterDetail' :pageData="pageDate" @showPoster="showPoster" />
    </div>

    <div class="go-home-btn" id="go-home-btn" @click="goHomeBtn_clickHander">
      <img src="/static/images/index_icon_home.png" alt="">
      <div>首页</div>
    </div>
    <DTotast ref="totast"/>
    <confirmKnowModal v-if="payConfig"></confirmKnowModal>
  </div>
</template>
<script>
/*
 * @Title: 正常的商品的详情页面
 * @Author: txy
 * @Date: 2018-11-12 19:06:46
 * @LastEditTime: 2018-11-15 11:14:49
 * @LastEditors: txy
 * @Description:
 */
import * as types from '@store/types.js'
import { mapGetters } from 'vuex'
import Utils from '@utils/utils'
import Tools from '@utils/tools'
import Contants from '@contants/index'
import detail from '@mixins/Detail'
import index from '@mixins/index'
import RouterPath from '@router/config'
import API from '@api/index'
import TalkingData from '../../utils/talkingData.js'

import poster from '@components/Common/Poster'
import projectileFrame from '@components/Order/ProjectileFrame'
import confirmKnowModal from '@components/UI/ConfirmKnowModal.vue'
import DTotast from '@components/UI/DTotast'

export default {
  data () {
    return {
      Contants,
      shopCarNum: 0,
      fixedBody: false, // 控制页面滚回顶部
      storeSkuId: 0, // 商品id
      shopDetailDtos: [], // 传入组件所有的sku信息
      shopDetailDto: {}, // 传入组件当前sku的信息
      showPosterDetail: false, // 海报
      pageDate: {
        type: 'A' // 传入分享生成海报页面中类型参数
      },
      flags: {
        isShow: true
      },
      showPageModal: true,
      storeIdCheck: false, // 检验是不是微信绑定用户
      payConfig: false // 检验是不是微信绑定用户
    }
  },
  mixins: [detail, index],
  computed: {
    ...mapGetters({
      shopInfo: 'shopInfo',
      userInfo: 'userInfo',
      login: 'login'
    })
  },
  watch: {
    showPosterDetail (newVal, oldVal) {
      if (newVal === true) {
        this.fixedBody = true
      } else {
        this.fixedBody = false
      }
    }
  },
  components: {
    projectileFrame,
    confirmKnowModal,
    poster,
    DTotast
  },
  methods: {
    showCode () {
      this.$refs.projectileFrame.showModal(this.shopDetailDto.id)
    },
    plusFn_clickHander () {
      let {limitCount} = this.shopDetailDto
      this.plus(limitCount)
    },
    gocar () {
      if (this.login) {
        wx.navigateTo({
          url: RouterPath.Carts
        })
      } else {
        wx.navigateTo({
          url: RouterPath.Auth.Login + '?fromPage=index'
        })
      }
    },
    // 购物车数量 -- 从组件中获取
    shopCount (count) {
      this.shopCarNum = count
    },
    showPoster (boole) {
      this.showPosterDetail = boole
    },
    onShare () {
      if (!this.login) {
        return wx.navigateTo({
          url: RouterPath.Auth.Login + '?fromPage=index&target=shareShop'
        })
      }
      const ctx = wx.createCanvasContext('mycanvas')
      if (!ctx.measureText) {
        Tools.toast('该版本暂不支持生成海报', 'loading', 800)
      } else {
        this.showPosterDetail = true
        this.pageDate.data = this.shopDetailDto
        TalkingData.onEvent('c_普通商品生成海报', 'c_普通商品生成海报', {id: this.storeSkuId, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      }
    },
    // 立即购买
    async goBuy_clickHander () {
      if (!this.login) {
        return wx.navigateTo({
          url: RouterPath.Auth.Login + '?fromPage=index'
        })
      }
      if (!this.shopDetailDto.shelfFlag) {
        return this.$refs.totast.showToast({title: '该商品已下架'})
      }
      let _storeSkuBuySet = [{
        id: this.shopDetailDto.id,
        buyCount: this.num
      }]
      let queryStore = {
        storeId: this.shopInfo.id,
        storeSkuBuySet: _storeSkuBuySet
      }
      // 用于判断正常商品是不是超出库存
      let _res = await API.shopDetail.postCheckStoreSkus(queryStore)
      if (_res.status === 200) {
        const queryDate = {}
        queryDate.productDetail = this.shopDetailDto
        queryDate.num = this.num
        this.$store.commit(types.SET_QUERY_DATA, queryDate)
        this.$store.commit(types.SET_CHECK_SHOP, _res.data)
        this.$router.push({ path: RouterPath.Order.OrderConfirm, query: { type: 1 } })
      } else {
        this.$refs.totast.showToast({title: '库存不足'})
      }
      if (!this.isNewUser) {
        TalkingData.onEvent('c_普通商品去下订单', 'c_普通商品去下订单', {id: this.storeSkuId, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      }
    },
    shopDetailDT (item) {
      this.getshopDetail(item.id)
    },
    // 获取购物车的信息
    getStoreCount () {
      if (this.login) {
        this.$store.dispatch(types.DO_GET_SHOPCAR_COUNT, { storeId: this.shopInfo.id }).then(data => {
          if (data) {
            this.shopCarNum = data.count
            this.$store.commit(types.DO_SET_SHOPCAR_COUNT, this.shopCarNum)
          }
        })
      }
    },
    // 获取商品详情的信息
    getshopDetail (id) {
      // this.flags.isShow = true
      wx.showLoading()
      console.log(id, 'id===id')
      this.$store.dispatch(types.DO_GET_SHOPDETAIL, { id: id }).then(res => {
        let productImgUrl
        let skuImgUrl
        if (res) {
          this.shopDetailDtos = res.dtos
          this.shopDetailDto = res
          productImgUrl = res.productImgUrl.map(k => {
            return Utils.compressImg(Contants.BASE_IMG_URL + k, 750)
          })
          skuImgUrl = res.skuImgUrl.map(k => {
            return Utils.compressImg(Contants.BASE_IMG_URL + k, 750)
          })
        }
        this.shopDetailDto.productImgUrl = productImgUrl
        this.shopDetailDto.skuImgUrl = skuImgUrl

        this.showPageModal = false
        wx.hideLoading()
        // this.flags.isShow = false
      })
    },
    // 微信分佣金
    getPayConfig () {
      API.Public.getPayConfig().then(res => {
        if (res.status === 200) {
          res.data.storeIds.map(i => {
            if (i === this.shopInfo.id) {
              this.storeIdCheck = true
            }
          })
          if ((!res.data.abTest || this.storeIdCheck)) {
            console.log('这是需要微信绑定')
            if (!this.shopInfo.bind) {
              console.log('这里需要微信弹出框的问题')
              this.payConfig = true
            }
          } else {
            console.log('不适用微信绑定')
          }
        }
      })
    }
  },
  onLoad (options) {
    this.storeSkuId = options.id
    console.log(options)
    console.log('执行 onload--1', this.shopInfo)
  },
  onHide () {
    this.num = 1
    this.shopDetailDto = {}
    this.showPosterDetail = false
    this.showPageModal = true
    this.payConfig = false
    this.storeIdCheck = false
  },
  onUnload () {
    this.num = 1
    this.shopDetailDto = {}
    this.showPosterDetail = false
    this.showPageModal = true
    this.payConfig = false
    this.storeIdCheck = false
  },
  onShow () {
    // Tools.showLoading('00加载中...')
    this.getshopDetail(this.storeSkuId)
    this.getStoreCount()
    console.log(this.shopInfo, 'this.shopInfo')
    this.getPayConfig()
    // Tools.hideLoading()
  },
  onShareAppMessage () {
    if (!this.isNewUser) {
      TalkingData.onEvent('c_普通商品分享页面', 'c_普通商品分享页面', {id: this.storeSkuId, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
    }

    const { skuImgUrl = [], productSkuName } = this.shopDetailDto
    const path = RouterPath.Auth.Start + '?sf=A&sId=' + this.shopInfo.id + '&id=' + this.storeSkuId
    const imageUrl = skuImgUrl[0] || Contants.DEFAUTL_URL
    return this.shareMessage_handler(productSkuName, path, imageUrl)
  }
}
</script>
<style lang="stylus" scoped>
@import '../../assets/mixin.styl';
.showPageModa{
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  background rgba(0,0,0, .5)
}
#go-home-btn{
  width:94rpx;
  height:94rpx;
  border-radius:50%;
  position:fixed;
  right:30rpx;
  top:600rpx;
  z-index:999;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background: #ff8f00;
  color: #fff;
  box-shadow:0px 5px 16px 5px rgba(213,213,213,0.41);
  >img{
    width 50rpx
    height 50rpx
  }
  >div{
    font-size: 24rpx
    position relative
    top -4rpx
  }
}

.fixed-body {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.mainbox {
  padding: 0 28rpx 20rpx 28rpx;
}

.categoryList {
  height: 750rpx;
  width: 100%;
}

.textTitle {
  position: relative;
  margin-top: 24rpx;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: rgba(51, 51, 51, 1);
}

.listType {
  display: flex;
  font-size: 28rpx;
  padding: 24rpx 28rpx 24rpx 28rpx;
  border-bottom: 1px solid #F1F2F6;
}

.shopTitle {
  font-size: 28rpx;
  color: #898989;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  padding-left: 10rpx;
}

.textBottom {
  background: #fff;
  margin-top: 12rpx;
}

.detailwarpper {
  background: #fff;
}

.vipImgfn {
  width: 40rpx;
  height: 36rpx;
  background-size: cover;
  float: left;
}

.vipImg {
  width: 46rpx;
  height: 28rpx;
  background-size: cover;
  margin-left: 8rpx;
}

.titleDetail {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 14px;

  span {
    position: relative;
    display: inline-block;
    color: #999999;
    font-size: 14px;

    &::before {
      content: '';
      position: absolute;
      color: #f00;
      top: 14px;
      left: -108px;
      width: 100px;
      height: 5px;
      background-image: url('../../../static/images/title-img-left.png');
      background-position: 0 0;
      background-size: 100px 5px;
      background-repeat: no-repeat;
      display: block;
    }

    &::after {
      content: '';
      position: absolute;
      right: -108px;
      top: 14px;
      width: 100px;
      height: 5px;
      background-image: url('../../../static/images/title-img-right.png');
      background-position: 0 0;
      background-size: 100px 5px;
      background-repeat: no-repeat;
      display: block;
    }
  }
}

.shopDian {
  padding: 30rpx 28rpx 30rpx 28rpx;
  border-bottom: 1rpx solid #F1F1F1;
  display: flex;
}

.swiper {
  width: 100%;
  height: 100%;
  text-align: center;
}
.category-image {
  width: 100% !important;
  height: 100% !important;
  background-size: cover;
}

.imgban {
  width: 100%;
  padding-bottom: 100rpx;
  display: flex;
  flex-direction: column;

  .imgban-image {
    width: 100%;
    font-size: 0 !important;
    // height :100%;
  }
}

.textfile {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.numKong {
  background: #FCFCFC !important;
}

.shoppingNum {
  width: 120rpx;
  font-size: 32rpx;
  text-align: center;
  background: #f4f5f7;
}

.shopBtn {
  width: 50rpx;
  height: 50rpx;
  margin-right: 2rpx;
  font-size: 32rpx;
  text-align: center;
  background: #F6F8FA;
}

.add {
  margin-left: 2rpx;
  margin-right: 20rpx;
}
</style>
<style lang="scss" scoped>
.shopcarlist {
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    height: 100rpx;
    left: 0;
    z-index: 999;
    box-shadow: -3px 0px 9px 0px rgba(63, 101, 157, 0.54);
}
.bottomban {
    display: flex;
    height: 100%;
    align-items: center;
    .shopcarbox {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ccc;
        height: 100%;
        font-size: 20rpx;
        width: 150rpx;
        .shopcar {
            position: relative;
            width: 38rpx;
            height: 36rpx;
            background: url(../../../static/images/cart.png) no-repeat;
            background-size: 38rpx 36rpx;
            margin-bottom: 3px;
            margin-top: 6px;
        }
        .shopshare {
            position: relative;
            width: 36rpx;
            height: 36rpx;
            background: url(../../../static/images/share.png) no-repeat;
            background-size: 36rpx 36rpx;
            margin-bottom: 3px;
            margin-top: 6px;
        }
    }
    .shopcarboxif {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ccc;
        height: 100%;
        font-size: 20rpx;
        width: 200rpx;
        .shopcar {
            position: relative;
            width: 38rpx;
            height: 36rpx;
            background: url(../../../static/images/cart.png) no-repeat;
            background-size: 38rpx 36rpx;
            margin-bottom: 3px;
            margin-top: 6px;
        }
        .shopshare {
            position: relative;
            width: 36rpx;
            height: 36rpx;
            background: url(../../../static/images/share.png) no-repeat;
            background-size: 36rpx 36rpx;
            margin-bottom: 3px;
            margin-top: 6px;
        }
    }
    .addshopcar {
        width: 275rpx;
        height: 100%;
        background: #423524;
        font-size: 28rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    .mustgo {
        width: 168rpx;
        height: 100%;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fdd41a;
        font-size: 28rpx;
        flex: 1;
    }
    .redNum {
        position: absolute;
        height: 25rpx;
        width: 25rpx;
        top: -7rpx;
        right: -10rpx;
        color: #fff;
        font-size: 16rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #ff0000;
    }
    .shopGo {
        flex: 1;
        width: 168rpx;
        background: #ff8f00;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        span {
            font-size: 14px;
            letter-spacing: 0.5px;
        }
    }
    .shopdetailBtn{
      display:flex;
      flex-wrap:nowrap;
      height:100%;
      flex:1;
    }
    .sellOut {
        flex: 1;
        width: 337rpx;
        background: rgba(194,194,194,1);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        span {
            font-size: 14px;
            letter-spacing: 0.5px;
        }
    }
}
</style>
