<template>
  <div class="pageBox" v-if="loadPage" :class="{'fixed-body': fixedBody}">
    <div class="headerBox">
      <div class="header" :class="{'searchGoods':!selectedClassifyId || selectedClassifyId === '85'}">
        <!-- 搜索框 -->
        <div class="search">
          <img class="icon" src="/static/images/search_icon.png" mode="widthFix">
          <div class="form" v-if="keyword">
            <div class="item">
              <text class="name">{{keyword}}</text>
              <div class="clear" @click="clearCondition"><img class="img" src="/static/images/search_clear_icon.png" mode="widthFix"></div>
            </div>
          </div>
          <input class="form input" placeholder="搜索商品的名称" v-if="!keyword" confirm-type="search" @confirm="confirmSearch" />
        </div>
        <div class="more" v-if="selectedClassifyId !== '85'" @click="showBrand(true)">
          <img class="icon" src="/static/images/search_filtrate_icon.png" mode="widthFix">
        </div>
      </div>
      <scroll-view class="classifyList" scroll-x v-if="selectedClassifyId !== '85'">
        <block v-for="(item, index) in classifyList" :key="index">
          <text class="item" @click="selectClassify(item)" :class="{'act':item.id==selectedzClassifyId}">{{item.categoryName}}</text>
        </block>
      </scroll-view>
    </div>

    <!-- 列表 -->
    <div class="list-box">
      <!-- 门店现货的商品列表 -->
      <block v-if="selectedClassifyId === '85'">
        <div class="goodsList" :class="selectedClassifyId !== '85' ? 'goodsList': 'nogoodlist'">
          <div v-for="(items, hotIndex) in hotBrandProduct" :key="hotIndex" v-if="hotBrandProduct && hotBrandProduct.length !== 0">
            <GoodsItem :item="items" @addCar="addCar"></GoodsItem>
          </div>
          <block v-for="(items, index) in goodsList" :key="index" v-if="goodsList.length">
            <GoodsItem :item="items" @addCar="addCar"></GoodsItem>
          </block>
          <NoData v-if="!goodsList.length && !hotBrandProduct.length" :text="text" :imgSrc="'/static/images/no_order.jpg'">
          </NoData>
          <div v-if="(goodsList.length !=0 && goodsList.length<20) || (hotBrandProduct.length != 0) ||showPageBootom" class="page-bottom-noline">已经到底了～</div>
        </div>
      </block>
      <!-- 非门店现货商品列表 -->
      <block v-for="(classItem,classIndex) in classifyList" :key="classIndex" v-if="classifyList.length && selectedClassifyId !== '85'">
        <div class="goodsList" v-if="classItem.id == selectedzClassifyId">
          <div v-for="(items, hotIndex) in hotBrandProduct" :key="hotIndex" v-if="hotBrandProduct && hotBrandProduct.length !== 0">
            <GoodsItem :item="items" @addCar="addCar"></GoodsItem>
          </div>
          <block v-for="(items, index) in goodsList" :key="index" v-if="goodsList.length">
            <GoodsItem :item="items" @addCar="addCar"></GoodsItem>
          </block>
          <NoData v-if="!goodsList.length  && !hotBrandProduct.length" :text="text" :imgSrc="'/static/images/no_order.jpg'">
          </NoData>
          <div v-if="(goodsList.length !=0 && goodsList.length<20) || (hotBrandProduct.length != 0) || showPageBootom" class="page-bottom-noline">已经到底了～</div>
        </div>
      </block>
    </div>
    <!-- 列表 -->

    <!-- 品牌框 -->
    <div class="brand-box">
      <div class="mask" v-if="isEdit" @click="closeMark">
      </div>
      <div class="filtrateBox" :animation="animationData">
        <div class="content">
          <div class="title">品牌</div>
          <div class="brandList">
            <block v-for="(item, index) in brandList" :key="index">
              <div class="item" :class="{'act': selectedBrandIdObj[item.brandId] }" @click="selectBrand(item.brandId)">{{item.brandName}}</div>
            </block>
          </div>
        </div>
        <div class="btn">
          <div class="item reset" @click="confirmEdit(false)">重置</div>
          <div class="item confirm" @click="confirmEdit(true)">确定</div>
        </div>
      </div>
    </div>
    <!-- 品牌框 -->

  </div>
</template>
<script>
/*
 * @Title: 商品列表
 * @Author: 张怡瑾
 * @Date: 2018-11-12 19:06:46
 * @LastEditTime: 2018-11-15 11:14:49
 * @LastEditors: 张怡瑾
 * @Description: 商品列表
 */
import API from '@api'
import Utils from '@utils/utils'
import mixins from '@mixins/Goods/list'

import NoData from '@components/NoData'
import GoodsItem from '@components/Goods/GoodsItem'
export default {
  data () {
    return {
      brandList: [],
      classifyList: [],
      selectedBrandId: [], // 品牌
      selectedBrandIdObj: {}, // 所选品牌
      selectedClassifyId: '', // 一级分类
      selectedzClassifyId: '', // 二级分类
      isEdit: false,
      hotBrandProduct: [],
      animationData: {},
      isStoreSale: false,
      isEightFive: false,
      fixedBody: false // 控制页面滚回顶部
    }
  },
  mixins: [mixins],
  components: {
    NoData,
    GoodsItem
  },
  methods: {
    // 对品牌弹框做操作
    confirmEdit (confirm) {
      console.log(confirm, '...type')
      confirm || (this.selectedBrandIdObj = {})
      this.showBrand(false)
      this.getPageData()
    },
    closeMark () {
      this.showBrand(false)
    },
    showBrand (type) {
      this.isEdit = type
      let animationData = wx.createAnimation({
        duration: 600,
        timingFunction: 'ease'
      })
      animationData.translateX(type ? '-100%' : 0).step()
      this.animationData = animationData.export()
    },
    selectBrand (id) {
      console.log(this.selectedBrandIdObj, 'this.selectedBrandIdObj')
      this.$set(this.selectedBrandIdObj, id, !this.selectedBrandIdObj[id])
    },
    // 点击分类搜索数据
    selectClassify ({id, categoryName}) {
      this.selectedzClassifyId = id
      this.hotBrandProduct = [] // 清空热销品牌数据
      this.pageIndex = 0
      // 每次选泽分类 使滚动调回到顶部
      wx.pageScrollTo({
        scrollTop: 0,
        duration: 300
      })
      //  只有不存在关键字 和 在分类是全部的情况下 展示热销
      if (!this.keyword && Object.is(categoryName, '全部')) {
        this.getHotBrandProductList()
      }
      this.getPageData()
    },
    // 热门品牌商品
    getHotBrandProductList () {
      wx.showLoading({
        title: '加载中...',
        mask: true
      })
      let hotObj = {
        categoryId: this.selectedClassifyId,
        storeId: this.storeId
      }
      API.Classify.getHotBrandProducts(hotObj).then(response => {
        wx.hideLoading()
        let data = Utils.resolveData(response.data, [{ path: 'skuImg', width: 200 }])
        console.log(data)
        this.hotBrandProduct = data
      })
    },
    // 正常的商品
    getGoodsList (type) {
      wx.showLoading({
        title: '加载中...',
        mask: true
      })
      let obj = {
        storeId: this.storeId,
        categoryId: this.selectedClassifyId,
        subCategoryId: this.selectedzClassifyId,
        page: this.pageIndex + (type ? 1 : 0),
        size: 20,
        sort: 'storeId,DESC',
        platformFlag: false,
        brandIds: []
      }
      this.keyword && (obj['keyword'] = this.keyword)
      if (!obj.subCategoryId) {
        delete obj.subCategoryId
      }
      // 门店列表不要categoryId === 85 门店列表要不要查询云仓
      if (obj.categoryId === '85') {
        // obj.sort = 'id,DESC'
        delete obj.subCategoryId
        delete obj.categoryId
      }
      for (let key in this.selectedBrandIdObj) {
        if (this.selectedBrandIdObj[key]) {
          obj['brandIds'].push(key)
        }
      }
      // 接口传值
      if (obj.brandIds && obj.brandIds.length > 0) {
        obj.brandIds = obj.brandIds.join(',')
      }
      // 正常商品获取数据
      this.searchGoodsReq(obj, type)
    },
    /**
     * @description 通过一级分类的categoryId获得二级分类以及品牌的接口
     */
    getSecendLevel (categoryId) {
      API.Classify.getSecendLevel({categoryId}).then(res => {
        if (res.status === 200) {
          let data = res.data
          data['dtos'] = Utils.resolveData(data['dtos'], [{ path: 'imgUrl', width: 170 }])
          data['brandDTOS'] = Utils.resolveData(data['brandDTOS'], [{ path: 'imgUrl', width: 170 }])
          this.brandList = data['brandDTOS']
          this.classifyList = [{ categoryName: '全部', id: '' }, ...data['dtos']]
        }
      })
    },
    clearCondition () {
      this.keyword = ''
      this.selectedClassifyId && this.getPageData()
      if (!this.selectedzClassifyId) {
        this.getHotBrandProductList()
      }
    },
    initData () {
      this.brandList = []
      this.classifyList = []
      this.selectedBrandIdObj = {} // 所选品牌
      this.selectedClassifyId = '' // 一级分类
      this.selectedzClassifyId = '' // 二级分类
      this.isEdit = false
      this.pageIndex = 0
      this.loadPage = false
      this.hotBrandProduct = []
    },
    confirmSearch (e) {
      console.log(e)
      const val = e.target.value.trim()
      if (val) {
        this.keyword = val
        this.hotBrandProduct = []
        this.getPageData()
      }
    }
  },
  onLoad (opt) {
    this.initData()
    const { brandId, categoryId, zCategoryId, condition = '', type } = opt
    console.log(opt, 'opt')
    if (brandId) {
      this.selectBrand(brandId)
    }
    if (categoryId !== '85') {
      this.getSecendLevel(categoryId)
    }
    if (zCategoryId) {
      this.selectedzClassifyId = String(zCategoryId)
    }
    this.selectedClassifyId = String(categoryId)

    this.keyword = condition
    console.log(this.selectedClassifyId, 'this.selectedClassifyId')
    type === 'more' && this.getHotBrandProductList()
    this.getPageData()
  },
  // 触底时继续请求数据
  onReachBottom () {
    console.log('继续加载')
    this.loadMoreGoods()
  },
  onHide () {
  },
  onUnload () {
  },
  onShow () {},
  watch: {
    isEdit (newVal, oldVal) {
      if (newVal === true) {
        this.fixedBody = true
      } else {
        this.fixedBody = false
      }
    }
  }
}
</script>
<style lang="stylus" scoped>
.fixed-body {
  width: 100%;
}

.pageBox {
  width: 100%;
  height: 100%;
  background: #f5f5f4
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.filtrateBox {
  position: fixed;
  width: 85%;
  top: 0;
  right: -86%;
  bottom: 0;
  background-color: #fff;
  z-index: 101;

  .content {
    padding: 40rpx 40rpx 100rpx 40rpx;

    .title {
      font-weight: bold;
      font-size: 28rpx;
    }

    .brandList {
      overflow: hidden;

      .item {
        text-align: center;
        float: left;
        width: 125rpx;
        margin: 20rpx 10rpx 0 10rpx;
        background-color: #f1f1f1;
        border-radius: 40rpx;
        font-size: 26rpx;
        line-height: 70rpx;
        height: 70rpx;
        color: #333;
        display: -webkit-box;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 20rpx;
      }

      .item.act {
        background: linear-gradient(135deg, rgba(255, 45, 57, 1), rgba(255, 134, 102, 1));
        color: #fff;
      }
    }
  }

  .btn {
    position: absolute;
    width: 100%;
    display: flex;
    left: 0;
    bottom: 0;
    height: 100rpx;
    border-top: 1px solid #f3f3f3;
    box-shadow: 10rpx -5rpx 20rpx #efefef;

    .item {
      flex-grow: 1;
      text-align: center;
      line-height: 100rpx;
      font-size: 30rpx;
    }

    .reset {
    }

    .confirm {
      background-color: #fdd41a;
      color: #fff;
    }
  }
}

page {
  background-color: #f5f5f4;
}

.goodsList.searchGoods {
  top: 90rpx;

}
.nogoodlist{
  padding-top: 90rpx !important;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #f5f5f4;
  border-top: 10rpx solid #f5f5f4;
}
.goodsList {
  padding-top: 170rpx;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #f5f5f4;
  border-top: 10rpx solid #f5f5f4;
}

.classifyList {
  width: 100%;
  height: 80rpx;
  background: #fff;
  white-space: nowrap;

  .item {
    display: inline-block;
    padding: 0 20rpx;
    height: 80rpx;
    line-height: 80rpx;
    font-size: 26rpx;
  }

  .item:first-child {
    margin-left: 20rpx;
  }

  .act {
    color: #ff7e00;
    position: relative;
  }

  .act:before {
    content: '';
    position: absolute;
    width: 90%;
    left: 5%;
    height: 4px;
    bottom: 0;
    background-color: #ff7e00;
  }
}

.header.searchGoods {
  padding: 15rpx 20rpx 15rpx 20rpx;
}
.headerBox {
  position:fixed;
  top:0;
  width:100%;
  z-index: 2;
}
.header {
  background-color: #fff;
  position: relative;
  padding: 15rpx 120rpx 15rpx 20rpx;

  .search {
    background-color: #f1f1f1;
    border-radius: 40rpx;
    position: relative;
    height: 62rpx;

    .icon {
      width: 40rpx;
      height: 40rpx;
      margin-left: 14rpx;
      margin-top: 12rpx;
    }

    .form.input {
      height: 62rpx;
      line-height: 62rpx;
    }

    .form {
      height: 100%;
      position: absolute;
      left: 70rpx;
      top: 0;
      right: 20rpx;
      font-size: 28rpx;

      .item {
        background-color: #999;
        color: #fff;
        font-size: 22rpx;
        border-radius: 20rpx;
        position: relative;
        padding: 0 60rpx 0 20rpx;
        display: inline-block;
        margin-top: 15rpx;

        .clear {
          position: absolute;
          top: 0;
          right: 0;
          width: 40rpx;

          .img {
            width: 20rpx;
            height: 20rpx;
          }
        }
      }
    }
  }

  .more {
    width: 110rpx;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    .icon {
      width: 45rpx;
      height: 45rpx;
      margin: 20rpx 0 0 20rpx;
    }
  }
}
</style>
