<template>
  <div class="pageBox" v-if="loadPage">
    <div class="headerBox">
      <div class="header" :class="{'searchGoods':!selectedClassifyId}">
        <!-- 搜索框 -->
        <div class="search">
          <img class="icon" src="/static/images/search_icon.png" mode="widthFix">
          <div class="form" v-if="keyword">
            <div class="item">
              <text class="name">{{keyword}}</text>
              <div class="clear" @click="clearCondition"><img class="img" src="/static/images/search_clear_icon.png" mode="widthFix"></div>
            </div>
          </div>
          <input class="form input" placeholder="搜索商品的名称" v-if="!keyword" confirm-type="search" @confirm="confirmSearch" />
        </div>
      </div>
    </div>
    <div>
      <!-- 搜索列表 start -->
      <block>
        <div class="goodsList" :class="{'searchGoods':!selectedClassifyId}" >
          <!-- 正常的商品展示 -->
          <block v-for="(items, index) in goodsList" :key="index" v-if="goodsList && goodsList.length">
            <GoodsItem  :item="items" @addCar="addCar"></GoodsItem>
          </block>
          <NoData v-if="!goodsList.length" :text="text" :imgSrc="'/static/images/no_order.jpg'">
          </NoData>
          <div v-if="(goodsList.length && goodsList.length<20)||showPageBootom" class="page-bottom-noline">已经到底了～</div>
        </div>        
      </block>
       <!-- 搜索列表 end -->
    </div>

  </div>
</template>
<script>
/*
 * @Title: 商品搜索列表
 * @Author: 张怡瑾
 * @Date: 2018-11-12 19:06:46
 * @LastEditTime: 2018-11-15 11:14:49
 * @LastEditors: 张怡瑾
 * @Description: 商品搜索列表
 */

import mixins from '@mixins/Goods/list'
import NoData from '@components/NoData'
import GoodsItem from '@components/Goods/GoodsItem'
export default {
  data () {
    return {
      // 初始数据放在mixins文件
    }
  },
  mixins: [mixins],
  components: {
    NoData,
    GoodsItem
  },
  methods: {
    // 正常的商品
    getGoodsList (type) { // type 布尔值 true为分页加载 false为第一次加载
      wx.showLoading({
        title: '加载中...',
        mask: true
      })
      let obj = {
        storeId: this.storeId,
        page: this.pageIndex + (type ? 1 : 0),
        size: 20,
        sort: 'storeId,DESC',
        platformFlag: false
      }
      this.keyword && (obj['keyword'] = this.keyword)
      console.log(obj)
      // 正常商品获取数据
      this.searchGoodsReq(obj, type)
    },
    clearCondition () {
      this.keyword = ''
    },
    confirmSearch (e) {
      const val = e.target.value.trim()
      if (val) {
        this.keyword = val
        this.getPageData()
      }
    },
    initData () {
      this.goodsList = []
      this.loadPage = false
      this.pageIndex = 0
      this.isloadMoreGoods = false
      this.showPageBootom = false
    }
  },
  // 触底时继续请求数据
  onReachBottom () {
    console.log('继续加载')
    this.loadMoreGoods()
  },
  onLoad (opt) {
    this.initData()
    const { condition = '' } = opt
    this.keyword = condition
    this.getPageData()
  },
  onHide () {},
  onUnload () {
  },
  onShow () {}
}
</script>
<style lang="stylus" scoped>
.pageBox {
  width: 100%;
  height: 100%;
  background: #f5f5f4
}

page {
  background-color: #f5f5f4;
}

.goodsList.searchGoods {
  top: 90rpx;

}
.nogoodlist{
  position: absolute;
  top: 100rpx !important;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #f5f5f4;
  border-top: 10rpx solid #f5f5f4;
}
.goodsList {
  padding-top: 90rpx;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #f5f5f4;
  border-top: 10rpx solid #f5f5f4;
}

.header.searchGoods {
  padding: 15rpx 20rpx 15rpx 20rpx;
}
.headerBox {
  position:fixed;
  top:0;
  width:100%;
  z-index: 2;
}
.header {
  background-color: #fff;
  position: relative;
  padding: 15rpx 120rpx 15rpx 20rpx;

  .search {
    background-color: #f1f1f1;
    border-radius: 40rpx;
    position: relative;
    height: 62rpx;

    .icon {
      width: 40rpx;
      height: 40rpx;
      margin-left: 14rpx;
      margin-top: 12rpx;
    }

    .form.input {
      height: 62rpx;
      line-height: 62rpx;
    }

    .form {
      height: 100%;
      position: absolute;
      left: 70rpx;
      top: 0;
      right: 20rpx;
      font-size: 28rpx;

      .item {
        background-color: #999;
        color: #fff;
        font-size: 22rpx;
        border-radius: 20rpx;
        position: relative;
        padding: 0 60rpx 0 20rpx;
        display: inline-block;
        margin-top: 15rpx;

        .clear {
          position: absolute;
          top: 0;
          right: 0;
          width: 40rpx;

          .img {
            width: 20rpx;
            height: 20rpx;
          }
        }
      }
    }
  }
}
</style>
