<template>
  <div class="body" :class="{'fixed-body': fixedBody}">
  	<poster v-if='showposter' @showPoster='showPoster' :pageData='{type:"D"}' />
    <div class="content">
    	<div v-show="nowSelectPage=='index'">
        <index  :nowSelectPage='nowSelectPage' @changeTab="changePage" @showPoster='showPoster' @changeCount='changeCount'/>
    	</div>
    	<div v-show="nowSelectPage=='classify'">
    	  <classify :nowSelectPage='nowSelectPage' />
    	</div>
    	<div v-if="nowSelectPage=='my'">
    	  <my  :nowSelectPage='nowSelectPage'/>
    	</div>
    </div>
    <div class="tabBar">
    	<div class="btn left" @click.stop="changePage('index')">
    		<img :src="'/static/images/index_'+(nowSelectPage=='index'?'selected_':'')+'icon.png'" mode="widthFix" class="icon">
    		<div class="title">首页</div>
    	</div>
    	<!-- <div class="btn left" @click.stop="changePage('classify')">
    		<img :src="'/static/images/goodsList_'+(nowSelectPage=='classify'?'selected_':'')+'icon.png'" mode="widthFix" class="icon">
    		<div class="title">分类</div>
    	</div> -->
    	<!-- <div class="btn richscan" @click.stop="richscan">
    		<img src="/static/images/richscan_icon.png" mode="widthFix" class="img">
    	</div> -->
    	<div class="btn right" @click.stop="changePage('my')">
    		<img :src="'/static/images/my_'+(nowSelectPage=='my'?'selected_':'')+'icon.png'" mode="widthFix" class="icon">
    		<div class="title">我的</div>
    	</div>
    	<div class="btn right" @click.stop="goCarts">
    		<img src="/static/images/carts_icon.png" id="getNumXY" mode="widthFix" class="icon">
    		<div class="title">购物车</div>
    		<div v-if="shopCarCount > 0" class="num">{{shopCarCount}}</div>
    	</div>
    </div>
    <confirmKnowModal v-if="payConfig"></confirmKnowModal>
  </div>
</template>
<script>
import * as types from '@store/types.js'
import API from '@api/index'
import { mapGetters } from 'vuex'
import RouterPath from '@router/config'
import mixins from '@mixins/index'
import TalkingData from '../../utils/talkingData.js'

import index from '@components/Home/home/index'
import classify from '@components/Home/classify/index'
import my from '@components/Home/my/index'
import poster from '@components/Common/Poster'
import confirmKnowModal from '@components/UI/ConfirmKnowModal.vue'

export default {
  data () {
    return {
      nowSelectPage: '',
      shopCarCount: 0,
      showposter: false,
      fixedBody: false,
      storeIdCheck: false, // 微信分佣的账户
      payConfig: false // 分佣弹框
    }
  },
  mixins: [mixins],
  computed: {
    ...mapGetters({
      shopInfo: 'shopInfo',
      userInfo: 'userInfo',
      login: 'login',
      cartPointPosition: 'cartPointPosition'
    })
  },
  components: {
    index,
    classify,
    my,
    poster,
    confirmKnowModal
  },
  watch: {
    showposter (newVal, oldVal) {
      if (newVal === true) {
        this.fixedBody = true
      } else {
        this.fixedBody = false
      }
    }
  },
  methods: {
    getDomXY (e) {
      console.log(e)
    },
    showPoster (type) {
      this.showposter = type
    },
    notLoginToast (title) {
      wx.showToast({
        title: title,
        icon: 'none',
        duration: 1000
      })
    },
    goCarts () {
      console.log(this.login)
      if (this.login) {
        wx.navigateTo({
          url: RouterPath.Carts
        })
        TalkingData.onEvent('c_购物车', 'c_购物车', {storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      } else {
        wx.navigateTo({
          url: RouterPath.Auth.Login + '?fromPage=index'
        })
      }
    },
    changePage (e) {
      this.setNavigationBarTitle(e)
      this.nowSelectPage = e
      if (e === 'index' && !this.isNewUser) {
        console.log('--非新用户走的系统')
        TalkingData.onEvent('c_首页', 'c_首页', {storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      } else if (e === 'my' && !this.isNewUser) {
        TalkingData.onEvent('c_我的', 'c_我的', {storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      } else {
        TalkingData.onEvent('c_新用户', 'c_新用户', {})
      }
      // this.page[e] = true
    },
    setNavigationBarTitle (e) {
      const shopName = (this.shopInfo ? this.shopInfo.storeName : '店佳母婴')
      const title = e === 'index' ? shopName : e === 'classify' ? '分类' : '个人中心'
      const backgroundColor = e === 'classify' ? '#ffffff' : '#fdd317'
      if (wx.setNavigationBarTitle) {
        wx.setNavigationBarTitle({ title: title })
      }

      if (wx.setNavigationBarColor) {
        wx.setNavigationBarColor({
          frontColor: '#000000',
          backgroundColor: backgroundColor
        })
      }

      if (e === 'index') {
        if (wx.showShareMenu) {
          wx.showShareMenu()
        }
      } else {
        wx.hideShareMenu()
      }
    },
    changeCount (count) {
      this.shopCarCount = count
    },
    // 用于判断是不是微信分佣用户
    getPayConfig () {
      API.Public.getPayConfig().then(res => {
        if (res.status === 200) {
          res.data.storeIds.map(i => {
            if (i === this.shopInfo.id) {
              this.storeIdCheck = true
            }
          })
          if ((!res.data.abTest || this.storeIdCheck)) {
            console.log('这是需要微信绑定')
            API.Public.getShopInfo({storeId: this.shopInfo.id}).then(data => {
              if (data.status === 200) {
                console.log(data.data)
                if (data.data.bind) {
                  this.payConfig = false
                } else {
                  this.payConfig = true
                }
              }
            })
          } else {
            console.log('不适用微信绑定')
          }
        }
      })
    }

  },
  onLoad (opt) { // 判断首次进去是什么页面
    let page = 'index'
    if (opt.openPage) {
      page = opt.openPage
    }
    this.changePage(page)
    // console.log('main load')
  },
  onHide () {
    // console.log('main hide')
    this.payConfig = false
    this.storeIdCheck = false
  },
  onUnload () {
    this.payConfig = false
    this.storeIdCheck = false
  },
  onShow () {
    // console.log('main show')
    wx.showLoading()
    if (this.login) {
      this.$store.dispatch(types.DO_GET_SHOPCAR_COUNT, {storeId: this.$store.getters.storeId}).then((data) => {
        this.shopCarCount = data.count
      })
    }
    // 用于判断微信绑定
    this.getPayConfig()
    wx.hideLoading()
  },
  mounted () {
    let _this = this
    if (wx.createSelectorQuery) {
      wx.createSelectorQuery().select('#getNumXY').boundingClientRect(function (rect) {
        var position = {
          x: rect.left + rect.width,
          y: rect.top
        }
        _this.$store.commit(types.CART_POINT_POSITION, position)
      }).exec()
    }
  },
  onShareAppMessage () {
    if (!this.isNewUser) {
      TalkingData.onEvent('c_首页分享', 'c_首页分享', {storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
    }
    const name = this.shopInfo.storeName + '，您的24小时母婴便利店'
    const storeId = this.shopInfo.id
    return {
      title: name,
      path: RouterPath.Auth.Start + '?sf=D&sId=' + storeId
    }
  }
}
</script>
<style lang="stylus" scoped>
  // .body{background-color:#f5f8fa;position:fixed;top:0;left:0;width:100%;height:100%;}
  // .content{position:fixed;top:0;left:0;bottom:105rpx;width:100%;overflow:hidden;}
  .fixed-body{
    overflow-y: hidden;
    position: fixed;
    width: 100%;
    height 100%
    top: 0;
    left: 0
  }
  .content>div{width: 100%;height: 100%;margin-bottom:105rpx;}
  .tabBar{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    border-top: 1px solid #f5f5f4;
    height: 105rpx;
    .btn{
      width: 33.3%;
      text-align: center;
      position: relative;
      height: 100%;
      .title{
        font-size: 24rpx;
        line-height: 30rpx;
      }
      .icon{
        width: 55rpx;
        height: 55rpx;
        vertical-align: top;
        margin-top: 10rpx;
      }
      .num{font-size: 20rpx;position: absolute;top: 8rpx;right: 58rpx;background-color: #ff4400;color: #fff;text-align: center;width: 38rpx;height: 38rpx;line-height:40rpx;border-radius:50%;}
    }
    .left{float: left;}
    .right{float: right;}
    .richscan{
    	position: absolute;
    	background-color: #fdd317;
    	border-radius: 100%;
    	width: 110rpx;
    	height: 110rpx;
    	top: -20rpx;
    	left: 50%;
    	margin-left: -56rpx;
    	border: 6rpx solid #fff;
    	.img{
    		width: 60rpx;
    		height: 60rpx;
    		margin-top: 25rpx;
    	}
    }
  }
</style>
