<template>
  <div id="coupon">
    <div :class="{ 'bg-color': dataList.length}">
      <header class="header-tab">
        <div class :class="{ active: tab.index == activeIndex  }" @click="tab_click_handle(tab)" v-for="(tab, index) in tabs" :key="index">
          <span>{{tab.name}}</span>
        </div>
      </header>
      <div class="content" v-show="showPage">
        <div v-for="(item, index) in dataList" :key="index" v-if="activeIndex === 0">
          <coupon :item='item' :type="'coupon'"></coupon>
        </div>
        <div v-for="(item, index) in dataList" :key="index" v-if="activeIndex === 1">
          <coupon :item='item' :type="'overCoupon'"></coupon>
        </div>
        <div v-if="!dataList.length">
          <div v-if="true" class="empty-list">
            <img :src="NO_CONTENT" alt>
            <div>还没有可用的优惠券~</div>
            <div @click="noData_click_handle" class="btn_click_handle">
              <div class="btn-box">
                <span>给商家发通知</span>
                <img src="/static/images/go-groupBuy-btn.png" alt>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// import RouterPath from '@router/config'

import { mapGetters } from 'vuex'
import API from '@api'
import Contants from '@contants/index'
import { NO_CONTENT } from '@contants/groupBuy'
import coupon from '@components/Coupon/coupon'

export default {
  data () {
    return {
      NO_CONTENT,
      Contants,
      tabs: [{ name: '未使用', index: 0 }, { name: '已过期', index: 1 }],
      activeIndex: 0,
      dataList: [],
      params: { page: 0, size: 10 },
      loadPage: true,
      showPageBootom: false,
      showPage: false
    }
  },
  computed: {
    ...mapGetters(['storeId'])
  },
  components: {
    coupon
  },
  onLoad (options) {
    this.activeIndex = 0
  },
  onShow () {
    this.loadDataList()
  },
  methods: {
    noData_click_handle () {
    },
    // 切换tab事件
    tab_click_handle (tab) {
      this.showPage = false
      this.activeIndex = tab.index
      // this.dataList = []
      this.params.page = 0
      this.showPageBootom = false
      // 获取某一状态下的数据
      this.loadPage && this.loadDataList()
    },
    loadDataList () {
      this.loadPage = false
      wx.showLoading({ title: '加载中...', mask: true })
      this.params.storeId = this.storeId || '1953'
      this.getCouponList()
    },
    // 根据tab获取拼团数据
    async getCouponList () {
      switch (this.activeIndex) {
        case 0:
          this.params.status = 'VALID' // 未使用
          break
        case 1:
          this.params.status = 'USED' // 已使用
          break
      }
      let params = { ...this.params }
      let _res = await API.Coupon.getActCustomerCoupon(params).catch(() => { this.apiComplete() })
      if (_res.status === 200 && _res.data) {
        let data = _res.data
        data.map(item => {
          item.expireTime && (item.expireTime = this.$Utils.formatTime(item.createTime, '{y}-{m}-{d} {h}:{i}:{s}'))
        })
        if (data.length) {
          this.params.page++
        } else {
          this.showPageBootom = true
        }
      }
      this.loadPage = true
      this.showPage = true
      wx.hideLoading()
    },
    clearData () {
      this.dataList = []
      this.params = { page: 0, size: 10 }
      this.loadPage = true
      this.showPageBootom = false
      this.showPage = false
    }
  },
  onHide () {
    this.clearData()
  },
  onUnload () {
    this.clearData()
  },
  // 触底时继续请求数据
  onReachBottom () {
    !this.showPageBootom && this.loadDataList()
  }
}
</script>
<style lang="stylus" scoped>
#coupon {
  .bg-color {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #F5F8FA;
  }

  .header-tab {
    display: flex;
    justify-content: center;
    border-bottom: 10rpx solid #F5F8FA;
    padding-bottom: 10rpx;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: #fff;

    >div {
      flex: 1;
      justify-content: center;
      display: flex;

      &.active {
        span {
          border-bottom-color: #FF8F00;
          color: rgba(255, 143, 0, 1);
        }
      }

      >span {
        padding: 30rpx 0;
        font-size: 28rpx;
        font-family: PingFang-SC-Bold;
        font-weight: bold;
        border-bottom: 7rpx solid transparent;
      }
    }
  }

  .content {
    padding-top: 130rpx;
    .empty-list {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 86rpx;

      >img {
        width: 305rpx;
        height: 324rpx;
      }

      >div {
        font-size: 30rpx;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(201, 201, 201, 1);
        margin-top: 48rpx;
      }
    }
    .btn-box {
      position: relative;
      margin-top: 86rpx !important;

      >span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 32rpx;
        font-family: PingFang-SC-Bold;
        font-weight: bold;
        color: rgba(255, 255, 255, 1);

        &:nth-child(2) {
        }
      }

      >img {
        width: 701rpx;
        height: 90rpx;
        vertical-align: middle;
      }
    }
  }
}
.weui-dialog{
  background-color: #f5f5f5 !important; 
}
</style>
