<template>
  <div class="car">
    <div v-if="!showGif" >
      <div class="save-success-toast" v-if="saveSuccess">购物车不能再减啦</div>
      <div v-if="shopChartData.length !== 0" style="width: 100%; height: 15rpx;background: #F5F8FA"></div>
      <StorItem
        v-if="shopChartData.length !== 0"
        :shopChartData="shopChartData"
        :disCheck="disCheck"
        @minus="minus"
        @plus="plus"
        @selectItem="selectItem"
        @deleteItem="deleteItem">
      </StorItem>
      <div class="v-h" v-if="carInfo && carInfo.length !== 0"></div>
      <div class="price-footer flex-box space-between" v-if="shopChartData.length !== 0">
        <div class="foot-left flex-box space-between flex-1">
          <span @click="allSelect">
            <image class="all-check-img" v-if="!allSelected" src="/static/images/dw_weixuan.png"/>
            <image class="all-check-img" v-if="allSelected" src="/static/images/dw_xuanzhong.png"/>
            <span>全选</span>
          </span>
          <span class="all-price flex-box flex-center">
            <div class="flex-box direction-column flex-center" style="line-height: 1;margin-left: 10rpx;">
              <span>
                <span class="l-g" style="color: #000;">
                  金额总计：
                </span>
                <span class="main-color l-g">￥</span>
                <span class="main-color l-g">{{allMoney}}</span>
              </span>
              <span class="l-p">
                <span class="low-color">数量合计：</span>
                <span class="low-color l-g-s">{{shopCartNum.count}}</span>
              </span>
            </div>
          </span>
        </div>
        <a class="pay-btn" :class="{'disabled': amount === 0 || vipAmount === 0}" @click="gotoOrderDetail">去结算</a>
      </div>
      <NoData
        v-if="shopChartData.length === 0"
        :text="text"
        :imgSrc="'/static/images/img_kong.png'"
        @goHome="goHome" :type="'car'">
      </NoData>
      <div id="dialog1" v-show="showDeleteDialog">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
          <div class="weui-dialog__bd">是否确认删除此商品？</div>
          <div class="weui-dialog__ft">
              <a class="weui-dialog__btn weui-dialog__btn_default" @click="cancelDelete">取消</a>
              <a class="weui-dialog__btn weui-dialog__btn_danger" @click="confirmDelete(carindex)">确定</a>
          </div>
        </div>
      </div>
      <!-- 热销商品 -->
      <!-- <div v-if="shopChartData.length !== 0" style="width: 100%; height: 15rpx;background: #F5F8FA"></div> -->
    </div>
    <div v-show="showGif">
      <loading-gif></loading-gif>
    </div>
  </div>
</template>
<script>
/*
 * @Title: 购物车页面
 * @Author: txy
 * @Date: 2018-11-12 19:06:46
 * @LastEditTime: 2018-11-15 11:14:49
 * @LastEditors: txy
 * @Description:
 */
import * as types from '@store/types'
import RouterPath from '@router/config'
import Utils from '@utils/utils'

import StorItem from '@components/StorItem'
import NoData from '@components/NoData'
import LoadingGif from '@components/UI/LoadingGif'
export default {
  data () {
    return {
      shopChartData: [],
      allSelected: false,
      showDeleteDialog: false,
      selectedProduct: {},
      selectCrount: [], // 选中购物车数量
      shopCartNum: {}, // 购物车的数量
      ids: [],
      allMoney: 0,
      carindex: 0,
      text: '还没有加入商品，快去选购商品吧~',
      saveSuccess: false,
      showGif: false
    }
  },
  computed: {
    storageServer () {
      return this.$storageServer
    }
  },
  components: {
    StorItem,
    NoData,
    LoadingGif
  },
  methods: {
    gotoOrderDetail () {
      let { ids = '' } = this
      if (this.selectCrount.length !== 0) {
        if (ids && Array.isArray(ids)) {
          ids = ids.join(',')
        }
        console.log(ids, 'this.ids')
        wx.navigateTo({
          url: RouterPath.Order.OrderConfirm + '?type=2&ids=' + ids
        })
      } else {
        wx.showToast({
          title: '请至少选择一个产品'
        })
      }
    },
    minus (item) {
      if (item.count > 1 && item.shelfFlag && item.remainStock) {
        item.count--
        this.$store.dispatch(types.DO_UPDATE_SALE_NUM, {id: item.id, count: item.count}).then(res => {
          if (item.isChoose) {
            this.shopCartNum.count--
          }
          this.caculateFunc()
        })
      } else {
        item.count = 1
        this.saveSuccess = true
        setTimeout(() => {
          this.saveSuccess = false
        }, 800)
      }
    },
    plus (item) {
      if (item.shelfFlag && item.remainStock) {
        item.count++
        this.$store.dispatch(types.DO_UPDATE_SALE_NUM, {id: item.id, count: item.count}).then(res => {
          if (item.isChoose) {
            this.shopCartNum.count++
          }
          this.caculateFunc()
        }).catch(reject => {
          item.count--
        })
      } else {

      }
    },
    selectItem (item) {
      item.isChoose = !item.isChoose
      this.caculateFunc()
      if (!item.isChoose && item.shelfFlag && item.remainStock) {
        this.shopCartNum.count = this.shopCartNum.count - item.count
      } else {
        this.shopCartNum.count = this.shopCartNum.count + item.count
      }
      if (!item.isChoose && item.shelfFlag && item.remainStock) {
        this.allSelected = false
      }
      if (this.selectCrount.length === this.shopChartData.length) {
        this.allSelected = true
      }
    },
    deleteItem (item, index) {
      this.showDeleteDialog = true
      this.carindex = index
      this.selectedProduct = item
    },
    confirmDelete (index) {
      this.$store.dispatch(types.DO_DELETE_PRODUCT, {id: this.selectedProduct.id}).then(res => {
        this.showDeleteDialog = false
        this.allSelected = false
        this.shopChartData.splice(index, 1)
        this.$store.dispatch(types.DO_GET_SHOPCAR_COUNT, {storeId: this.$store.getters.storeId}).then(res => {
          console.log(res, '------------res---------------')
          this.shopCartNum = {
            customerId: res.customerId
            // count: res.count
          }
          this.shopCartNum.count = 0
          console.log(this.shopChartData)
          this.shopChartData.filter(item => {
            if (item.shelfFlag && item.remainStock) {
              this.shopCartNum.count += item.count
            }
          })
        })
        this.allSelect()
      })
    },
    cancelDelete () {
      this.showDeleteDialog = false
    },
    allSelect () {
      this.allMoney = 0
      this.allSelected = !this.allSelected
      this.ids = []
      this.selectCrount = []
      this.shopCartNum.count = 0
      this.shopChartData.filter(item => {
        if (!this.allSelected) {
          item.isChoose = false
        } else {
          if (item.shelfFlag && item.remainStock) {
            this.ids.push(item.id)
            item.isChoose = true
            this.selectCrount.push(item.isChoose)
            this.allMoney = this.formatFloat(Number(this.allMoney) + item.salePrice * item.count, 2)
            this.shopCartNum.count += item.count
          }
        }
      })
    },
    caculateFunc () {
      this.allMoney = 0
      let selectedLen = 0
      let statusLen = 0
      this.selectCrount = []
      this.ids = []
      this.shopChartData.filter(item => {
        statusLen++
        if (item.isChoose) {
          selectedLen++
          this.ids.push(item.id)
          this.allMoney = this.formatFloat(Number(this.allMoney) + item.salePrice * item.count, 2)
          this.selectCrount.push(item.isChoose)
        }
      })
      if (selectedLen === this.shopChartData.length || selectedLen === statusLen) {
        this.$store.commit(types.SET_ALL_SELECTED, true)
      } else if (selectedLen !== statusLen) {
        this.$store.commit(types.SET_ALL_SELECTED, false)
      }
    },
    formatFloat (f, d) {
      let m = Math.pow(10, d)
      return Math.round(f * m, 10) / m
    }
  },
  onLoad (options) {
    // console.log(this.showGif, 'this.showGif')
  },
  async onShow () {
    // console.log(this, 'thisthis')
    this.showGif = true
    // 获取购物车列表
    let _shopCartInfo = await this.$store.dispatch(types.DO_GET_SHOP_CAR, {storeId: this.$store.getters.storeId})
    // 获取商品数量
    let _shopCartCount = await this.$store.dispatch(types.DO_GET_SHOPCAR_COUNT, {storeId: this.$store.getters.storeId})
    if (Array.isArray(_shopCartInfo)) {
      _shopCartInfo = Utils.resolveData(_shopCartInfo, [{ path: 'skuImg', width: 180 }])
      _shopCartInfo.map(item => {
        if (item.shelfFlag && item.remainStock) {
          item.isChoose = true
        } else {
          item.isChoose = false
        }
      })
      this.shopChartData = _shopCartInfo
      this.allSelected = false
      this.allSelect()
    }
    if (_shopCartCount) {
      this.shopCartNum = {
        customerId: _shopCartCount.customerId,
        count: _shopCartCount.count
      }
    }
    this.showGif = false
  },
  onHide () {},
  onUnload () {}
}
</script>
<style lang="stylus" scoped>
@import '../../assets/main.styl';
.save-success-toast
  position:fixed;
  top:45%;
  left:50%;
  transform:translate(-50%,-50%);
  background:#333;
  padding-left 30rpx
  font-size 26rpx
  padding-right 30rpx
  height:80rpx;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#fff;
  border-radius:40rpx;
  z-index 200
.car {
  background-color: #ffffff !important;
  padding-bottom: 60px;
}

.hot {
  text-align: center;
  padding-top: 50rpx;
  padding-bottom: 20rpx;
  color: #EF504A;
  font-size: 30rpx;
}

.v-h {
  height: 100rpx;
}

.price-footer {
  background: #ffffff;
  border-top: 1rpx solid #f0f0f0;
  position: fixed;
  bottom: 0;
  left: 0r;
  z-index: 10;
  height: 100rpx;
  line-height: 100rpx;
  width: 100%;
  font-size: r(14);

  .all-price {
    margin-right: 32rpx;
  }

  .all-check-img {
    width: 40rpx;
    height: 40rpx;
    transform: translateY(10rpx);
    margin: 0 10rpx 0 20rpx;
  }

  .pay-btn {
    width: 30vw;
    background: #FDD41A;
    color: #ffffff;
    text-align: center;
    font-size: 34rpx;

    &.disabled {
      opacity: 0.6;
    }
  }

  .l-s {
    font-size: r(10);
  }

  .l-g {
    font-size: 32rpx;
  }

  .l-g-s {
    font-size: 26rpx;
  }

  .main-color {
    color: #e60012;
  }

  .low-color {
    color: #999999;
    font-weight: 500;
  }

  .l-p {
    margin-top: 7px;
  }
}
</style>
