<template>
  <div class="pay">
    <div class="bg"></div>
    <div class="pay_desc">
      <div class="store_name">
        <div class="userImg">
          <img :src="userInfo && userInfo.headPortraitImgUrl ? userInfo.headPortraitImgUrl : userInfo && userInfo.avatarUrl ? userInfo.avatarUrl : '/static/images/head_img.png'" mode="" class="img">
        </div>
        <div class="name">{{shopInfo.storeName}}</div>
      </div>
      <div class="user_price">
        <p class="text">输入金额</p>
        <div class="price">
          <input type="number" v-model.trim='price' adjust-position='true' placeholder-style="font-size: 24rpx;color:rgba(204,204,204,1);" placeholder="请输入金额">
        </div>
      </div>
    </div>
    <div class="btn" @click="gotoPay()">立即支付</div>
    <DTotast ref="totast"/>
  </div>
</template>

<script>
import RouterPath from '@router/config'
import { mapGetters } from 'vuex'
import Contants from '@contants/index'
import API from '@api/index'
import DTotast from '@components/UI/DTotast'
export default {
  data () {
    return {
      Contants,
      shopInfo: {},
      userInfo: {},
      login: false, // 判断是不是登陆
      openId: '', // openId
      price: '' // 输入的价格
    }
  },
  onLoad () {
    wx.hideLoading()
    this.setNavigationBarTitle()
    this.shopInfo = this.$store.getters.shopInfo
    this.userInfo = this.$store.getters.userInfo
    this.login = this.$store.getters.login
    this.openId = this.$store.getters.openId
    console.log(this.login, 'login')
    console.log(this.$store.getters)
  },
  onShow () {
  },
  ...mapGetters(['shopInfo', 'login', 'userInfo', 'openId']),
  computed: {
  },
  components: {
    DTotast
  },
  methods: {
    async gotoPay () {
      if (!this.login) {
        return wx.navigateTo({
          url: RouterPath.Auth.Login + '?fromPage=index'
        })
      }
      if (!this.price) {
        return this.$refs.totast.showToast({title: '金额不能为空'})
      }
      console.log(this.openId, 'openId')
      let queryPay = {
        'appId': 'wxd2748fbdf2e8a2a8',
        'source': 'dpcn',
        'createIp': '124.65.100.178',
        'referenceId': '1',
        'subject': '笔记本',
        'amount': this.price,
        'notifyUrl': 'http://localhost:8090/api/temp/mockCallback',
        'profitSharingFlag': true,
        'extraParam': {
          'openId': this.openId,
          'tradeType': 'JSAPI'
        }
      }
      API.Pay.payOffine(queryPay).then(res => {
        if (res && res.status === 200) {
          let { data } = res
          if (data.successFlag) {
            let {nonceStr, packageValue, paySign, signType, timeStamp} = data.originData
            wx.requestPayment({
              nonceStr,
              package: packageValue,
              paySign,
              signType,
              timeStamp,
              success: response => {
                console.log('支付成功微信回调:', response)
                this.$router.push({ path: RouterPath.Order.OrderResutl })
              },
              fail: () => {
                this.myToast('支付失败')
              }
            })
          }
        }
        console.log(res, 'res')
      })
    },
    myToast (msg) {
      wx.showToast({
        title: msg,
        icon: 'none',
        duration: 2000
      })
    },
    setNavigationBarTitle () {
      if (wx.setNavigationBarColor) {
        wx.setNavigationBarColor({
          frontColor: '#000000',
          backgroundColor: '#FF854F'
        })
      }
    }
  },
  onHide () {
    this.price = ''
  },
  onUnload () {
    this.price = ''
  }

}
</script>

<style lang="scss" scoped>
.pay{
  .bg{
    height: 150rpx;
    width: 100%;
    background:linear-gradient(to bottom ,rgba(255,133,79,1),rgba(255,163,86,1));
    border-bottom-left-radius: 30rpx;
    border-bottom-right-radius: 30rpx;
  }
  .pay_desc{
    width:624rpx;
    height:512rpx;
    background:rgba(255,255,255,1);
    box-shadow:0px 10px 25px 0px rgba(224,224,224,0.4);
    border-radius:7rpx;
    position: relative;
    left: 28rpx;
    top: -100rpx;
    padding: 35rpx;
    overflow: hidden;
    .store_name{
      display: flex;
      .userImg{
        height: 80rpx;
        width: 80rpx;
        border-radius: 40rpx;
        img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .name{
        font-size:28rpx;
        font-weight:800;
        color:rgba(0,0,0,1);
        line-height:43px;
        margin-left: 30rpx;
      }
    }
    .user_price{
      margin-top: 70rpx;
      .text{
        width:114rpx;
        height:27rpx;
        font-size:28rpx;
        font-weight:500;
        color:rgba(93,93,93,1);
        line-height:32rpx;
      }
      .price{
        width:625rpx;
        height:80rpx;
        border:1px solid rgba(255,160,85,1);
        border-radius:5rpx;
        margin-top: 30rpx;
        input{
          width: 100%;
          height: 100%;
          padding: 0px 20rpx;
          font-size: 30rpx;
        }
      }
    }
  }
  .btn{
    width:623rpx;
    height:104rpx;
    position: relative;
    left: 50%;
    top: -150rpx;
    margin-left: -311.5rpx;
    background:linear-gradient(90deg,rgba(255,133,79,1),rgba(255,163,86,1));
    border-radius:5px;
    text-align: center;
    line-height: 104rpx;
    font-size: 28rpx;
    font-weight: 500;
    color: #FEFEFE;
  }
}
</style>
