<template>
  <view class="redpackbox" v-if="showReadOnshow">
    <view class="redpack_box_wrapper">
      <img src="/static/images/leavetop.png" class="leave" @click="leave">
      <img :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/633a5086486f4aa6b6cd7f0a231fd1d2.png'" class="redpack">
      <img src="/static/images/open.png" class="openPng" @click="openRedPaket">
    </view>
  </view>
</template>
<script>
import { mapGetters } from 'vuex'
import API from '@api'
import RouterPath from '@router/config'
import Contants from '@contants/index'

export default {
  data () {
    return {
      Contants,
      redPacketId: '',
      showReadOnshow: false
    }
  },
  computed: {
    ...mapGetters({
      login: 'login'
    })
  },
  onLoad () {
    if (this.login) {
      API.RedPacket.effective({ type: 'LOGIN' }).then(res => {
        if (res.data && res.data.length && res.data[0].remainCount !== 0) {
          this.showReadOnshow = true
        }
      })
    } else {
      this.showReadOnshow = true
    }
  },
  methods: {
    openRedPaket () {
      this.showReadOnshow = false
      wx.navigateTo({
        // url: `/pages/redPacketDetails/index?id=${this.redPacketId}`
        url: RouterPath.Activitys.RedPacket + `?id=${this.redPacketId}`
      })
    },
    leave () {
      this.showReadOnshow = false
    }
  }
}
</script>
<style lang="scss" scoped>
.openPng {
  position: absolute;
  bottom: 33rpx;
  height: 124rpx;
  width: 124rpx;
  left: 50%;
  margin-left: -62rpx;
  background-size: cover;
}
.redpack {
  width: 100%;
  height: 100%;
}
.redpack_box_wrapper {
  width: 464rpx;
  height: 624rpx;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -312rpx;
  margin-left: -232rpx;
}
.redpackbox {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 9999;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}
.leave {
  top: -120rpx;
  width: 60rpx;
  height: 120rpx;
  position: absolute;
  background-size: cover;
  right: 0;
}
</style>
