<template>
  <div class="address-bg">
    <div class="body">
      <div class="address-form">
        <div class="form-box">
          <div class="input-item">
            <div>收货人姓名：</div>
            <div class="input-box">
              <input type="text" v-model.trim="personAddressInfo.receiptName" placeholder-style="color:#c4c4c4;font-family:STXihei;font-size:32rpx;" class="input-text" name="name" placeholder="请输入姓名">
            </div>
          </div>
          <div class="input-item">
            <div>收货人电话：</div>
            <div class="input-box">
              <input type="number" v-model.trim="personAddressInfo.receiptPhone" placeholder-style="color:#c4c4c4;font-family:STXihei;font-size:32rpx;" class="input-text" name="name" placeholder="请输入电话">
            </div>
          </div>
          <div class="input-item" style="position:relative;justify-content:space-between;">
            <div>所在城市：</div>
            <!-- <input type="text"  placeholder-style="color:#c4c4c4;font-family:STXihei;font-size:32rpx;" class="input-text" name="name" placeholder="请输入姓名">
            <div class="arrow-right select-city"></div> -->
            <div>
              <picker class="pickerBox" mode="region" :value='personAddressInfo.city' @change="bindRegionChange">
              <view class="picker" v-if='personAddressInfo.city.length !== 0'>
                  {{personAddressInfo.city[0]}}, {{personAddressInfo.city[1]}}, {{personAddressInfo.city[2]}}
              </view>
              <view v-if='personAddressInfo.city.length == 0' style="color:#c4c4c4;font-family:STXihei;font-size:32rpx;position:relative;right:30rpx;">
                请选择省市区
              </view>
            </picker>
            <div class="arrow-right select-city"></div>
            </div>
          </div>
          <div class="input-item" style="border:none">
            <div>详细地址：</div>
            <div class="input-box">
              <textarea type="text" v-model.trim="personAddressInfo.receiptAddress" placeholder-style="color:#c4c4c4;font-family:STXihei;font-size:32rpx;" class="textarea-text" name="name" placeholder="如：道路、小区、楼栋号、单元室等"/>
            </div>
          </div>
        </div>
        <div class="switch">
          <div>设为默认</div>
          <switch color="#ef8432" :checked='personAddressInfo.defaultFlag' @change="switchChange"/>
        </div>
        <footer>
          <div class="operation-btn del" @click="deleteDone" v-if="ifFromEditPage">删除</div>
          <div class="operation-btn save" @click="save">保存</div>
        </footer>
      </div>
    </div>
  </div>
</template>
<script>
import orderModal from '@components/Order/OrderModal'
export default {
  props: ['personAddressInfo', 'ifFromEditPage'],
  data () {
    return {
      defaultFlag: true,
      city: []
    }
  },
  computed: {
  },
  components: {
    orderModal
  },
  methods: {
    bindRegionChange: function (e) {
      this.personAddressInfo.city = e.target.value
      this.personAddressInfo.provinceName = this.personAddressInfo.city[0]
      this.personAddressInfo.cityName = this.personAddressInfo.city[1]
      this.personAddressInfo.areaName = this.personAddressInfo.city[2]
    },
    switchChange () {
      this.personAddressInfo.defaultFlag = !this.personAddressInfo.defaultFlag
    },
    save () {
      this.$emit('saveContent', this.personAddressInfo)
    },
    deleteDone () {
    },
    cancelDel () {
    },
    sureDel () {
      this.$emit('delContent', true)
    }
  },
  onLoad (options) {
  },
  onHide () {
  },
  onUnload () {
  },
  onShow () {
  }
}
</script>
<style lang="stylus" scoped>
  .address-bg{
    background:#f2f4fb;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
  }
  .address-form{
    font-family STXihei
    .comfirm-del{

      .content-box{
        padding 0
      }
    }
    .del-modal{
      .word{
        text-align:center;
        color:#000;
        font-size:36rpx;
        padding:40rpx 0;
        border-bottom:2rpx solid #eee;
        width:600rpx;
        margin-left:-33rpx;
      }
      .confirm-del-box{
        display flex
        .btn{
          flex 1
          flex:1;
          display:flex;
          justify-content:center;
          align-items:center;
          padding-top:10px;


        }
        .border-right{
          border-right:2rpx solid #eee;
          height:100rpx;
          position:absolute;
          left:50%;

        }
        .cancel{
          //
        }
        .sure{

        }
      }
    }

    footer{
      display flex
      position fixed
      bottom 0
      height 130rpx
      width 100%
      .operation-btn{
        flex 1
        background:#f7d44d;
        font-size:38rpx;
        color:#fff;
        text-align:center;
        line-height:130rpx;
      }
      .save{
        background #ef8432
      }
    }
    .switch{
      display flex
      padding:20rpx 50rpx;
      justify-content:space-between;
      font-size:32rpx;
      font-family STXihei
    }
    .form-box{
      border-bottom:20rpx solid #fcf7f8;
      border-top:10rpx solid #fcf7f8;
      .picker{
        flex:2;
        font-size:32rpx;
        position:relative;
        right:30rpx;
      }
      .input-item{
        display flex
        padding:30rpx 50rpx 30rpx 0;
        margin-left 50rpx
        border-bottom:1px solid #eee;
        .input-box{
          flex: 2
        }
        div{
          font-size 32rpx
        }
        input{
          outline none
          text-align right
          // flex 2
          font-size 32rpx
        }
        .textarea-text{
          flex:2;
          width: 100%;
          height:150rpx;
          font-size 32rpx
          padding-left 20rpx
        }
      }
      .select-city{
        position:absolute;
        right:44rpx;
        top:44rpx;
      }
    }
  }
</style>
