<template>
  <div class="stor-item">
    <div class="car-list">
      <div class="store-name flex-box align-center">
        <image src="/static/images/gouwuche_icon1.png" class="store-name-img"/>
        <span class="ellipsis1">{{shopInfo.storeName}}</span>
      </div>
      <div class="product-list">
        <div class="product-list-item" v-for="(item, index) in shopChartData" :key="index">
          <div class="flex-box product-l-item" :class="{active: item.id == flag, noActive: item.id !== flag}" :data-index="index" :style="item.txtStyle" @touchstart="touchS" @touchmove="touchM($event,item)" @touchend="touchE">
            <div class="flex-box product-item align-center">
              <div class="sel-box flex-box align-center" v-if="item.shelfFlag" @click="selectItem(item)" style="position: relative;z-index: 5;height:100%">
                <image class="sel-img" src="/static/images/dw_weixuan.png" v-if="!item.isChoose"/>
                <image class="sel-img" src="/static/images/dw_xuanzhong.png" v-if="item.isChoose"/>
              </div>
              <div class="sel-box flex-box align-center" v-else style="position: relative;z-index: 5;height:100%">
                <image class="sel-img" src="/static/images/dw_weixuan.png"/>
              </div>
              <div class="flex-box align-center product-image" @click="goDetail(item)">
                <image class="item-image" v-if="item.skuImg" :src="storageServer + item.skuImg"/>
                <image class="item-image" v-if="!item.skuImg" :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/6c1943bc89394410b76102138cccc46a.png'" style="margin-top:50rpx;"/>
                <div class="overdue-tip" v-if="!item.shelfFlag">
                  已下架
                </div>
                <!-- <div class="overdue-tip flex-box align-center flex-center" v-if="item.remainAmount <= 0">已售罄</div> -->
              </div>
              <div class="flex-1 flex-box direction-column space-between" style="height: 180rpx;" @click="goDetail(item)">
                <h3 class="ellipsis2 item-title">{{item.productName + item.skuName}}</h3>
                <div style="height: 100rpx;transform: translateY(30rpx)" class="flex-box space-between direction-column">
                  <div class="flex-box space-between align-center">
                    <div class="member-price-box m-p-b">
                      <span class="member-price">
                        <span class="price">￥{{item.salePrice}}</span>
                      </span>
                      <span class="no-member-price car">
                        <span class="n-s-m">￥{{item.marketPrice}}</span>
                      </span>
                    </div>
                    <div class="product-num">
                      <span class="num-btn minus" @click.stop="minus(item)" :class="{'disBackground': (item.count <= item.remainStock) && (item.count > 1)}">-</span>
                      <span class="num-text">{{item.count}}</span>
                      <span class="num-btn plus" type="button" @click.stop="plus(item)" :class="{'disBackground':item.count < item.remainStock}">+</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="del-btn flex-box align-center flex-center" @click="deleteItem(item, index)">删除</div>
        </div>
      </div>
    </div>
    <div class="save-success-toast" v-if="saveSuccess">该商品已下架，去看看其他商品吧～</div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import RouterPath from '@router/config'
import Contants from '@contants/index'

export default {
  data () {
    return {
      Contants,
      // showDelBtn: false,
      flag: null,
      startX: 0,
      delBtnWidth: 90,
      saveSuccess: false
    }
  },
  props: ['type', 'shopChartData'],
  computed: {
    ...mapGetters(['shopInfo']),
    storageServer () {
      return this.$storageServer
    }
  },
  methods: {
    selectItem (item) {
      this.$emit('selectItem', item)
    },
    minus (item) {
      if (item.shelfFlag) {
        this.$emit('minus', item)
      } else {
        this.saveSuccess = true
        setTimeout(() => {
          this.saveSuccess = false
        }, 800)
      }
    },
    plus (item) {
      if (item.shelfFlag) {
        this.$emit('plus', item)
      } else {
        this.saveSuccess = true
        setTimeout(() => {
          this.saveSuccess = false
        }, 800)
      }
    },
    deleteItem (item, index) {
      this.$emit('deleteItem', item, index)
    },
    goDetail (item) {
      if (item.shelfFlag) {
        this.$router.push({path: RouterPath.Goods.GoodsDetail, query: {id: item.storeSkuId}})
      } else {
        this.saveSuccess = true
        setTimeout(() => {
          this.saveSuccess = false
        }, 800)
      }
    },
    touchS (e) {
      if (e.touches.length === 1) {
        this.startX = e.touches[0].clientX
      }
    },
    touchM (e, item) {
      if (e.touches.length === 1) {
        // var index = e.currentTarget.dataset.index
        // 手指移动时水平方向位置
        var moveX = e.touches[0].clientX
        // 手指起始点位置与移动期间的差值
        var disX = this.startX - moveX
        var delBtnWidth = this.delBtnWidth
        var txtStyle = ''
        if (disX === 0 || disX < 0) { // 如果移动距离小于等于0，说明向右滑动，文本层位置不变
          txtStyle = 'left:0px'
          this.flag === item.id && (this.flag = null)
        } else if (disX > 0) { // 移动距离大于0，文本层left值等于手指移动距离
          txtStyle = 'left:-' + disX + 'px'
          if (disX >= delBtnWidth / 2) {
            // 控制手指移动距离最大值为删除按钮的宽度
            // txtStyle = 'left:-' + delBtnWidth + 'px'
            this.flag = item.id
          }
        }
        // 获取手指触摸的是哪一项
        // var index = e.currentTarget.dataset.index
        // this.shopChartData[index].txtStyle = txtStyle
      }
    },
    touchE (e) {
      // if (e.mp.changedTouches.length === 1) {
      //   // 手指移动结束后水平位置
      //   var endX = e.mp.changedTouches[0].clientX
      //   // 触摸开始与结束，手指移动的距离
      //   var disX = this.startX - endX
      //   var delBtnWidth = this.delBtnWidth
      //   // 如果距离小于删除按钮的1/2，不显示删除按钮
      //   var txtStyle = disX > delBtnWidth / 2 ? 'left:-' + delBtnWidth + 'px' : 'left:0px'
      //   // 获取手指触摸的是哪一项
      //   var index = e.currentTarget.dataset.index
      //   this.shopChartData[index].txtStyle = txtStyle
      // }
    }
  },
  onLoad () {
  }
}
</script>

<style lang="stylus" scoped>
  @import '../assets/mixin.styl'

  .store-name
    padding-left 20rpx
    height 100rpx
    border-bottom 1px solid #F5F8FA
    font-size 32rpx
    font-family 'PingFang-SC-Regular'
    color #575757
    &.order
      padding-left 24rpx
    .store-name-img
      width 40rpx
      height 40rpx
      margin-right 16rpx
  .product-list
    .product-list-item
      position relative
      height 200rpx
      border-bottom 1px solid #F5F8FA
      padding 20rpx 0rpx
    .product-l-item
      position absolute
      left 0
      top 0
      z-index 5
      height 100%
      background #FFFFFF
      width 100%
      box-sizing border-box
      padding 0rpx 30rpx 0rpx 20rpx
      &.order
        padding-left 44rpx
      &.active
        left -90px
        transition: left 200ms
      &.noActive
        left 0
        transition left 200ms
    .product-item
      width 100%
    .del-btn
      position absolute
      top 0
      right 0
      z-index 4
      height 100%
      width 180rpx
      background #ff0000
      color #ffffff
    .sel-box
      width 40rpx
    .sel-img
      width 40rpx
      height 40rpx
    .product-image
      position relative
      width 180rpx
      height 180rpx
      margin 0 24rpx
      .overdue-tip
        position absolute
        bottom 6rpx
        left 5rpx
        width 170rpx
        height 170rpx
        font-size 32rpx
        color #ffffff
        background #000
        opacity .6
        border-radius 50%
        text-align center
        line-height 170rpx
      .item-image
        width 100%
        height 100%
        &.order
          margin-left 0
    .member-price-box
      position:relative;
      top 15rpx
      &.car
        transform translateY(10rpx)
    .member-price-logo
      width 46rpx
      height:28rpx
      background-size: cover
      margin-left 4px
    .member-price
      font-size 20rpx
      color #e60012
      font-family: 'Medium';
      .price
        font-size 36rpx
        font-weight 400
    .no-member-price
      color #898989
      font-size 24rpx
      font-family: 'Regular';
      &.car
        text-decoration line-through
        padding-left 10rpx
      .price
        font-size 28rpx
  .item-title
    font-size 28rpx
    font-weight 500
    color #333333
    font-family 'PingFang-SC-light'
  .ellipsis1
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 1
    overflow: hidden
    text-overflow:ellipsis
    /*white-space: nowrap*/
    /*display inline-block*/
    width 90%
    text-align left
    /*display flex*/
    /*display:flex !important*/
    line-height 50rpx
  .ellipsis2
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2
    overflow: hidden
    text-align: left !important
  .product-num
    height 50rpx
    text-align center
    line-height 55rpx
    font-size 40rpx
    display flex
    .num-btn
      width 50rpx
      height 50rpx
      border-radius 50%
      color #E1E1E1
      background #ffffff
      display inline-block
      border 2px solid #F0F0F0
      text-align center
      line-height 48rpx
      &.minus
        margin-right 2rpx
        font-size 50rpx
      &.plus
        margin-left 2rpx
        font-size 50rpx
    .num-text
      width 72rpx
      color #000
      background #ffffff
      display inline-block
      font-weight 400
      font-size 34rpx
      font-family:Roboto-Regular;
  .disBackground
    background #F5F8FA !important
  .save-success-toast
    position:fixed;
    top:45%;
    left:35%;
    transform:translate(-23%,-50%);
    background:#333;
    padding-left 30rpx
    font-size 26rpx
    padding-right 30rpx
    height:80rpx;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    border-radius:40rpx;
    z-index 200
  .offShelves
    color #e1e1e1 !important
</style>

