<template>
  <div class="empty-box">
    <image :src="imgSrc" class="empty-img" v-if="type !== 'car'"/>
    <image :src="imgSrc" class="empty-img-car" v-if="type === 'car'"/>
    <div class="empty-text">{{text}}</div>
  </div>
</template>

<script>
import RouterPath from '@router/config'

export default {
  props: ['text', 'imgSrc', 'type'],
  data () {
    return {
      textBtn: '返回首页'
    }
  },
  methods: {
    goHome () {
      if (this.textBtn === '返回首页') {
        this.$emit('goHome')
      } else {
        wx.navigateTo({
          url: RouterPath.Auth.Login + '?fromPage=index'
        })
      }
    }
  },
  onLoad () {
    if (this.text === '您还没有登录，请先去登录哦～') {
      this.textBtn = '去登陆'
    } else {
      this.textBtn = '返回首页'
    }
  }
}
</script>

<style lang="stylus" scoped>
  @import '../assets/mixin.styl';

  .empty-box
    width 100%
    text-align center
  .empty-img
    margin 80rpx auto 10rpx
    width:262rpx
    height:177rpx
  .empty-img-car
    margin 80rpx auto 10rpx
    width 320rpx
    height 340rpx
  .empty-text
    color #999999
    font-size r(14)
    margin-bottom 64rpx
  .empty-btn
    height 88rpx
    line-height 88rpx
    text-align center
    background orange
    font-size r(16)
    border-radius 50px
    color #ffffff
    padding 20rpx 40rpx
</style>

