<template>
    <view class="redpackbox" v-if='showBollen'>
        <view class="redpack_box_wrapper">
            <img src="/static/images/leavetop.png" class="leave" @click='leave'>
            <img :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/db3e8cc71f9a4915a231120de9307bd9.png'" class="redpack" @click='openRedPaket' v-if="!orderRedBoolen">
            <div v-if="orderRedBoolen" class="redpack_box_wrapper">
                <span class="redPackAccount"><span :style="orderAmount.success? 'font-size:60rpx' : 'font-size:32rpx'">{{orderAmount.success? orderAmount.amount : orderAmount.message}}</span></span>
                <img :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/ad1325a3341740688bf1525184a1deb3.png'" class="redpack">
            </div>
        </view>
    </view>
</template>
<script>
import API from '@api'
import { mapGetters } from 'vuex'
import Contants from '@contants/index'

export default {
  data () {
    return {
      Contants,
      showBollen: false,
      orderRedBoolen: false,
      orderRedId: null,
      orderAmount: {}
    }
  },
  computed: {
    ...mapGetters({
      storeId: 'storeId',
      totalSrl: 'totalSrl'
    })
  },
  onLoad () {
    let now = Date.parse(new Date())
    API.RedPacket.effective({type: 'ORDER'}).then(res => {
      if (res.data && res.data.length && res.data[0].remainCount >= 0) {
        // 当前时间大于红包结束时间时---红包不弹出
        let endTime = Date.parse(res.data[0].endTime)
        if (now < endTime) {
          this.orderRedId = res.data[0].id
          this.showBollen = true
        }
      }
    })
  },
  onUnload () {
    this.orderRedBoolen = false
    this.showBollen = false
  },
  methods: {
    openRedPaket () {
      console.log('拆红包')
      API.RedPacket.triggerOrder({id: this.orderRedId, orderSrl: this.totalSrl, storeId: this.storeId}).then(res => {
        console.log('拆红包掉接口')
        console.log(res)
        this.orderAmount = res.data
        this.orderRedBoolen = true
      })
    },
    leave () {
      this.showBollen = false
      this.orderRedBoolen = false
    }
  }
}
</script>
<style lang="scss" scoped>
	.openPng{
		position: absolute;
		bottom: 33rpx;
		height: 124rpx;
		width: 124rpx;
		left: 50%;
		margin-left: -62rpx;
		background-size: cover;
	}
  .redpack{
		width: 100%;
		height: 100%;
  }
  .redpack_box_wrapper{
    width: 612rpx;
    height: 651rpx;
    background-size: cover;
    position: absolute;
    left: 50%;
    top:50%;
    margin-top: -312rpx;
    margin-left: -306rpx;
  }
  .redpackbox{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 9999;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  .redPackAccount {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 57%;
    // left: 37%;
    color: red;
    font-size: 32rpx;
    height: 80rpx;
    line-height: 80rpx;
  }
  .leave{
    top: -100rpx;
    width: 60rpx;
    height: 120rpx;
		position: absolute;
    background-size: cover;
		right:40rpx;
  }
</style>
