<template>
  <div id="GoodsDetail" v-if="!flags.loading" :class="{'fixed-body': fixedBody}">
    <div v-if="groupProductDetail && groupProductDetail.cloudDTO">
      <div class="groupProductDetail-box" >
        <div class="container">
          <swiper class="categoryList" :autoplay="true" :circular="true" :indicator-dots="true" indicator-color="rgba(228,228,228,1)" indicator-active-color="#FECA49">
            <!-- <swiper-item class="swiper" v-if="groupProductDetail.cloudDTO.skuImgUrl && groupProductDetail.cloudDTO.skuImgUrl.length !== 0" v-for="(item,index) in groupProductDetail.cloudDTO.skuImgUrl" :key="index">
              <img :src="item" class="category-image">
            </swiper-item> -->
            <!-- <swiper-item class="swiper" v-if="groupProductDetail.cloudDTO.skuImgUrl && groupProductDetail.cloudDTO.skuImgUrl.length === 0">
              <img :src="Contants.DEFAUTL_URL" class="category-image" style="">
            </swiper-item> -->
            <div v-if="groupProductDetail.cloudDTO.skuImgUrl && groupProductDetail.cloudDTO.skuImgUrl.length !== 0">
              <swiper-item class="swiper" v-for="(item,index) in groupProductDetail.cloudDTO.skuImgUrl" :key="index">
                <img :src="item" class="category-image">
              </swiper-item>
            </div>
            <div v-else>
              <swiper-item class="swiper">
                <img :src="Contants.DEFAUTL_URL" class="category-image" style="">
              </swiper-item>
            </div>
          </swiper>
          <!-- 价格条 -->
          <div class="groupIcon">
            <div class="groupContent">
              <div class="groupPrice">
                <img class="img" src="/static/images/newpersonprice.png">
                <div class="content">拼团价</div>
                <div class="price">
                  <span class="sellPrice"><span style="font-size: 22rpx;margin-right:3rpx;">¥</span>{{groupProductDetail.unitPrice}}</span>
                  <span class="marketPrice" style="text-decoration:line-through;">¥{{groupProductDetail.cloudDTO.sellPrice}}</span>
                </div>
              </div>
              <div class="groupStaus">
                <span class="status">{{groupProductDetail.maxMemberCount}}人团</span>
              </div>
            </div>
            <div class="groupTime">
              <div class="title">距离活动还剩</div>
              <div class="time" v-if="groupProductDetail.time">
                <div class="time-text">{{groupProductDetail.time.d}}</div>
                <div class="time-col" style="font-size:23rpx;">天</div>
                <div class="time-text">{{groupProductDetail.time.h}}</div>
                <div class="time-col">:</div>
                <div class="time-text">{{groupProductDetail.time.m}}</div>
                <div class="time-col">:</div>
                <div class="time-text">{{groupProductDetail.time.s}}</div>
              </div>
            </div>
          </div>
          <div class="skuname">
            {{groupProductDetail.cloudDTO.productName || ''}}
            <!-- {{groupProductDetail.cloudDTO.productName || ''}}{{groupProductDetail.cloudDTO.skuName || ''}}-->
          </div>
        </div>
      </div>
      <div class="groupRule">
        <img src="https://dj001.oss-cn-beijing.aliyuncs.com/online/opmactivitymg/ad3f89493baa4287afd44948d299a01d.png" alt="">
        <!-- <div class="rule" @click="showRole">规则</div> -->
        <img @click="showRole" class="rule" src="/static/images/activity-rule-icon.png" alt="" style="width:143rpx;height: 53rpx">
      </div>
      <!-- 拼团内容start -->
      <div class="groupContainer" v-if="groupProductDetail.actGroupList && groupProductDetail.actGroupList.length">
        <div class="groupText">以下小伙伴正在拼团，可直接参团哦~</div>
        <div class="groupList" v-for="(item, index) in groupProductDetail.actGroupList" :key="index">
          <div class="groupItem" v-if="item.status === '待成团'">
            <div class="groppItemImg"><img :src="item.headPortraitImgUrl"></div>
            <div class="groupItemName"><span>{{item.creatorNickName}}</span></div>
            <div class="groupItemContent">
              <div class="text">还差{{item.maxMemberCount - item.currentMemberCount}}人成团</div>
              <div class="timer" v-if="item.time">剩余{{item.time.h}}:{{item.time.m}}:{{item.time.s}}</div>
            </div>
            <div class="groupItemBtn" @click="gotoJoin_clickHander(item)">
              <span>去拼团></span>
            </div>
          </div>
        </div>
      </div>
      <!-- 拼团内容end -->
      <div class="options">
        <view class="listType f-a">
          <span class="text-f">规格型号</span>
          <p class="textfile">
            <span style="flex:1;"><span style="color:#232323;">{{groupProductDetail.cloudDTO.skuName || '默认'}}</span></span>
          </p>
        </view>
        <view class="listType f-a">
          <span class="text-f">数量</span>
          <span style="display:flex; width: 80%;">
            <span class='shopBtn' :class="{ numKong:num === 1}" @click='minus_clickHander' style=''>-</span>
            <span class="shoppingNum">{{num}}</span>
            <span class="shopBtn add" @click='plusFn_clickHander'>+</span>
            <span class="property-title">限购{{groupProductDetail.maxBuyCount}}件</span>
          </span>
        </view>
        <view class="listType f-a">
          <span class="text-f">服务</span>
          <span style="color: #232323;font-size: 24rpx; display:flex;width: 80%;">正品保证 • 破损包退</span>
        </view>
        <view class="listType f-a">
          <span class="text-f">取货说明</span>
          <!-- <span style="color: #232323;font-size: 24rpx;display:flex;width: 80%;">{{groupProductDetail.comment}}</span> -->
          <span style="color: #232323;font-size: 24rpx; width: 80%;">
            <span v-for="(i, index) in comment" :key="index" style="width: 100%; display: block; padding: 5rpx 0rpx;">
              {{i}}
            </span>
          </span>
        </view>
      </div>
      <div style="padding-bottom: 10rpx;">
        <view class="shopDian">
          <img class="vipImgfn" src="/static/images/gouwuche_icon1.png">
          <span class="shopTitle" v-if="shopInfo">{{shopInfo.storeName}}</span>
        </view>
        <div class="titleDetail">
          <span>商品详情</span>
        </div>
        <div v-if="groupProductDetail.cloudDTO.productImgUrl && groupProductDetail.cloudDTO.productImgUrl.length">
          <div v-if="groupProductDetail.cloudDTO.productImgUrl && groupProductDetail.cloudDTO.productImgUrl.length !== 0" class="productImg">
            <img v-for='(value, productIndex) in groupProductDetail.cloudDTO.productImgUrl' :key="productIndex" :src="value" class="productImg-image" mode='widthFix'>
          </div>
          <div v-else class="productImg">
            <img :src="Contants.DEFAULT_SHOP_DATAILS_URL" class="productImg-image" mode='widthFix'>
          </div>
        </div>
        <div class="shopcarlist">
          <div class="bottomban">
            <view class="shopcarboxif" @click='onShare'>
              <span class="shopshare"></span>
              <span style="margin-top:2px;color: #666;">分享</span>
            </view>

            <div class="sellGo" @click="gotoPay_clickHander" style="background-color: rgba(255,135,107,1);">
              <div class="sellPrice">¥{{groupProductDetail.cloudDTO.sellPrice}}</div>
              <div class="sellText">单独购买</div>
            </div>
            <div class="sellGo" @click="gotoGroup_clickHander" style="background-color: rgba(252,89,92,1);">
              <div class="sellPrice">¥{{groupProductDetail.unitPrice}}</div>
              <div class="sellText">我要开团</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="go-home-btn" id="go-home-btn" @click="goHomeBtn_clickHander">
      <img src="/static/images/index_icon_home.png" alt="">
      <div>首页</div>
    </div>

     <poster v-if='showPosterGroupDetail' :pageData="pageDate" @showPoster="showPoster" />
     <!-- 活动规则模态框 -->
    <rule-modal ref="ruleModal" />
  </div>
</template>
<script>
import API from '@api'
import * as types from '@store/types.js'
import Contants from '@contants/index'
import { mapGetters, mapActions } from 'vuex'
import Utils from '@utils/utils'
import Tools from '@utils/tools'
import index from '@mixins/index'
import RouterPath from '@router/config'
import TalkingData from '../../utils/talkingData.js'
import poster from '@components/Common/ActivityPoster'
import RuleModal from '@components/UI/RuleModal'

export default {
  components: {
    poster,
    RuleModal
  },
  data () {
    return {
      Contants,
      num: 1,
      timers: null, // 倒计时
      groupProductId: '', // 拼团商品id
      groupProductDetail: {}, // 货品详情
      beginBuyTime: '', // 显示时间
      flags: {
        loading: true
      },
      pageDate: {
        type: 'G' // 传入分享生成海报页面中类型参数 -- 拼团商品详情页面
      },
      ruleModalProps: {
        showRuleModal: true,
        ruleTextArr: [
          '1、拼团查询：发起拼团后可在小程序（我的）—（拼团）-查看拼团进度；',
          '2、拼团成功：开团后24小时内达到规定成团人数，即拼团成功；',
          '3、优惠信息：拼团属于特价活动商品暂不支持优惠券、积分、礼品卡等；',
          '4、差价：拼团用户需要通过“多人一起购买”才能享受拼团价，因此不支持给以非拼团价“单独购买”的用户补贴差价；',
          '5、联系我们：如有任何疑问可联系店主;'
        ]
      },
      showPosterGroupDetail: false, // 拼团的活动海报展示
      fixedBody: false, // 控制页面滚回顶部
      comment: [] // 取货说明
    }
  },
  mixins: [index],
  watch: {
    showPosterGroupDetail (newVal, oldVal) {
      if (newVal === true) {
        this.fixedBody = true
      } else {
        this.fixedBody = false
      }
    }
  },
  computed: {
    ...mapGetters(['login', 'shopInfo', 'userInfo'])
  },
  onLoad (opt) {
    this.init()
    this.groupProductId = opt.id
    // this.getshopDetail()
    console.log(1111)
  },
  onShow () {
    this.init()
    this.getshopDetail()
    console.log(222)
  },
  onUnload () {
    clearInterval(this.timer)
  },
  mounted () {
  },
  // 页面内的分享
  onShareAppMessage () {
    if (!this.isNewUser) {
      TalkingData.onEvent('c_我要拼团页面分享', 'c_我要拼团页面分享', {groupProductId: this.groupProductId, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
    }

    const { skuImgUrl = [] } = this.groupProductDetail.cloudDTO
    const { id } = this.groupProductDetail
    const path = RouterPath.Auth.Start + '?sf=G&sId=' + this.shopInfo.id + '&id=' + id
    const imageUrl = skuImgUrl[0] || Contants.DEFAUTL_URL
    return {
      title: '共享低价好物，母婴、洗护、亲子，一起买更划算→',
      path: path,
      imageUrl: imageUrl
    }
  },

  methods: {
    ...mapActions(['addPlaceOrderInfo']),
    // 海报
    showPoster (boole) {
      console.log(boole, 'boole')
      this.showPosterGroupDetail = boole
    },
    getshopDetail () {
      console.log(this.groupProductId, 'this.productId')
      wx.showLoading({
        title: '加载中'
      })
      clearInterval(this.timer)
      API.GroupBuy.getProductDetail({id: this.groupProductId, storeId: this.shopInfo.id}).then(res => {
        let skuImgUrl
        let productImgUrl
        if (res.status === 200) {
          console.log(res.data, '返回的数据')
          let _data = res.data
          // 处理商品处数据
          if (_data.cloudDTO.skuImgUrl && _data.cloudDTO.skuImgUrl.length) {
            skuImgUrl = _data.cloudDTO.skuImgUrl.map(k => {
              return Utils.compressImg(Contants.BASE_IMG_URL + k, 750)
            })
            _data.cloudDTO.skuImgUrl = skuImgUrl
          }
          if (_data.cloudDTO.productImgUrl && _data.cloudDTO.productImgUrl.length) {
            productImgUrl = _data.cloudDTO.productImgUrl.map(k => {
              return Utils.compressImg(Contants.BASE_IMG_URL + k, 750)
            })
            _data.cloudDTO.productImgUrl = productImgUrl
          }

          _data.actGroupList.map(k => {
            let { h, m, s } = this.$Utils.calculateTime(k.expireTime)
            k.time = {h, m, s}
          })
          let { d, h, m, s } = this.$Utils.calculateTime(_data.endTime)
          _data.time = {d, h, m, s}

          this.timer = setInterval(() => {
            _data.actGroupList.map(k => {
              let { h, m, s } = this.$Utils.calculateTime(k.expireTime)
              k.time = {h, m, s}
            })
            let { d, h, m, s } = this.$Utils.calculateTime(_data.endTime)
            _data.time = {
              d, h, m, s
            }
          }, 1000)
          if (_data.comment) {
            let _commentTemp = _data.comment.split('|')
            this.comment = []
            _commentTemp.map(k => {
              this.comment.push(this.$Utils.trim(k, 2))
            })
          }
          // let _commentTemp = _data.comment.split('|')
          // this.comment = []
          // _commentTemp.map(k => {
          //   this.comment.push(this.$Utils.trim(k, 2))
          // })
          console.log(this.comment, '==++++=====')
          this.groupProductDetail = _data
          console.log(this.groupProductDetail, 'this.groupProductDetail')
          if (new Date(this.groupProductDetail.endTime).getTime() < new Date().getTime()) {
            wx.reLaunch({
              url: '/pages/GroupBuy/list?isShowTips=true'
            })
          }
          this.flags.loading = false
          wx.hideLoading()
        }
      })
        .catch(res => {
          console.log(res)
          this.flags.loading = false
          wx.hideLoading()
        })
    },
    // 弹出框
    showRole () {
      this.$refs.ruleModal.showToast({ruleModalProps: this.ruleModalProps})
    },
    // 点击减号
    minus_clickHander () {
      if (this.num === 1) {
        return false
      } else {
        this.num--
      }
    },
    // 点击家号
    plusFn_clickHander () {
      if (this.num < this.groupProductDetail.maxBuyCount) {
        this.num++
      } else {
        wx.showToast({
          title: '您购买数量超过最大购买量',
          icon: 'none',
          duration: 1000
        })
      }
      console.log(this.num, 'this.num')
    },
    // 去支付 --- 现在的去支付走的时正常商品的流程
    async gotoPay_clickHander () {
      if (!this.login) {
        return wx.navigateTo({
          url: RouterPath.Auth.Login
        })
      }
      const queryDate = {}
      queryDate.productDetail = this.groupProductDetail.cloudDTO
      queryDate.num = this.num

      let _storeSkuBuySet = [{
        id: this.groupProductDetail.cloudDTO.id,
        buyCount: this.num
      }]
      let queryStore = {
        storeId: this.shopInfo.id,
        storeSkuBuySet: _storeSkuBuySet
      }
      let _res = await API.shopDetail.postCheckStoreSkus(queryStore)
      if (_res && _res.status === 200) {
        this.$store.commit(types.SET_QUERY_DATA, queryDate)
        this.$store.commit(types.SET_CHECK_SHOP, _res.data)
        this.$router.push({ path: RouterPath.Order.OrderConfirm, query: { type: 1 } })
      }
    },

    // 去开团（自己是团长）
    gotoGroup_clickHander () {
      if (!this.login) {
        return wx.navigateTo({
          url: RouterPath.Auth.Login
        })
      }
      let { unitPrice, enableDeliveryHome, enableSelfLifting, id } = this.groupProductDetail
      let { productName, productSkuName, skuName } = this.groupProductDetail.cloudDTO
      const _datas = {
        unitPrice,
        productName,
        productSkuName,
        skuName,
        id,
        num: this.num,
        enableDeliveryHome,
        enableSelfLifting
      }
      this.addPlaceOrderInfo(_datas)
      this.$router.push({ path: RouterPath.Order.OrderActivityConfirm, query: { type: 1 } })
      TalkingData.onEvent('c_我要拼团下订单', 'c_我要拼团下订单', {groupProductId: this.groupProductId, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
    },
    // 去参团
    gotoJoin_clickHander (item) {
      if (!this.login) {
        return wx.navigateTo({
          url: RouterPath.Auth.Login
        })
      }
      let { unitPrice, enableDeliveryHome, enableSelfLifting } = this.groupProductDetail
      let { productName, productSkuName, skuName } = this.groupProductDetail.cloudDTO
      let {actGroupBuyId, id} = item
      const _datas = {
        unitPrice,
        productName,
        productSkuName,
        skuName,
        actGroupBuyId,
        id,
        num: 1,
        enableDeliveryHome,
        enableSelfLifting
      }
      this.addPlaceOrderInfo(_datas)
      this.$router.push({ path: RouterPath.Order.OrderActivityConfirm, query: { type: 2 } })
      TalkingData.onEvent('c_我要拼团去参团下订单', 'c_我要拼团去参团下订单', {groupProductId: this.groupProductId, actGroupBuyId: actGroupBuyId, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
    },
    // 回首页
    goHomeBtn_clickHander () {
      wx.reLaunch({
        url: '/pages/Home/index'
      })
    },
    // 分享
    onShare () {
      if (!this.login) {
        return wx.navigateTo({
          url: RouterPath.Auth.Login + '?fromPage=index&target=shareShop'
        })
      }
      const ctx = wx.createCanvasContext('mycanvas')
      if (!ctx.measureText) {
        Tools.toast('该版本暂不支持生成海报', 'loading', 800)
      } else {
        this.showPosterGroupDetail = true
        this.groupProductDetail.cloudDTO.unitPrice = this.groupProductDetail.unitPrice
        this.pageDate.data = this.groupProductDetail
        console.log(this.pageDate)
      }
      TalkingData.onEvent('c_我要拼团生成海报', 'c_我要拼团生成海报', {groupProductId: this.groupProductId, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
    },
    init () {
      this.groupProductDetail = {}
      this.num = 1
      this.flags.loading = true
      this.showPosterGroupDetail = false
    }
  }
}
</script>
<style lang="scss" scoped>
#GoodsDetail{
  width:100%;
  background:#f4f5f7;
  .container{
    background: #fff;
    // swiper
    .categoryList {
      height: 750rpx;
      width: 100%;
      .swiper {
        width: 100%;
        height: 100%;
        text-align: center;
        .category-image {
          width: 100% !important;
          height: 100% !important;
          background-size: cover;
        }
      }
    }
    .priceDetail{
      height: 100rpx;
      background: linear-gradient(to right,#ff564e,#f6817f);
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 30rpx;
      box-sizing: border-box;
      .price{
        .sellPrice{
          color: #fff;
          .f-s{
            font-size: 30rpx
          }
          .f-b{
            font-size: 50rpx;
            font-weight: 500
          }
        }
        .marketPrice{
          color: #fff;
          margin-left: 15rpx;
          position: relative;
          bottom: -7rpx;
          text-decoration: line-through;
          .f-m{
            font-size: 24rpx
          }
        }
      }
    }
    .skuname{
      padding: 30rpx;
      font-size: 32rpx;
      color:rgba(51,51,51,1);
      font-weight:bold;
      line-height: 44rpx;
    }
    .labelHight{
      height:23rpx;
      font-size:24rpx;
      font-weight:300;
      color: #666;
      line-height:45rpx;
      padding: 0rpx 30rpx 15rpx 30rpx;
    }
    .limetAddress{
      padding: 20rpx 30rpx 30rpx 30rpx;
      height:41rpx;
      font-size:22rpx;
      font-weight:500;
      color:#e82c2f;
      line-height:41rpx;
      overflow: hidden;
      display: flex;
      align-items: center;

      .l-c{
        border: 1rpx solid rgba(235,62,63,1);
        border-radius: 10rpx;
        position: relative;
        .icon-l{
          display: inline-block;
          width: 39rpx;
          height: 41rpx;
          // background: url(../../../static/images/clock_icon.png) no-repeat;
          background-size: 100% 100%;
          position: absolute;
          left: -1px;
        }
        .l-text{
          padding-left: 50rpx;
          padding-right: 20rpx;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
        }
      }
    }

  }
  .groupRule{
    width: 100%;
    height: 265rpx;
    font-size: 0;
    // margin-top: 10rpx;
    position: relative;
    // .rule {
    //   position: absolute;
    //   right: 0;
    //   top: 2%;
    //   background: #fff2d4;
    //   width: 100rpx;
    //   height: 53rpx;
    //   border-radius: 27rpx 0px 0px 27rpx;
    //   font-size: 28rpx;
    //   font-family: PingFang-SC-Medium;
    //   font-weight: 500;
    //   color: rgba(255, 126, 0, 1);
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    // }
    .rule {
      position: absolute;
      right: 0;
      top: 5%;
      width: 143rpx;
      height: 53rpx;
    }
    img{
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
  // 拼团
  .groupContainer{
    margin-bottom: 10rpx;
    background: #fff;
    width: 100%;
    min-height: 200rpx;
    padding: 30rpx 30rpx 10rpx 30rpx;
    box-sizing: border-box;
    .groupText{
      color: rgba(51,51,51,1);
      font-size: bold;
      font-size: 28rpx;
    }
    .groupList{
      padding: 10rpx 0;
      .groupItem{
        height: 88rpx;
        width: 92%;
        margin: 20rpx 0rpx;
        display: flex;
        justify-content:space-between;
        align-items: center;
        .groppItemImg{
          width: 88rpx;
          height: 88rpx;
          font-size: 0;
          img{
            width: 100%;
            height: 100%;
            display: inline-block;
            border-radius: 44rpx;
          }
        }
        .groupItemName{
          display: flex;
          margin-left: 20rpx;
          align-items: center;
          font-size:28rpx;
          font-weight:bold;
          color:rgba(51,51,51,1);
          flex: 1;
        }
        .groupItemContent{
          display:flex;
          flex-direction:column;
          justify-content:center;
          padding: 0 20rpx;
          .text{
            display: flex;
            align-items: center;
            font-size:24rpx;
            font-weight:bold;
            color:rgba(51,51,51,1);
          }
          .timer{
            display: flex;
            align-items: center;
            font-size:20rpx;
            font-weight:bold;
            color:rgba(161,161,161,1);
            justify-content:center;
          }
        }
        .groupItemBtn{
          width: 136rpx;
          height: 70rpx;
          border-radius:10rpx;
          display: flex;
          background:linear-gradient(39deg,rgba(255,86,78,1),rgba(246,129,127,1));
          position: relative;
          right: -48rpx;
          span{
            display: inline-block;
            width: 100%;
            font-size:28rpx;
            text-align: center;
            line-height: 70rpx;
            color: #fff;
          }
        }
      }
    }
  }
  .options{
    background: #fff;
    // margin-top: 10rpx;
    .listType {
      display: flex;
      font-size: 28rpx;
      padding: 24rpx 28rpx 24rpx 28rpx;
      border-bottom: 1px solid #F1F2F6;
    }

    .f-a{
      height:100%;
      align-items:center;
      .text-f{
        padding-right:15rpx;
        color:#898989;
        display: inline-block;
        width: 140rpx;
      }
      .shopBtn {
        width: 50rpx;
        height: 50rpx;
        margin-right: 2rpx;
        font-size: 32rpx;
        text-align: center;
        background: #F6F8FA;
      }
      .property-title{
        line-height: 50rpx;
        font-size: 24rpx;
        font-weight: 500;
        color: rgba(35,35,35,1);
      }
      .shoppingNum {
        width: 120rpx;
        font-size: 32rpx;
        text-align: center;
        background: #f4f5f7;
      }
      .add {
        margin-left: 2rpx;
        margin-right: 20rpx;
      }
      .textfile {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        display:flex;
        flex:1;
        align-items:center;
        height:100%
      }
    }
  }
  .titleDetail {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20rpx;
    background: #fff;
    span {
      position: relative;
      display: inline-block;
      color: #999999;
      font-size: 14px;

      &::before {
        content: '';
        position: absolute;
        color: #f00;
        top: 14px;
        left: -108px;
        width: 100px;
        height: 5px;
        background-image: url('../../../static/images/title-img-left.png');
        background-position: 0 0;
        background-size: 100px 5px;
        background-repeat: no-repeat;
        display: block;
      }

      &::after {
        content: '';
        position: absolute;
        right: -108px;
        top: 14px;
        width: 100px;
        height: 5px;
        background-image: url('../../../static/images/title-img-right.png');
        background-position: 0 0;
        background-size: 100px 5px;
        background-repeat: no-repeat;
        display: block;
      }
    }
  }
  .productImg{
    background-color: #fff;
    text-align: center;
    width: 100%;
    padding-bottom: 100rpx;
    display: flex;
    flex-direction: column;
    font-size: 0;
    .productImg-image {
      width: 100%;
      display: inline-block;
    }
  }
  .shopcarlist {
    position: fixed;
    bottom: 0;
    background: #898989;
    width: 100%;
    height: 100rpx;
    left: 0;
    z-index: 999;
    box-shadow: -3px 0px 9px 0px rgba(63, 101, 157, 0.54);
  }
  .bottomban {
    display: flex;
    height: 100%;
    align-items: center;
    .shopcarboxif {
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ccc;
      height: 100%;
      font-size: 20rpx;
      width: 200rpx;
      .shopshare {
        position: relative;
        width: 36rpx;
        height: 36rpx;
        background: url(../../../static/images/share.png) no-repeat;
        background-size: 36rpx 36rpx;
        margin-bottom: 3px;
        margin-top: 6px;
      }
    }
    .sellGo {
      width: 337rpx;
      color: #fff;
      justify-content: center;
      align-items: center;
      height: 100%;
      .sellPrice{
        display: flex;
        justify-content: center;
        font-size: 36rpx;
        height: 50rpx;
        font-weight: 500;
      }
      .sellText{
        display: flex;
        justify-content: center;
        font-size: 26rpx;
        height: 50rpx;
        font-weight: 500;
      }
    }
  }
  .order_cont_loading {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:100;
    display:flex;
    justify-content:center;
    align-items:center;
      > img {
        width: 541rpx;
        height: 330rpx;
      }
  }
  .shopDian {
    padding: 30rpx 28rpx 30rpx 28rpx;
    background-color: #fff;
    border-bottom: 1rpx solid #F1F1F1;
    display: flex;
    margin-top: 10rpx;
    .vipImgfn {
      width: 40rpx;
      height: 36rpx;
      background-size: cover;
    }
    .shopTitle {
      font-size: 28rpx;
      color: #898989;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 90%;
      padding-left: 10rpx;
    }
  }
  .groupIcon {
    overflow: hidden;
    width: 750rpx;
    height: 100rpx;
    display: flex;
    position: relative;
    .groupContent{
      width: 62.4%;
      background-color: rgba(255,86,78,1);
      display: flex;

      .groupPrice{
        flex: 1;
        .img {
          width: 98rpx;
          height: 40rpx;
          position: relative;
          top: 10rpx;
          left: 24rpx;
        }
        .content {
          position: absolute;
          z-index: 2;
          left: 40rpx;
          top: 10rpx;
          font-size: 22rpx;
          color: rgba(234,51,35,1);
          font-weight: 500;
        }
        .price{
          color: #fff;
          font-size: 22rpx;
          margin-left: 24rpx;
          margin-top: -18rpx;
          .sellPrice{
            font-size: 40rpx;
            font-weight: 800;
          }
          .marketPrice{
            margin-left: 20rpx;
            font-weight: 500;
          }
        }
      }
      .groupStaus{
        justify-content: center;
        flex: 1;
        display: flex;
        align-items: center;
        .status{
          min-width: 128rpx;
          height: 60rpx;
          line-height: 60rpx;
          padding: 0 10rpx;
          background: #fff;
          color: rgba(234,51,35,1);
          display: inline-block;
          text-align: center;
          border-radius: 30rpx;
        }
      }
    }
    .groupTime{
      width: 37.6%;
      background-color: rgba(255,192,191,1);
      .title{
        color:rgba(255,86,78,1);
        font-size:22rpx;
        width: 100%;
        line-height:45rpx;
        text-align: center;
      }
      .time{
        color: rgba(255,54,44,1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -5rpx;
        .time-col{
          margin: 0 5rpx;
        }
        .time-text{
          width: 40rpx;
          height: 40rpx;
          background-color: rgba(255,54,44,1);
          opacity:0.7;
          border-radius:4px;
          color: #fff;
          line-height: 40rpx;
          font-size: 26rpx;
          text-align: center;
        }
      }
    }
  }
  #go-home-btn{
    width:94rpx;
    height:94rpx;
    border-radius:50%;
    position:fixed;
    right:30rpx;
    top:600rpx;
    z-index:999;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: #ff8f00;
    color: #fff;
    box-shadow:0px 5px 16px 5px rgba(213,213,213,0.41);
    >img{
      width: 50rpx;
      height: 50rpx
    }
    >div{
      font-size: 24rpx;
      position: relative;
      top: -4rpx;
    }
  }
}
.fixed-body {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
</style>
