<template>
  <div id="groupBuyDetail" v-if="flags.isShow" :class="{'fixed-body': fixedBody}">
    <!-- 详情头部 -->
    <div class="groupBuy_header">
      <GroupGoodsItem v-if="datas.id" :item="datas" :isShowBtn="false"></GroupGoodsItem>
    </div>
    <!-- 主要内容 -->
    <div class="groupBuy_cont">
      <div class="groupBuy_cont_title">
        <block v-if="datas.status === '待成团'">
          <div class="groupBuy_cont_regiment">
            <div class="groupBuy_cont_regiment_people">
              还差
              <em>{{datas.maxMemberCount - datas.currentMemberCount}}</em>人
            </div>
            <div class="groupBuy_cont_regiment_time">
              <span>
                <b>{{datas.h}}</b>:
                <b>{{datas.m}}</b>:
                <b>{{datas.s}}</b>
              </span>
              <span>后自动结束</span>
            </div>
          </div>
        </block>
        <block v-else-if="datas.status === '已成团'">
          <block v-if="datas.isActiveUserFlag">
            <div class="groupBuy_cont_success">
              <div>拼团成功</div>
              <div>可以在我的订单查看拼团订单发货进度</div>
            </div>
          </block>
          <block v-else>
            <div class="groupBuy_cont_later">
              <span class="g-triangle"></span>
              来晚了，该团已成团
            </div>
          </block>
        </block>
      </div>
      <div class="grouoBuy_cont_headImgList">
        <!-- 超过三人 -->
        <ul class="inner-more-person" v-if="datas.maxMemberCount > 3">
          <block v-for="(item,index) in datas.customerList" :key="index">
            <block v-if="index < 3">
              <li v-if="item.headPortraitImgUrl">
                <span v-if="!index" class="leader">团长</span>
                <img :src="item.headPortraitImgUrl" alt>
              </li>
              <li v-else>?</li>
            </block>
          </block>
          <li class="more_headImg_btn">
            <i class="point"></i>
            <i class="point"></i>
            <i class="point"></i>
          </li>
        </ul>
        <!-- 三人之内或未满 -->
        <ul class="inner-three-person" v-else-if="datas.maxMemberCount === 3">
          <block v-for="(item,index) in datas.customerList" :key="index">
            <li v-if="item.headPortraitImgUrl">
              <span v-if="!index" class="leader">团长</span>
              <img :src="item.headPortraitImgUrl" alt>
            </li>
            <li v-else>?</li>
          </block>
        </ul>
        <!-- 两人之内或未满 -->
        <ul class="inner-tow-person" v-else>
          <block v-for="(item,index) in datas.customerList" :key="index">
            <li v-if="item.headPortraitImgUrl">
              <span v-if="!index" class="leader">团长</span>
              <img :src="item.headPortraitImgUrl" alt>
            </li>
            <li v-else>?</li>
          </block>
        </ul>
      </div>
      <div class="grouoBuy_cont_footer">
        <div class="grouoBuy_cont_footer_btn">
          <!--
              userId: 当前用户
              datas.creator: 创建拼团活动用户
          -->
          <block v-if="datas.status === '已成团'">
            <div @click="operation_clickHandler('create')" class="red-btn btn" v-if="currentUser.id !== datas.creator">我也要开团</div>
            <div @click="operation_clickHandler('create')" class="red-btn btn" v-else>再开一团</div>
          </block>
          <!--
              isActiveUserFlag: 【Boolean】 表示当前用户是否参与当前拼团
          -->
          <block v-else-if="datas.status === '待成团'">
            <block v-if="datas.isActiveUserFlag">
              <button class="red-btn btn" open-type="share">邀请好友来拼团</button>
              <div @click="operation_clickHandler('sharePoster')" class="yellow-btn btn">分享海报</div>
            </block>
            <block v-else>
              <div @click="operation_clickHandler('pay')" class="red-btn btn">¥{{datas.unitPrice}} 参与拼团</div>
            </block>
          </block>
        </div>
        <div class="grouoBuy_cont_footer_tips">
          <div @click="operation_clickHandler('checkMyGroupBuy')" v-if="datas.isActiveUserFlag && datas.status === '待成团'">查看我的团 ></div>
          <div @click="operation_clickHandler('checkMyorder')" v-else-if="datas.isActiveUserFlag && datas.status === '已成团'">查看我的订单 ></div>
        </div>
      </div>
    </div>
    <!-- 精彩拼团 -->
    <div class="groupBuy_moreExciting">
      <div class="img-box">
        <img src="https://img.dianjia001.com/online/opmactivitymg/8ecf54969dd345df8bd2083065345895.png" alt>
      </div>
      <div class="more-group">
        <span @click="operation_clickHandler('more')">
          <img style="width:93rpx;height:29rpx;" class="img" src="/static/images/more_icon.png">
        </span>
      </div>
    </div>
    <!-- 详情头部 -->
    <div class="groupBuy_header page-bottom" v-if="excitingList.length">
      <div v-for="item in excitingList" :key="item.id">
        <GroupGoodsItem v-if="item.id" :item="item" :isShowBtn="true"></GroupGoodsItem>
      </div>
      <!-- 这里是组件item -->
      <div class="no-more-data">没有更多了</div>
    </div>
    <!-- <div class="rule" @click="operation_clickHandler('checkRules')">活动规则</div> -->
    <img @click="operation_clickHandler('checkRules')" class="rule" src="/static/images/activity-rule-icon.png" alt style="width:143rpx;height: 53rpx">
    <div class="go-home-btn" id="go-home-btn" @click="goHomeBtn_clickHander">
      <img src="/static/images/index_icon_home.png" alt>
      <div>首页</div>
    </div>
    <poster v-if="showPosterDetail" :pageData="pageDate" @showPoster="showPoster"/>
    <!-- 活动规则模态框 -->
    <rule-modal ref="ruleModal"/>
  </div>
</template>
<script>
import api from '@api'
import { mapGetters, mapActions } from 'vuex'
import Contants from '@contants/index'
import { HeadImgList } from '@contants/groupBuy.js'
import GroupGoodsItem from '@components/GroupBuy/GroupGoodsItem'
import poster from '@components/Common/ActivityPoster'
import RuleModal from '@components/UI/RuleModal'
import TalkingData from '../../utils/talkingData.js'
import index from '@mixins/index'

import RouterPath from '@router/config'
// import { userInfo } from 'os'

export default {
  data () {
    return {
      Contants,
      timer: null,
      actGroupId: '', // 团购活动Id
      orderId: '', // 跳转页面传入的状态
      datas: {
        fullFlag: false, // 是否成团
        autoFullFlag: false, // 是否自动成团
        currentMemberCount: 3, // 当前参与人数
        maxMemberCount: 3, // 每个团最大参与人数
        expireTime: 3, // 过期时间
        expireFlag: false, // 是否过期
        customerId: [], // 当前参与用户
        m: '',
        s: '',
        h: ''
      },
      flags: {
        isShow: false
      },
      pageDate: {
        type: 'F'
      },
      showPosterDetail: false, // 海报生成
      source: false, // 页面来源
      fixedBody: false, // 页面回顶部
      excitingList: [], // 精彩推荐
      ruleModalProps: {
        showRuleModal: true,
        ruleTextArr: [
          '1、拼团查询：发起拼团后可在小程序（我的）—（拼团）-查看拼团进度；',
          '2、拼团成功：开团后24小时内达到规定成团人数，即拼团成功；',
          '3、优惠信息：拼团属于特价活动商品暂不支持优惠券、积分、礼品卡等；',
          '4、差价：拼团用户需要通过“多人一起购买”才能享受拼团价，因此不支持给以非拼团价“单独购买”的用户补贴差价；',
          '5、联系我们：如有任何疑问可联系店主;'
        ]
      },
      headerArr: []
    }
  },
  components: {
    GroupGoodsItem,
    RuleModal,
    poster
  },
  watch: {
    'flags.isShow': {
      handler (val) {
        if (!val) {
          wx.showLoading({
            title: '加载中',
            icon: 'loading'
          })
        } else {
          wx.hideLoading()
        }
      },
      immediate: true
    },
    showPosterDetail (newVal, oldVal) {
      if (newVal === true) {
        this.fixedBody = true
      } else {
        this.fixedBody = false
      }
    }
  },
  mixins: [index],
  computed: {
    ...mapGetters(['userInfo', 'shopInfo', 'login']),
    // 当前用户的id
    currentUser () {
      const { id, storeId } = this.userInfo || {}
      console.log(this.userInfo, 'this.userInfo')
      return {
        storeId,
        id
      }
    }
  },
  methods: {
    ...mapActions(['addPlaceOrderInfo']),
    /**
     * @description 初始化数据
     */
    init () {
      this.getGroupBuyDetails()
      this.getExcitingList()
      this.showPosterDetail = false
      this.orderId = ''
    },
    /**
     * @description 海拔取消
     */
    showPoster (boole) {
      console.log(boole, 'boole')
      this.showPosterDetail = boole
    },
    /**
     * @description 返回首页
     */
    goHomeBtn_clickHander () {
      wx.reLaunch({
        url: '/pages/Home/index'
      })
    },
    /**
     * @description 进入页面
     * @param {String} type
     *                    more: 进入拼团活动列表
     *                    pay: 支付
     *                    invite: 转发
     *                    sharePoster: 分享海报
     *                    create: 再开团
     *                    checkRules: 查看规则
     *                    checkMyGroupBuy: 查看我的团
     *                    checkMyorder: 查看我的订单
     */
    operation_clickHandler (type) {
      switch (type) {
        case 'create':
        case 'more':
          this.$router.push({ path: RouterPath.GroupBuy.List })
          break
        case 'pay':
          if (!this.login) {
            return wx.navigateTo({
              url: RouterPath.Auth.Login
            })
          } else {
            this.datas.num = 1
            this.datas.enableDeliveryHome = this.datas.actGroupBuyDTO.enableDeliveryHome
            this.datas.enableSelfLifting = this.datas.actGroupBuyDTO.enableSelfLifting
            this.addPlaceOrderInfo(this.datas)
            this.$router.push({ path: RouterPath.Order.OrderActivityConfirm, query: { type: 2 } })
            TalkingData.onEvent('c_拼团的分享页面去下订单页面', 'c_拼团的分享页面去下订单页面', {actGroupId: this.actGroupId, userId: this.shopInfo.userId, customerId: this.userInfo.id})
          }
          break
        case 'invite':
          break
        case 'sharePoster':
          if (!this.login) {
            return wx.navigateTo({
              url: RouterPath.Auth.Login
            })
          } else {
            this.showPosterDetail = true
            this.pageDate.data = this.datas
            TalkingData.onEvent('c_拼团的分享页面生成海报', 'c_拼团的分享页面生成海报', {actGroupId: this.actGroupId, userId: this.shopInfo.userId, customerId: this.userInfo.id})
          }
          break
        case 'checkRules':
          this.$refs.ruleModal.showToast({ ruleModalProps: this.ruleModalProps })
          break
        case 'checkMyGroupBuy':
          this.$router.push({ path: RouterPath.GroupBuy.MyGroupBuyList, query: { type: 0 } })
          break
        case 'checkMyorder':
          this.$router.push({ path: RouterPath.Order.OrderList })
          break
      }
    },
    /**
     * @description 获得拼团活动详情数据
     */
    async getGroupBuyDetails () {
      this.flags.isShow = false
      const { actGroupId, orderId } = this
      let data
      let _res
      console.log(actGroupId, 'actGroupId')
      /* 根据传入的id不一样，调详情的接口不一样
      ** searchByOrderId： 传入的值--订单id
      ** getGroupBuyDetails： 传入的值--团id
      */

      if (this.source === 'success') {
        _res = await api.GroupBuy.searchByOrderId({ orderId }).catch(err => {
          console.warn('获得--订单id拼团活动详情失败:', err)
        })
      } else {
        _res = await api.GroupBuy.getGroupBuyDetails({ actGroupId }).catch(err => {
          console.warn('获得--团id拼团活动详情失败:', err)
        })
      }
      if (_res && _res.status === 200 && this.$Utils.isObject(_res.data)) {
        data = _res.data
        this.actGroupId = data.groupId
        // 添加倒计时
        let { h, m, s } = this.$Utils.calculateTime(data.expireTime)
        data = { ...data,
          m,
          s,
          h
        }
        // 判断是否参与拼团
        if (data.customerList) {
          data.isActiveUserFlag = data.customerList.some(k => k.customerId === this.currentUser.id)
        }
        const { maxMemberCount, customerList, status } = data
        // 动态添加默认头像
        if (maxMemberCount > customerList.length) {
          let _count = maxMemberCount - customerList.length < 3 ? maxMemberCount - customerList.length : 2
          for (let i = 0; i < _count; i++) {
            let _url = ''
            if (status === '已成团') {
              _url = this.headerArr[i].headImg
            }
            data.customerList.length < 3 && data.customerList.push({
              headPortraitImgUrl: _url
            })
          }
          // for (let i = 1; i <= _count; i++) {
          //   let _url = ''
          //   if (status === '已成团') {
          //     const _index = Math.floor(Math.random() * HeadImgList.length)
          //     _url = [...HeadImgList].splice(_index, 1)[0]['headImg']
          //   }
          //   data.customerList.push({
          //     headPortraitImgUrl: _url
          //   })
          // }
        }
        switch (status) {
          case '已成团':
            break
          case '待成团':
            this.timer = setInterval(() => {
              let { h, m, s } = this.$Utils.calculateTime(data.expireTime)
              data.m = m
              data.s = s
              data.h = h
            }, 1000)
            break
        }
        this.datas = data
        console.log(this.datas, '-----dsatas')
      }
      this.flags.isShow = true
    },
    /**
     * @description 获得精彩拼团数据
     */
    async getExcitingList () {
      const { storeId } = this.currentUser
      let params = {
        status: 'ON_LINE',
        sort: 'soldCount,desc',
        size: 5,
        storeId
      }
      const { data } = await api.GroupBuy.getGroupBuyList(params).catch(err => {
        console.warn('获得精彩拼团失败:', err)
      })
      if (this.$Utils.isObject(data)) {
        const { content } = data
        this.excitingList = content
        console.log(this.excitingList, 'this.excitingList')
      }
    }
  },
  onLoad (options) {
    console.log(options, 'dsdsd=这是一个传入数值')
    let headerImg = {}
    let imgArr = [...HeadImgList].concat(HeadImgList)
    for (let i = 0; i < 10; i++) {
      headerImg[i] = imgArr.splice(0, 3)
    }

    console.log(headerImg)
    const { id, source } = options
    let title = '拼团'
    switch (source) {
      case 'success':
        title = '支付成功'
        this.orderId = id
        break
      case 'wait':
        title = '待成团'
        break
      case 'over':
        title = '已成团'
        break
    }
    wx.setNavigationBarTitle && wx.setNavigationBarTitle({ title })

    this.actGroupId = id
    this.source = source
    this.headerArr = headerImg[id % 10]

    console.log(this.headerArr)
  },
  onShow () {
    this.init()
  },
  onHide () {
    clearInterval(this.timer)
  },
  onUnload () {
    clearInterval(this.timer)
  },
  onShareAppMessage () {
    if (!this.isNewUser) {
      TalkingData.onEvent('c_拼团的分享页面', 'c_拼团的分享页面', {actGroupId: this.actGroupId, userId: this.shopInfo.userId, customerId: this.userInfo.id})
    }
    const { skuName = '', unitPrice = '' } = this.datas
    const name = `快来${unitPrice}元拼${skuName}`
    const { actGroupId } = this
    const { storeId } = this.currentUser || this.shopInfo.id
    return {
      title: name,
      path: `${RouterPath.Auth.Start}?sf=F&id=${actGroupId}&sId=${storeId}`
    }
  }
}
</script>
<style lang="scss" scoped>
.g-triangle {
  position: absolute;
  left: 234rpx;
  top: -24rpx;
  display: inline-block;
  border: 12rpx solid transparent;
  border-bottom-color: #fcf1f0;
}
#go-home-btn{
  width:94rpx;
  height:94rpx;
  border-radius:50%;
  position:fixed;
  right:30rpx;
  top:600rpx;
  z-index:999;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background: #ff8f00;
  color: #fff;
  box-shadow:0px 5px 16px 5px rgba(213,213,213,0.41);
  >img{
    width: 50rpx;
    height: 50rpx
  }
  >div{
    font-size: 24rpx;
    position: relative;
    top: -4rpx;
  }
}
.fixed-body {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#groupBuyDetail {
  > .groupBuy_header {
    width: 100%;
    height: 260rpx;
    &.page-bottom {
      background: #f5f8fa;
      .no-more-data {
        padding: 54rpx 0;
        display: flex;
        justify-content: center;
        font-size: 22rpx;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(201, 201, 201, 1);
      }
    }
  }

  > .groupBuy_cont {
    margin-top: 41rpx;
    text-align: center;
    > .groupBuy_cont_title {
      width: 710rpx;
      height: 124rpx;
      background: rgba(252, 239, 238, 1);
      margin: 0 auto;
      > .groupBuy_cont_regiment {
        line-height: 124rpx;
        font-size: 28rpx;
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        > .groupBuy_cont_regiment_people {
          display: inline-block;
          margin-right: 54rpx;
          > em {
            color: #fd151e;
            font-size: 36rpx;
            display: inline-block;
          }
        }
        > .groupBuy_cont_regiment_time {
          display: inline-block;
          font-size: 30rpx;

          > span {
            display: inline-block;
            > b {
              width: 36rpx;
              height: 36rpx;
              line-height: 36rpx;
              background: rgba(0, 0, 0, 1);
              border-radius: 4rpx;
              margin: 0 15rpx;
              color: #fff;
              font-size: 24rpx;
              display: inline-block;
            }
          }
        }
      }

      > .groupBuy_cont_later {
        position: relative;
        height: 124rpx;
        background: #fcf1f0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28rpx;
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        width: 710rpx;
        margin: 0 auto;
      }

      > .groupBuy_cont_success {
        font-weight: bold;
        overflow: hidden;
        > div {
          &:nth-of-type(1) {
            color: rgba(253, 21, 30, 1);
            font-size: 36rpx;
            margin: 8rpx 0 5rpx 0;
          }
          &:nth-of-type(2) {
            font-size: 26rpx;
            color: rgba(85, 85, 85, 1);
          }
        }
      }
    }
    > .grouoBuy_cont_headImgList {
      margin-top: 37rpx;
      margin-bottom: 80rpx;
      > ul {
        height: 110rpx;
        display: flex;
        position: relative;
        margin: 0 auto;
        &.inner-more-person {
          width: 413rpx;
          > li {
            &:nth-of-type(2) {
              margin: 0 22rpx;
            }
            &:nth-of-type(3) {
              margin: 0 22rpx 0 0;
            }
          }
        }
        &.inner-three-person {
          width: 321rpx;
          > li {
            &:nth-of-type(2) {
              margin: 0 22rpx;
            }
          }
        }
        &.inner-tow-person {
          width: 204rpx;
          > li {
            &:nth-of-type(2) {
              margin-left: 17rpx;
            }
          }
        }
        > li {
          width: 86rpx;
          height: 86rpx;
          line-height: 80rpx;
          background: rgba(252, 241, 240, 1);
          border: 3rpx solid rgba(255, 103, 98, 1);
          border-radius: 50%;
          font-size: 40rpx;
          font-weight: bold;
          color: rgba(181, 181, 181, 1);
          box-sizing: border-box;
          &.more_headImg_btn {
            background: rgba(255, 255, 255, 1);
            border: 3rpx solid rgba(255, 103, 98, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            > .point {
              width: 13rpx;
              height: 13rpx;
              background: rgba(255, 103, 98, 1);
              border-radius: 50%;
              margin: 0 6rpx;
            }
          }
          .leader {
            position: absolute;
            width: 53rpx;
            height: 26rpx;
            background: rgba(254, 172, 46, 1);
            border: 2rpx solid rgba(255, 255, 255, 1);
            border-radius: 13rpx;
            font-size: 16rpx;
            font-family: PingFang-SC-Regular;
            font-weight: bold;
            color: rgba(255, 255, 255, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            top: 10rpx;
            left: -10rpx;
          }
          > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
    }

    > .grouoBuy_cont_footer {
      padding-bottom: 68rpx;
      border-bottom: 2rpx solid #f1f1f1;
      > .grouoBuy_cont_footer_btn {
        > .btn {
          width: 710rpx;
          height: 80rpx;
          line-height: 80rpx;
          font-size: 30rpx;
          font-weight: bold;
          color: rgba(255, 255, 255, 1);
          border-radius: 8rpx;
          text-align: center;
          margin: 0 auto;
          margin-bottom: 20rpx;
          &.red-btn {
            background: rgba(255, 86, 78, 1);
          }
          &.yellow-btn {
            background: #f6d54c;
          }
        }
      }
      > .grouoBuy_cont_footer_tips {
        margin-top: 17rpx;
        font-size: 24rpx;
        font-weight: bold;
        color: rgba(134, 134, 134, 1);
      }
    }
  }
  > .groupBuy_moreExciting {
    position: relative;
    margin-top: 36rpx;
    .img-box {
      display: flex;
      justify-content: center;
      > img {
        width: 377rpx;
        height: 142rpx;
      }

      dd {
        margin-bottom: 10rpx;
      }
    }
    .more-group {
      position: absolute;
      right: 24rpx;
      top: -10rpx;
      // transform:translateY(-50%);
      display: flex;
      align-items: center;
      line-height: 71px;
      justify-content: center;
      font-size: 30rpx;
      color: #ed4744;
      .arrow-right {
        border-color: #ed4744;
      }
      > span:nth-child(2) {
        margin: 0;
      }
    }
    // dl {
    //   dt {
    //     padding: 0 40rpx;
    //     > h3 {
    //       margin: 0 auto;
    //     }
    //     > .groupBuy_moreExciting_moreBtn {
    //       float: right;
    //     }
    //   }
    // }
  }
  // .rule {
  //   position: fixed;
  //   right: 0;
  //   bottom: 604rpx;
  //   background: #fff2d4;
  //   width: 138rpx;
  //   height: 53rpx;
  //   border-radius: 27rpx 0px 0px 27rpx;
  //   font-size: 28rpx;
  //   font-family: PingFang-SC-Medium;
  //   font-weight: 500;
  //   color: rgba(255, 126, 0, 1);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  .rule {
    position: fixed;
    right: 0;
    bottom: 48%;
  }
}
</style>
