<template>
  <div id="myGroupBuyList">
    <div :class="{ 'bg-color': dataList.length}">
      <header class="header-tab">
        <div class :class="{ active: tab.index == activeIndex  }" @click="tab_click_handle(tab)" v-for="(tab, index) in tabs" :key="index">
          <span>{{tab.name}}</span>
        </div>
      </header>
      <div class="content" v-show="showPage">
        <div class="list-box groupBuy" v-if="!pageType">
          <div style v-for="(item, index) in dataList" class="list" :key="index">
            <div class="item-box" @click="goDetail(item)">
              <div class="store-info">
                <span>{{item.storeName}}</span>
                <span v-if="!activeIndex" class="status">还差{{item.maxMemberCount - item.currentMemberCount}}人</span>
                <span v-else class="status">拼团成功</span>
              </div>
              <div class="item">
                <div class="img">
                  <img class="icon" :src="item.storeSkuImg" mode="widthFix">
                </div>
                <div class="info">
                  <div class="name">{{item.storeSkuName}}</div>
                  <div class="memberCount">
                    <span>{{item.maxMemberCount}}人团</span>
                  </div>
                </div>
              </div>
              <div class="price-info">
                <span>共{{item.buyCount}}件商品</span>
                <span>实付款：￥{{item.totalPrice}}</span>
              </div>
            </div>
          </div>
          <div class="no-more-data" v-if="showPageBootom && dataList.length">已经到底了～</div>
        </div>
        <div class="list-box sendGift" v-else>
          <div style v-for="(item, index) in dataList" class="list" :key="index">
            <div class="item-box" @click="goDetail(item)">
              <div class>
                <header>
                  <!-- 我送出的列表中的状态 -->
                  <div class="status" v-if="!activeIndex">
                    <span class="not-over" v-if="!item.allReceivedFlag">未领完</span>
                    <span class="has-over" v-else>已领完</span>
                  </div>
                  <!-- 我收的到的列表中的状态 -->
                  <div v-else class="status">
                    <span class="not-over" v-if="!item.createOrderFlag">未提取</span>
                    <span class="has-over" v-else>已提取</span>
                  </div>
                  <div class="goods-price">
                    <div v-if="!activeIndex" class="price">
                      <span>共{{item.num}}件商品</span>
                      <span>实付款：￥{{item.totalPrice}}</span>
                    </div>
                    <div v-else class="has-get">
                      <span style="color:#333;">{{item.actGiftOrderCustomerName}}送出</span>
                      <span style="color:#a1a1a1;font-size:24rpx;">{{item.createTime}}</span>
                    </div>
                  </div>
                </header>
              </div>
              <div class="item">
                <div class="img">
                  <img class="icon" :src="item.skuImg" mode="widthFix">
                </div>
                <div class="info">
                  <div class="name">{{item.skuProductName}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="no-more-data" v-if="showPageBootom && dataList.length">已经到底了～</div>
        </div>
        <!-- nodata -->
        <div v-if="!dataList.length" class="bg-box">
          <div v-if="true" class="empty-list">
            <img :src="NO_CONTENT" alt>
            <div v-if="!pageType">您还没有团哦~</div>
            <div v-else>您还没有礼物哦~</div>
            <div @click="noData_click_handle" class="btn_click_handle">
              <div v-if="!pageType" class="btn-box">
                <span>去拼团区看看</span>
                <img src="/static/images/go-groupBuy-btn.png" alt>
              </div>
              <div v-else class="btn-box">
                <span>去送礼物</span>
                <img src="/static/images/go-gift-btn.png" alt>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import RouterPath from '@router/config'

import { mapGetters } from 'vuex'
import API from '@api'
import Utils from '@utils/utils'
import Contants from '@contants/index'
import { NO_CONTENT } from '@contants/groupBuy'

export default {
  data () {
    return {
      NO_CONTENT,
      pageType: 0, // 0 拼团，1 送礼物
      Contants,
      tabs: [{ name: '待成团', index: 0 }, { name: '已成团', index: 1 }],
      activeIndex: 0,
      dataList: [],
      params: { page: 0, size: 10 },
      loadPage: true,
      showPageBootom: false,
      showPage: false
    }
  },
  computed: {
    ...mapGetters(['storeId'])
  },
  components: {
  },
  onLoad (options) {
    console.log(options, 'myGroupBuyList.options')
    this.activeIndex = 0
    if (!Number(options.type)) { // 拼团列表
      this.pageType = 0
    } else { // 礼物列表
      this.pageType = 1
      wx.setNavigationBarTitle && wx.setNavigationBarTitle({ title: '我的礼物' })
      this.tabs = [{ name: '我送出的', index: 0 }, { name: '我收到的', index: 1 }]
    }
  },
  onShow () {
    console.log('myGroupBuyList.onShow')
    this.loadDataList()
  },
  methods: {
    goDetail (item) {
      let url = RouterPath.GroupBuy.Detail + `?id=${item.actGroupId}&source=${!this.activeIndex ? 'wait' : 'over'}`
      if (this.pageType) {
        if (!this.activeIndex) {
          url = `${RouterPath.Gift.GiftResult}?source=sendGift&id=${item.id}`
        } else {
          url = `${RouterPath.Gift.GiftResult}?source=receiveGift&id=${item.id}`
        }
      }

      wx.navigateTo({ url })
    },
    noData_click_handle () {
      let url = RouterPath.GroupBuy.List
      this.pageType && (url = RouterPath.Gift.List)

      wx.navigateTo({ url })
    },
    // 切换tab事件
    tab_click_handle (tab) {
      this.showPage = false
      this.activeIndex = tab.index
      this.dataList = []
      this.params.page = 0
      this.showPageBootom = false
      // 获取某一状态下的数据
      this.loadPage && this.loadDataList()
    },
    loadDataList () {
      this.loadPage = false
      wx.showLoading({ title: '加载中...', mask: true })
      this.params.storeId = this.storeId || '1953'

      if (!this.pageType) this.getGroupDataByTab()
      else this.getGiftDataByTab()
    },
    // 根据tab获取拼团数据
    getGroupDataByTab () {
      switch (this.activeIndex) {
        case 0:
          this.params.status = 'NEW' // 待成团
          break
        case 1:
          this.params.status = 'VALID' // 已成团
          break
      }
      this.getGroupingData()
    },
    // 获取拼团数据
    async getGroupingData () {
      let params = { ...this.params }
      let _res = await API.GroupBuy.getGroupBuyMyList(params).catch(() => { this.apiComplete() })
      this.resolveRes(_res, 'storeSkuImg')
    },
    // 通过tab获取礼物数据
    getGiftDataByTab () {
      switch (this.activeIndex) {
        case 0:
          this.getSendGiftList()
          break
        case 1:
          this.getReceivedGiftList()
          break
      }
    },
    // 我送出的礼物列表
    async getSendGiftList () {
      console.log('已经送出数据')
      let params = { ...this.params }
      let _res = await API.Gift.getSendGiftList(params).catch(() => { this.apiComplete() })
      this.resolveRes(_res)
    },
    // 我收到的礼物列表
    async getReceivedGiftList () {
      console.log('我收到的礼物列表')
      let params = { ...this.params }
      let _res = await API.Gift.getReceivedGiftList(params).catch(() => { this.apiComplete() })
      this.resolveRes(_res)
    },
    resolveRes (_res, imgPath = 'skuImg') {
      if (_res.status === 200 && _res.data) {
        let data = Utils.resolveData(_res.data, [{ path: imgPath, width: 140 }])
        this.dataList = [...this.dataList, ...data]
        this.dataList.map((item) => {
          item.createTime && (item.createTime = this.$Utils.formatTime(item.createTime, '{y}-{m}-{d} {h}:{i}:{s}'))
        })
        if (data.length) {
          this.params.page++
        } else {
          this.showPageBootom = true
        }
      }
      this.apiComplete()
    },
    // 接口掉完成之后更改的状态
    apiComplete () {
      this.loadPage = true
      this.showPage = true
      wx.hideLoading()
    },
    clearData () {
      // this.pageType = 0
      this.dataList = []
      this.params = { page: 0, size: 10 }
      this.loadPage = true
      this.showPageBootom = false
      this.showPage = false
    }
  },
  onHide () {
    console.log('myGroupBuyList.onHide')
    this.clearData()
  },
  onUnload () {
    this.tabs = [{name: '待成团', index: 0}, {name: '已成团', index: 1}]
    console.log('myGroupBuyList.onUnload')
    this.clearData()
    // this.activeIndex = 0
  },
  // 触底时继续请求数据
  onReachBottom () {
    !this.showPageBootom && this.loadDataList()
  }
}
</script>
<style lang="stylus" scoped>
#myGroupBuyList {
  .bg-color {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #F5F8FA;
  }

  .header-tab {
    display: flex;
    justify-content: center;
    border-bottom: 10rpx solid #F5F8FA;
    padding-bottom: 10rpx;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: #fff;

    >div {
      flex: 1;
      justify-content: center;
      display: flex;

      &.active {
        span {
          border-bottom-color: #FF8F00;
          color: rgba(255, 143, 0, 1);
        }
      }

      >span {
        padding: 30rpx 0;
        font-size: 28rpx;
        font-family: PingFang-SC-Bold;
        font-weight: bold;
        border-bottom: 7rpx solid transparent;
      }
    }
  }

  .content {
    padding-top: 130rpx;

    .empty-list {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 86rpx;

      >img {
        width: 305rpx;
        height: 324rpx;
      }

      >div {
        font-size: 30rpx;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(201, 201, 201, 1);
        margin-top: 48rpx;
      }
    }

    .no-more-data {
      background: #F5F8FA;
      padding: 30rpx 0;
      display: flex;
      justify-content: center;
      font-size: 22rpx;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(201, 201, 201, 1);
    }

    .btn-box {
      position: relative;
      margin-top: 86rpx !important;

      >span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 32rpx;
        font-family: PingFang-SC-Bold;
        font-weight: bold;
        color: rgba(255, 255, 255, 1);

        &:nth-child(2) {
        }
      }

      >img {
        width: 701rpx;
        height: 90rpx;
        vertical-align: middle;
      }
    }
  }
}

// 临时样式
.list-box {
  &.sendGift {
    .item-box {
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20rpx;
        border-bottom: 2rpx solid #f1f1f1;
        padding-bottom: 10rpx;

        .status {
          span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 109rpx;
            height: 40rpx;
            border: 2rpx solid rgba(245, 86, 86, 1);
            border-radius: 10px;
            font-size: 26rpx;
            font-family: PingFang-SC-Bold;
            font-weight: bold;
            color: rgba(245, 86, 86, 1);
          }

          span.has-over {
            border-color: #FF7E00;
            color: #FF7E00;
          }
        }

        .goods-price {
          span {
            font-size: 26rpx;
            font-family: PingFang-SC-Medium;
            font-weight: 500;
            color: rgba(51, 51, 51, 1);
          }

          span:first-child {
            color: #666666;
            margin-right: 30rpx;
          }
        }
      }
    }
  }

  width: 100%;
  overflow-y: scroll;

  .list {
    // border-bottom:10rpx solid #F5F8FA;
  }

  .page-bottom-noline {
    padding: 20rpx 0;
    color: #666;
    display: flex;
    justify-content: center;
    background-color: #f5f8fa;
  }

  .item-box {
    padding: 25rpx;
    background: #fff;
    border-bottom: 10rpx solid #F5F8FA;

    .store-info {
      height: 78rpx;
      display: flex;
      align-items: center;
      font-size: 32rpx;
      font-family: PingFang-SC-Bold;
      font-weight: bold;
      color: #333;
      border-bottom: 2rpx solid #F1F1F1;

      span.status {
        // width: 109rpx;
        padding: 0 8rpx;
        height: 40rpx;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26rpx;
        font-family: PingFang-SC-Bold;
        font-weight: bold;
        color: rgba(255, 126, 0, 1);
        border: 2rpx solid #FF7E00;
        margin-left: 15rpx;
        border-radius: 8rpx;
      }
    }

    .price-info {
      font-size: 26rpx;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: #333;

      span:first-child {
        margin-right: 30rpx;
        color: #666;
      }
    }
  }

  .item {
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 10rpx;
    padding: 20rpx 0;

    .img {
      width: 140rpx;
      height: 140rpx;

      // background #eee
      .icon {
        width: 140rpx;
        height: 140rpx;
      }
    }

    .info {
      flex: 1;
      margin-left: 25rpx;
      flex-direction: column;
      display: flex;
      height: 140rpx;
      justify-content: space-between;

      .name {
        color: #000;
        line-height: 40rpx;
        display: -webkit-box;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 27rpx;
        margin-bottom: 10rpx;
      }

      .memberCount {
        width: 98rpx;
        height: 40rpx;
        position: relative;

        img {
          width: 98rpx;
          height: 40rpx;
        }

        span {
          position: absolute;
          left: 0;
          width: 98rpx;
          height: 40rpx;
          font-size: 22rpx;
          line-height: 41rpx;
          color: #fff;
          text-align: center;
          background: linear-gradient(39deg, rgba(236, 69, 67, 1), rgba(254, 142, 111, 1));
          border-radius: 20px;
        }
      }

      .priceInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
          .now {
            color: #FF0000;
            font-size: 28rpx;
            font-weight: bold;
          }

          .before {
            color: #555;
            font-size: 22rpx;
            display: block;
          }
        }

        .priceButton {
          width: 156rpx;
          height: 69rpx;
          background: linear-gradient(45deg, rgba(236, 69, 67, 1), rgba(254, 142, 111, 1));
          border-radius: 10rpx;
          text-align: center;
          line-height: 69rpx;
          font-size: 32rpx;
          font-weight: 500;
          color: #fff;

          .arrow-right--border-color {
            border-color: #fff;
            width: 18rpx;
            height: 18rpx;
          }
        }
      }
    }
  }
}
</style>
