<template>
  <div>
    <div style="border-top: 1px solid #eee">
      <div>
        <div class="store-item" v-for="(item, index) in storeList" :key="index">
          <div class="store-item-info" @click="goHome(item)">
            <p style="padding-bottom: 24rpx;display: inline-block">
              <span class="sotre-item-title">{{item.storeName}}</span>
            </p>
            <p class="sotre-item-place address" style="padding-bottom: 10rpx">地址：{{item.address}}</p>
            <p class="sotre-item-place">电话：{{item.phone}}</p>
          </div>
          <div class="store-item-distance">
            <span v-if="item.distance">
              <img class="dingwei-icon" src="/static/images/icon_dingwei.png" alt>
              <span style="font-size: 26rpx;padding-left: 38rpx">{{item.distance}}</span>
            </span>
            <!-- <span class="tip" v-if="index === 0">离我最近</span> -->
          </div>
        </div>
      </div>
      <div v-if="storeList.length === 0 && isInProcess" style="padding-top: 100rpx;">
        <img :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/b03a79ef77d24a72befb6ada4e513ee1.png'" alt style="width: 100%;height: 350rpx !important;">
        <div style="padding: 0 40rpx;text-align: center">
          <p style="color: #010101;font-size: 32rpx;margin: 52rpx 0 20rpx 0">更多门店即将上线，敬请期待</p>
        </div>
      </div>
    </div>
    <div v-if="getLocationFail" style="padding-top: 100rpx;">
      <img :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/b03a79ef77d24a72befb6ada4e513ee1.png'" alt style="width: 100%;height: 350rpx !important;">
      <div style="padding: 0 40rpx;text-align: center">
        <p style="color: #010101;font-size: 32rpx;margin: 52rpx 0 20rpx 0">没有获取到您的位置~无法为您推荐附近门店呢</p>
        <p style="color: #898989;font-size: 32rpx">请尝试开启手机定位服务</p>
      </div>
      <button class="signin-btn" open-type="openSetting">重新定位</button>
    </div>
    <!-- <button class="open" v-if="getLocationFail" open-type="openSetting" bindtap="openSetting"> 修改授权 </button > -->
  </div>
</template>

<script>
import API from '@api/index'
import { mapGetters } from 'vuex'
import * as types from '@store/types'
import RouterPath from '@router/config'
import Contants from '@contants/index'

export default {
  data () {
    return {
      Contants,
      getLocationFail: false,
      isInProcess: true,
      storeList: []
    }
  },
  computed: {
    ...mapGetters({
      userInfo: 'userInfo',
      shopInfo: 'shopInfo'
    })
  },
  methods: {
    showRemind () {
      wx.showModal({
        title: '温馨提醒',
        content: '需要获取您的地理位置才能使用小程序',
        showCancel: false,
        confirmText: '获取位置',
        success: res => {
          if (res.confirm) {
            this.getStoreListByLocation()
          }
        },
        fail: res => {
          this.getStoreListByLocation()
        }
      })
    },
    getStoreListByLocation () {
      // let _this = this
      wx.showLoading({
        title: '加载中',
        icon: 'loading'
      })
      wx.getLocation({
        type: 'wgs84',
        success: res => {
          API.my.getStoreListByLocation({ longitude: res.longitude, latitude: res.latitude, userId: this.shopInfo.userId }).then(res => {
            if (parseInt(res.status) === 200) {
              this.storeList = res.data
              this.getLocationFail = false
              this.isInProcess = true
            } else {
              console.log('出错啦')
            }
          })
        },
        fail: res => {
          this.getLocationFail = true
          this.isInProcess = false
        },
        complete: res => {
          wx.hideLoading()
        }
      })
    },
    goHome (item) {
      // console.log(item)
      this.$store.dispatch(types.SET_DEFAULT_STORE, { storeId: item.storeId })
      // console.log(this.$store.state.shopInfo)
      this.$store.dispatch(types.GET_SHOP_INFO_BY_ID, { storeId: item.storeId }).then(data => {
        wx.reLaunch({
          url: RouterPath.Home
        })
      })
    }
  },
  onHide () {},
  onUnload () {},
  onLoad () {
    // console.log(this.userInfo, this.shopInfo)
  },
  onShow () {
    this.getStoreListByLocation()
  }
}
</script>

<style lang="stylus" scoped>
.signin-btn {
  width: 660rpx;
  height: 88rpx;
  border-radius: 44rpx;
  background-color: #ffa622;
  color: #ffffff;
  font-size: 32rpx;
  margin-top: 54rpx;
}

.store-item {
  width: 100%;
  height: auto;
  border-bottom: 8rpx solid #f4f5f7;
}

.address {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 42rpx;
}

.store-item-info {
  height: auto;
  padding: 40rpx 44rpx 24rpx 40rpx;
}

.sotre-item-title {
  background-color: #fff;
  border-radius: 60rpx;
  font-size: 36rpx;
  display: inline-block;
  padding: 10rpx 30rpx;
  color: #ff8f00;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 607rpx;
  border: 1rpx solid #ff8f00;
}

.sotre-item-place {
  color: #898989;
  font-size: 28rpx;
  padding-left: 36rpx;
}

.store-item-distance {
  height: 88rpx;
  border-top: 1rpx solid #eee;
  padding: 0 44rpx;
  line-height: 88rpx;
  position: relative;
}

.dingwei-icon {
  width: 30rpx;
  height: 40rpx;
  margin-right: 8rpx;
  position: absolute;
  top: 25rpx;
}

.tip {
  font-size: 26rpx;
  margin-left: 24rpx;
  color: #ff8f00;
}
</style>
