<template>
  <div class="manage-address-bg" :class="{bg_white:addressList.length === 0}">
    <div class="body">
      <div class="manage-address">
        <div class="address-list-box">
          <div class="address-list" v-for="(item, index) in addressList" :key="index">
            <div class="address-info" @click="backToOrderConfirm(item)">
              <div class="name-phone">
                <span class="receiptName">{{item.receiptName}}</span>
                <span class="phone">{{item.receiptPhone}}</span>
              </div>
              <div class="address">{{item.provinceName + item.cityName + item.areaName + item.receiptAddress}}</div>
            </div>
            <div class="operation">
              <div>
                <div class="default-word" v-if="item.defaultFlag">默认</div>
              </div>
              <div class="operation-btn">
                <img class="edit-btn" src="/static/images/edit.png" @click="goToEdit(item.id)" alt>
                <img class="del-btn" src="/static/images/delete_address.png" @click="delAadress(item.id)" alt>
              </div>
            </div>
          </div>
          <div class="no-address-box" v-if="addressList.length === 0">
            <div class="no-address">
              <img src="/static/images/manage_address.png" alt>
            </div>
            <div class="tip-word">还没有可用地址哦，快去添加吧~</div>
          </div>
        </div>
        <footer class="footer" @click="addNewAddress('add')">添加新地址</footer>

        <!-- 删除模态框 -->
        <confirm-modal v-if="showDelModal" :title="delModalInfo.title" :cancel="delModalInfo.cancel" :confirm="delModalInfo.confirm" v-on:isCancel="notSureDel"/>
      </div>
    </div>
    <div class="noMore" v-if="addressList.length !== 0">没有更多了哦~</div>
  </div>
</template>
<script>
import * as types from '../../store/types'
import { mapGetters } from 'vuex'
import API from '@api/index'
import RouterPath from '@router/config'

import ConfirmModal from '@components/UI/ConfirmModal'

export default {
  data () {
    return {
      delModalInfo: {
        title: '您确认删除吗？',
        cancel: '取消',
        confirm: '确认'
      },
      showDelModal: false,
      noAddress: false,
      addressList: [],
      addressId: null
    }
  },
  computed: {
    ...mapGetters({
      token: 'token',
      isFromOrderConfirm: 'isFromOrderConfirm'
    })
  },
  components: {
    ConfirmModal
  },
  methods: {
    backToOrderConfirm (item) {
      this.$store.commit(types.SAVE_FROM_ADDRESS_ITEM, item)
      this.$store.commit(types.IS_FROM_ORDER_CONFIRM, true)
      wx.navigateBack(1)
    },
    notSureDel (e) {
      // console.log(e)
      if (e) {
        this.showDelModal = false
      } else {
        API.my.delCustomerAddressList({id: this.addressId}).then(res => {
          this.showDelModal = false
          wx.showToast({
            title: '删除成功',
            icon: 'none',
            duration: 1000
          })
          this.getCustomerAddressList()
        })
      }
    },
    delAadress (id) {
      this.addressId = id
      this.showDelModal = true
    },
    delInfo (e) {
      if (e) {
        API.my.delCustomerAddressList({id: this.addressId}).then(res => {
          console.log(res)
          wx.navigateTo({
            url: RouterPath.Address.List
          })
        })
      }
    },
    goToEdit (id) {
      wx.navigateTo({
        url: `${RouterPath.Address.Edit}?id=${id}`
      })
    },
    addNewAddress (e) {
      console.log(e)
      wx.navigateTo({
        url: RouterPath.Address.Add
      })
    },
    getCustomerAddressList () {
      API.my.getCustomerAddressList().then(res => {
        this.addressList = res.data
      }).catch(err => {
        console.log(err)
      })
    }
  },
  onLoad (options) {
    this.getCustomerAddressList()
  },
  onHide () {
  },
  onUnload () {
  },
  onShow () {
    this.getCustomerAddressList()
  }
}
</script>
<style lang="stylus" scoped>
.manage-address-bg {
  // position relative
  background: #f2f4fb;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.bg_white.manage-address-bg {
  background: #fff;
}

.manage-address {
  font-family: PingFang-SC-Medium;

  .address-list-box {
    margin-bottom: 150rpx;
  }

  .address-list {
    .operation {
      display: flex;
      padding: 10rpx 0 10rpx 50rpx;
      justify-content: space-between;
      align-items: center;

      .default-word {
        font-size: 22rpx;
        background: #FF7E00;
        color: #fff;
        padding: 0 8rpx;
        border-radius: 8rpx;
      }

      .operation-btn {
        display: flex;

        img.edit-btn {
          width: 36rpx;
          height: 42rpx;
          margin-right: 39rpx;
        }

        img.del-btn {
          width: 41rpx;
          height: 40rpx;
          margin-right: 20rpx;
        }
      }
    }

    .address-info {
      border-top: 10rpx solid #f7f8fc;
      padding-left: 35rpx;

      .name-phone {
        padding: 20rpx 0;

        .receiptName {
          font-size: 32rpx;
          font-weight: 500;
          color: rgba(1, 1, 1, 1);
          line-height: 36rpx;
        }

        .phone {
          font-size: 26rpx;
          font-family: PingFang-SC-Medium;
          font-weight: 500;
          color: rgba(1, 1, 1, 1);
          opacity: 0.9;
          margin-left: 29rpx;
        }
      }

      .address {
        border-bottom: 2rpx solid #f1f1f1;
        padding-bottom: 16rpx;
        font-size: 26rpx;
        font-weight: 500;
        color: rgba(1, 1, 1, 1);
        line-height: 36rpx;
        opacity: 0.9;
        font-family: PingFang-SC-Medium;
      }
    }
  }

  .no-address-box {
    margin-top: 250rpx;

    .no-address {
      display: flex;
      justify-content: center;

      img {
        width: 262rpx;
        height: 177rpx;
      }
    }

    .tip-word {
      color: #aeaeae;
      font-size: 30rpx;
      text-align: center;
      margin-top: 60rpx;
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 117rpx;
    background: #f7d44d;
    text-align: center;
    line-height: 117rpx;
    font-size: 36rpx;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    z-index 999
  }
}

.noMore {
  font-size: 26rpx;
  font-weight: 500;
  color: rgba(153, 153, 153, 1);
  line-height: 43rpx;
  text-align: center;
  position relative
  top -120rpx
  margin-bottom:117rpx;
}
</style>
