<template>
  <div class="home_box">
    <!-- 去掉掉下的红包 -->
    <!-- <redPacket/> -->
    <!-- 去掉掉下的红包 -->
    <div class="header">
      <div class="header-container">
        <div class="shareShop btn" @click="shareShop">
          <img class="icon" :src="shopInfo && shopInfo.logoImageUrl ? shopInfo.logoImageUrl : '/static/images/index_page_share_shop_icon.png'" mode="aspectFill">
          <span class="share-icon"></span>
        </div>
        <div class="search">
          <img class="icon" src="/static/images/search_icon.png" mode="widthFix">
          <input class="form" placeholder="搜索商品名称" confirm-type="search" @confirm="confirmSearch">
        </div>
      </div>
      <!-- <div class="more btn" @click="goClassifyPage">
        <img class="icon" src="/static/images/index_page_topMore_icon.png" mode="widthFix">
      </div> -->
    </div>
    <div class="banner">
      <swiper class="box" autoplay="true" circular="true" indicator-dots="true" indicator-color="#fff" indicator-active-color="#fdd317">
        <swiper-item class="item" v-for="(item, index) in topBannerList" :key="index">
          <!-- <img class="img" @click="goDetail(item.id, item.type)" :src="item.bannerImg" mode="widthFix"> -->
          <img class="img" @click="goNotice()" :src="item.bannerImg" mode="widthFix">          
        </swiper-item>
      </swiper>
    </div>

    <!-- 公告栏 -->
    <!-- <div class="notice">
      <div class="title">
        <div class="name">商城</div>
        <div class="img">公告</div>
      </div>
      <div class="line"></div>
      <div class="desc">
        <div class="desc_c">
          <div></div>
        </div>
      </div>
    </div> -->

    <!-- 去掉红包入口 -->
    <!-- <div class="redPacket">
      <img class="img" :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/9f228e926c214b5a8cac75693ba2c54f.png'" mode="widthFix" @click="pushRedPacket">
    </div>-->
    <!-- 去掉红包入口 -->
    <!-- 拼团和礼物说入口大图 start -->
    <div class="activityEntryImgs">
      <div @click="goGroupBuyList">
        <img :src="activityEntryImgs.groupBuyImgUrl" mode="widthFix" alt="">
      </div>
      <div @click="goSendGift">
        <img :src="activityEntryImgs.sendGiftImgUrl" mode="widthFix" alt="">
      </div>
    </div>
    <!-- 拼团和礼物说入口大图 end -->
    <!-- 新人有礼 -->
    <div class="newManner" v-if="bannerCustomer && bannerCustomer.length > 0">
      <div class="newManner_main">
        <div class="newManner_title">· 新人有礼 ·</div>
        <div class="newManner_cont" @click="enterNewManges_clickHandler" v-for="(item, index) of bannerCustomer" :key="index">
          <img :src="item.imgUrl" alt>
        </div>
      </div>
    </div>
    <!-- 新人有礼 end-->
    <!-- 秒杀 start -->
    <!-- v-if="secKillList && secKillList.length" -->
    <block>
      <div class="groupActivities" v-if="secKillList && secKillList.length">
        <div class="title" @click="goSecKillList">
          <div class="we_header_l">
            <img src="/static/images/secStatus-icon.png" alt="">
          </div>
          <div style="width: 224rpx; height: 25rpx;" class="we_text">
            <img src="/static/images/open-icon.png" alt="" style="width: 100%;height: 100%;">
          </div>
          <img style="width:93rpx;height:29rpx;" class="img" src="/static/images/more_icon.png">
        </div>
        <div class="groupLists">
          <div v-for="(item, index) in secKillList" :key="index">
            <SecKillGoodsItem :item="item" @subRule='subRuleModel'></SecKillGoodsItem>
          </div>
        </div>
      </div>
    </block>
    <!-- 秒杀 end -->
    <!--拼团活动（拼团）start -->
    <block v-if="groupBuyList && groupBuyList.length > 0">
      <div class="groupActivities">
        <div class="title" @click="goGroupBuyList">
          <text class="activityText">拼团活动</text>
          <img style="width:93rpx;height:29rpx;" class="img" src="/static/images/more_icon.png">
        </div>

        <!-- <swiper class="groupLists" autoplay="true" circular="true" :display-multiple-items="1">
          <swiper-item v-for="(items, index) in groupBuyList" :key="index">
            <GroupGoodsItem :item="items" :isShowBtn="true"></GroupGoodsItem>
          </swiper-item>
        </swiper>-->
        <div class="groupLists">
          <div v-for="(items, index) in groupBuyList" :key="index">
            <GroupGoodsItem :item="items" :isShowBtn="true"></GroupGoodsItem>
          </div>
        </div>
      </div>
    </block>
    <!--拼团活动（拼团）end -->
    <!--礼物活动 start -->
    <block v-if="sendGiftList && sendGiftList.length > 0">
      <div class="groupActivities sendGiftList">
        <div class="title" @click="goSendGift('list')">
          <text class="activityText">礼物活动</text>
          <img style="width:93rpx;height:29rpx;" class="img" src="/static/images/more_icon.png">
        </div>

        <div class="groupLists">
          <div v-for="(items, index) in sendGiftList" :key="index">
            <SendGiftItem :item="items" :isShowBtn="true"></SendGiftItem>
          </div>
        </div>
      </div>
    </block>
    <!--礼物活动 end -->

    <!-- 店长推荐（原先85--门店现货） -->
    <block v-for="(item, index) in classifyList" :key="index">
      <div class="commodityList" v-if="item.categoryId === 85">
        <div class="title borderBottom">
          <img class="icon" :src="homeTitleImgList[0]" mode="widthFix">
          <div class="more" @click="goSearch(item.categoryId)" style="display:flex;align-items:center;">
            <img style="width:93rpx;height:29rpx;" class="img" src="/static/images/more_icon.png">
          </div>
        </div>
        <div class="list">
          <block v-for="(zitem, zindex) in item.productDTOs" :key="zindex">
            <div style="position: relative">
              <div class="item" @click="goDetail(zitem.id)">
                <div class="img_box">
                  <img class="img" :lazy-load="true" :src="zitem.skuImg" mode="aspectFill">
                </div>
                <!-- <div class="name">{{zitem.productName + zitem.skuName}}</div> -->
                <div class="name">{{zitem.productName}}</div>                
                <div class="sellPrice">￥{{zitem.sellPrice}}</div>
                <div class="beforePrice">￥{{zitem.marketPrice}}</div>
              </div>
              <div class="addCarts" @click="addCar(zitem,$event)">
                <img class="img" src="/static/images/page_index_carts_icon.png" mode="widthFix">
              </div>
            </div>
          </block>
        </div>
      </div>
    </block>

    <!-- 现在的门店现货---以前门店搜索后的所有门店信息 -->
    <block>
      <div class="commodityList">
        <div class="title borderBottom">
          <img class="icon" :src="homeTitleImgList[85]" mode="widthFix">
        </div>
        <div class="list">
          <block v-for="(zitem, zindex) in goodsList" :key="zindex">
            <div style="position: relative">
              <div class="item" @click="goDetail(zitem.id)">
                <div class="img_box">
                  <img class="img" :lazy-load="true" :src="zitem.skuImg" mode="aspectFill">
                </div>
                <!-- <div class="name">{{zitem.productName + zitem.skuName}}</div> -->
                <div class="name">{{zitem.productName}}</div>                
                <div class="sellPrice">￥{{zitem.sellPrice}}</div>
                <div class="beforePrice">￥{{zitem.marketPrice}}</div>
              </div>
              <div class="addCarts" @click="addCar(zitem,$event)">
                <img class="img" src="/static/images/page_index_carts_icon.png" mode="widthFix">
              </div>
            </div>
          </block>
        </div>
        <div v-if="(goodsList.length !=0 && goodsList.length<5) || showPageBootom" class="page-bottom-noline">已经到底了～</div>
      </div>
    </block>
    <!-- 添加购物车动画 -->
    <div class="good_box" text="text" v-if="!bezier.hide_good_box" :style="{left: bezier.bus_x+'px', top: bezier.bus_y +'px'}">
      <img class="img" src="/static/images/page_index_carts_icon.png" mode="widthFix">
    </div>

    <!-- 每日爆款 start -->
    <!-- <div class="dailyBurst" v-if="burstList && burstList.length > 0">
      <div class="todayDaily">
        <span class="daily"></span>
        <span class="content">每日爆款&nbsp;·</span>
        <span class="dailyright"></span>
        <img class="img" src="/static/images/todayhot.png">
      </div>
      <block v-for="(aitem, index) in burstList" :key="index">
        <div class="item" @click="goActivityDetail(aitem.storeSkuId)">
          <img class="img" :src="aitem.imageUrl" mode="aspectFill">
          <div class="contentBox">
            <div class="title">
              <span class="type">{{aitem.label}}</span>
              <span class="mainTitle">{{aitem.productName}}</span>
            </div>
            <div>
              <span style="display:flex;padding-bottom:8rpx;align-items:center;" class="detail">{{aitem.description}}</span>
            </div>
            <div class="numberAbout">
              <span class="sellPrice">￥{{aitem.sellPrice}}</span>
              <span class="beforePrice">￥{{aitem.marketPrice}}</span>
              <span class="sellCount">销量 {{aitem.saleCnt}}</span>
            </div>
          </div>
        </div>
      </block>
    </div> -->
    <!-- 每日爆款 end -->
    <!-- 微信分佣弹框 -->
    <!-- <div class="adolf-modal-box canNotBuyModal" v-if="payConfig" style="z-index:999" @click="true" id="canNotBuyAgain">
      <div class="content-box">
        <div class="know-header">
          提示
          <span class="know-icon"></span>
        </div>
        <div class="know-content">
          <p>该门店还未绑定收款微信，暂无法进入，</p>
          <p>赶快提醒老板去App绑定吧！</p>
        </div>
      </div>
    </div>-->
  </div>
</template>
<script>
import * as types from '@store/types.js'
import { mapGetters } from 'vuex'
import API from '@api'
import Utils from '@utils/utils'
import Tools from '@utils/tools'
import Bezier from '@utils/bezier'
import Contants from '@contants/index'
import Configure from '@utils/configure'
import TalkingData from '../../../utils/talkingData.js'

import redPacket from '@components/Home/Redpacket'
import confirmKnowModal from '@components/UI/ConfirmKnowModal.vue'
import GroupGoodsItem from '@components/GroupBuy/GroupGoodsItem'
import SecKillGoodsItem from '@components/SecKill/SecKillGoodsItem'
import SendGiftItem from '@components/SendGift/SendGiftGoodsItem'
import RouterPath from '@router/config'

import mixins from '@mixins/index'

export default {
  props: ['nowSelectPage'],
  data () {
    return {
      Contants,
      linePos: [],
      activityEntryImgs: {
        groupBuyImgUrl: Contants.BASE_IMG_URL + 'online/opmactivitymg/e4c7fbb02acc41da91d29e13a9203165.jpg', // 拼团入口图片
        sendGiftImgUrl: Contants.BASE_IMG_URL + 'online/opmactivitymg/0f283f7d210740319ecfbc62044d9b6c.jpg' // 送礼物入口图片
      },
      homeTitleImgList: {
        85: Contants.BASE_IMG_URL + 'online/opmactivitymg/fee323d7704641ccb8d3603ba416c318.jpg', // 门店
        1: Contants.BASE_IMG_URL + '/static/images/home/home-title-93.png',
        83: Contants.BASE_IMG_URL + 'online/opmactivitymg/e7137fff905e43f59dd93bbeddc741a0.png', // 亲子
        11: Contants.BASE_IMG_URL + 'online/opmactivitymg/060ac24e16e74f7fbae4eb0e2e72ddca.png', // 玩具
        10: Contants.BASE_IMG_URL + 'online/opmactivitymg/d7f18a0cf7f7409997fe53578f6dc92e.png', // 服饰
        8: Contants.BASE_IMG_URL + 'online/opmactivitymg/aff9ff0e4af94cbfbd88d419c271baba.png', // 孕妈
        6: Contants.BASE_IMG_URL + 'online/opmactivitymg/ccbe2616be5f44e1810851aa8a3418b7.png', // 洗护
        7: Contants.BASE_IMG_URL + 'online/opmactivitymg/c9f5c732916841c08d2bd065ee1ee805.png', // 车床
        5: Contants.BASE_IMG_URL + 'online/opmactivitymg/b822d0c56edc4473845e96dce5550663.png', // 喂养
        4: Contants.BASE_IMG_URL + 'online/opmactivitymg/e75fc04fe1c0428fa40fc7ecbbf7b333.png', // 拉拉裤
        3: Contants.BASE_IMG_URL + 'online/opmactivitymg/4e8cce5cef34423cb0a66a2985480ce9.png', // 纸尿裤
        9: Contants.BASE_IMG_URL + 'online/opmactivitymg/12a6aa694d6643cc93f83fdeaaaeb6e2.png', // 寝居
        2: '/static/images/home/home-title-2.png', //
        0: '/static/images/home/home-store.png'
      },
      timer: null,
      bezier: {
        hide_good_box: true,
        bus_x: 0,
        bus_y: 0
      },
      burstList: [], // 爆款的list
      classifyList: [],
      goodsList: [], // 门店商品
      groupBuyList: [], // 拼团list
      sendGiftList: [], // 礼物list
      secKillList: [], // 秒杀list
      storeSale: [],
      bannerCustomer: [], // 新人有礼的banner图
      activityParams: {
        page: 0,
        size: 2
      },
      params: {
        page: 0,
        size: 20
        // sort: 'imgFlag,desc'
      },
      topBannerList: [], // banner的list
      isloadMoreGoods: false,
      showPageBootom: false // 下拉列表
    }
  },
  mixins: [mixins],
  computed: {
    ...mapGetters({
      openId: 'openId',
      login: 'login',
      storeId: 'storeId',
      shopInfo: 'shopInfo',
      userInfo: 'userInfo',
      cartPointPosition: 'cartPointPosition'
    })
  },
  components: {
    redPacket,
    confirmKnowModal,
    GroupGoodsItem,
    SendGiftItem,
    SecKillGoodsItem
  },
  methods: {
    init () {
      this.getClassifyList()
      this.getBurstList() // 获取爆款数据
      this.getBanner()
      this.getgroupBuyList()
      this.getGiftList()
      this.getGoodsList()
      this.getTopBannerList() // banner数据
      this.getSecKill() // 秒杀数据
    },
    subRuleModel (item) {
      Configure.postSubscric(item)
      console.log(item, 'item--item')
    },
    /**
     * @description bannerlist
     */
    getTopBannerList () {
      API.TopBanner.getTopBanner().then(res => {
        if (res.status === 200) {
          let data = Utils.resolveData(res.data, [{ path: 'bannerImg', width: 200 }])
          this.topBannerList = data
        }
      })
    },
    /**
     * @description 去拼团活动
     */
    goGroupBuyList () {
      this.$router.push({
        path: RouterPath.GroupBuy.List
      })
      console.log(this.isNewUser, 'this.isNewUser')
      if (!this.isNewUser) {
        TalkingData.onEvent('c_去拼图商品列表', 'c_去拼图商品列表', {storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      } else {
        TalkingData.onEvent('c_新用户', 'c_新用户', {})
      }
    },
    /**
     * @description 去秒杀列表
     */
    goSecKillList () {
      this.$router.push({
        path: RouterPath.SecKill.List
      })
      if (!this.isNewUser) {
        TalkingData.onEvent('c_去秒杀商品列表', 'c_去秒杀商品列表', {storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      } else {
        TalkingData.onEvent('c_新用户', 'c_新用户', {})
      }
    },
    /**
     * @description 去送礼
     */
    goSendGift (list = null) {
      // wx.showToast({
      //   title: '活动暂未开始哦～',
      //   icon: 'none',
      //   duration: 2000
      // })
      if (list === 'list') {
        this.$router.push({
          path: RouterPath.Gift.List
        })
      } else {
        this.$router.push({
          path: RouterPath.Gift.Index
        })
      }
      if (!this.isNewUser) {
        TalkingData.onEvent('c_去送礼物商品列表', 'c_去送礼物商品列表', {storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      } else {
        TalkingData.onEvent('c_新用户', 'c_新用户', {})
      }
    },
    pushRedPacket () {
      wx.navigateTo({
        // url: `/pages/redPacketDetails/index`
        url: RouterPath.Activitys.RedPacket
      })
    },
    // banner 去公告页面
    goNotice () {
      this.$router.push({
        path: RouterPath.Activitys.Notice
      })
    },
    goDetail (item, type) {
      switch (type) {
        case '0': // 活动商品
          this.$router.push({
            path: RouterPath.Goods.GoodsActivityDetail,
            query: { id: item }
          })
          break
        case '1':
          this.$router.push({ // 普通商品
            path: RouterPath.Goods.GoodsDetail,
            query: { id: item, type: type || '' }
          })
          break
        case '2': // 新人礼
          wx.navigateTo({
            url: RouterPath.Activitys.NewManner
          })
          break
        case '3': // 新人礼
          break
        default:
          this.$router.push({ // 普通商品
            path: RouterPath.Goods.GoodsDetail,
            query: { id: item, type: type || '' }
          })
          if (!this.isNewUser) {
            TalkingData.onEvent('c_去普通商品详情', 'c_去普通商品详情', {storeSkuId: item, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
          } else {
            TalkingData.onEvent('c_新用户', 'c_新用户', {})
          }
      }
    },
    goActivityDetail (id, type) {
      this.$router.push({
        path: RouterPath.Goods.GoodsActivityDetail,
        query: { id: id }
      })
    },
    confirmSearch (e) {
      const val = e.target.value.trim()
      if (val) {
        wx.navigateTo({
          url: RouterPath.Goods.GoodsSearchList + '?condition=' + val
        })
      } else {
        // 搜索为空
      }
    },
    shareShop () {
      // wx.canIUse('measureText')
      let $this = this
      if ($this.login) {
        // 已登录
        const ctx = wx.createCanvasContext('mycanvas')
        if (!ctx.measureText) {
          Tools.toast('该版本暂不支持生成海报', 'loading', 800)
        } else {
          $this.$emit('showPoster', true)
        }
        TalkingData.onEvent('c_生成店铺海报', 'c_生成店铺海报', {storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      } else {
        wx.navigateTo({
          // url: '/pages/impower/index?fromPage=index&target=shareShop'
          url: RouterPath.Auth.Login + '?fromPage=index&target=shareShop'
        })
      }
    },
    addCar (item, e) {
      if (this.login) {
        // 已登录
        const sendObject = {
          storeSkuId: item.id,
          storeId: this.storeId,
          count: 1
        }
        this.$store.dispatch(types.SAVE_CAR_COUNT, sendObject).then(res => {
          this.bezier = new Bezier(this.cartPointPosition, 30, e)
          this.bezier.clickOnGoods(() => {
            this.$emit('changeCount', res.count)
          })
        })
        TalkingData.onEvent('c_添加购物车', 'c_添加购物车', {storeSkuId: item.id, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      } else {
        wx.navigateTo({
          url: RouterPath.Auth.Login + '?fromPage=index'
        })
      }
    },
    goClassifyPage () {
      this.$emit('changeTab', 'classify')
    },
    goSearch (id, isSale) {
      wx.navigateTo({
        url:
          RouterPath.Goods.GoodsList +
          '?categoryId=' +
          id +
          '&type=more&isSale=' +
          isSale || ''
      })
      if (!this.isNewUser) {
        TalkingData.onEvent('c_去普通商品列表', 'c_去普通商品列表', {storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      } else {
        TalkingData.onEvent('c_新用户', 'c_新用户', {})
      }
    },
    getStoreSale () {
      let data = []
      data.map(item => {
        item = Utils.resolveData(item, [{ path: 'skuImg', width: 230 }])
      })
      this.storeSale = data
    },
    // 获取新人有礼首页banner图
    getBanner () {
      let $this = this
      API.newManner.geBanners().then(res => {
        if (res.status === 200) {
          $this.bannerCustomer = Utils.resolveData(res.data, [{ path: 'imgUrl', width: 750 }])
        }
      })
    },
    getClassifyList () {
      let $this = this
      // wx.getStorage
      API.Index.getClassifyList({ storeId: $this.storeId }).then(res => {
        wx.stopPullDownRefresh()
        if (parseInt(res.status) === 200) {
          let data = res.data
          data.map(item => {
            if (item['productDTOs']) {
              item['productDTOs'] = Utils.resolveData(item['productDTOs'], [
                { path: 'skuImg', width: 230 }
              ])
            }
          })
          $this.classifyList = data
        }
      })
    },
    // 获取爆款列表数据
    getBurstList () {
      API.newManner.getActivityList({ activityType: 'HOTDAILY' }).then(res => {
        if (res.status === 200) {
          let data = Utils.resolveData(res.data, [{ path: 'imageUrl', width: 750 }])
          this.burstList = data
        }
      })
    },
    // 新人有礼
    enterNewManges_clickHandler () {
      wx.navigateTo({
        url: RouterPath.Activitys.NewManner
      })
    },
    // 获取拼团活动列表
    getgroupBuyList () {
      API.GroupBuy.getGroupBuyList({ ...this.activityParams, storeId: this.storeId, status: 'ON_LINE', sort: 'soldCount,desc' }).then(res => {
        if (res.status === 200) {
          this.groupBuyList = res.data.content
        }
      })
    },
    // 获取礼物列表
    getGiftList () {
      API.Gift.getGiftList({ ...this.activityParams, storeId: this.storeId }).then(res => {
        if (res.status === 200) {
          console.log(res.data)
          this.sendGiftList = res.data.content
        }
      })
    },
    // 获取秒杀列表
    getSecKill () {
      API.SecKill.getSecKillHome({ ...this.activityParams, storeId: this.storeId }).then(res => {
        if (res.status === 200) {
          let _data = res.data
          let now = new Date().getTime()
          _data.map(k => {
            let time = new Date(k.beginTime).getTime()
            if (time - now > 0) {
              k.flags = true
            } else {
              k.flags = false
            }
            if ((new Date(k.beginTime).getTime() - new Date().getTime()) / 86400000 < 7) {
              k.typeFlag = true
            } else {
              k.typeFlag = false
            }
          })
          this.secKillList = _data
        }
      })
    },
    // 获取门店商品信息
    // platformFlag -- 排除掉云仓商品
    getGoodsList () {
      wx.showLoading({
        title: '加载中...',
        mask: true
      })
      this.params = { ...this.params, storeId: this.storeId, platformFlag: false }
      // 正常商品获取数据
      this.searchGoodsReq(this.params)
    },
    searchGoodsReq () {
      console.log(this.params, '这是门店商品信息的参数，---')
      API.Search.searchGoods(this.params)
        .then(res => {
          wx.hideLoading()
          if (res.status === 200) {
            let data = Utils.resolveData(res.data.content, [{ path: 'skuImg', width: 200 }])
            this.goodsList = [...this.goodsList, ...data]
            if (data.length) {
              this.isloadMoreGoods = false
              this.params.page++
            } else {
              this.showPageBootom = true
            }
          }
        })
        .catch(rest => {
          this.isloadMoreGoods = false
        })
    },
    loadMoreGoods () {
      console.log('加载更多')
      if (this.nowSelectPage === 'index' && !this.isloadMoreGoods) {
        this.isloadMoreGoods = true
        this.getGoodsList(true)
      }
    },
    // 清空数据
    clearDate () {
      this.groupBuyList = [] // 拼团list
      this.sendGiftList = [] // 礼物list
      this.burstList = [] // 爆款的list
      this.goodsList = [] // 门店商品的list
      this.topBannerList = [] // banner消除
      this.isloadMoreGoods = false
      this.showPageBootom = false
      this.params = {
        page: 0,
        size: 20
      }
    }
  },
  onPullDownRefresh () {
    if (this.nowSelectPage === 'index') {
      this.init()
    }
  },
  // 触底时继续请求数据
  onReachBottom () {
    this.loadMoreGoods()
  },
  onLoad (opt) {
    console.log(this.userInfo, '首页')
  },
  onReady (opt) {
    this.init()
  },
  onHide () {
    // this.clearDate()
  },
  onUnload () {
    this.clearDate()
  },
  onShow () {
    if (this.nowSelectPage === 'index') {
      this.init()
    }
  }
}
</script>
<style lang="stylus" scoped>
.content-box {
  padding: 0px;
  min-height: 150rpx;

  .know-header {
    font-weight: bold;
    border-bottom: 1rpx solid #e1e1e1;
    text-align: center;
    padding: 15rpx 30rpx;
    font-size: 30rpx;
    color: #333;
    position: relative;

    .know-icon {
      width: 30rpx;
      height: 30rpx;
      background: url('../../../../static/images/icon-prompt.png') no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: 15rpx;
      display: inline-block;
    }
  }

  .know-content {
    text-align: center;
    font-size: 28rpx;
    height: 100rpx;
    line-height: 50rpx;
    padding: 20rpx 35rpx;
  }
}
// 公告栏
.notice{
  height: 141rpx;
  padding: 30rpx;
  background:rgba(255,255,255,1);
  box-shadow:0px 4px 31px 4px rgba(43,30,25,0.07);
  margin-bottom: 20rpx;
  display: flex;
  .title{
    .name{
      color: #393939;
      font-size: 36rpx;
    }
    .img{
      width: 78rpx;
      height: 34rpx;
      background: url(../../../../static/images/notice_icon.png) no-repeat;
      background-size: 100% 100%;
      color: #fff;
      font-size: 26rpx;
    }
  }
  .line{
    width:1px;
    height:65px;
    background:rgba(195,195,195,1)
  }
  .desc{
    .desc_c{
      display: flex;
    }
  }
}

.home_box {
  padding-bottom: 80rpx;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

.home_box .newManner {
  background: #fff;
  overflow: hidden;

  >.newManner_main {
    width: 690rpx;
    height: 393rpx;
    background: rgba(255, 255, 255, 1);
    border-radius: 20rpx;
    margin: 20rpx auto;

    > .newManner_title {
      height: 91rpx;
      line-height: 91rpx;
      text-align: center;
      border-bottom: 1px solid #f5f5f4;
      font-size: 36rpx;
      font-weight: bold;
      color: rgba(255, 0, 80, 1);
    }

    > .newManner_cont {
      img {
        width: 100%;
        height: 298rpx;
      }
    }
  }
}

.activityEntryImgs {
  background-color #fff;
  display flex;
  justify-content space-between;
  box-sizing: border-box;
  padding 20rpx 30rpx 0rpx 30rpx;
  div {
    flex: 1;
    width: 339rpx !important;
    height: 199rpx;
    img {
      width: 339rpx !important;
      height: 199rpx;
      border-radius: 10rpx;
      // box-shadow: 0rpx 10rpx 10px rgba(153, 153, 153, 0.5);
    }
  }
}

.good_box {
  width: 38rpx;
  height: 38rpx;
  position: fixed;
  border-radius: 50%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  z-index: +99;
  background-color: #f40;
  display: flex;
  justify-content: center;
  align-items: center;

  >img {
    width: 30rpx;
    height: 30rpx;
  }
}

.pageScroll {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.header {
  background-color: #fdd317;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .header-container{
    display: flex;
    width: 100%;
    height: 110rpx;
    .shareShop {
      width: 70rpx !important;
      height: 70rpx !important;
      position: relative;
      .icon {
        width: 70rpx !important;
        height: 70rpx !important;
        margin: 10rpx 0 0 30rpx;
        border-radius: 50%;
        border: 6rpx solid #ffea8b;
        position: relative;
        top: 5rpx;
      }
      .share-icon {
        width: 28rpx;
        height: 28rpx;
        background-image: url('../../../../static/images/icon-share.png');
        background-size: 100% 100%;
        position: absolute;
        bottom: -30rpx;
        right: -35rpx;
      }
    }
    .search {
      background-color: #fff;
      border-radius: 40rpx;
      position: relative;
      height: 62rpx;
      width: 77%;
      left: 56rpx;
      top: 24rpx;
      .icon {
        width: 40rpx;
        height: 40rpx;
        margin-left: 14rpx;
        margin-top: 12rpx;
      }

      .form {
        height: 100%;
        position: absolute;
        left: 70rpx;
        top: 0;
        right: 20rpx;
        font-size: 28rpx;
      }
    }
  }
  
  
  // .btn {
  //   width: 110rpx;
  //   height: 100%;
  //   position: absolute;
  //   top: 0;
  // }

  // .more {
  //   right: 0;

  //   .icon {
  //     width: 45rpx;
  //     height: 45rpx;
  //     margin: 20rpx 0 0 20rpx;
  //   }
  // }
}

.banner {
  background-color: #fdd317;
  position: relative;
  width: 100%;
  height: 200rpx;
  margin-top: 110rpx;
  border-bottom: 130rpx solid #fff;

  .box {
    position: absolute;
    top: 5rpx;
    left: 50%;
    width: 670rpx;
    height: 310rpx;
    margin-left: -335rpx;
    // overflow: hidden;
    background-color: #fff;
    border-radius: 20rpx !important;
    box-shadow: 0rpx 13rpx 18px rgba(153, 153, 153, 0.5);
    z-index: 1;

    .item {
      position: relative;
      z-index: -1;
      // box-shadow: 0rpx 0rpx 18px rgba(153,153,153,1)
      border-radius: 20rpx !important;
    }

    .img {
      width: 670rpx;
      height: 320rpx;
      border-radius: 20rpx !important;
    }

    .img.banner {
      height: 100% !important;
    }
  }
}

.redPacket {
  background-color: #fff;
  text-align: center;
  margin: 8rpx 0rpx 10rpx 0rpx;

  .img {
    width: 680rpx;
    height: 194rpx;
  }
}

.todayDaily {
  overflow: hidden;
  background: #fff;
  margin-top: 20rpx;
  margin-bottom: 20rpx;

  .daily {
    float: left;
    border-bottom: 1rpx red solid;
    width: 120rpx;
    margin-left: 121rpx;
    margin-top: 31rpx;
  }

  .content {
    display: inline-block;
    color: #EA3323;
    font-size: 36rpx;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    width: 180rpx;
    height: 34rpx;
    line-height: 34rpx;
    margin-left: 20rpx;
  }

  .img {
    float: right;
    margin-top: 6rpx;
    margin-right: 13px;
    width: 38rpx;
    height: 44rpx;
  }

  .dailyright {
    float: right;
    border-bottom: 1rpx red solid;
    width: 120rpx;
    margin-right: 120rpx;
    margin-top: 31rpx;
  }
}

.dailyBurst {
  width: 100%;
  margin-top: 20rpx;

  .item {
    height: 460rpx;
    width: 92%;
    margin: 10rpx 4% 30rpx 4%;
    background-color: #ffffff;
    // box-shadow:0px 6px 9px rgba(153,153,153, 0.15);
    box-shadow: 0px 0px 9px rgba(153, 153, 153, 0.15);
    border-radius: 20rpx;

    .img {
      width: 100%;
      height: 300rpx;
      border-radius: 20rpx 20rpx 0 0;
    }

    .contentBox {
      overflow: auto;
      width: 100%;
      margin-top: -5px;

      .title {
        .type {
          margin-top: 14rpx;
          display: inline-block;
          font-family: PingFang-SC-Regular;
          text-align: center;
          margin-left: 30rpx;
          font-size: 20rpx;
          background: #FFF9E0;
          color: #F2A75B;
          border: 1px dashed #fef9e2;
          padding: 0 10rpx;
          min-width: 10%;
        }

        .mainTitle {
          line-height: 30rpx;
          display: inline-block;
          overflow: hidden;
          word-break: keep-all;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 75%;
          font-size: 28rpx;
          font-weight: 400;
          vertical-align: text-bottom;
          margin-left: 20rpx;
        }
      }

      .detail {
        color: #666;
        display: inline-block;
        overflow: hidden;
        word-break: keep-all;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 22rpx;
        width: 90%;
        padding-left: 30rpx;
        height: 40rpx;
      }

      .numberAbout {
        width: 100%;
        height: 20px;
        line-height: 20px;

        .sellPrice {
          font-size: 30rpx;
          color: #e60012;
          display: inline-block;
          padding-left: 25rpx;
          float: left;
          margin-top: -7rpx;
        }

        .beforePrice {
          font-size: 22rpx;
          color: #ADADAD;
          text-decoration: line-through;
          display: inline-block;
          float: left;
          margin-left: 13rpx;
          margin-top: -2px;
        }

        .sellCount {
          font-size: 22rpx;
          color: #adadad;
          display: inline-block;
          margin-right: 30rpx;
          float: right;
          margin-top: -3px;
        }
      }
    }
  }
}

.groupActivities {
  background-color: #f5f8fa;
  margin-top: 20rpx;
  position: relative;
  // box-shadow: 0px 4px 31px 4px rgba(43, 30, 25, 0.07);

  .title {
    background-color: #fff;
    padding: 25rpx 30rpx;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .activityText {
      color: #010101;
      font-size: 36rpx;
      font-weight: bold;
    }

    .moreText {
      color: #ED4744;
      font-size: 36rpx;
      font-weight: bold;
      display: flex;
      align-items: center;

      .arrow-right--border-color {
        border-color: #ED4744;
        width: 19rpx;
        height: 19rpx;
        margin-right: 0;
      }
    }
    .we_header_l{
      width: 126rpx;
      height: 60rpx;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .we_text{
      position: absolute;
      top: 35rpx;
      left: 180rpx;
    }
  }

  .groupLists {
    // height: 506rpx !important;
    margin-bottom: -20rpx;
    box-shadow: 0px 4px 31px 4px rgba(43, 30, 25, 0.05);
  }
}

.sendGiftList {
  margin-bottom: -20rpx;
}

.commodityList {
  background-color: #fff;
  margin-top: 20rpx;

  // box-shadow: 0px 4px 31px 4px rgba(43,30,25,0.07);
  .list {
    display: flex;
    flex-wrap: wrap;
    padding: 20rpx 20rpx 0 20rpx;

    .addCarts {
      position: absolute;
      right: 0rpx;
      bottom: 16rpx;
      // width 100rpx
      // height 100rpx
      paddin-right: 20rpx;

      .img {
        width: 45rpx;
        height: 44rpx;
        margin-top: 20rpx;
      }
    }

    .item {
      width: 235rpx;
      margin-bottom: 10rpx;
      position: relative;

      .img_box {
        width: 100%;
        text-align: center;
        padding: 10rpx 0;

        .img {
          width: 215rpx;
          height: 215rpx;
          background-size: 215rpx 215rpx;
        }
      }

      .name {
        height: 70rpx;
        padding: 0 15rpx;
        font-size: 26rpx;
        line-height: 35rpx;
        display: -webkit-box;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .sellPrice {
        font-size: 32rpx;
        color: #e60012;
        padding-left: 8rpx;
      }

      .beforePrice {
        font-size: 24rpx;
        color: #adadad;
        text-decoration: line-through;
        margin-top: -10rpx;
        margin-left: 12rpx;
      }
    }
  }
}

.activity>.title, .commodityList>.title {
  height: 90rpx;
  position: relative;
  text-align: center;

  .icon {
    width: 450rpx;
    height: 60rpx;
    margin-top: 15rpx;
  }

  .more {
    position: absolute;
    right: 10px;
    top: 0;
    height: 90rpx;
    // padding: 0 40rpx 0 40rpx;
    width: 100rpx;

    .text {
      font-size: 26rpx;
      line-height: 90rpx;
    }

    .img {
      width: 26rpx;
      height: 26rpx;
      vertical-align: middle;
      margin-left: 5rpx;
      display: inline-block;
      position: relative;
      left: -4rpx;
    }
  }
}

.activity {
  background-color: #fff;
  width: 690rpx;
  margin: 20rpx auto;
  border-radius: 20rpx;
  overflow: hidden;

  .box {
    overflow: hidden;

    .block {
      float: left;
      height: 290rpx;
    }

    .d1 {
      width: 45%;
      background: no-repeat center top;
      background-size: contain;
    }

    .d2 {
      width: 55%;

      div {
        background: no-repeat center top;
        background-size: contain;
        height: 50%;
      }
    }
  }
}

.borderBottom, .borderRight {
  position: relative;
}

.borderBottom:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f5f5f4;
}

.borderRight:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #f5f5f4;
}
</style>
