<template>
  <!--商品列表项-->
  <div class="item" @click="goDetail(datas)">
    <div class="img">
      <img class="icon" :src="datas.skuImg" mode="widthFix">
    </div>
    <div class="info">
      <div class="name">{{datas.skuName}}</div>
      <div class="memberCount">
        <img src="/static/images/member-count-bg.png" alt>
        <span>{{datas.maxMemberCount}}人团</span>
      </div>
      <div class="priceInfo">
        <div class="price">
          <text class="now">拼团价 ￥{{datas.unitPrice}}</text>
          <text class="before">单买价 ￥{{datas.sellPrice}}</text>
        </div>
        <span v-if="isShowBtn" class="priceButton">
          去开团
          <span class="arrow-right arrow-right--border-color"></span>
        </span>
      </div>
    </div>
  </div>
</template>
<script>
/*
 * @Title: 拼团商品列表
 * @Author: 张怡瑾
 * @Date: 2019-1-17 19:06:46
 * @LastEditTime: 2019-1-17 11:14:49
 * @LastEditors: 张怡瑾
 * @Description: 拼团商品列表
 */
import RouterPath from '@router/config'
import Contants from '@contants/index'
import TalkingData from '../../utils/talkingData.js'
import mixins from '@mixins/index'
export default {
  props: ['item', 'isShowBtn'],
  data () {
    return {
      datas: {}
    }
  },
  mixins: [mixins],
  watch: {
    item: {
      handler (val = {}) {
        let { skuImg } = val
        if (this.$Utils.isString(skuImg) && skuImg.length) {
          skuImg = Contants.BASE_IMG_URL + skuImg
        } else {
          skuImg = Contants.DEFAUTL_URL
        }
        this.datas = { ...val, skuImg }
      },
      immediate: true
    }
  },
  methods: {
    goDetail (item) {
      if (!this.isShowBtn) return
      this.$router.push({ path: RouterPath.GroupBuy.ActivityDetail, query: { id: item.id } })
      if (!this.isNewUser) {
        TalkingData.onEvent('c_去拼团商品商品详情', 'c_去拼团商品商品详情', {groupStoreSkuId: item.id, storeId: this.$store.getters.storeId, userId: this.$store.getters.shopInfo.userId, customerId: this.$store.getters.userInfo.id})
      }
    }
  }
}
</script>
<style lang="stylus" scoped>
.item {
  background-color: #fff;
  padding: 25rpx;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 10rpx;

  // border-bottom:10rpx solid #f5f8fa;
  .img {
    width: 200rpx;
    height: 200rpx;

    .icon {
      width: 200rpx;
      height: 200rpx;
    }
  }

  .info {
    flex: 1;
    margin-left: 25rpx;

    .name {
      color: #000;
      line-height: 40rpx;
      display: -webkit-box;
      word-break: break-all;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 27rpx;
      margin-bottom: 10rpx;
    }

    .memberCount {
      width: 98rpx;
      height: 40rpx;
      position: relative;

      img {
        width: 98rpx;
        height: 40rpx;
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 98rpx;
        height: 40rpx;
        font-size: 22rpx;
        line-height: 30rpx;
        color: #fff;
        text-align: center;
      }
    }

    .priceInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        .now {
          color: #FF0000;
          font-size: 32rpx;
          font-weight: bold;
        }

        .before {
          color: #555;
          font-size: 22rpx;
          display: block;
        }
      }

      .priceButton {
        width: 156rpx;
        height: 69rpx;
        background: linear-gradient(45deg, rgba(236, 69, 67, 1), rgba(254, 142, 111, 1));
        border-radius: 10rpx;
        text-align: center;
        line-height: 69rpx;
        font-size: 32rpx;
        font-weight: 500;
        color: #fff;

        .arrow-right--border-color {
          border-color: #fff;
          width: 18rpx;
          height: 18rpx;
          margin-right: 0rpx;
          margin-left: -8rpx;
        }
      }
    }
  }
}
</style>


