<template>
  <div id="GoodsDetail" v-if="!flags.loading" :class="{'fixed-body': fixedBody}">
    <div v-if="secKIllProductDetail && secKIllProductDetail.skuImgUrl">
      <div class="secKIllProductDetail-box" >
        <div class="container">
          <swiper class="categoryList" :autoplay="true" :circular="true" :indicator-dots="true" indicator-color="rgba(228,228,228,1)" indicator-active-color="#FECA49">
            <div v-if="secKIllProductDetail.skuImgUrl && secKIllProductDetail.skuImgUrl.length !== 0">
              <swiper-item class="swiper" v-for="(item,index) in secKIllProductDetail.skuImgUrl" :key="index">
                <img :src="item" class="category-image">
              </swiper-item>
            </div>
            <div v-else>
              <swiper-item class="swiper">
                <img :src="Contants.DEFAUTL_URL" class="category-image" style="">
              </swiper-item>
            </div>
          </swiper>
          <!-- 价格条 -->
          <div>
            <div class="groupIcon" v-if="(secKillOtherDetail.status === '已结束') || (secKillOtherDetail.status === '进行中' && !secKillOtherDetail.flags)">
              <div class="groupContent">
                <div class="groupPrice">
                  <img class="img" src="/static/images/newpersonprice.png">
                  <div class="content">秒杀价</div>
                  <div class="price">
                    <span class="sellPrice"><span style="font-size: 22rpx;margin-right:3rpx;">¥</span>{{secKillOtherDetail.unitPrice}}</span>
                    <span class="marketPrice" style="text-decoration:line-through;">¥{{secKillOtherDetail.marketPrice}}</span>
                  </div>
                </div>
              </div>
              <div class="groupTime">
                <div class="title">时间还剩</div>
                <div class="time" v-if="secKillOtherDetail.time">
                  <div class="time-text">{{secKillOtherDetail.time.d}}</div>
                  <div class="time-col" style="font-size:23rpx;">天</div>
                  <div class="time-text">{{secKillOtherDetail.time.h}}</div>
                  <div class="time-col">:</div>
                  <div class="time-text">{{secKillOtherDetail.time.m}}</div>
                  <div class="time-col">:</div>
                  <div class="time-text">{{secKillOtherDetail.time.s}}</div>
                </div>
              </div>
            </div>
            <div v-else class="groupIconOther" >
              <div class="price">
                <span style="font-size: 26rpx;">¥</span>
                <span style="font-size:40rpx; margin-left: 8rpx;">{{secKillOtherDetail.marketPrice}}</span>
              </div>
              <div class="desc">
                <div class="text">
                  <span class="img">
                    <img src="/static/images/iconTime.png" alt="">
                  </span>
                  
                  <span class="t">秒杀预告</span>
                </div>
                <div class="datePrice">
                  <span v-if="secKillOtherDetail.times" style="margin-right: 10rpx;">
                    {{secKillOtherDetail.times.month}}月{{secKillOtherDetail.times.date}}日
                  </span>
                  <span style="margin-right: 10rpx;">10:00</span>
                  <span style="margin-right: 5rpx;">秒杀价</span>
                  <span>¥{{secKillOtherDetail.unitPrice}}</span>
                </div>
              </div>
            </div>
          </div>
          
          <div class="skuname">
            {{secKillOtherDetail.productName || ''}}
          </div>
        </div>
      </div>
      <div class="options">
        <view class="listType f-a">
          <span class="text-f">规格型号</span>
          <p class="textfile">
            <span style="flex:1;"><span style="color:#232323;">{{secKillOtherDetail.skuName || '默认'}}</span></span>
          </p>
        </view>
        <view class="listType f-a">
          <span class="text-f">数量</span>
          <span style="display:flex; width: 80%;">
            <span class='shopBtn' :class="{ numKong:num === 1}" @click='minus_clickHander' style=''>-</span>
            <span class="shoppingNum">{{num}}</span>
            <span class="shopBtn add" @click='plusFn_clickHander'>+</span>
            <span class="property-title">限购1件</span>
          </span>
        </view>
        <view class="listType f-a">
          <span class="text-f">服务</span>
          <span style="color: #232323;font-size: 24rpx; display:flex;width: 80%;">正品保证 • 破损包退</span>
        </view>
        <view class="listType f-a">
          <span class="text-f">取货说明</span>
          <span style="color: #232323;font-size: 24rpx; width: 80%;">
            <span v-for="(i, index) in comment" :key="index" style="width: 100%; display: block; padding: 5rpx 0rpx;">
              {{i}}
            </span>
          </span>
        </view>
      </div>
      <div style="padding-bottom: 10rpx;">
        <view class="shopDian">
          <img class="vipImgfn" src="/static/images/gouwuche_icon1.png">
          <span class="shopTitle" v-if="shopInfo">{{shopInfo.storeName}}</span>
        </view>
        <div class="titleDetail">
          <span>商品详情</span>
        </div>
        <div v-if="secKIllProductDetail.productImgUrl && secKIllProductDetail.productImgUrl.length">
          <div v-if="secKIllProductDetail.productImgUrl && secKIllProductDetail.productImgUrl.length !== 0" class="productImg">
            <img v-for='(value, productIndex) in secKIllProductDetail.productImgUrl' :key="productIndex" :src="value" class="productImg-image" mode='widthFix'>
          </div>
          <div v-else class="productImg">
            <img :src="Contants.DEFAULT_SHOP_DATAILS_URL" class="productImg-image" mode='widthFix'>
          </div>
        </div>
        <div class="shopcarlist">
          <div class="bottomban">
            <view class="shopcarboxif" @click='onShare'>
              <span class="shopshare"></span>
              <span style="margin-top:2px;color: #666;">分享</span>
            </view>
            <div>
              <div class="sellGo" v-if="secKillOtherDetail.status === '已结束'" style="background-color: rgba(204,204,204,1);">
                <div class="sellText">已抢空</div>
              </div>
              
              <div v-if="!defaultFlag">
                <form @submit="send_clickHander" report-submit v-if="(secKillOtherDetail.status === '未开始' && !secKillOtherDetail.subscribeFlag) || (secKillOtherDetail.status === '进行中' && secKillOtherDetail.flags && !secKillOtherDetail.subscribeFlag)">
                  <button class="pay-btn sellGo" form-type="submit" style="background-color: #61C624;line-height:3;">预约提醒</button>
                </form>
                <div class="sellGo"  @click="orderModel" v-else-if="(secKillOtherDetail.status === '未开始' && secKillOtherDetail.subscribeFlag) || (secKillOtherDetail.status === '进行中' && secKillOtherDetail.flags && secKillOtherDetail.subscribeFlag)" style="background-color: rgba(97,198,36,0.6);">
                  <div class="sellText">预约提醒</div>
                </div>
              </div>
              <div v-if="defaultFlag">
                <div class="sellGo"  @click="orderModel" style="background-color: rgba(97,198,36,0.6);">
                  <div class="sellText">预约提醒</div>
                </div>
              </div>
              
              <div class="sellGo" v-if="secKillOtherDetail.status === '进行中' && !secKillOtherDetail.flags" @click="gotoPay_clickHander" style="background-color: rgba(252,89,92,1);">
                <div class="sellText">立即购买</div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="go-home-btn" id="go-home-btn" @click="goHomeBtn_clickHander">
      <img src="/static/images/index_icon_home.png" alt="">
      <div>首页</div>
    </div>

     <poster v-if='showPosterSecDetail' :pageData="pageDate" @showPoster="showPoster" />
     <subscribeModel ref="subModel"></subscribeModel>
     <DTotast ref="totast"/>
  </div>
</template>
<script>
/** 秒杀详情
*/
import API from '@api'
// import * as types from '@store/types.js'
import Contants from '@contants/index'
import { mapGetters, mapActions } from 'vuex'
import Utils from '@utils/utils'
import Tools from '@utils/tools'
import RouterPath from '@router/config'
import poster from '@components/Common/ActivityPoster'
import subscribeModel from '@components/UI/subscribeModel'
import DTotast from '@components/UI/DTotast'
import Configure from '../../utils/configure'
import TalkingData from '../../utils/talkingData.js'
import mixins from '@mixins/index'

export default {
  components: {
    poster,
    subscribeModel,
    DTotast
  },
  data () {
    return {
      Contants,
      num: 1,
      timer: null, // 倒计时
      secKillProductId: '', // 秒杀商品id
      secKIllProductDetail: {}, // 秒杀商品详情
      secKillOtherDetail: {}, // 获取秒杀商品额外的详情
      beginBuyTime: '', // 显示时间
      flags: {
        loading: true
      },
      pageDate: {
        type: 'L' // 传入分享生成海报页面中类型参数 -- 秒杀商品详情页面
      },
      showPosterSecDetail: false, // 拼团的活动海报展示
      fixedBody: false, // 控制页面滚回顶部
      comment: [], // 取货说明
      ruleModalProps: {
        showRuleModal: true,
        ruleTextArr: [
          '成功预约活动商品',
          '请留意微信通知'
        ]
      },
      defaultFlag: false // 默认按钮的颜色
    }
  },
  mixins: [mixins],
  watch: {
    showPosterSecDetail (newVal, oldVal) {
      if (newVal === true) {
        this.fixedBody = true
      } else {
        this.fixedBody = false
      }
    }
  },
  computed: {
    ...mapGetters(['login', 'shopInfo', 'userInfo'])
  },
  onLoad (opt) {
    this.init()
    this.secKillProductId = opt.id
    console.log(opt, 'opt-秒杀')
    this.initData()
  },
  onShow () {
    console.log(this.userInfo, 'userInfouserInfo')
  },
  onUnload () {
    clearInterval(this.timer)
  },
  mounted () {
  },
  // 页面内的分享
  onShareAppMessage () {
    if (!this.isNewUser) {
      TalkingData.onEvent('c_秒杀商品分享页面', 'c_秒杀商品分享页面', {id: this.secKillProductId, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
    }

    const { skuImgUrl = [] } = this.secKIllProductDetail
    const { id, sellPrice, unitPrice, productName } = this.secKillOtherDetail
    const path = RouterPath.Auth.Start + '?sf=L&sId=' + this.shopInfo.id + '&id=' + id
    const imageUrl = skuImgUrl[0] || Contants.DEFAUTL_URL
    const title = '秒杀商品分享内容:限时！秒杀价¥' + unitPrice + '原价¥' + sellPrice + productName
    console.log(path, 'path')
    return {
      title: title,
      path: path,
      imageUrl: imageUrl
    }
  },

  methods: {
    ...mapActions(['addSecOrderInfo']),
    // 海报
    showPoster (boole) {
      console.log(boole, 'boole')
      this.showPosterSecDetail = boole
    },
    async getSecKillDetail () {
      clearInterval(this.timer)
      let _res = await API.SecKill.getSecKillDetail({id: this.secKillProductId, storeId: this.shopInfo.id}).catch(err => {
        console.log(err)
        this.flags.loading = false
        wx.hideLoading()
      })
      if (_res.status === 200) {
        let _data = _res.data
        let nowdate = new Date().getTime()
        if (new Date(_data.beginTime).getTime() - nowdate > 0) {
          _data.flags = true
        } else {
          _data.flags = false
        }

        if ((new Date(_data.beginTime).getTime() - new Date().getTime()) / 86400000 < 7) {
          _data.typeFlag = true
        } else {
          _data.typeFlag = false
        }

        let {month, date} = this.$Utils.calculateDate(_data.beginTime)
        _data.times = {month, date}
        // 倒计时的处理
        let { d, h, m, s } = this.$Utils.calculateTime(_data.endTime)
        _data.time = {d, h, m, s}

        this.timer = setInterval(() => {
          let { d, h, m, s } = this.$Utils.calculateTime(_data.endTime)
          _data.time = {
            d, h, m, s
          }
        }, 1000)
        this.secKillOtherDetail = _data
        console.log(this.secKillOtherDetail, 'secKillOtherDetail')
      }
    },
    async getShopDetail () {
      let _res = await API.shopDetail.getShopDetail({id: this.secKillOtherDetail.storeSkuId}).catch(err => {
        console.log(err)
        this.flags.loading = false
        wx.hideLoading()
      })
      let productImgUrl
      let skuImgUrl
      if (_res.status === 200) {
        let _data = _res.data
        productImgUrl = _data.productImgUrl.map(k => {
          return Utils.compressImg(Contants.BASE_IMG_URL + k, 750)
        })
        skuImgUrl = _data.skuImgUrl.map(k => {
          return Utils.compressImg(Contants.BASE_IMG_URL + k, 750)
        })
        this.secKIllProductDetail = _data
        this.secKIllProductDetail.productImgUrl = productImgUrl
        this.secKIllProductDetail.skuImgUrl = skuImgUrl
      }
    },
    // 门店说明
    async getShopDescription () {
      let _commit = await API.SecKill.getGroupDescription({useId: this.userInfo.userId})
      if (_commit.status === 200) {
        let _data = _commit.data
        if (_data.actGroupDescription) {
          let _commentTemp = _data.actGroupDescription.split('|')
          this.comment = []
          _commentTemp.map(k => {
            this.comment.push(this.$Utils.trim(k, 2))
          })
        }
      }
    },

    // 函数块之间的异步
    async initData () {
      wx.showLoading({
        title: '加载中'
      })
      await this.getSecKillDetail()
      this.getShopDetail()
      this.getShopDescription()
      this.flags.loading = false
      wx.hideLoading()
    },
    // 点击减号
    minus_clickHander () {
      if (this.num === 1) {
        return false
      } else {
        this.num--
      }
    },
    // 点击家号
    plusFn_clickHander () {
      wx.showToast({
        title: '您最多可秒杀一件',
        icon: 'none',
        duration: 1000
      })
      console.log(this.num, 'this.num')
    },
    // 去支付 --- 现在的去支付走的时正常商品的流程
    async gotoPay_clickHander () {
      if (!this.login) {
        return wx.navigateTo({
          url: RouterPath.Auth.Login
        })
      }

      let { unitPrice, sellPrice, productName, enableDeliveryHome, enableSelfLifting, id } = this.secKillOtherDetail
      const _datas = {
        id,
        unitPrice,
        productName,
        sellPrice,
        num: this.num,
        enableDeliveryHome,
        enableSelfLifting
      }
      // 判断是不是有秒杀资格
      let _query = {
        buyCount: this.num,
        id: this.secKillOtherDetail.id,
        storeId: this.shopInfo.id
      }
      let _res = await API.SecKill.postSecKillSaleCustomer(_query)
      if (_res.status === 200) {
        this.addSecOrderInfo(_datas)
        this.$router.push({ path: RouterPath.SecKill.OrderConfirm, query: { expireTime: _res.data.expireTime } })
      }
      TalkingData.onEvent('c_秒杀商品去下订单', 'c_秒杀商品去下订单', {id: this.secKillProductId, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
    },
    send_clickHander (e) {
      let _prames = {
        actFlashSaleId: this.secKillOtherDetail.id,
        formId: e.target.formId
      }
      if (this.secKillOtherDetail.status === '进行中') {
        this.secKillOtherDetail.subscribeFlag = true
        Configure.postSubscric(_prames)
        this.$refs.subModel.showToast({ruleModalProps: this.ruleModalProps})
        this.defaultFlag = true
      } else if (this.secKillOtherDetail.status === '未开始') {
        console.log(this.secKillOtherDetail.typeFlag, 'this.secKillOtherDetail.typeFlag')
        if (this.secKillOtherDetail.typeFlag) {
          Configure.postSubscric(_prames)
          this.$refs.subModel.showToast({ruleModalProps: this.ruleModalProps})
          this.defaultFlag = true
        } else {
          this.$refs.totast.showToast({title: '还没有开始预约了哦～'})
        }
      }
    },
    orderModel () {
      this.$refs.totast.showToast({title: '已经预约过了哦～'})
    },
    // 回首页
    goHomeBtn_clickHander () {
      wx.reLaunch({
        url: '/pages/Home/index'
      })
    },
    // 分享
    onShare () {
      if (!this.login) {
        return wx.navigateTo({
          url: RouterPath.Auth.Login + '?fromPage=index&target=shareShop'
        })
      }
      const ctx = wx.createCanvasContext('mycanvas')
      if (!ctx.measureText) {
        Tools.toast('该版本暂不支持生成海报', 'loading', 800)
      } else {
        this.showPosterSecDetail = true
        this.pageDate.data = this.secKillOtherDetail
        console.log(this.pageDate)
      }
      TalkingData.onEvent('c_秒杀商品生成海报', 'c_秒杀商品生成海报', {id: this.secKillProductId, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
    },
    init () {
      this.secKIllProductDetail = {}
      this.num = 1
      this.flags.loading = true
      this.showPosterSecDetail = false
    }
  }
}
</script>
<style lang="scss" scoped>
#GoodsDetail{
  width:100%;
  background:#f4f5f7;
  .container{
    background: #fff;
    // swiper
    .categoryList {
      height: 750rpx;
      width: 100%;
      .swiper {
        width: 100%;
        height: 100%;
        text-align: center;
        .category-image {
          width: 100% !important;
          height: 100% !important;
          background-size: cover;
        }
      }
    }
    .priceDetail{
      height: 100rpx;
      background: linear-gradient(to right,#ff564e,#f6817f);
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 30rpx;
      box-sizing: border-box;
      .price{
        .sellPrice{
          color: #fff;
          .f-s{
            font-size: 30rpx
          }
          .f-b{
            font-size: 50rpx;
            font-weight: 500
          }
        }
        .marketPrice{
          color: #fff;
          margin-left: 15rpx;
          position: relative;
          bottom: -7rpx;
          text-decoration: line-through;
          .f-m{
            font-size: 24rpx
          }
        }
      }
    }
    .skuname{
      padding: 30rpx;
      font-size: 32rpx;
      color:rgba(51,51,51,1);
      font-weight:bold;
      line-height: 44rpx;
    }
    .labelHight{
      height:23rpx;
      font-size:24rpx;
      font-weight:300;
      color: #666;
      line-height:45rpx;
      padding: 0rpx 30rpx 15rpx 30rpx;
    }
    .limetAddress{
      padding: 20rpx 30rpx 30rpx 30rpx;
      height:41rpx;
      font-size:22rpx;
      font-weight:500;
      color:#e82c2f;
      line-height:41rpx;
      overflow: hidden;
      display: flex;
      align-items: center;

      .l-c{
        border: 1rpx solid rgba(235,62,63,1);
        border-radius: 10rpx;
        position: relative;
        .icon-l{
          display: inline-block;
          width: 39rpx;
          height: 41rpx;
          background-size: 100% 100%;
          position: absolute;
          left: -1px;
        }
        .l-text{
          padding-left: 50rpx;
          padding-right: 20rpx;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
        }
      }
    }

  }
  .options{
    background: #fff;
    // margin-top: 10rpx;
    .listType {
      display: flex;
      font-size: 28rpx;
      padding: 24rpx 28rpx 24rpx 28rpx;
      border-bottom: 1px solid #F1F2F6;
    }

    .f-a{
      height:100%;
      align-items:center;
      .text-f{
        padding-right:15rpx;
        color:#898989;
        display: inline-block;
        width: 140rpx;
      }
      .shopBtn {
        width: 50rpx;
        height: 50rpx;
        margin-right: 2rpx;
        font-size: 32rpx;
        text-align: center;
        background: #F6F8FA;
      }
      .property-title{
        line-height: 50rpx;
        font-size: 24rpx;
        font-weight: 500;
        color: rgba(35,35,35,1);
      }
      .shoppingNum {
        width: 120rpx;
        font-size: 32rpx;
        text-align: center;
        background: #f4f5f7;
      }
      .add {
        margin-left: 2rpx;
        margin-right: 20rpx;
      }
      .textfile {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        display:flex;
        flex:1;
        align-items:center;
        height:100%
      }
    }
  }
  .titleDetail {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20rpx;
    background: #fff;
    span {
      position: relative;
      display: inline-block;
      color: #999999;
      font-size: 14px;

      &::before {
        content: '';
        position: absolute;
        color: #f00;
        top: 14px;
        left: -108px;
        width: 100px;
        height: 5px;
        background-image: url('../../../static/images/title-img-left.png');
        background-position: 0 0;
        background-size: 100px 5px;
        background-repeat: no-repeat;
        display: block;
      }

      &::after {
        content: '';
        position: absolute;
        right: -108px;
        top: 14px;
        width: 100px;
        height: 5px;
        background-image: url('../../../static/images/title-img-right.png');
        background-position: 0 0;
        background-size: 100px 5px;
        background-repeat: no-repeat;
        display: block;
      }
    }
  }
  .productImg{
    background-color: #fff;
    text-align: center;
    width: 100%;
    padding-bottom: 100rpx;
    display: flex;
    flex-direction: column;
    font-size: 0;
    .productImg-image {
      width: 100%;
      display: inline-block;
    }
  }
  .shopcarlist {
    position: fixed;
    bottom: 0;
    background: #ffffff;
    width: 100%;
    height: 100rpx;
    left: 0;
    z-index: 999;
    box-shadow: -3px 0px 9px 0px rgba(63, 101, 157, 0.54);
  }
  .bottomban {
    display: flex;
    height: 100%;
    align-items: center;
    .shopcarboxif {
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ccc;
      height: 100%;
      font-size: 20rpx;
      width: 200rpx;
      .shopshare {
        position: relative;
        width: 36rpx;
        height: 36rpx;
        background: url(../../../static/images/share.png) no-repeat;
        background-size: 36rpx 36rpx;
        margin-bottom: 3px;
        margin-top: 6px;
      }
    }
    .sellGo {
      width: 580rpx;
      color: #fff;
      justify-content: center;
      align-items: center;
      height: 100rpx;
      flex: 1;
      .sellPrice{
        display: flex;
        justify-content: center;
        font-size: 36rpx;
        height: 50rpx;
        font-weight: 500;
      }
      .sellText{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 36rpx;
        font-weight: 500;
      }
    }
  }
  .order_cont_loading {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:100;
    display:flex;
    justify-content:center;
    align-items:center;
      > img {
        width: 541rpx;
        height: 330rpx;
      }
  }
  .shopDian {
    padding: 30rpx 28rpx 30rpx 28rpx;
    background-color: #fff;
    border-bottom: 1rpx solid #F1F1F1;
    display: flex;
    margin-top: 10rpx;
    .vipImgfn {
      width: 40rpx;
      height: 36rpx;
      background-size: cover;
    }
    .shopTitle {
      font-size: 28rpx;
      color: #898989;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 90%;
      padding-left: 10rpx;
    }
  }
  .groupIcon {
    overflow: hidden;
    width: 750rpx;
    height: 100rpx;
    display: flex;
    position: relative;
    .groupContent{
      width: 62.4%;
      background-color: rgba(255,86,78,1);
      display: flex;

      .groupPrice{
        flex: 1;
        .img {
          width: 98rpx;
          height: 40rpx;
          position: relative;
          top: 10rpx;
          left: 24rpx;
        }
        .content {
          position: absolute;
          z-index: 2;
          left: 40rpx;
          top: 10rpx;
          font-size: 22rpx;
          color: rgba(234,51,35,1);
          font-weight: 500;
        }
        .price{
          color: #fff;
          font-size: 22rpx;
          margin-left: 24rpx;
          margin-top: -18rpx;
          .sellPrice{
            font-size: 40rpx;
            font-weight: 800;
          }
          .marketPrice{
            margin-left: 20rpx;
            font-weight: 500;
          }
        }
      }
      .groupStaus{
        justify-content: center;
        flex: 1;
        display: flex;
        align-items: center;
        .status{
          min-width: 128rpx;
          height: 60rpx;
          line-height: 60rpx;
          padding: 0 10rpx;
          background: #fff;
          color: rgba(234,51,35,1);
          display: inline-block;
          text-align: center;
          border-radius: 30rpx;
        }
      }
    }
    .groupTime{
      width: 37.6%;
      background-color: rgba(255,192,191,1);
      .title{
        color:rgba(255,86,78,1);
        font-size:22rpx;
        width: 100%;
        line-height:45rpx;
        text-align: center;
      }
      .time{
        color: rgba(255,54,44,1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -5rpx;
        .time-col{
          margin: 0 5rpx;
        }
        .time-text{
          width: 40rpx;
          height: 40rpx;
          background-color: rgba(255,54,44,1);
          opacity:0.7;
          border-radius:4px;
          color: #fff;
          line-height: 40rpx;
          font-size: 26rpx;
          text-align: center;
        }
      }
    }
  }
  .groupIconOther{
    width: 100%;
    background-color: rgba(255,86,78,1);
    height: 100rpx;
    position: relative;
    display: flex;
    padding-left: 30rpx;
    padding-right: 30rpx;
    .price{
      color: #fff;
      font-weight:800;
      line-height: 100rpx;
    }
    .desc{
      height: 45rpx;
      min-width: 200rpx;
      border-radius: 10rpx;
      border: 1rpx dashed #ffffff;
      position: relative;
      top: 30rpx;
      left: 35rpx;
      display: flex;
      .text{
        min-width: 160rpx;
        height: 45rpx;
        line-height: 42rpx;
        background:rgba(255,255,255,1);
        padding-left: 10rpx;
        border-top-left-radius: 10rpx;
        border-bottom-left-radius: 10rpx;
        .img{
          width: 23rpx;
          height: 24rpx;
          img{
            width: 23rpx;
            height: 24rpx;
          }
        }
        .t{
          color:rgba(234,51,35,1);
          font-weight:500;
          font-size:26rpx;
          margin-left: 5rpx;
          position: relative;
          top: -1rpx;
          left: 9rpx;
        }
      }
      .datePrice{
        font-size: 26rpx;
        color:rgba(255,255,255,1);
        padding-left:20rpx;
        padding-right:15rpx;
        line-height:46rpx;
        font-weight:500;
      }
    }
  }
  #go-home-btn{
    width:94rpx;
    height:94rpx;
    border-radius:50%;
    position:fixed;
    right:30rpx;
    top:600rpx;
    z-index:999;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: #ff8f00;
    color: #fff;
    box-shadow:0px 5px 16px 5px rgba(213,213,213,0.41);
    >img{
      width: 50rpx;
      height: 50rpx
    }
    >div{
      font-size: 24rpx;
      position: relative;
      top: -4rpx;
    }
  }
}
.secKIllProductDetail-box{
  margin-bottom: 10rpx;
}
.fixed-body {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
</style>
