<template>
  <div class="order-edit" :class="{'fixed-body': fixedBody}">
    <div v-show="loadingFlag">
      <div class="page__bd">
        <!-- 切换门店 -->
        <div class="weui-tab">
          <div class="weui-navbar order-navbar" v-if="secKillDetail.enableDeliveryHome && secKillDetail.enableSelfLifting">
            <block v-for="(item,index) in tabs" :key="index">
              <div :id="index" :class="{'weui-bar__item_on':setOrderBar == index}" class="weui-navbar__item navbar__p" @click="tab_clickHandler">
                <div class="weui-navbar__title">{{item}}</div>
              </div>
            </block>
            <div class="weui-navbar__slider" :class="'weui-navbar__slider_' +  setOrderBar"></div>
          </div>
          <div class="weui-tab__panel order-panel" :class="{'active_top_0':!secKillDetail.enableDeliveryHome || !secKillDetail.enableSelfLifting}">
            <view class='personM' v-if='setOrderBar == 0 && secKillDetail.enableSelfLifting'>
              <view class="mesAge" style="border-bottom:1px solid #eee;">
                <div class="mesImg" style="align-items: flex-start">
                  <span class="message-shopShow">
                    <image src="/static/images/gouwuche_icon1.png" style="width:40rpx; height:40rpx;margin-right:10rpx;position:relative;top:-3rpx;" />
                    <span>自取门店:</span>
                  </span>
                  <span style="flex: 1; padding-left: 15rpx;">{{shopInfo.storeName}}</span>
                </div>
              </view>
              <view class="mesAge">
                <div class="mesImg mesAndress" style="align-items: flex-start">
                  <span class="message-shopShow">门店地址:</span>
                  <span style="flex: 1; padding-left: 15rpx;">{{shopInfo.province || ''}}{{shopInfo.city || ''}}{{shopInfo.area || ''}}{{shopInfo.contactAddress || ''}}</span>
                </div>
              </view>
              <div style="width: 100%; height: 15rpx;background: #F5F8FA"></div>
              <view>
                <p class="mesImg buyShopInfoPerson">
                  <label>联系人:</label>
                  <input v-model.trim='nickName' placeholder="请输入姓名" type='text' adjust-position='true' />
                </p>
              </view>
              <div style="width:100%;height:1px;background-color:#F1F1F1;margin:0 0 0 15px;"></div>
              <view>
                <p class="mesImg buyShopInfoPerson">
                  <label>手机号:</label>
                  <input v-model.trim='phone' placeholder="请输入手机号" type='number' adjust-position='true' />
                </p>
              </view>
            </view>
            <view class='personM personN' v-if='setOrderBar == 1 && secKillDetail.enableDeliveryHome'>
              <view class="localBox">
                <p class="imgLocalBox">
                  <img src="/static/images/local.png" style="height:42rpx;width:47rpx;background-size:cover" alt="">
                </p>
                <p class="listAdd" @click='enterAddress_clickHandler'>
                  <view v-if="orderAddress.id">
                    <p>
                      <span style="margin-right: 15rpx">{{orderAddress.receiptName}}</span>
                      <span>{{orderAddress.receiptPhone}}</span>
                    </p>
                    <p>{{orderAddress.provinceName}}{{orderAddress.cityName}}{{orderAddress.areaName}}{{orderAddress.receiptAddress}}</p>
                  </view>
                  <!-- 这里没有地址 -->
                  <span v-if="!orderAddress.id">请填写你的地址</span>
                </p>
              </view>
            </view>
            <!-- 订单信息 -->
            <div style="width: 100%; height: 15rpx;background: #F5F8FA"></div>
            <view>
              <div class="orderTitle">
                <div class="text">订单信息</div>
                <div class="desc">
                  <div class="text">
                    <span class="img">
                      <img src="/static/images/iconTimeW.png" alt="">
                    </span>
                    
                    <span class="t">时间仅剩</span>
                  </div>
                  <div class="datePrice">
                    {{expireTime.m}}: {{expireTime.s}}
                  </div>
                </div>
              </div>
              <!-- 拼团进入 -->
              <div class="orderList">
                <div class="orderShopName">{{secKillDetail.productName || ''}}</div>
                <!-- <div class="orderShopName">{{secKillDetail.productName || ''}}{{secKillDetail.skuName || ''}}</div>                 -->
                <div class="orderShopNum">
                  <div style="color: #FF7E00;font-size: 28rpx;" v-if="sourceType !== 3">
                    <span style="font-size: 26rpx;">¥</span>
                    {{secKillDetail.unitPrice}}
                  </div>
                  <div style="color: #999999;font-size: 24rpx;">
                    <span style="font-size: 22rpx;">X</span>
                    {{secKillDetail.num}}
                  </div>
                </div>
              </div>
            </view>
            <div style="width: 100%; height: 15rpx;background: #F5F8FA"></div>
            <scroll-view @scrolltolower='scrollbottom' scroll-top=0 scroll-y='true' lower-threshold=300 style="height:100%">
              <div class="weui-tab__content">
                <div class="order-edit-group">
                  <!-- 优惠券 -->
                  <!-- <div class="coupon flex-box space-between align-center" @click="gotoCoupon_click()">
                    <span>优惠券</span>
                    <div>
                      <span>优惠20.0元</span>
                      <img src="/static/images/fenlei_nor.png" style='position: relative;top: 5rpx;width:12rpx;height:28rpx;margin-left:10rpx;'/>
                    </div>
                  </div> -->
                  <view style="padding-right:8rpx;">
                    <div class="flex-other">
                      <span class="flex-left">商品总额：</span>
                      <span class="flex-right">¥{{totalPrice}}</span>
                    </div>
                    <div class="flex-other" v-if="isDeliverFlag" style="height: 50rpx;">
                      <span class="flex-left">运费：</span>
                      <span class="flex-left" v-if="shopInfo.enableFreeShipping">(还差{{shopInfo.freeShippingMoney - totalPrice}}元就能免运费了)</span>
                      <span class="flex-right flex-icon" v-if="shopInfo.enableFreeShipping" @click="showRole" style="height: 50rpx;"></span>   
                      <span class="flex-right" :class="{'p-l':shopInfo.enableFreeShipping}" >+ ¥{{shopInfo.deliveryMoney || 0}}</span>                      
                    </div>
                  </view>
                  <view>
                    <div class="flex-other">
                      <span class="flex-left" style="color: #000000; width: 150px; font-size: 38rpx;height:33px;line-height:33px;">总计金额：</span>
                      <span class="flex-right" style="color: #ff7900; font-size: 40rpx;">¥{{payMoneyX}}</span>
                    </div>
                  </view>
                </div>
              </div>
              <div style="width: 100%; height: 15rpx;background: #F5F8FA"></div>
              <div class="align-center">
                <div class="message-leave">买家留言：</div>
                <div class="text-look" :style="{color: !remark ? 'rgba(51,51,51,0.4)':'rgba(51,51,51,1)'}" @click='inputText_clickHandler(false)' v-if="textareaFlag">{{remark || '请在这里输入留言'}}</div>
                <textarea v-else type="text" @blur='inputText_clickHandler(true)' :auto-focus="foucusFlag" :focus="foucusFlag" class="message-input" style="width: 100%;" :maxlength="50" v-model="remark" placeholder="请在这里输入留言..."></textarea>
              </div>
            </scroll-view>
          </div>
        </div>
      </div>
      <!-- 支付计算 底部 -->
      <div class="price-foot flex-box space-between">
        <div class="flex-box direction-column flex-center" style="line-height: 1;margin-left: 30rpx;" >
          <span>
            <span class="l-g" style="color: #000;">金额总计：</span>
            <span class="main-color l-g">￥</span><span class="main-color l-g">{{payMoneyX}}</span>
          </span>
          <span class="l-p">
            <span class="low-color l-g-s">数量合计：</span>
            <span class="low-color l-g-s">{{count}}</span>
          </span>
        </div>
        <form @submit="pay_clickHanlder" report-submit>
          <button class="pay-btn" form-type="submit" style="line-height: 3.5;">去支付</button>
        </form>
      </div>
    </div>
    <!-- 运费规则 -->
    <DeliverRuleModal ref="ruleModal" />
  </div>
</template>
<script>
/*
 * @Description: 秒杀-详情
 * @LastEditors: Please set LastEditors
 * @Description: 确认订单 支付订单页面
 */
import { mapGetters, mapActions, mapState } from 'vuex'
import api from '@api'
import * as types from '@store/types.js'
import Contants from '@contants/index'
import RouterPath from '@router/config'
import Configure from '../../utils/configure'
import DeliverRuleModal from '@components/UI/deliverRuleModal'

export default {
  data () {
    return {
      tabs: ['门店自提', '送货到家'],
      loadingFlag: false, // 控制整个页面显示隐藏
      buyFlag: false, // 去支付 按钮 防刷flag
      foucusFlag: false, // textarea自动获得焦点
      textareaFlag: true, // 控制切换 textarea 和 展示div 显示隐藏
      setOrderBar: 0, // 判断是配送方式 0:门店自取 1:送货到家
      sourceType: 0, // 判断是页面来源  1:立即购买-拼团 2: 送礼物-提交订单
      remark: '', // 留言信息
      nickName: '', // 用户名字
      phone: '', // 用户手机号
      Contants,
      orderAddress: {}, // 订单收货地址
      payMoneyX: 0,
      totalPrice: 0, // 总金额
      count: 0, // 商品个数
      fixedBody: false, // 控制模态框滑动
      isActivityNoRed: false, // 判断不使用红包
      isStoreProduct: false, // 判断是不是门店商品《useCloudStock》
      ruleModalProps: {
        showRuleModal: true,
        ruleTextArr: [
        ]
      },
      expireTime: {},
      timers: null, // 倒计时
      isDeliver: false,
      secKillDetail: {} // 秒杀详情
    }
  },
  computed: {
    ...mapGetters(['shopInfo', 'userPhone', 'userInfo', 'openId', 'storeId', 'saveFromAddress', 'isFromOrderConfirm']),
    ...mapState(['secKill']),
    /**
     * 活动商品是平台商品（配送到用户 -- 没有运费，配送到门店-- 有运费）
     * 店家开启免运费（在满足多少钱湿开始进行免运费）
     * isDeliverFlag true -- 有运费 false -- 没有运费
     */
    isDeliverFlag () {
      let _flag = false
      if (this.setOrderBar === 1) {
        if (this.shopInfo.enableFreeShipping) {
          _flag = this.totalPrice <= this.shopInfo.freeShippingMoney
        } else {
          _flag = true
        }
      }
      return _flag
    }
  },
  watch: {
  },
  components: {
    DeliverRuleModal
  },
  onLoad (opt) {
    console.log(opt)
    clearInterval(this.timer)
    let { m, s } = this.$Utils.calculateTime(opt.expireTime)
    this.expireTime = {
      m, s
    }
    this.timer = setInterval(() => {
      let { m, s } = this.$Utils.calculateTime(opt.expireTime)
      this.expireTime = {
        m, s
      }
    }, 1000)

    console.log(this.expireTime, '----')
    wx.showLoading({
      title: '加载中'
    })
  },
  async onShow () {
    this.secKillDetail = this.secKill.SecKillOrderInfo
    this.ruleModalProps.ruleTextArr[0] = this.shopInfo.deliverMoneyExplanation
    this.nickName = this.userInfo.nickName
    this.phone = this.userPhone

    this.totalPrice = this.formatFloat(this.secKillDetail.num * this.secKillDetail.unitPrice, 2)
    this.count = this.secKillDetail.num

    // 地址选择
    if (this.isFromOrderConfirm) {
      // 选择地址列表 回调数据
      this.orderAddress = this.saveFromAddress
    } else {
      let _adressRes = await api.my.getCustomerAddresDefault()
      if (_adressRes && _adressRes.status === 200) {
        this.orderAddress = _adressRes.data
      }
    }
    if ((this.secKillDetail.enableDeliveryHome && !this.secKillDetail.enableSelfLifting) || this.isFromOrderConfirm) {
      this.setOrderBar = 1
    } else {
      this.setOrderBar = 0
    }
    let _res = await this.getShopInfo({storeId: this.shopInfo.id}).catch(() => {})
    if (_res) {
      console.log(_res, '门店信息')
    }
    this.computedPayRedPack()
    wx.hideLoading()
    this.loadingFlag = true
  },
  onHide () {
    this.clearData()
  },
  onUnload () {
    this.nickName = ''
    this.phone = ''
    this.remark = ''
    this.setOrderBar = 0
    this.clearData()
  },
  methods: {
    // 这个获取用户信息是  ---- 用于配送地址修改后能重新请求一次门店地址信息
    ...mapActions({
      getShopInfo: types.GET_SHOP_INFO_BY_ID
    }),
    // 运费弹框
    showRole () {
      this.$refs.ruleModal.showToast({ruleModalProps: this.ruleModalProps})
    },
    clearData () {
      this.orderAddress = {}
      this.count = 0
      this.$store.commit(types.IS_FROM_ORDER_CONFIRM, false)
      this.fixedBody = false
      this.isActivityNoRed = false
      this.isUseCloudStock = false
      this.isDeliver = false
      clearInterval(this.timer)
    },
    // 动态切换textarea输入框中的值
    inputText_clickHandler (flag) {
      this.textareaFlag = flag

      setTimeout(() => {
        this.foucusFlag = !flag
      }, 100)
      console.log(flag, 'this.textareaFlag1')
    },
    // 秒杀商品支付成功
    pay_clickHanlder (e) {
      console.log('form发生了submit事件，携带数据formId为：', e)
      let { receiptAddress, receiptPhone, receiptName, provinceName, cityName, areaName } = this.orderAddress
      let { province, city, area, contactAddress } = this.shopInfo
      let { shopInfo, nickName, phone } = this
      let params = {}
      // 订单的基本信息
      let _orderBaseInfo = {
        deliveryType: !this.setOrderBar ? '门店自提' : '送货上门',
        storeId: this.shopInfo.id,
        remark: this.remark,
        orderFrom: 0, // 来源 2:拼团来的， 1是从立即购买过来的
        receiptName, // 收货姓名
        receiptPhone, // 收货电话
        receiptAddress: !this.setOrderBar ? province + city + area + contactAddress : provinceName + cityName + areaName + receiptAddress // 收货地址
      }
      params.orderBaseInfo = _orderBaseInfo
      if (!this.setOrderBar) {
        // 门店自提
        if (!nickName || !phone) {
          this.myToast('请输入联系人和手机号')
          return
        }
        if (!/^[1][0-9][0-9]{9}$/.test(phone)) {
          this.myToast('请输入正确的手机号')
          return
        }
      }
      if (this.setOrderBar && (!receiptAddress && !receiptPhone && !receiptName)) {
        this.myToast('请填写地址信息')
        return
      }

      // 门店自提
      if (!this.setOrderBar) {
        Object.assign(params.orderBaseInfo, {
          receiptName: nickName,
          receiptPhone: phone,
          storeName: shopInfo.storeName,
          receiptAddress: province + city + area + contactAddress
        })
      }

      params.actFlashSaleId = this.secKillDetail.id
      params.buyCount = this.count
      params.storeId = this.shopInfo.id

      if (this.buyFlag) return
      this.buyFlag = true
      api.SecKill.postSecKillOrder(params).then(res => {
        if (res.status === 200) {
          let { data } = res
          if (data && data.needPay) {
            let { payMap } = data
            // 微信支付
            if (payMap && payMap.success && payMap.data) {
              let {timeStamp, nonceStr, signType, paySign} = payMap.data
              wx.requestPayment({
                timeStamp,
                nonceStr,
                package: payMap.data.package,
                signType,
                paySign,
                success: response => {
                  console.log('支付成功微信回调:', response)
                  // 获取开团成功后的所成团的id
                  console.log('支付成功微信回调:', response)
                  // 微信支付成功后---模版消息
                  let _paramWx = {
                    totalSrl: data.totalSrl,
                    formId: e.target.formId,
                    sessionId: payMap.data.package.split('=')[1]
                  }
                  Configure.sendWxMessage(_paramWx)

                  this.buyFlag = false
                  this.$router.replace({path: RouterPath.Order.OrderResutl})
                },
                fail: () => {
                  this.myToast('支付失败')
                  this.buyFlag = false
                  this.$router.replace({ path: `${RouterPath.Order.OrderList}?type=1` })
                }
              })
            }
          }
        }
      }).catch(rest => {
        this.buyFlag = false
      })
    },

    // 数字精度方法
    formatFloat (f, d) {
      const m = Math.pow(10, d)
      return Math.round(f * m, 10) / m
    },
    // 进入地址管理页面
    enterAddress_clickHandler () {
      wx.navigateTo({
        url: RouterPath.Address.List
      })
    },
    // 计算金额
    computedPayRedPack () {
      let tempMoney
      if (this.isDeliverFlag) {
        tempMoney = this.totalPrice + (this.shopInfo.deliveryMoney || 0)
      } else {
        tempMoney = this.totalPrice
      }
      this.payMoneyX = this.formatFloat(tempMoney, 2)
    },
    // tab切换
    tab_clickHandler (e) {
      wx.pageScrollTo({
        scrollTop: 0,
        duration: 0
      })
      this.setOrderBar = Number(e.currentTarget.id)
      this.computedPayRedPack()
    },
    // 弹出框展示
    myToast (msg) {
      wx.showToast({
        title: msg,
        icon: 'none',
        duration: 2000
      })
    }
  }
}
</script>
<style lang="stylus" scoped>
.fixed-body {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hideFaceMaster {
  display: none !important;
}
.textbox {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.p-l{
  padding-right: 0rpx !important;
}
.personN {
  display: flex;
  flex-direction: column;
}

.listAdd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  font-size: 30rpx;
}

.imgLocalBox {
  display: flex;
  align-items: center;
  padding: 0 20rpx 0 0;
}
.coupon{
  font-weight:500;
  font-size:28rpx;
  color: #333;
  padding-bottom: 20rpx;
  padding-right: 40rpx;
  line-height: 1.97;
  border-bottom: 1px solid #f0f0f0;
}
.personM {
  overflow: hidden;
}

.localBox {
  display: flex;
  align-items: center;
  padding: 60rpx 40rpx;
}

.mesImg {
  display: flex;
  align-items: center;
  padding: 25rpx 0rpx;
  width: 100%;
}

.buyShopInfoPerson {
  width: 100%;
  margin: 0;
  padding: 5rpx 30rpx;
  line-height: 100rpx;
  height: 100rpx;

  label {
    width: 120rpx;
    font-size: 28rpx;
    float: left;
  }

  input {
    font-size: 14px;
  }
}

.mesAndress {
  position: relative;
  font-size: 28rpx;

  .andressTit {
    position: absolute;
    left: 0;
    top: 30rpx;
    line-height: 30rpx;
  }

  .andressMinute {
    margin: 0 0 0 140rpx;
    min-height: 48rpx;
  }
}

.message-shopShow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mesAge {
  display: flex;
  align-items: center;
  margin: 20rpx 30rpx;
  font-size: 30rpx;
}

page, .page, .page__bd {
  height: 100%;
}

.page__bd {
  padding-bottom: 0;
}

.weui-tab__content {
  text-align: center;
}

.weui-navbar__slider {
  color: #ff7900;
  background-color: #ff7900;
  width: 3em;
}

.weui-bar__item_on {
  color: #ff7900;
}

.weui-navbar__slider_0 {
  left: 136rpx;
  transform: translateX(0);
}

.weui-navbar__slider_1 {
  left: 263rpx;
  transform: translateX(250rpx);
}
.active_top_0 {
  padding-top: 0rpx !important;
}

.order-edit {
  padding-bottom: 140rpx;
}

.order-edit-group {
  padding: 8rpx 0 40rpx 30rpx;
}

.order-edit-line {
  padding-top: 32rpx;
  border-bottom: 1px solid #f0f0f0;
  font-size: 32rpx;
  font-family: 'PingFang-SC-Regular';
  color: #333333;
  padding-bottom: 24rpx;
  padding-right: 40rpx;
  line-height: 1.97;

  .weui-bar__item_on {
    color: #ff7900;
  }
}

.price-foot {
  background: #ffffff;
  position: fixed;
  z-index: 9998;
  bottom: 0;
  left: 0;
  height: 115rpx;
  line-height: 115rpx;
  width: 100%;
  font-size: 36rpx;
  font-family: 'PingFang-SC-Bold';
  box-shadow: 0px 1px 7px 0px rgba(227, 223, 207, 0.75);

  .pay-btn {
    font-size: 32rpx;
    color: #ffffff;
    width: 268rpx;
    background: #FDD317;
    text-align: center;
    height: 100%;
    border-radius:0px !important;
  }
}
button::after{ border: none; }
.l-g {
  font-size: 32rpx;
}

.l-g-s {
  font-size: 26rpx;
}

.main-color {
  color: #FF7E00;
}

.low-color {
  color: #999999;
  font-weight: 500;
}

.l-p {
  margin-top: 7px;
}

.flex-other {
  overflow: hidden;
  padding-top: 20rpx;
}

.flex-left {
  // width: 200rpx;
  font-size: 28rpx;
  color: #666666;
  line-height: 30rpx;
  display: inline-block;
  float: left;
  text-align: left;
}
.flex-icon{
  width: 12rpx;
  height: 12rpx;
  background: url(../../../static/images/tubiao-address.png) no-repeat;
  background-size: 76%;
  margin-left:8rpx;
  margin-top:4rpx;
  margin-right:23rpx;
}
.flex-right {
  text-align: right;
  display: inline-block;
  padding-right: 40rpx;
  color: #000000;
  float: right;
  font-size: 28rpx;
}

.orderTitle {
  padding-left: 30rpx;
  display:flex;
  height: 66rpx;
  border-bottom: 1px solid #F1F1F1;
  position: relative;
  .text{
    line-height: 66rpx;
    color: #333333;
    font-size: 28rpx;
    font-weight: bold;
  }
  .desc{
    height: 45rpx;
    min-width: 200rpx;
    border-radius: 10rpx;
    border: 1rpx solid rgba(255,86,78,1);
    position: absolute;
    top: 9rpx;
    right: 45rpx;
    display: flex;
    .text{
      min-width: 160rpx;
      height: 45rpx;
      line-height: 42rpx;
      background:rgba(255,86,78,1);
      padding-left: 10rpx;
      border-top-left-radius: 10rpx;
      border-bottom-left-radius: 10rpx;
      .img{
        width: 23rpx;
        height: 24rpx;
        img{
          width: 23rpx;
          height: 24rpx;
        }
      }
      .t{
        color:#fff;
        font-weight:500;
        font-size:26rpx;
        margin-left: 5rpx;
        position: relative;
        top: -1rpx;
        left: 9rpx;
      }
    }
    .datePrice{
      font-size: 26rpx;
      color:rgba(255,86,78,1);
      padding-left:20rpx;
      padding-right:15rpx;
      line-height:46rpx;
      font-weight:500;
    }
  }
  
  
}

.orderList {
  height: 100rpx;
  border-bottom: 1px solid #F1F1F1;
  padding-left: 30rpx;
  padding-right: 50rpx;
  display: flex;
  padding-top: 25rpx;
  padding-bottom: 25rpx;

  .orderShopName {
    color: #333333;
    font-size: 28rpx;
    line-height: 45rpx;
    width: 70%;
    height: 90rpx;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .orderShopNum {
    width: 30%;
    text-align: right;
    font-size: 28rpx;
    text-align: right;
    height: 90rpx;
    line-height: 45rpx;
  }
}

.message-leave {
  padding-left: 30rpx;
  height: 66rpx;
  line-height: 66rpx;
  border-bottom: 1px solid #F1F1F1;
  color: #333333;
  font-size: 28rpx;
  font-weight: bold;
}

.message-input {
  padding-left: 30rpx;
  margin-top: 20rpx;
  color: #333333;
  width: 100%;
  height: 150rpx;
  overflow: hidden;
  text-align: left;
  font-size: 28rpx;
  z-index: 0;

  .message-input::-webkit-input-placeholder {
    color: #cccccc;
    font-size: 22rpx;
    z-index: 1;
  }
}

.text-look {
  padding-left: 30rpx;
  margin-top: 20rpx;
  color: #333;
  width: 100%;
  height: 150rpx;
  overflow: hidden;
  text-align: left;
  font-size: 28rpx;
  z-index: 0;
}
</style>
