<template>
  <div id="secKillList" v-if="!flags.loading">
    <div class="we">
      <div class="we_u">
        <div class="we_u_item" @click="tab_click('PREVIOUS_WEEK')" :class="{'select':typeStatus === 'PREVIOUS_WEEK'}">
          <div class="text">
            <div class="text-t">上周</div>
            <div class="text-b">已结束</div>
          </div>
          <div class="act" v-if="typeStatus === 'PREVIOUS_WEEK'">
            <img src="/static/images/sec-icon.png" alt="">
          </div>
        </div>
        <div class="we_u_item" @click="tab_click('THIS_WEEK')" :class="{'select':typeStatus === 'THIS_WEEK'}">
          <div class="text">
            <div class="text-t">本周</div>
            <div class="text-b">抢购进行中</div>
          </div>
          <div class="act" v-if="typeStatus === 'THIS_WEEK'">
            <img src="/static/images/sec-icon.png" alt="">
          </div>
          
        </div>
        <div class="we_u_item" @click="tab_click('NEXT_WEEK')" :class="{'select':typeStatus === 'NEXT_WEEK'}">
          <div class="text">
            <div class="text-t">下周</div>
            <div class="text-b">即将开场</div>
          </div>
          <div class="act" v-if="typeStatus === 'NEXT_WEEK'">
            <img src="/static/images/sec-icon.png" alt="">
          </div>
          
        </div>
      </div>
      <div class="we_header" >
        <div class="we_header_l">
          <img src="/static/images/secStatus-icon.png" alt="">
        </div>
        <div style="width: 80rpx; height: 25rpx;" class="we_text" v-if="typeStatus === 'PREVIOUS_WEEK'">
          <img src="/static/images/close-icon.png" alt="" style="width: 100%;height: 100%;">
        </div>
        <div style="width: 224rpx; height: 25rpx;" class="we_text"  v-else-if="typeStatus === 'THIS_WEEK'">
          <img src="/static/images/open-icon.png" alt="" style="width: 100%;height: 100%;">
        </div>
        <div style="width: 107rpx; height: 25rpx;" class="we_text" v-else-if="typeStatus === 'NEXT_WEEK'">
          <img src="/static/images/await-icon.png" alt="" style="width: 100%;height: 100%;">
        </div>
      </div>
    </div>
    <div style="padding-top: 220rpx;">
        <div class="we_list">
        <div v-if="typeStatus === 'PREVIOUS_WEEK'">
          <div v-for="(item, index) in secKillList" :key="index">
            <SecKillGoodsItem :item="item"></SecKillGoodsItem>          
          </div>
        </div>
        <div v-if="typeStatus === 'THIS_WEEK'">
          
          <div v-for="(item, index) in secKillList" :key="index">
            <SecKillGoodsItem :item="item" @subRule='subRuleModel'></SecKillGoodsItem>          
          </div>
        </div>
        <div v-if="typeStatus === 'NEXT_WEEK'">
          
          <div v-for="(item, index) in secKillList" :key="index">
            <SecKillGoodsItem :item="item" @subRule='subRuleModel'></SecKillGoodsItem>          
          </div>
        </div>
        <div class="page-bottom-noline" v-if="secKillList.length">已经到底了～</div>
      </div>
      <!-- nodata -->
      <div v-if="!secKillList.length" class="empty-list">
        <img :src="NO_CONTENT" alt="">
        <div>
          <span v-if="typeStatus === 'PREVIOUS_WEEK'">活动已结束哦～</span>
          <span v-else>活动即将上线，敬请期待～</span>
        </div>
      </div>
    </div>
    
    <!-- 回到首页btn -->
    <div class="go-home-btn" id="go-home-btn" @click="goHomeBtn_clickHander">
      <img src="/static/images/index_icon_home.png" alt="">
      <div>首页</div>
    </div>
  </div>
</template>
<script>
import RouterPath from '@router/config'
// import Utils from '@utils/utils'
import { mapGetters } from 'vuex'
import { NO_CONTENT } from '@contants/groupBuy'
import Configure from '../../utils/configure'

import SecKillGoodsItem from '@components/SecKill/SecKillGoodsItem'

import API from '@api'
export default {
  data () {
    return {
      typeStatus: 'THIS_WEEK',
      NO_CONTENT,
      secKillList: [],
      flags: {
        loading: true
      }
    }
  },
  computed: {
    ...mapGetters(['userInfo', 'shopInfo', 'storeId'])
  },
  components: {
    SecKillGoodsItem
  },
  methods: {
    // 内容切换
    tab_click (type) {
      this.secKillList = []
      // this.params.page = 0
      // this.params.size = 20
      this.typeStatus = type
      this.getsecKillList()
    },
    // 返回首页的
    goHomeBtn_clickHander () {
      wx.reLaunch({
        url: RouterPath.Home
      })
    },
    // 搜索列表
    getsecKillList () {
      wx.showLoading({
        title: '加载中...',
        mask: true
      })
      this.params = { storeId: this.storeId, actFlashSaleWeek: this.typeStatus }

      // 正常商品获取数据
      this.searchGoodsReq(this.params)
    },
    searchGoodsReq () {
      API.SecKill.getSecKillList(this.params)
        .then(res => {
          wx.hideLoading()
          this.flags.loading = false
          if (res.data) {
            let _data = res.data
            if (this.typeStatus === 'THIS_WEEK') {
              let now = new Date().getTime()
              _data.map(k => {
                let time = new Date(k.beginTime).getTime()
                console.log(time - now, 'time - now')
                if (time - now > 0) {
                  k.flags = true
                } else {
                  k.flags = false
                }
              })
            } else if (this.typeStatus === 'NEXT_WEEK') {
              let Nowdate = new Date().getTime()
              _data.map(k => {
                let beginTime = new Date(k.beginTime).getTime()
                console.log((beginTime - Nowdate) / 86400000, '时间差值')
                if ((beginTime - Nowdate) / 86400000 < 7) {
                  k.typeFlag = true
                } else {
                  k.typeFlag = false
                }
              })
            }
            this.secKillList = [...this.secKillList, ..._data]
            console.log(this.secKillList, 'secKillList')
          }
        })
        .catch(rest => {
          console.log(rest, '错误日志')
          wx.hideLoading()
          this.flags.loading = false
        })
    },
    clearData () {
      this.secKillList = []
      this.flags.loading = false
    },
    subRuleModel (item) {
      Configure.postSubscric(item)
      console.log(item, 'item--item')
    }
  },
  onLoad (options) {
    console.log('onLoad1111', options)
  },
  onShow () {
    this.getsecKillList(true)
  },
  onHide () {
    this.clearData()
  },
  onUnload () {
    this.typeStatus = 'THIS_WEEK'
    this.clearData()
  }
}
</script>
<style lang="scss" scoped>
#secKillList{
  width: 100%;
  min-height: 100%;
  .we{
    position: fixed;
    top: 0rpx;
    left: 0rpx;
    width: 100%;
    z-index: 10;
    background: #fff;
  }
  .we_u{
    width: 100%;
    height: 120rpx;
    display: flex;
    .we_u_item{
      position: relative;
      flex: 1;
      display: flex;
      width: 33.3%;
      height: 100%;
      justify-content: center;
      align-items: center;
      color:rgba(254,254,255,1);
      background:rgba(38,40,53,1);
      .text{
        width: 100%;
        padding-top: 10rpx;  
        text-align: center;
        padding-bottom: 10rpx;
        .text-t{
          font-size:36rpx;
          font-weight:800;
        }
        .text-b{
          font-size:24rpx;
          font-weight:500;
        }
      }
      .act{
        width: 30rpx;
        height: 15rpx;
        position: absolute;
        bottom: 8rpx;
        img{
          width: 100%;
          height: 100%;
        }
      }
      
    }
  }
  .we_header{
    padding: 30rpx;
    position: relative;
    .we_header_l{
      width: 126rpx;
      height: 60rpx;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .we_text{
      position: absolute;
      top: 35rpx;
      right: 35rpx;
    }
  }
}
.select {
  background: rgba(255,86,78,1) !important;
}
.empty-list{
  display: flex;
  align-items:center;
  flex-direction:column;
  >img{
    width: 305rpx;
    height: 324rpx;
  }
  >div{
    font-size:30rpx;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(201,201,201,1);
    margin-top: 48rpx
  }

}
#go-home-btn{
  width:94rpx;
  height:94rpx;
  border-radius:50%;
  position:fixed;
  right:30rpx;
  top:600rpx;
  z-index:999;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background: #ff8f00;
  color: #fff;
  box-shadow:0px 5px 16px 5px rgba(213,213,213,0.41);
  >img{
    width: 50rpx;
    height: 50rpx
  }
  >div{
    font-size: 24rpx;
    position: relative;
    top: -4rpx;
  }
}

</style>
