<template>
  <div id="mySecKillList">
    <div>
      <div class="content" v-show="showPage">
        <div class="list-box">
          <div style v-for="(item, index) in dataList" :key="index">
            <div class="item-box">
              <div class="store-info">
                <span class="store-name">{{item.storeName}}</span>
                <span class="status">秒杀成功</span>
              </div>
              <div class="item">
                <div class="img">
                  <img class="icon" :src="item.skuImg" mode="widthFix">
                </div>
                <div class="info">
                  <div class="name">{{item.productName}}</div>
                  <div class="price">
                    <span><span style="margin-right: 5rpx;">¥</span>{{item.unitPrice}}</span>
                  </div>
                </div>
              </div>
              <div class="price-info">
                <span>共{{item.buyCount}}件商品</span>
                <span style="margin-left: 40rpx;">实付款：￥{{item.realMoney}}</span>
              </div>
            </div>
          </div>
          <div class="no-more-data" v-if="showPageBootom && dataList.length">已经到底了～</div>
        </div>
        <!-- nodata -->
        <div v-if="!dataList.length" class="bg-box">
          <div v-if="true" class="empty-list">
            <img :src="NO_CONTENT" alt>
            <div>您还没有秒杀哦~</div>
            <div @click="noData_click_handle" class="btn_click_handle">
              <div class="btn-box">
                <span>去秒杀专区看看</span>
                <img src="/static/images/go-groupBuy-btn.png" alt>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import RouterPath from '@router/config'

import { mapGetters } from 'vuex'
import API from '@api'
import Utils from '@utils/utils'
import Contants from '@contants/index'
import { NO_CONTENT } from '@contants/groupBuy'

export default {
  data () {
    return {
      NO_CONTENT,
      Contants,
      dataList: [],
      params: { page: 0, size: 10 },
      loadPage: true,
      showPageBootom: false,
      showPage: true
    }
  },
  computed: {
    ...mapGetters(['storeId', 'shopInfo', 'userInfo'])
  },
  components: {
  },
  onLoad (options) {
  },
  onShow () {
    this.getDataList()
  },
  methods: {
    noData_click_handle () {
      let url = RouterPath.SecKill.List
      wx.navigateTo({ url })
    },
    // 获取我的数据
    getDataList () {
      this.loadPage = false
      wx.showLoading({
        title: '加载中',
        icon: 'loading'
      })
      this.params.storeId = this.storeId
      API.SecKill.getMySecLillList(this.params).then((res) => {
        wx.hideLoading()
        if (res.data) {
          let data = Utils.resolveData(res.data.content, [{ path: 'skuImg', width: 140 }])
          this.dataList = [...this.dataList, ...data]
          if (data.length) {
            this.params.page++
          } else {
            this.showPageBootom = true
          }
        }
      }).catch(() => {
        this.loadPage = true
        this.showPage = true
        wx.hideLoading()
      })
    },
    clearData () {
      this.dataList = []
      this.params = { page: 0, size: 10 }
      this.loadPage = true
      this.showPageBootom = false
      this.showPage = true
    }
  },
  onHide () {
    this.clearData()
  },
  onUnload () {
    this.clearData()
  },
  // 触底时继续请求数据
  onReachBottom () {
    !this.showPageBootom && this.getDataList()
  }
}
</script>
<style lang="scss" scoped>
#mySecKillList {
  .bg-color {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #F5F8FA;
  }
  .content {
    .list-box{
      width: 100%;
      padding-top: 10rpx;
      background: #fff;
      .item-box{
        width: 100;
        height: 331rpx; 
        .store-info{
          border-bottom: 1rpx solid #f1f1f1;
          padding: 5rpx 20rpx;
          padding-bottom: 15rpx;
          .store-name{
            font-size:32rpx;
            font-weight:bold;
            color:rgba(51,51,51,1);
            line-height:43rpx;
          }
          .status{
            color:rgba(255,126,0,1);
            margin-left: 20rpx;
            font-size:26rpx;
            width:119rpx;
            height:40rpx;
            border:2rpx solid rgba(255,126,0,1);
            border-radius:10rpx;
            display: inline-block;
            text-align: center;
          }
        }
        .item{
          padding: 20rpx;
          display: flex;
          justify-content: center;
          align-items: center;
          .img {
            width: 140rpx;
            height: 140rpx;
            .icon {
              width: 140rpx;
              height: 140rpx;
            }
          }
          .info{
            flex: 1;
            margin-left: 25rpx;
            flex-direction: column;
            display: flex;
            height: 140rpx;
            justify-content: space-between;
            .name {
              color: #000;
              line-height: 40rpx;
              display: -webkit-box;
              word-break: break-all;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 27rpx;
              margin-bottom: 10rpx;
            }
            .price{
              font-size:36rpx;
              font-weight:800;
              color:rgba(255,121,0,1);
              line-height:41rpx;
            }
          }
        }
        .price-info{
          font-size:26rpx;
          font-weight:500;
          color:rgba(102,102,102,1);
          line-height:43rpx;
          padding-left: 20rpx;
        }
      }
      
    }
    .empty-list {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 86rpx;

      >img {
        width: 305rpx;
        height: 324rpx;
      }

      >div {
        font-size: 30rpx;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(201, 201, 201, 1);
        margin-top: 48rpx;
      }
    }

    .no-more-data {
      background: #F5F8FA;
      padding: 30rpx 0;
      display: flex;
      justify-content: center;
      font-size: 22rpx;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(201, 201, 201, 1);
    }

    .btn-box {
      position: relative;
      margin-top: 86rpx !important;

      >span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 32rpx;
        font-family: PingFang-SC-Bold;
        font-weight: bold;
        color: rgba(255, 255, 255, 1);

        &:nth-child(2) {
        }
      }

      >img {
        width: 701rpx;
        height: 90rpx;
        vertical-align: middle;
      }
    }
  }
}
</style>
