<template>
  <div class="sharePosterBox" v-if="showCanvasImg" @click="clear">
    <canvas class="canvas" canvas-id="mycanvas"></canvas>
    <div class="bottom">
      <div class="title"><text class="text">分享到</text></div>
      <div class="btn">
        <div class="item">
          <img class="icon" src="/static/images/share_operation_btn_wx.png" mode="widthFix">
          <div class="text">微信分享</div>
          <button class="shareBtn" open-type="share" ></button>
        </div>
        <div class="item" @click="savePhone">
          <img class="icon" src="/static/images/share_operation_btn_save.png" mode="widthFix">
          <div class="text">保存到手机</div>
        </div>
      </div>
      <div class="clear" @click.stop="clear">取消</div>
    </div>

  </div>
</template>
<script type="text/javascript">
import { mapGetters } from 'vuex'
import Contants from '@contants/index'
import API from '@api'
import Tools from '@utils/tools'
import RouterPath from '@router/config'

export default {
  props: ['pageData'],
  data () {
    return {
      showCanvasImg: false,
      wechatImg: '',
      defalutImgUrl: ''
    }
  },
  computed: {
    ...mapGetters({
      openId: 'openId',
      storeId: 'storeId',
      baseImgUrl: 'baseImgUrl',
      userInfo: 'userInfo',
      shopInfo: 'shopInfo'
    }),
    storageServer () {
      return this.$storageServer
    }
  },
  onLoad () {
    console.log(this.userInfo, '获得用户信息')
    Tools.showLoading('正在生成海报')
    this.getWxQrCode()
  },
  methods: {
    setSize (rex) {
      return (rex / 750) * global.ww
    },
    // G 代表拼团商品详情页面
    // F 代表拼团成功 页面
    // H 代表礼物商品详情页面 页面
    // L 代表秒杀商品详情页面 页面
    getWxQrCode () {
      const $this = this
      let page = null
      const type = $this.pageData.type
      let scene = { sId: $this.storeId, sf: type }
      console.log(scene, '生成二维码的参数')
      switch (type) {
        case 'G' :
          page = RouterPath.Auth.Start
          scene['id'] = $this.pageData.data.id
          break
        case 'F' :
          page = RouterPath.Auth.Start
          scene['id'] = $this.pageData.data.id
          break
        case 'H' :
          page = RouterPath.Auth.Start
          scene['id'] = $this.pageData.data.id
          break
        case 'L' :
          page = RouterPath.Auth.Start
          scene['id'] = $this.pageData.data.id
          break
      }
      API.Public.getWxQrCode({page: page.replace(/^[/]/, ''), scene: Tools.setUrlObj(scene).replace(new RegExp(/(")/g), '')}).then(res => {
        this.wechatImg = res.data.imageUrl
        console.log(this.pageData.data, '$this.pageData.data=====')
        switch (type) {
          case 'G' :
            $this.createCanvas(type, $this.pageData.data.cloudDTO.skuImg ? Contants.BASE_IMG_URL + $this.pageData.data.cloudDTO.skuImg : Contants.DEFAUTL_URL)
            break
          case 'F' :
            $this.createCanvas(type, $this.pageData.data.skuImg ? Contants.BASE_IMG_URL + $this.pageData.data.skuImg : Contants.DEFAUTL_URL)
            break
          case 'H' :
            $this.createCanvas(type, $this.pageData.data.cloudDTO.skuImg ? Contants.BASE_IMG_URL + $this.pageData.data.cloudDTO.skuImg : Contants.DEFAUTL_URL)
            break
          case 'L' :
            $this.createCanvas(type, $this.pageData.data.skuImg ? Contants.BASE_IMG_URL + $this.pageData.data.skuImg : Contants.DEFAUTL_URL)
            break
        }
      }).catch(rest => {
        $this.clear()
        Tools.toast('生成海报失败')
      })
    },
    createCanvas (type, qrCodeUrl) {
      const $this = this
      const ctx = wx.createCanvasContext('mycanvas')
      let {nickName, headPortraitImgUrl} = $this.userInfo

      wx.downloadFile({
        url: qrCodeUrl,
        success: (res) => {
          console.log(res)
          wx.downloadFile({
            url: headPortraitImgUrl || 'https://dj001.oss-cn-beijing.aliyuncs.com/online/opmactivitymg/68f7428930bc46f1a29336c8a71c8e14.png',
            success: (ret) => {
              // G 代表拼团商品详情页面
              console.log(ret, 'dsdfsd')
              ctx.setStrokeStyle('#ccc')
              ctx.rect(0, 0, this.setSize(590), this.setSize(860))
              switch (type) {
                case 'G' :
                  $this.loadingGoods(ctx, res.tempFilePath, $this.pageData.data.cloudDTO, () => {
                    $this.createSucceed(ctx, type, nickName, ret.tempFilePath)
                  })
                  break
                case 'F' :
                  $this.loadingGoods(ctx, res.tempFilePath, $this.pageData.data, () => {
                    $this.createSucceed(ctx, type, nickName, ret.tempFilePath)
                  })
                  break
                case 'H' :
                  $this.loadingGoods(ctx, res.tempFilePath, $this.pageData.data.cloudDTO, () => {
                    $this.createSucceed(ctx, type, nickName, ret.tempFilePath)
                  })
                  break
                case 'L' :
                  $this.loadingGoods(ctx, res.tempFilePath, $this.pageData.data, () => {
                    $this.createSucceed(ctx, type, nickName, ret.tempFilePath)
                  })
                  break
              }
            },
            fail: () => {
              $this.clear()
              Tools.toast('获取头像失败')
            }
          })
        },
        fail: () => {
          $this.clear()
          Tools.toast('获取二维码失败')
        }
      })
      // 动态canvas画布宽高
    },
    createSucceed (ctx, type, nickName, headPortraitImgUrl) {
      let nameColor = (type === 'G' ? '#222222' : '#222222')
      let msgColor = (type === 'G' ? '#555' : '#555')
      ctx.setFillStyle(nameColor)
      ctx.setFontSize(this.setSize(24))
      ctx.fillText(nickName, this.setSize(70), this.setSize(50))
      ctx.setFillStyle(msgColor)
      ctx.setFontSize(this.setSize(24))
      if (ctx.measureText) {
        if (this.pageData.type === 'H') {
          ctx.fillText('邀请你参加送礼活动', ctx.measureText(nickName).width + this.setSize(75), this.setSize(48))
        } else if (this.pageData.type === 'L') {
          ctx.fillText('邀请你参加秒杀活动', ctx.measureText(nickName).width + this.setSize(75), this.setSize(48))
        } else {
          ctx.fillText('邀请你参加拼团活动', ctx.measureText(nickName).width + this.setSize(75), this.setSize(48))
        }
      }
      // 绘制微信头像
      ctx.save()
      ctx.beginPath()
      ctx.arc(this.setSize(40), this.setSize(40), this.setSize(20), 0, Math.PI * 2, false)
      ctx.clip()
      ctx.drawImage(headPortraitImgUrl, this.setSize(20), this.setSize(20), this.setSize(40), this.setSize(40))
      ctx.restore()
      ctx.draw()
      this.showCanvasImg = true
      Tools.hideLoading()
    },
    loadingGoods (ctx, qrCodeUrl, obj, callback) {
      const $this = this
      console.log(obj, '-----')
      let productname
      if ($this.pageData.type === 'F') {
        productname = (obj.skuName) || ''
      } else {
        productname = (obj.productName) || ''
        // productname = (obj.productName + obj.skuName) || ''
      }
      let shopStoreName = $this.shopInfo.storeName || ''
      ctx.setFontSize(this.setSize(50))
      wx.downloadFile({
        url: obj.skuImg ? Contants.BASE_IMG_URL + obj.skuImg : '' || Contants.DEFAUTL_URL,
        success: (res) => {
          ctx.drawImage('/static/images/share-detail-bg.png', 0, 0, this.setSize(590), this.setSize(860))
          ctx.drawImage('/static/images/bg-defalut.png', this.setSize(120), this.setSize(70), this.setSize(350), this.setSize(350))// 默认背景图
          ctx.drawImage(qrCodeUrl, this.setSize(120), this.setSize(70), this.setSize(350), this.setSize(350))// 背景图

          // // 绘制价格后面的背景图
          ctx.setFontSize(this.setSize(50))
          ctx.drawImage('/static/images/share_goods_price_bg_icon_3.png', this.setSize(60), this.setSize(470), this.setSize(40), this.setSize(140))
          ctx.drawImage('/static/images/share_goods_price_bg_icon_1.png', this.setSize(100), this.setSize(470), this.setSize(10) + ctx.measureText('拼团').width + ctx.measureText(String(obj.sellPrice)).width, this.setSize(140))
          ctx.drawImage('/static/images/share_goods_price_bg_icon_2.png', this.setSize(110) + ctx.measureText(String('拼团')).width + ctx.measureText(String(obj.sellPrice)).width, this.setSize(461), this.setSize(40), this.setSize(140))
          // // 绘制价格
          ctx.setFontSize(this.setSize(38))
          // // 绘制拼团价--还是礼物价
          ctx.setFillStyle('#000000')
          ctx.setFontSize(this.setSize(28))
          if ($this.pageData.type === 'H') {
            ctx.fillText('礼物价', this.setSize(90), this.setSize(545))
          } else if ($this.pageData.type === 'L') {
            ctx.fillText('秒杀价', this.setSize(90), this.setSize(545))
          } else {
            ctx.fillText('拼团价', this.setSize(90), this.setSize(545))
          }
          ctx.setFontSize(this.setSize(28))
          ctx.fillText('¥', ctx.measureText(String('拼团价')).width + this.setSize(100), this.setSize(545))
          ctx.setFontSize(this.setSize(35))
          ctx.fillText(obj.unitPrice, ctx.measureText(String('拼团价')).width + this.setSize(100), this.setSize(545))
          ctx.setFontSize(this.setSize(35))
          ctx.stroke()

          // 绘制拼团单买价格
          if ($this.pageData.type !== 'H') {
            ctx.setFillStyle('#000000')
            ctx.setFontSize(this.setSize(24))
            ctx.fillText('单买价：', this.setSize(240) + ctx.measureText(String('拼团')).width + ctx.measureText(String(obj.sellPrice)).width, this.setSize(560))
            ctx.fillText('¥', ctx.measureText(String('单买价：')).width + this.setSize(240) + ctx.measureText(String('拼团')).width + ctx.measureText(String(obj.sellPrice)).width, this.setSize(560))
            ctx.fillText(obj.sellPrice, this.setSize(350) + ctx.measureText(String('拼团')).width + ctx.measureText(String(obj.sellPrice)).width, this.setSize(560), this.setSize(560))
          }

          // 绘制商品名称
          ctx.setFontSize(this.setSize(28))
          ctx.setFillStyle('#000000')
          const productnameT = this.checkTwoText(ctx, productname, this.setSize(300))
          productnameT.forEach((item, index) => {
            ctx.fillText(item, this.setSize(60), this.setSize(650) + (index * this.setSize(40)))
          })
          // 绘制open图片
          ctx.drawImage('/static/images/share-open.png', this.setSize(60), this.setSize(720), this.setSize(66), this.setSize(47))
          // 绘制店铺名
          ctx.setFontSize(this.setSize(26))
          ctx.setFillStyle('#F4AC27')
          const shopStoreNameT = this.checkOneText(ctx, shopStoreName, this.setSize(280))
          ctx.fillText(shopStoreNameT, this.setSize(60), this.setSize(820))
          // 绘制二维码图片
          wx.downloadFile({
            url: 'https://' + $this.wechatImg,
            success: (res) => {
              ctx.drawImage(res.tempFilePath, this.setSize(400), this.setSize(640), this.setSize(150), this.setSize(150))
              ctx.setFillStyle('#B5B5B5')
              ctx.setFontSize(this.setSize(22))
              ctx.fillText('扫码/长按识别', this.setSize(400), this.setSize(820))
              callback()
            }
          })
        },
        fail: () => {
          $this.clear()
          Tools.toast('商品图片加载失败')
        }
      })
    },
    clear (hideLoad) {
      this.showCanvasImg = false
      hideLoad || Tools.hideLoading()
      this.$emit('showPoster', false)
    },
    // 双行...
    checkTwoText (ctx, shopText, shopTextWidth) {
      let shopTitle = ''
      let newArr = []
      if (shopText) {
        let shopTextArr = shopText.split('')
        for (let index = 0; index < shopTextArr.length; index++) {
          shopTitle += shopTextArr[index]
          if (ctx.measureText(shopTitle).width >= shopTextWidth) {
            newArr.push(shopTitle)
            shopTitle = ''
          }
        }
        if (newArr.length > 2 || (shopTitle.length && newArr.length === 2)) {
          const str = newArr[1]
          newArr[1] = str.substr(0, str.length - 1) + '...'
          return [newArr[0], newArr[1]]
        }
        shopTitle.length && newArr.push(shopTitle)
      }
      return newArr
    },
    // 单行...
    checkOneText (ctx, shopText, shopTextWidth) {
      let shopTitle = ''
      if (shopText) {
        let shopTextArr = shopText.split('')
        for (let index = 0; index < shopTextArr.length; index++) {
          shopTitle += shopTextArr[index]
          if (ctx.measureText(shopTitle).width >= shopTextWidth) {
            shopTitle += '...'
            break
          }
        }
      }
      return shopTitle
    },
    savePhone () {
      // 保存到相册
      const $this = this
      wx.canvasToTempFilePath({
        canvasId: 'mycanvas',
        fileType: 'jpg',
        quality: 1.0,
        success: (res) => {
          const canvasImg = res.tempFilePath
          wx.saveImageToPhotosAlbum({
            filePath: canvasImg,
            success: (res) => {
              Tools.toast('图片已保存到相册')
              $this.clear(true)
            },
            fail: () => {
              Tools.toast('图片保存失败')
            }
          })
        },
        fail: () => {
          Tools.toast('图片保存失败!')
        }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .bottom{
    position: absolute;
    z-index:5;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F5F8FA;
    .title{
    	padding-top: 80rpx;
      border-bottom: 1px solid #CBCBCB;
      width: 90%;
      margin: 0 auto;
      text-align: center;
      margin-bottom:20rpx;
      .text{
        display: inline-block;
        padding:0 40rpx;
        background-color: #F5F8FA;
        position: relative;
        color: #bbb;
        bottom: -20rpx;
        font-size: 26rpx;
      }
    }
    .btn{
    	display: flex;
    	justify-content:center;
    	margin-bottom: 10rpx;
    	.item{
    	  width: 200rpx;
    	  text-align: center;
    	  font-size: 26rpx;
    	  position:relative;
    	  .shareBtn{
    	    opacity: 0;
    	    position: absolute;
    	    top: 0;
    	    left: 0;
    	    height: 100%;
    	    width: 100%;
    	    z-index: 10;
    	  }
    	  .icon{
    	    width: 80rpx;
    	    height: 80rpx;
    	  }
    	}
    }
    .clear{text-align: center;font-size: 26rpx;height: 80rpx;line-height:80rpx;}
  }
  .sharePosterBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,.1);
    height: 100%;
    z-index: 1000;
    .canvas{
      position: absolute;
      z-index: 10;
      bottom:280rpx;
      left:50%;
      margin-left: -295rpx;
      height:860rpx;
      width:590rpx;
      // background-color: #fff;
    }
  }
</style>
