<template>
  <div style="height:100%;width:100%;display:flex;" class="box">
  <div>
  </div>
  <!-- <view v-if='codeImg' style="height:100%;width:100%;">
     <img src="/static/images/codeNone.png" class="img" style="height:386rpx;width:100%;background-size:cover;margin-top:150rpx">
  </view> -->
  <view v-if='loadingTrue' style="height:100%;width:100%;">
     <img src="/static/images/loading.gif" class="img" style="height:100%;width:100%;">
  </view>
  <view v-if='codeImgFn' style="height:100%;width:100%;display:flex;flex-direction: column;">
     <img :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/22bf28bfd37d47e69d383273c2cd3dee.png'" class="img" style="height:500rpx;width:100%;background-size:cover;margin-top:150rpx">
     <p style='color:#999999;font-size:29rpx;display:flex;justify-content:center;'>该门店尚未激活小程序</p>
  </view>
  <!--测试-->
  <!--<button open-type="getUserInfo" @getuserinfo='bindgetuserinfo' style="margin:0 10px;height:90rpx;border-radius:100rpx;background:#39bc00;color:#fff;">微信登录</button>-->
  </div>
</template>
<script>
import * as types from '../../store/types.js'
import RouterPath from '@router/config'
import Contants from '@contants/index'
import TalkingData from '../../utils/talkingData.js'
// import Utils from '@utils/utils'
export default {
  data () {
    return {
      Contants,
      loadingTrue: true,
      // codeImg: false,
      codeImgFn: false,
      sendDate: {},
      storeId: null
    }
  },
  methods: {
    getUrlParams (url) {
      const arr = url.split(',')
      return arr
    },
    getStoreId (storeId) {
      this.$store.dispatch(types.GET_SHOP_INFO_BY_ID, {storeId: storeId}).then(data => {})
      wx.login({
        success: res => {
          if (res.code) {
            this.$store.dispatch(types.GET_OPEN_ID, {code: res.code, storeId: storeId}).then(data => {
              console.log(data)
              wx.redirectTo({
                // url: '/pages/main/index'
                url: RouterPath.Home
              })
              if (storeId) {
                TalkingData.onEvent('c_全局扫线下码进入小程序', 'c_全局扫线下码进入小程序', {storeId: storeId})
              }
            })
          }
        }
      })
    },
    init () {
      let {options} = this
      console.log(options, 'loading页面传参数')
      if (options.scene) {
        const scene = decodeURIComponent(options.scene)
        // console.log(scene, '_____options.scene_______')
        if (this.getUrlParams(scene).length === 1) {
          const storeCode = this.getUrlParams(scene)[0].replace(/(^\s*)|(\s*$)/g, '')
          this.sendDate.storeCode = storeCode
          // 这种方式只有storeCode的方式才能进去获取storeId信息
          this.$store.dispatch(types.SHOP_MES_AGEDATA, this.sendDate).then(res => {
            if (res) {
              this.$store.commit(types.SAVE_STORE_ID, res.storeId)
              this.storeId = res.storeId
              if (this.storeId) {
                this.getStoreId(this.storeId)
              } else {
                this.loadingTrue = false
                this.codeImgFn = true
              }
            }
          })
        } else {
          this.storeId = this.getUrlParams(scene)[1].replace(/(^\s*)|(\s*$)/g, '')
          // console.log('_________uid_sid', this.storeId)
          this.$store.commit(types.SAVE_STORE_ID, this.storeId)
          // 只有storeId的情况下获取
          if (this.storeId) {
            this.getStoreId(this.storeId)
          } else {
            this.loadingTrue = false
            this.codeImgFn = true
          }
        }
      } else {
        if (options.sid) {
          this.storeId = options.sid
          this.$store.commit(types.SAVE_STORE_ID, this.storeId)
          if (this.storeId) {
            this.getStoreId(this.storeId)
          } else {
            this.loadingTrue = false
            this.codeImgFn = true
          }
        }
      }
    }
  },
  onLoad (options) {
    this.options = options
    // 小程序进入页面有三种情况
    // 1:scene存在的前提下，有storeCode
    // 2:scene存在的前提下 没有storeCode的情况下，获取sid
    // 3: 传入的是Object的情况下，获取的是Sid情况下
    // console.log('this is loading-------> onLoad ', this.options)
    // 以scene的方式进入
    // this.init()
    // 以对象的方式进入
  },
  onHide () {
    this.codeImgFn = false
  },
  onUnload () {
    this.codeImgFn = false
  },
  onShow () {
    // console.log('this is loading-------> onShow ')
    this.init()
  }
}
</script>

