<template>
  <div id="GoodsDetail" v-if="!flags.loading" :class="{'fixed-body': fixedBody}">
    <div v-if="giftDetail">
      <div class="giftDetail-box" >
        <div class="container">
          <swiper class="categoryList" :autoplay="true" :circular="true" :indicator-dots="true" indicator-color="rgba(228,228,228,1)" indicator-active-color="#FECA49">
            <swiper-item class="swiper" v-if="giftDetail.cloudDTO.skuImgUrl && giftDetail.cloudDTO.skuImgUrl.length !== 0" v-for="(item,index) in giftDetail.cloudDTO.skuImgUrl" :key="index">
              <img :src="item" class="category-image">
            </swiper-item>
            <swiper-item class="swiper" v-if="giftDetail.cloudDTO.skuImgUrl && giftDetail.cloudDTO.skuImgUrl.length === 0">
              <img :src="Contants.DEFAUTL_URL" class="category-image" style="">
            </swiper-item>
          </swiper>
          <!-- 价格条 -->
          <div class="groupIcon">
            <div class="groupContent">
              <div class="groupPrice">
                <img class="img" src="/static/images/newpersonprice.png">
                <div class="content">礼物价</div>
                <div class="price">
                  <span class="sellPrice"><span style="font-size: 22rpx;margin-right:3rpx;">¥</span>{{giftDetail.unitPrice}}</span>
                  <span class="marketPrice" style="text-decoration:line-through;">¥{{giftDetail.cloudDTO.marketPrice}}</span>
                </div>
              </div>
            </div>
            <div class="groupTime">
              <div class="title">距离活动还剩</div>
              <div class="time">
                <div class="time-text">{{giftDetail.time.d}}</div>
                <div class="time-col" style="font-size:23rpx;">天</div>
                <div class="time-text">{{giftDetail.time.h}}</div>
                <div class="time-col">:</div>
                <div class="time-text">{{giftDetail.time.m}}</div>
                <div class="time-col">:</div>
                <div class="time-text">{{giftDetail.time.s}}</div>
              </div>
            </div>
          </div>
          <div class="skuname">
            <!-- {{giftDetail.cloudDTO.productName || ''}}{{giftDetail.cloudDTO.skuName || ''}} -->
            {{giftDetail.cloudDTO.productName || ''}}           
          </div>
        </div>
      </div>
      <div class="groupRule">
        <img src="https://dj001.oss-cn-beijing.aliyuncs.com/online/opmactivitymg/dc6bd5878b034e359fed94af7246c963.png" alt="">
        <!-- <div class="rule" @click="showRole">规则</div> -->
        <!-- <img @click="showRole" class="rule" src="/static/images/activity-rule-icon.png" alt="" style="width:143rpx;height: 53rpx"> -->
      </div>
      <div class="options">
        <view class="listType f-a">
          <span class="text-f">规格型号</span>
          <p class="textfile">
            <span style="flex:1;"><span style="color:#232323;">{{giftDetail.cloudDTO.skuName || '默认'}}</span></span>
          </p>
        </view>
        <view class="listType f-a">
          <span class="text-f">数量</span>
          <span style="display:flex;">
            <span class='shopBtn' :class="{ numKong:num === 1}" @click='minus_clickHander' style=''>-</span>
            <span class="shoppingNum">{{num}}</span>
            <span class="shopBtn add" @click='plusFn_clickHander'>+</span>
          </span>
        </view>
        <view class="listType f-a">
          <span class="text-f">服务</span>
          <span style="color: #232323;font-size: 24rpx;">正品保证 • 破损包退</span>
        </view>
      </div>
      <div style="padding-bottom: 10rpx;">
        <view class="shopDian">
          <img class="vipImgfn" src="/static/images/gouwuche_icon1.png">
          <span class="shopTitle" v-if="shopInfo">{{shopInfo.storeName}}</span>
        </view>
        <div class="titleDetail">
          <span>商品详情</span>
        </div>
        <div v-if="giftDetail.cloudDTO.productImgUrl && giftDetail.cloudDTO.productImgUrl.length !== 0">
          <div v-if="giftDetail.cloudDTO.productImgUrl && giftDetail.cloudDTO.productImgUrl.length !== 0" class="productImg">
            <img v-for='(value, productIndex) in giftDetail.cloudDTO.productImgUrl' :key="productIndex" :src="value" class="productImg-image" mode='widthFix'>
          </div>
          <div v-else class="productImg">
            <img :src="Contants.DEFAULT_SHOP_DATAILS_URL" class="productImg-image" mode='widthFix'>
          </div>
        </div>
        <div class="shopcarlist">
          <div class="bottomban">
            <view class="shopcarboxif" @click='onShare'>
              <span class="shopshare"></span>
              <span style="margin-top:2px;color: #666;">分享</span>
            </view>

            <div class="sellGo" @click="goSeek_clickHander" style="background-color: rgba(255,135,107,1);">
              <button open-type="share" class="sellBtn">求礼物</button>
            </div>
            <div class="sellGo" @click="goGive_clickHander(giftDetail.id)" style="background-color: rgba(252,89,92,1);">
              <div class="sellText">去送礼</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="go-home-btn" id="go-home-btn" @click="goHomeBtn_clickHander">
      <img src="/static/images/index_icon_home.png" alt="">
      <div>首页</div>
    </div>
    <poster v-if='showPosterGiftDetail' :pageData="pageDate" @showPoster="showPoster" />
  </div>
</template>
<script>
import API from '@api'
import Contants from '@contants/index'
import { mapGetters } from 'vuex'
import RouterPath from '@router/config'
import Utils from '@utils/utils'
import Tools from '@utils/tools'
import poster from '@components/Common/ActivityPoster'
import TalkingData from '../../utils/talkingData.js'
import mixins from '@mixins/index'

export default {
  components: {
    poster
  },
  data () {
    return {
      Contants,
      num: 1,
      groupProductId: '', // 货品id
      giftDetail: {}, // 货品详情
      beginBuyTime: '', // 显示时间
      beginBoolen: false, // 是不是显示正式开售
      flags: {
        loading: true
      },
      pageDate: {
        type: 'H' // 传入分享生成海报页面中类型参数 -- 拼团商品详情页面
      },
      showPosterGiftDetail: false, // 海报生成
      fixedBody: false // 控制页面滚回顶部
    }
  },
  mixins: [mixins],
  watch: {
    showPosterGiftDetail (newVal, oldVal) {
      if (newVal === true) {
        this.fixedBody = true
      } else {
        this.fixedBody = false
      }
    }
  },
  computed: {
    ...mapGetters(['login', 'shopInfo'])
  },
  onLoad (opt) {
    console.log(opt, 'opt')
    this.init()
    console.log(opt.id, 'opt.id_afterClear')
    this.groupProductId = opt.id
    console.log('商品详情', opt.id)
    this.getshopDetail()
  },
  onShow () {
  },
  onUnload () {
    clearInterval(this.timer)
  },
  mounted () {
  },
  // 页面内的分享
  onShareAppMessage () {
    if (!this.isNewUser) {
      TalkingData.onEvent('c_送礼物商品页面分享', 'c_送礼物商品页面分享', {groupProductId: this.groupProductId, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
    }

    const { skuImgUrl = [] } = this.giftDetail.cloudDTO
    const { id } = this.giftDetail
    const path = RouterPath.Auth.Start + '?sf=H&sId=' + this.shopInfo.id + '&id=' + id
    const imageUrl = skuImgUrl[0] || Contants.DEFAUTL_URL
    return {
      title: '我发现了一个不错的礼物快来看看吧',
      path: path,
      imageUrl: imageUrl
    }
  },
  methods: {
    // 弹出框
    showPoster (boole) {
      this.showPosterGiftDetail = boole
    },
    getshopDetail () {
      wx.showLoading({
        title: '加载中'
      })
      clearInterval(this.timer)
      API.Gift.getGiftDetail({id: this.groupProductId, storeId: this.shopInfo.id}).then(res => {
        let skuImgUrl
        let productImgUrl
        if (res.status === 200) {
          let _data = res.data
          // 处理商品处数据

          // skuImgUrl = _data.cloudDTO.skuImgUrl.map(k => {
          //   return Utils.compressImg(Contants.BASE_IMG_URL + k, 750)
          // })
          // _data.cloudDTO.skuImgUrl = skuImgUrl
          // productImgUrl = _data.cloudDTO.productImgUrl.map(k => {
          //   return Utils.compressImg(Contants.BASE_IMG_URL + k, 750)
          // })
          // _data.cloudDTO.productImgUrl = productImgUrl

          if (_data.cloudDTO.skuImgUrl && _data.cloudDTO.skuImgUrl.length) {
            skuImgUrl = _data.cloudDTO.skuImgUrl.map(k => {
              return Utils.compressImg(Contants.BASE_IMG_URL + k, 750)
            })
            _data.cloudDTO.skuImgUrl = skuImgUrl
          }
          if (_data.cloudDTO.productImgUrl && _data.cloudDTO.productImgUrl.length) {
            productImgUrl = _data.cloudDTO.productImgUrl.map(k => {
              return Utils.compressImg(Contants.BASE_IMG_URL + k, 750)
            })
            _data.cloudDTO.productImgUrl = productImgUrl
          }

          let { d, h, m, s } = this.$Utils.calculateTime(_data.expireTime)
          _data.time = {d, h, m, s}

          this.timer = setInterval(() => {
            let { d, h, m, s } = this.$Utils.calculateTime(_data.expireTime)
            _data.time = {
              d, h, m, s
            }
          }, 1000)
          this.giftDetail = _data
          console.log(this.giftDetail, 'this.giftDetailthis.giftDetailthis.giftDetail')
          if (new Date(this.giftDetail.expireTime).getTime() < new Date().getTime()) {
            wx.reLaunch({
              url: '/pages/SendGift/list?isShowTips=true'
            })
          }
          this.flags.loading = false
          wx.hideLoading()
        }
      })
        .catch(res => {
          console.log(res)
          this.flags.loading = false
          wx.hideLoading()
        })
    },
    // 分享
    onShare () {
      if (!this.login) {
        return wx.navigateTo({
          url: RouterPath.Auth.Login
        })
      }
      const ctx = wx.createCanvasContext('mycanvas')
      if (!ctx.measureText) {
        Tools.toast('该版本暂不支持生成海报', 'loading', 800)
      } else {
        this.showPosterGiftDetail = true
        this.giftDetail.cloudDTO.unitPrice = this.giftDetail.unitPrice
        this.pageDate.data = this.giftDetail
        TalkingData.onEvent('c_送礼物商品海报生成', 'c_送礼物商品海报生成', {groupProductId: this.groupProductId, storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      }
    },
    // 点击减号
    minus_clickHander () {
      if (this.num === 1) {
        return false
      } else {
        this.num--
      }
    },
    // 点击家号
    plusFn_clickHander () {
      this.num++
    },
    // 去求礼
    goSeek_clickHander () {
    },
    // 去送礼
    goGive_clickHander (giftDetailId) {
      console.log(this.num, 'this.num')
      console.log(giftDetailId, 'giftDetailId')
      wx.redirectTo({
        url: '/pages/SendGift/index' + '?num=' + this.num + '&giftDetailId=' + giftDetailId
      })
    },
    // 回首页
    goHomeBtn_clickHander () {
      wx.reLaunch({
        url: '/pages/Home/index'
      })
    },
    init () {
      this.beginBoolen = false
      this.giftDetail = {}
      this.num = 1
      this.flags.loading = true
      this.showPosterGiftDetail = false
    }
  }
}
</script>
<style lang="scss" scoped>
#GoodsDetail{
  width:100%;
  background:#f4f5f7;
  .container{
    background: #fff;
    // swiper
    .categoryList {
      height: 750rpx;
      width: 100%;
      .swiper {
        width: 100%;
        height: 100%;
        text-align: center;
        .category-image {
          width: 100% !important;
          height: 100% !important;
          background-size: cover;
        }
      }
    }
    .priceDetail{
      height: 100rpx;
      background: linear-gradient(to right,#ff564e,#f6817f);
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 30rpx;
      .sellPrice{
        color: #fff;
        .f-s{
          font-size: 30rpx
        }
        .f-b{
          font-size: 50rpx;
          font-weight: 500
        }
      }
      .marketPrice{
        color: #fff;
        margin-left: 15rpx;
        position: relative;
        bottom: -7rpx;
        text-decoration: line-through;
        .f-m{
          font-size: 24rpx
        }
      }
    }
    .skuname{
      padding: 30rpx;
      font-size: 32rpx;
      color:rgba(51,51,51,1);
      font-weight:bold;
      line-height: 44rpx;
    }
    .labelHight{
      height:23rpx;
      font-size:24rpx;
      font-weight:300;
      color: #666;
      line-height:45rpx;
      padding: 0rpx 30rpx 15rpx 30rpx;
    }
    .limetAddress{
      padding: 20rpx 30rpx 30rpx 30rpx;
      height:41rpx;
      font-size:22rpx;
      font-weight:500;
      color:#e82c2f;
      line-height:41rpx;
      overflow: hidden;
      display: flex;
      align-items: center;

      .l-c{
        border: 1rpx solid rgba(235,62,63,1);
        border-radius: 10rpx;
        position: relative;
        .icon-l{
          display: inline-block;
          width: 39rpx;
          height: 41rpx;
          // background: url(../../../static/images/clock_icon.png) no-repeat;
          background-size: 100% 100%;
          position: absolute;
          left: -1px;
        }
        .l-text{
          padding-left: 50rpx;
          padding-right: 20rpx;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
        }
      }
    }

  }
  .groupRule{
    width: 100%;
    height: 265rpx;
    font-size: 0;
    // margin-top: 10rpx;
    img{
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
  // 拼团
  .groupContainer{
    margin-bottom: 10rpx;
    background: #fff;
    width: 100%;
    min-height: 200rpx;
    padding: 30rpx 30rpx 10rpx 30rpx;
    .groupText{
      color: rgba(51,51,51,1);
      font-size: bold;
      font-size: 28rpx;
    }
    .groupList{
      padding: 10rpx 0;
      .groupItem{
        height: 88rpx;
        width: 92%;
        margin: 20rpx 0rpx;
        display: flex;
        justify-content:space-between;
        align-items: center;
        .groppItemImg{
          width: 88rpx;
          height: 88rpx;
          font-size: 0;
          img{
            width: 100%;
            height: 100%;
            display: inline-block;
            border-radius: 44rpx;
          }
        }
        .groupItemName{
          display: flex;
          margin-left: 20rpx;
          align-items: center;
          font-size:28rpx;
          font-weight:bold;
          color:rgba(51,51,51,1);
          flex: 1;
        }
        .groupItemContent{
          display:flex;
          flex-direction:column;
          justify-content:center;
          padding: 0 20rpx;
          .text{
            display: flex;
            align-items: center;
            font-size:24rpx;
            font-weight:bold;
            color:rgba(51,51,51,1);
          }
          .timer{
            display: flex;
            align-items: center;
            font-size:20rpx;
            font-weight:bold;
            color:rgba(161,161,161,1);
            justify-content:center;
          }
        }
        .groupItemBtn{
          width: 136rpx;
          height: 70rpx;
          border-radius:10rpx;
          display: flex;
          background:linear-gradient(39deg,rgba(255,86,78,1),rgba(246,129,127,1));
          span{
            display: inline-block;
            width: 100%;
            font-size:28rpx;
            text-align: center;
            line-height: 70rpx;
            color: #fff;
          }
        }
      }
    }
  }
  .options{
    background: #fff;
    // margin-top: 10rpx;
    .listType {
      display: flex;
      font-size: 28rpx;
      padding: 24rpx 28rpx 24rpx 28rpx;
      border-bottom: 1px solid #F1F2F6;
    }

    .f-a{
      height:100%;
      align-items:center;
      .text-f{
        padding-right:15rpx;
        color:#898989;
        display: inline-block;
        width: 140rpx;
      }
      .shopBtn {
        width: 50rpx;
        height: 50rpx;
        margin-right: 2rpx;
        font-size: 32rpx;
        text-align: center;
        background: #F6F8FA;
      }
      .property-title{
        line-height: 50rpx;
        font-size: 24rpx;
        font-weight: 500;
        color: rgba(35,35,35,1);
      }
      .shoppingNum {
        width: 120rpx;
        font-size: 32rpx;
        text-align: center;
        background: #f4f5f7;
      }
      .add {
        margin-left: 2rpx;
        margin-right: 20rpx;
      }
      .textfile {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        display:flex;
        flex:1;
        align-items:center;
        height:100%
      }
    }
  }
  .titleDetail {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20rpx;
    background: #fff;
    span {
      position: relative;
      display: inline-block;
      color: #999999;
      font-size: 14px;

      &::before {
        content: '';
        position: absolute;
        color: #f00;
        top: 14px;
        left: -108px;
        width: 100px;
        height: 5px;
        background-image: url('../../../static/images/title-img-left.png');
        background-position: 0 0;
        background-size: 100px 5px;
        background-repeat: no-repeat;
        display: block;
      }

      &::after {
        content: '';
        position: absolute;
        right: -108px;
        top: 14px;
        width: 100px;
        height: 5px;
        background-image: url('../../../static/images/title-img-right.png');
        background-position: 0 0;
        background-size: 100px 5px;
        background-repeat: no-repeat;
        display: block;
      }
    }
  }
  .productImg{
    background-color: #fff;
    text-align: center;
    width: 100%;
    padding-bottom: 100rpx;
    display: flex;
    flex-direction: column;
    font-size: 0;
    .productImg-image {
      width: 100%;
      display: inline-block;
    }
  }
  .shopcarlist {
    position: fixed;
    bottom: 0;
    background: #898989;
    width: 100%;
    height: 100rpx;
    left: 0;
    z-index: 999;
    box-shadow: -3px 0px 9px 0px rgba(63, 101, 157, 0.54);
  }
  .bottomban {
    display: flex;
    height: 100%;
    align-items: center;
    .shopcarboxif {
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ccc;
      height: 100%;
      font-size: 20rpx;
      width: 200rpx;
      .shopshare {
        position: relative;
        width: 36rpx;
        height: 36rpx;
        background: url(../../../static/images/share.png) no-repeat;
        background-size: 36rpx 36rpx;
        margin-bottom: 3px;
        margin-top: 6px;
      }
    }
    .sellGo {
      width: 337rpx;
      color: #fff;
      justify-content: center;
      align-items: center;
      height: 100%;
      display: flex;
      .sellPrice{
        display: flex;
        justify-content: center;
        font-size: 36rpx;
        height: 50rpx;
        font-weight: 800;
      }
      .sellBtn{
        background-color: rgba(255,135,107,1);
        width: 100%;
        height: 100%;
        color: #ffffff;
        font-size: 26rpx;
        line-height: 3.8;        
      }
      .sellText{
        display: flex;
        justify-content: center;
        font-size: 26rpx;
        height: 50rpx;
        font-weight: 500;
        border-radius:0px !important;
      }
    }
  }
  button::after{ border: none; }
  .order_cont_loading {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:100;
    display:flex;
    justify-content:center;
    align-items:center;
      > img {
        width: 541rpx;
        height: 330rpx;
      }
  }
  .shopDian {
    padding: 30rpx 28rpx 30rpx 28rpx;
    background-color: #fff;
    border-bottom: 1rpx solid #F1F1F1;
    display: flex;
    margin-top: 10rpx;
    .vipImgfn {
      width: 40rpx;
      height: 36rpx;
      background-size: cover;
    }
    .shopTitle {
      font-size: 28rpx;
      color: #898989;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 90%;
      padding-left: 10rpx;
    }
  }
  .groupIcon {
    overflow: hidden;
    width: 750rpx;
    height: 100rpx;
    display: flex;
    position: relative;
    .groupContent{
      width: 62.4%;
      background-color: rgba(255,86,78,1);
      display: flex;

      .groupPrice{
        flex: 1;
        .img {
          width: 98rpx;
          height: 40rpx;
          position: relative;
          top: 10rpx;
          left: 24rpx;
        }
        .content {
          position: absolute;
          z-index: 2;
          left: 40rpx;
          top: 12rpx;
          font-size: 22rpx;
          color: rgba(234,51,35,1);
          font-weight: 500;
        }
        .price{
          color: #fff;
          font-size: 22rpx;
          margin-left: 24rpx;
          margin-top: -18rpx;
          .sellPrice{
            font-size: 40rpx;
            font-weight: 800;
          }
          .marketPrice{
            margin-left: 20rpx;
            font-weight: 500;
          }
        }
      }
      .groupStaus{
        justify-content: center;
        flex: 1;
        display: flex;
        align-items: center;
        .status{
          min-width: 128rpx;
          height: 60rpx;
          line-height: 60rpx;
          padding: 0 10rpx;
          background: #fff;
          color: rgba(234,51,35,1);
          display: inline-block;
          text-align: center;
          border-radius: 30rpx;
        }
      }
    }
    .groupTime{
      width: 37.6%;
      background-color: rgba(255,192,191,1);
      .title{
        color:rgba(255,86,78,1);
        font-size:22rpx;
        width: 100%;
        line-height:45rpx;
        text-align: center;
      }
      .time{
        color: rgba(255,54,44,1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -5rpx;
        .time-col{
          margin: 0 5rpx;
        }
        .time-text{
          width: 40rpx;
          height: 40rpx;
          background-color: rgba(255,54,44,1);
          opacity:0.7;
          border-radius:4px;
          color: #fff;
          line-height: 40rpx;
          font-size: 26rpx;
          text-align: center;
        }
      }
    }
  }
  #go-home-btn{
    width:94rpx;
    height:94rpx;
    border-radius:50%;
    position:fixed;
    right:30rpx;
    top:600rpx;
    z-index:999;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: #ff8f00;
    color: #fff;
    box-shadow:0px 5px 16px 5px rgba(213,213,213,0.41);
    >img{
      width: 50rpx;
      height: 50rpx
    }
    >div{
      font-size: 24rpx;
      position: relative;
      top: -4rpx;
    }
  }
}
.fixed-body {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
</style>
