<template>
  <div class="giftResult" v-if="flags.isShow">
    <block v-if="!flags.giftLoad">
      <!-- 礼物文案 -->
      <div class="gift_title">{{giftTitle}}</div>
      <!-- 礼物主要内容 -->
      <div class="gift_cont">
        <div class="gift_cont_header">
          <img :src="datas.customerHeadImgUrl || datas.actGiftOrderCustomerHeadImgUrl" alt>
        </div>
        <div class="gift_cont_gift">
          <div class="gift_cont_gift_title">{{datas.customerName || datas.actGiftOrderCustomerName}}送出一份礼物</div>
          <div class="gift_cont_gift_des">{{datas.actGiftOrderRemark || datas.remark}}</div>
          <div class="gift_cont_gift_details">
            <img :src="datas.skuImg" alt>
            <span>{{datas.skuProductName}}</span>
          </div>
        </div>
        <block v-if="datas.actGiftOrderReceiveList && datas.actGiftOrderReceiveList.length && (datas.customerId === currentUser.id)">
          <div class="gift_cont_userList">
            <ul>
              <li v-for="(item, index) in datas.actGiftOrderReceiveList" :key="index">
                <img :src="item.customerHeadImgUrl" alt>
                <div class="gift_cont_userList_name">{{item.customerName}}</div>
                <div class="gift_cont_userList_desc">
                  <div class="gift_cont_userList_status">已领取</div>
                  <div class="gift_cont_userList_time">{{item.createTime}}</div>
                </div>
              </li>
            </ul>
          </div>
        </block>
        <block v-if="!showAddress">
          <div class="gift_cont_btnBox">
            <!-- 当前用户 -->
            <block v-if="datas.customerId === currentUser.id">
              <block v-if="!datas.allReceivedFlag">
                <button @click="operation_clickHandler('sendAgain')" class="againSendBtn">再送一份</button>
                <button open-type="share" id="送给朋友" class="sharBtn">送给朋友</button>
              </block>
              <block v-else>
                <button @click="operation_clickHandler('sendAgain')" class="lineBtn">再送一份</button>
              </block>
            </block>
            <!-- 其他用户  -->
            <block v-else>
              <!-- 没有领完 -->
              <div v-if="!datas.allReceivedFlag">
                <div @click="operation_clickHandler('getGift')" class="lineBtn">提取礼物</div>
                <div class="gift_cont_tips">
                  <span>提取礼物并提交订单后，礼物才会到手哦</span>
                </div>
              </div>
              <!-- 领完了 -->
              <div v-else>
                <!-- 在列表里 -->
                <block v-if="receiveShow">
                  <div @click="operation_clickHandler('getGift')" class="lineBtn">提取礼物</div>
                  <div class="gift_cont_tips">
                    <span>提取礼物并提交订单后，礼物才会到手哦</span>
                  </div>
                </block>
                <block v-else>
                  <button open-type="share" id="求礼物" class="lineBtn">求礼物</button>
                </block>
              </div>
            </block>
          </div>
        </block>

        <div v-else class="gift_cont_adressInfo">
          <ul v-if="datas.deliveryType === '门店自提'">
            <li>
              <div class="gift_cont_adressInfo_name">配送方式:</div>
              <div>{{datas.deliveryType}}</div>
            </li>
            <li>
              <div class="gift_cont_adressInfo_name">自提门店:</div>
              <div>{{datas.storeName}}</div>
            </li>
            <li>
              <div class="gift_cont_adressInfo_name">门店地址:</div>
              <div>{{datas.receiptAddress || ''}}</div>
            </li>
            <li>
              <div class="gift_cont_adressInfo_name">买家留言:</div>
              <div>{{datas.remark || '无'}}</div>
            </li>
          </ul>
          <ul v-if="datas.deliveryType === '送货上门'">
            <li>
              <div class="gift_cont_adressInfo_name">配送方式:</div>
              <div>{{datas.deliveryType}}</div>
            </li>
            <li>
              <div class="gift_cont_adressInfo_name">收货信息:</div>
              <div>
                <div>
                  {{datas.receiptName}}
                  {{datas.receiptPhone}}
                </div>
                <div>
                  {{datas.receiptAddress}}
                </div>
              </div>
            </li>
            <li>
              <div class="gift_cont_adressInfo_name">买家留言:</div>
              <div>{{datas.remark || '无'}}</div>
            </li>
          </ul>
        </div>
      </div>
    </block>

    <!-- 拆礼物的弹出框 -->
    <div class="gift_modal_mark" v-else>
      <div class="gift_modal">
        <img :src="datas.customerHeadImgUrl" alt="">
        <div class="gift_modal_title">
          <div>{{datas.customerName}}</div>
          <div>送你一份礼物</div>
        </div>
        <div class="gift_modal_desc">大吉大利，送你好礼</div>
        <div class="gift_modal_btn" @click="dismantleGift_clickHandler">拆礼物</div>
      </div>
    </div>
    <div class="go-home-btn" id="go-home-btn" @click="goHomeBtn_clickHander">
      <img src="/static/images/index_icon_home.png" alt="">
      <div>首页</div>
    </div>
  </div>
</template>
<script>
import api from '@api'
import { mapGetters, mapActions, mapState } from 'vuex'
import RouterPath from '@router/config'
import Contants from '@contants/index'

export default {
  data () {
    return {
      Contants,
      datas: {
        allReceivedFlag: false // 已经送完
      },
      flags: {
        giftLoad: false, // 礼物弹出框
        isShow: false
      },
      optopnT: {}, // 获取页面进来的数据
      sourceId: '',
      soucre: '', // 页面来源
      giftTitle: '', // 送礼文案
      giftId: '', // 礼物id
      actGiftOrderId: '', // 拆礼物后生成id
      isActiveUserFlag: true, // 礼物id
      showAddress: false, // 显示地址
      receiveShow: false, // 判断是不是领取过礼物
      orderReceiveId: '' // 订单id
    }
  },
  computed: {
    ...mapGetters(['userInfo', 'shopInfo']),
    ...mapState(['fromGift']),
    // 当前用户的id
    currentUser () {
      console.log(this.userInfo, 'this.userInfo')
      if (this.userInfo) {
        const { id, storeId, nickName } = this.userInfo
        return {
          storeId,
          id,
          nickName
        }
      }
    }
  },
  watch: {
    'flags.isShow': {
      handler (val) {
        if (!val) {
          wx.showLoading({
            title: '加载中',
            icon: 'loading'
          })
        } else {
          wx.hideLoading()
        }
      },
      immediate: true
    }
  },
  components: {
  },
  methods: {
    ...mapActions(['addPlaceOrderInfo']),
    /**
       * @description 初始化数据
       */
    init () {
      wx.setNavigationBarColor({
        frontColor: '#ffffff',
        backgroundColor: '#b91120'
      })
    },
    /**
     * @description 拆礼物回调函数
     */
    async dismantleGift_clickHandler () {
      console.log(this.giftId, ' giftIdgiftIdgiftId')
      const _res = await api.Gift.grabGift({actGiftOrderId: parseInt(this.giftId)}).catch(err => {
        console.warn('领取礼物失败', err)
      })
      if (_res && _res.status === 200) {
        console.log(_res.data, '_res.data')
        this.orderReceiveId = _res.data.id
        this.getGiftSendDetail()
      }
      this.flags.giftLoad = false
    },
    /**
     * @description 获得收到礼物详情数据
     */
    async getGiftReceiveDetail () {
      this.flags.isShow = false

      const { giftId } = this
      const _res = await api.Gift.getGiftReceiveDetail({ giftId }).catch(err => {
        console.warn('获得接收礼物详情失败:', err)
      })
      this.flags.isShow = true
      if (_res && this.$Utils.isObject(_res.data)) {
        if (!_res.data.skuImg) _res.data.skuImg = this.$Utils.compressImg(_res.data.skuImg, 140)
        else _res.data.skuImg = Contants.BASE_IMG_URL + _res.data.skuImg
        this.datas = _res.data
      }
    },
    /**
     * @description 获得发出礼物详情数据
     */
    async getGiftSendDetail () {
      this.flags.isShow = false

      const { giftId } = this
      console.log(giftId, 'giftId--giftIdgiftId')
      const _res = await api.Gift.getGiftSendDetail({ giftId }).catch(err => {
        console.warn('获得发出礼物详情失败:', err)
      })
      console.log(_res, '----_res')
      this.flags.isShow = true
      if (_res && this.$Utils.isObject(_res.data)) {
        let { data } = _res
        // data.skuImg = this.$Utils.compressImg(data.skuImg, 140)
        if (!data.skuImg) data.skuImg = this.$Utils.compressImg(data.skuImg, 140)
        else data.skuImg = Contants.BASE_IMG_URL + data.skuImg
        data.actGiftOrderReceiveList.map(k => {
          k.createTime = this.$Utils.formatTime(k.createTime, '{y}-{m}-{d} {h}:{i}')
          if (k.customerId === this.currentUser.id) {
            this.receiveShow = true
          }
        })
        this.datas = data
        console.log(this.datas, '111？this.datas,hahah')
      }
    },
    // 回首页
    goHomeBtn_clickHander () {
      wx.redirectTo({
        url: '/pages/Home/index'
      })
    },
    /**
     * @description 进入页面
     * @param {String} type
     *                    sendAgain: 再开一团
     *                    getGift: 提取礼物
     */
    operation_clickHandler (type) {
      // console.log(this, 'this')
      console.log(type, 'typetype')
      switch (type) {
        case 'sendAgain':
          this.$router.push({ path: RouterPath.Gift.List })
          break
        case 'getGift':
          // this.getGiftSendDetail()
          // giftId--
          console.log(1111111, '-----')
          console.log(this.datas, 'this.datasthis.datasthis.datas')
          let { enableDeliveryHome, enableSelfLifting, skuProductName } = this.datas
          const _datas = {
            productName: skuProductName,
            skuName: '',
            id: this.orderReceiveId || this.giftId,
            num: 1,
            enableDeliveryHome,
            enableSelfLifting
          }
          console.log(_datas, '这是传递给订单的数据')
          this.addPlaceOrderInfo(_datas)
          this.$router.push({ path: RouterPath.Order.OrderActivityConfirm, query: { type: 3 } })
          break
      }
    },
    // switch hander
    switch_hander (source, sourceId) {
      switch (source) {
        case 'success':
          this.getGiftSendDetail()
          break
        case 'sendGift':
          this.getGiftSendDetail().then(() => {
          // console.log(this.datas, '222sendGift')
            if (this.datas.allReceivedFlag) {
              this.giftTitle = '礼物已经全部被领取'
            } else {
              this.giftTitle = '您送出的礼物还没有领完哦'
            }
          })
          break
        case 'receiveGift':
          this.getGiftReceiveDetail().then(() => {
            console.log('receiveGiftreceiveGift')
            this.flags.giftLoad = false
            if (this.datas.createOrderFlag) {
              this.showAddress = true
            } else {
              this.giftTitle = '收到一份礼物，真开心'
            }
            if (this.datas.deliveryType === '门店自提') {
              this.giftTitle = '尽快到门店自提礼物哦'
            } else if (this.datas.deliveryType === '送货上门') {
              this.giftTitle = '耐心等待礼物送达哦'
            }
          })
          break
        default: // 默认入口是分享
          console.log(this.currentUser.id, 'this.currentUser.id')
          console.log(sourceId, 'sourceIdsourceId')
          console.log(this.currentUser, 'currentUsercurrentUser')
          // 判断是不是当前用户
          this.flags.giftLoad = false
          this.getGiftSendDetail().then(() => {
            console.log('-------', this.datas)
            //  customerId 接口中分享人的id  currentUser.id 当前小程序用户的id
            if (this.datas.customerId !== this.currentUser.id) {
              let _flag = false
              this.datas.actGiftOrderReceiveList.map(k => {
                if (k.customerId === this.currentUser.id) {
                // 判断是不是提取过订单了
                  api.Gift.getGiftReceiveDetail({ giftId: k.id }).catch(err => {
                    console.warn('获得接收礼物详情失败:', err)
                  }).then(_res => {
                    if (_res && this.$Utils.isObject(_res.data)) {
                      if (_res.data.createOrderFlag) {
                        this.showAddress = true
                      }
                      // 分享手机进入
                      if (_res.data.deliveryType === '门店自提') {
                        this.giftTitle = '尽快到门店自提礼物哦'
                      } else if (_res.data.deliveryType === '送货上门') {
                        this.giftTitle = '耐心等待礼物送达哦'
                      } else {
                        this.giftTitle = '收到一份礼物，真开心'
                      }
                      // if (this.datas.deliveryType === '门店自提') {
                      //   this.giftTitle = '尽快到门店自提礼物哦'
                      // } else if (this.datas.deliveryType === '送货上门') {
                      //   this.giftTitle = '耐心等待礼物送达哦'
                      // } else {
                      //   this.giftTitle = '收到一份礼物，真开心'
                      // }
                      if (!_res.data.skuImg) _res.data.skuImg = this.$Utils.compressImg(_res.data.skuImg, 140)
                      else _res.data.skuImg = Contants.BASE_IMG_URL + _res.data.skuImg
                      if (_res.data.createOrderFlag) {
                        this.datas = _res.data
                      }
                      this.orderReceiveId = _res.data.id
                    }
                  })
                  _flag = true
                }
              })
              if (!_flag) {
                this.flags.isShow = true
                this.isActiveUserFlag = false
                if (this.datas.allReceivedFlag) {
                  this.giftTitle = '来晚了，礼物被领光啦'
                } else {
                  this.flags.giftLoad = true
                  this.giftTitle = '收到一份礼物，真开心'
                }
              }
            } else {
              if (this.datas.allReceivedFlag) {
                this.giftTitle = '礼物已经全部被领取'
              } else {
                this.giftTitle = '您送出的礼物还没有领完哦'
              }
            }
          })
          break
      }
    }
  },
  /**
     * @description 进入页面需要参数
     * @param {String} id 当前礼物的id
     * @param {String} sourceId 分享人的id
     * @param {String} source 分享页面都方式 success: 支付成功传  sendGift: 我的页面送出礼物 receiveGift: 我的页面收到礼物
     *
     */
  onLoad (options) {
    const { sourceId, id = '' } = options
    this.optopnT = options
    console.log(this.optopnT, 'this.optopnT')
    if (this.userInfo === null) {
      console.log('(-------------)')
      return wx.navigateTo({
        url: RouterPath.Auth.Login + `?id=${id}&sourceId=${sourceId}`
      })
    }
    // if (this.fromGift.isfromImporove) {
    //   options = this.fromGift.opt
    //   this.fromGift.isfromImporove = false
    // }
    // this.giftTitle = '礼物准备完毕，送出去吧'
    // console.log(options, '-------options')
    // this.giftId = id
    // this.sourceId = sourceId
    // this.source = source || 'share'
    // this.datas.allReceivedFlag = false
    // this.init()

    // console.log(this.source, 'this.source')
    // this.switch_hander(this.source, sourceId)
    // this.giftTitle = _title
    // console.log('没复制？')
  },
  onShow () {
    console.log(this.fromGift, 'this.fromGiftthis.fromGiftthis.fromGift')
    const { sourceId, source, id = '' } = this.optopnT
    if (this.fromGift.isfromImporove) {
      this.giftId = this.fromGift.opt.id
      this.sourceId = this.fromGift.opt.sourceId
      this.source = 'share'
      this.fromGift.isfromImporove = false
    } else {
      this.giftTitle = '礼物准备完毕，送出去吧'
      this.giftId = id
      this.sourceId = sourceId
      this.source = source || 'share'
      this.datas.allReceivedFlag = false
    }
    if (this.userInfo) {
      this.init()
      this.switch_hander(this.source, this.sourceId)
    }
  },
  onUnload () {
    this.showAddress = false
    this.datas = {}
    this.flags.giftLoad = false
    this.sourceId = ''
    this.receiveShow = false
    this.optopnT = {}
  },
  onHide () {
    this.optopnT = {}
    this.showAddress = false
    this.flags.giftLoad = false
    this.receiveShow = false
  },
  onShareAppMessage: function (res) {
    console.log(res)
    if (res.from === 'button') {
      if (res.target.id === '送给朋友') {
        const { id, storeId } = this.currentUser
        const customerName = this.datas.actGiftOrderCustomerName || this.datas.customerName
        const num = this.datas.actGiftOrderNum || this.datas.num
        // 发礼物人的id--customerId
        const customerId = this.datas.actGiftOrderCustomerId || this.datas.customerId
        const giftOrderId = this.datas.actGiftOrderId || this.giftId
        // const { giftId, datas } = this
        const { datas } = this
        const title = datas.num === 1 ? `${customerName}买了1份礼物送给你，快点来领取哦` : `${customerName}买了${num}份礼物送给大家，快点抢吧`
        const path = customerId !== this.currentUser.id && datas.allReceivedFlag ? `${RouterPath.Auth.Start}?sf=I&id=${giftOrderId}&sId=${storeId}` : `${RouterPath.Auth.Start}?sf=I&id=${giftOrderId}&sId=${storeId}&sourceId=${id}`
        console.log(path, 'path')
        return {
          title,
          path
        }
      }
      if (res.target.id === '求礼物') {
        const { skuImg = '', actGiftId = '' } = this.datas
        const path = RouterPath.Auth.Start + '?sf=H&sId=' + this.shopInfo.id + '&id=' + actGiftId
        const imageUrl = skuImg || Contants.DEFAUTL_URL
        return {
          title: '我发现了一个不错的礼物快来看看吧',
          path: path,
          imageUrl: imageUrl
        }
      }
    } else {
      console.log('这是自定义的')
      const { id, storeId } = this.currentUser
      // const { customerName } = this.datas
      const customerName = this.datas.actGiftOrderCustomerName || this.datas.customerName
      const num = this.datas.actGiftOrderNum || this.datas.num
      // 发礼物人的id--customerId
      const customerId = this.datas.actGiftOrderCustomerId || this.datas.customerId
      console.log(this.currentUser, 'currentUser-分享当前用户的id')
      console.log(customerId, 'customerId---发送礼物人的id')
      const giftOrderId = this.datas.actGiftOrderId || this.giftId
      const { datas } = this
      console.log(giftOrderId, 'giftOrderId-这是分享进入页面详情的数值')
      const title = datas.num === 1 ? `${customerName}买了1份礼物送给你，快点来领取哦` : `${customerName}买了${num}份礼物送给大家，快点抢吧`
      // const path = datas.customerId !== this.currentUser.id && datas.allReceivedFlag ? `${RouterPath.Auth.Start}?sf=I&id=${giftId}&sId=${storeId}` : `${RouterPath.Auth.Start}?sf=I&id=${giftId}&sId=${storeId}&sourceId=${id}`
      const path = customerId !== this.currentUser.id && datas.allReceivedFlag ? `${RouterPath.Auth.Start}?sf=I&id=${giftOrderId}&sId=${storeId}` : `${RouterPath.Auth.Start}?sf=I&id=${giftOrderId}&sId=${storeId}&sourceId=${id}`
      console.log(path, 'path')
      return {
        title,
        path
      }
    }
  }
  // onShareAppMessage () {
  //   const { id, storeId, nickName } = this.currentUser
  //   console.log(this.currentUser, 'this.currentUser')
  //   const { giftId, datas } = this
  //   const title = datas.num === 1 ? `${nickName}买了1份礼物送给你，快点来领取哦` : `${nickName}买了${datas.num}份礼物送给大家，快点抢吧`
  //   const path = datas.customerId !== this.currentUser.id && datas.allReceivedFlag ? `${RouterPath.Auth.Start}?sf=I&id=${giftId}&sId=${storeId}` : `${RouterPath.Auth.Start}?sf=I&id=${giftId}&sId=${storeId}&sourceId=${id}`
  //   console.log(path, 'path')
  //   return {
  //     title,
  //     path
  //   }
  // }
}
</script>
<style lang="scss" scoped>
.giftResult {
  position: absolute;
  text-align: center;
  background: linear-gradient(0deg,rgba(252,58,58,1) 0%,rgba(185,17,32,1) 100%);
  // overflow: hidden;
  padding-bottom: 50rpx;
  top:0;
  left:0;
  right:0;
  height: 100%;
  bottom:0;
  // box-sizing: border-box;
  #go-home-btn{
    width:94rpx;
    height:94rpx;
    border-radius:50%;
    position:fixed;
    right:30rpx;
    top:600rpx;
    z-index:999;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: #ff8f00;
    color: #fff;
    box-shadow:0px 5px 16px 5px rgba(213,213,213,0.41);
    >img{
      width: 50rpx;
      height: 50rpx
    }
    >div{
      font-size: 24rpx;
      position: relative;
      top: -4rpx;
    }
  }
  .gift_title {
    margin-top: 20rpx;
    font-size: 40rpx;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
  }
  .gift_cont {
    position: absolute;
    bottom: 0;
    left: 30rpx;
    right: 30rpx;
    top: 100rpx;
    width: 690rpx;
    // min-height: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 10rpx 10rpx 0 0;
    margin: 0 auto;
    margin-top: 110rpx;
    // padding-bottom: 20rpx;
    > .gift_cont_header {
      width: 144rpx;
      height: 144rpx;
      border-radius: 50%;
      position: absolute;
      top: -72rpx;
      left: 0;
      right: 0;
      margin: 0 auto;
      > img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    > .gift_cont_gift {
      // font-weight: bold;
      overflow: hidden;
      > .gift_cont_gift_title {
        margin-top: 100rpx;
        font-size: 28rpx;
        color: rgba(0, 0, 0, 1);
      }
      > .gift_cont_gift_des {
        margin-top: 30rpx;
        font-size: 40rpx;
        color: rgba(51, 51, 51, 1);
      }
      > .gift_cont_gift_details {
        width: 359rpx;
        height: 410rpx;
        margin: 0 auto;
        margin-top: 20rpx;
        background: url("https://img.dianjia001.com/online/opmactivitymg/6dc244c888194062ad5ca494a920d565.png")
          no-repeat 0 0;
        background-size: 359rpx 410rpx;
        > img {
          width: 180rpx;
          height: 180rpx;
          margin: 0 auto;
          margin-top: 60rpx;
          margin-bottom: 30rpx;
        }
        > span {
          display: block;
          padding: 0 21rpx;
          font-size: 27rpx;
          font-weight: 500;
          color: rgba(0, 0, 0, 1);
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }

    > .gift_cont_adressInfo {
      width: 100%;
      box-sizing: border-box;
      background: #fce9ea;
      padding: 20rpx 21rpx 20rpx 45rpx;
      margin-top: 70rpx;
      overflow: hidden;
      > ul {
        > li {
          width: 100%;
          // height: 40rpx;
          line-height: 50rpx;
          margin-bottom: 30rpx;
          color: rgba(51, 51, 51, 1);
          text-align: left;
          display: block;
          div {
            font-size: 27rpx;
            display: block;
            &:nth-of-type(1) {
              width: 150rpx;
              float: left;
            }
            &:nth-of-type(2) {
              width: 460rpx;
              float: left;
            }
          }
        }
      }
    }

    > .gift_cont_btnBox {
      text-align: center;
      font-size: 32rpx;
      overflow: hidden;
      width: 514rpx;
      margin: 0 auto;
      margin-top: 85rpx;
      // display: flex;
      .againSendBtn {
        width: 240rpx;
        height: 69rpx;
        line-height: 69rpx;
        float: left;
        border-radius: 8rpx;
        color: rgba(211, 28, 45, 1);
      }
      .sharBtn {
        width: 240rpx;
        height: 69rpx;
        line-height: 69rpx;
        float: left;
        border-radius: 8rpx;
        background: rgba(211, 28, 45, 1);
        color: rgba(255, 255, 255, 1);
        margin-left: 30rpx;
      }
      .lineBtn {
        width: 100%;
        height: 69rpx;
        line-height: 69rpx;
        background: rgba(211, 28, 45, 1);
        border-radius: 8rpx;
        color: rgba(255, 255, 255, 1);
      }
    }

    > .gift_cont_userList {
      margin-top: 60rpx;
      ul {
        li {
          position: relative;
          width: 100%;
          height: 104rpx;
          line-height: 104rpx;
          box-sizing: border-box;
          padding: 0 20rpx;
          background: #fce9ea;
          margin-bottom: 2rpx;
          > img {
            float: left;
            width: 80rpx;
            height: 80rpx;
            border-radius: 50%;
            border: 2rpx solid rgba(254, 172, 46, 1);
            margin-right: 19rpx;
            margin-top: 10rpx;
          }
          > .gift_cont_userList_name {
            float: left;
            font-size: 28rpx;
            color: rgba(51, 51, 51, 1);
          }
          > .gift_cont_userList_desc {
            position: relative;
            float: right;
            > .gift_cont_userList_status {
              width: 80rpx;
              font-size: 24rpx;
              color: rgba(51, 51, 51, 1);
              position: absolute;
              top: -15rpx;
              right: 0;
            }
            > .gift_cont_userList_time {
              width: 192rpx;
              font-size: 20rpx;
              color: rgba(161, 161, 161, 1);
              position: absolute;
              top: 18rpx;
              right: 0;
            }
          }
        }
      }
    }

    .gift_cont_tips {
      margin-top: 25rpx;
      font-size: 26rpx;
      color: rgba(85, 85, 85, 1);
    }
  }

  .gift_modal_mark {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.79);
    z-index: 999;
    .gift_modal {
      width: 471rpx;
      height: 706rpx;
      display: block;
      text-align: center;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: url("https://img.dianjia001.com/online/opmactivitymg/e935dd6f5e4f49e78f08cc7349f277cc.png")
        no-repeat 0 0;
      background-size: 471rpx 706rpx;

      > img {
        width: 105rpx;
        height: 105rpx;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 180rpx;
        margin-bottom: 12rpx;
      }

      > .gift_modal_title {
        color: rgba(255, 121, 0, 1);
        font-size: 24rpx;
        margin-bottom: 30rpx;
      }
      > .gift_modal_desc {
        color: rgba(244, 56, 28, 1);
        font-size: 41rpx;
        margin-bottom: 30rpx;
      }
      > .gift_modal_btn {
        width: 306rpx;
        height: 69rpx;
        line-height: 69rpx;
        background: #f3371e;
        border-radius: 10rpx;
        margin: 0 auto;
        color: rgba(254, 254, 254, 1);
        font-size: 39rpx;
        font-weight: 700;
      }
    }
  }
}
</style>
