<template>
  <div class="sendGiftContent">
    <div class="banner">
      <div class="giftBg">
        <img :src="titleImg" mode="widthFix" alt="">
        <div class="giftBgTxt">
          <text class="giftBgTxtTop">惊喜是最直接的告白</text>
          <text>微信直送 · 私人订制 · 专属好礼 · 独家记忆</text>
        </div>
        <img @click="goOperateInfo" class="oprateIcon" src="/static/images/operate-info-icon.png" mode="widthFix" alt="">
      </div>
      <!-- 没有选取礼物 -->
      <div v-if="!createActGiftParams.num" class="giftContent" @click="goSendGift">
        <img :src="noGiftImg" mode="widthFix" alt="">
        <img class="sendGiftRight" src="/static/images/sendGift-right.png" mode="widthFix" alt="">
      </div>
      <!-- 选取礼物 -->
      <div v-else class="giftBox">
        <div class="giftItem">
          <div class="img">
            <img class="icon" :src="datas.skuImg? datas.skuImg : Contants.DEFAUTL_URL" mode="widthFix">
          </div>
          <div class="info">
            <div class="name">{{datas.productSkuName}}</div>

            <div class="priceInfo">
              <text class="now">￥{{datas.unitPrice}}</text>
              <div class="reSelect" @click="goSendGift">
                重新选礼物<span class="arrow-right arrow-right--border-color"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="priceToal" v-if="createActGiftParams.num">
      <div class="text">礼物份数</div>
      <div class="product-num">
        <div class="calculateBtnMusic" @click="minusFn_clickHander(datas.unitPrice)"></div>
        <div class="num">{{createActGiftParams.num}}</div>
        <div class="calculateBtnPlus" type="button" @click="plusFn_clickHander(datas.unitPrice)"></div>
      </div>
    </div>

    <div class="description">
      <!-- <span>直接送礼</span>
      <text>每人只能领一份礼物</text> -->
      <span style="color: rgba(136,136,136,1);">传达心意，写祝福语</span>
      <textarea class="textarea-text" maxlength="100" name="" v-model.trim="createActGiftParams.remark" placeholder-style="color:#c4c4c4;font-family:STXihei;font-size:32rpx;" placeholder="大吉大利，送你好礼！"></textarea>
    </div>
    <div class="remarkText">
      每人只能领一份礼物哦
    </div>

    <div class="produceGift">
      <div class="price"><span>¥ </span>{{createActGiftParams.totalPrice}}</div>
      <span class="produceGiftBtn" @click="createActGift">生成礼物红包</span>
    </div>
  </div>
</template>
<script>
import API from '@api'
import Contants from '@contants/index'
import RouterPath from '@router/config'
import { mapGetters } from 'vuex'
import Utils from '@utils/utils'

export default {
  data () {
    return {
      Contants,
      datas: {},
      titleImg: Contants.BASE_IMG_URL + 'online/opmactivitymg/8271ba3f759b4bf6a796ee763a4a2e0c.png',
      noGiftImg: Contants.BASE_IMG_URL + 'online/opmactivitymg/cfa5719a59bc4245bf0d8f33b37360af.png',
      createActGiftParams: {
        remark: '',
        num: 0,
        totalPrice: 0.00
      }
    }
  },
  computed: {
    ...mapGetters({
      openId: 'openId',
      login: 'login',
      storeId: 'storeId',
      shopInfo: 'shopInfo',
      cartPointPosition: 'cartPointPosition'
    })
  },
  components: {
  },
  methods: {
    initData () {
      this.createActGiftParams = {
        remark: '',
        num: 0,
        totalPrice: 0.00
      }
    },
    // 点击减号
    minusFn_clickHander (unitPrice) {
      if (this.createActGiftParams.num === 0) {
        this.createActGiftParams.totalPrice = 0
        return false
      } else {
        this.createActGiftParams.num--
        this.caculateFunc(unitPrice)
      }
    },
    // 点击加号
    plusFn_clickHander (unitPrice) {
      this.createActGiftParams.num++
      this.caculateFunc(unitPrice)
    },
    caculateFunc (unitPrice) {
      this.createActGiftParams.totalPrice = 0
      this.createActGiftParams.totalPrice = this.formatFloat(Number(this.createActGiftParams.totalPrice) + unitPrice * this.createActGiftParams.num, 2)
    },
    formatFloat (f, d) {
      let m = Math.pow(10, d)
      return Math.round(f * m, 10) / m
    },
    // 生成礼物红包
    createActGift () {
      if (!this.createActGiftParams.num) {
        this.myToast('您还没有挑选礼物哦～')
        return
      }

      if (!this.login) {
        return wx.navigateTo({
          url: RouterPath.Auth.Login + '?fromPage=index&target=shareShop'
        })
      }

      let params = {
        ...this.createActGiftParams,
        storeId: this.storeId,
        storeSkuId: this.datas.storeSkuId,
        actGiftId: this.datas.id,
        unitPrice: this.datas.unitPrice
      }
      params.remark = params.remark ? params.remark : '大吉大利，送你好礼！'
      console.log(params)
      // 创建礼物
      API.Gift.createActGift(params).then(res => {
        if (res.status === 200) {
          console.log(res.data)
          let params = {
            srl: res.data.srl,
            openId: this.openId,
            id: res.data.productId
          }
          this.getPayInfo(params)
        }
      })
    },
    /**
     * @description 去选礼物
     */
    goSendGift () {
      this.$router.push({
        path: RouterPath.Gift.List
      })
    },
    /**
     * @description 获取礼物详情
     */
    getshopDetail (num = 1, giftDetailId) {
      wx.showLoading({
        title: '加载中'
      })
      API.Gift.getGiftDetail({id: giftDetailId, storeId: this.storeId}).then(res => {
        if (res.status === 200) {
          let _data = res.data
          // 处理商品处数据
          let skuImgUrl = _data.cloudDTO.skuImgUrl.map(k => {
            return Utils.compressImg(Contants.BASE_IMG_URL + k, 140)
          })
          _data.skuImg = skuImgUrl[0]
          this.datas = {..._data.cloudDTO, ..._data}
          this.createActGiftParams.num = num
          this.caculateFunc(this.datas.unitPrice)
          console.log(this.datas, 'this.giftDetailthis.giftDetail')
          wx.hideLoading()
        }
      })
        .catch(res => {
          wx.hideLoading()
        })
    },
    /**
     * @description 获取支付信息
     */
    getPayInfo (params) {
      API.Gift.getPayInfo(params).then(res => {
        console.log(res, '获取支付信息res')
        if (res.status === 200) {
          let { data } = res.data
          // 微信支付
          if (data && data.timeStamp) {
            let {timeStamp, nonceStr, signType, paySign} = data
            wx.requestPayment({
              timeStamp,
              nonceStr,
              package: data.package,
              signType,
              paySign,
              success: response => {
                console.log('支付成功微信回调:', response)
                // this.buyFlag = false
                this.$router.replace({path: `${RouterPath.Gift.GiftResult}?source=success&id=${params.id}`})
              },
              fail: () => {
                this.myToast('支付失败')
                // this.buyFlag = false
              }
            })
          }
        }
      }).catch(rest => {
        // this.buyFlag = false
      })
    },
    /**
     * @description 查看操作指南
     */
    goOperateInfo () {
      this.$router.push({
        path: RouterPath.Gift.OperateInfo
      })
    },
    /**
     * @description 消息提示框
     */
    myToast (msg) {
      wx.showToast({
        title: msg,
        icon: 'none',
        duration: 2000
      })
    }
  },
  onLoad (options) {
    console.log(options, 'index.option')
    wx.setNavigationBarColor({
      frontColor: '#ffffff',
      backgroundColor: '#b91120'
    })
    this.initData()
    if (options && options.num && options.giftDetailId) {
      this.getshopDetail(options.num, options.giftDetailId)
    }
  },
  onShow () {
    console.log('onShow')
  },
  onUnload () {

  }
}
</script>
<style lang="scss" scoped>
.sendGiftContent {
  height: 100%;
  overflow-y: scroll;
  background-color: #F5F8FA;
  .banner {
    position: relative;
    .giftBg {
      width: 100%;
      height: 287rpx;
      position: relative;
      img {
        width: 100%;
        height: 287rpx;
      }
      .giftBgTxt {
        position: absolute;
        left: 50rpx;
        top: 0rpx;
        text {
          color: #ffffff;
          font-size: 24rpx;
          font-weight: 500;
        }
        .giftBgTxtTop {
          font-size:40rpx;
          font-weight:800;
          display: block;
          margin-bottom: 10rpx;
        }
      }
      .oprateIcon {
        width: 81rpx;
        height: 112rpx;
        position: absolute;
        right: 20rpx;
        top: 0rpx;
      }
    }
    .giftContent {
      position: relative;
      padding: 0 30rpx;
      box-sizing: border-box;
      margin-top: -130rpx;
      img {
        width: 690rpx;
        height: 156rpx;
      }
      .sendGiftRight {
        position: absolute;
        top: 63rpx;
        right: 80rpx;
        width: 21rpx;
        height: 35rpx;
      }
    }
    .giftBox {
      position: relative;
      margin: 30rpx 30rpx 0 30rpx;
      padding: 25rpx;
      box-sizing: border-box;
      margin-top: -130rpx;
      background: #ffffff;
      border-radius: 10rpx;
      .giftItem {
        // padding-bottom: 40rpx;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        .img {
          width: 140rpx;
          height: 140rpx;
          img {
            width: 140rpx;
            height: 140rpx;
          }
        }
        .info {
          flex: 1;
          height: 140rpx;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 25rpx;

          .name {
            color: #000;
            line-height: 40rpx;
            display: -webkit-box;
            word-break: break-all;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 27rpx;
            margin-bottom: 10rpx;
          }

          .priceInfo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .now {
              color: #FF0000;
              font-size: 30rpx;
              font-weight: 800;
            }

            .priceButton {
              color: #333333;
              font-size: 24rpx;
              font-weight: 500;
              span {
                display: inline-block;
                height: 35rpx;
                line-height: 35rpx;
                text-align: center;
                background-color: #F5F8FA;
              }
              .calculateBtn {
                width: 47rpx;
              }
              .num {
                width: 75rpx;
                margin: 0 1rpx;
              }

            }
          }
        }
      }
      .reSelect {
        padding-top: 25rpx;
        // border-top: 1rpx solid #F1F1F1;
        text-align: right;
        font-size:26rpx;
        color: #182981;
        font-weight:500;
        .arrow-right--border-color {
          border-color: #182981;
          width: 14rpx;
          height: 14rpx;
        }
      }
    }
  }
  .priceToal {
    margin: 30rpx 30rpx 0 30rpx;
    padding: 25rpx;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 10rpx;
    display: flex;
    justify-content:space-between;
    .text{
      color:rgba(51,51,51,1);
      font-size:30rpx;
      font-weight:500;
      display:flex;
      align-items:center;
    }
    .product-num{
      display: flex;
      margin-right: 15rpx;
      .calculateBtnMusic {
        width: 61rpx;
        height: 61rpx;
        background: url(../../../static/images/icon-minus.png) no-repeat;
        background-size: 100% 100%;
      }
      .calculateBtnPlus {
        width: 61rpx;
        height: 61rpx;
        background: url(../../../static/images/icon-plus.png) no-repeat;
        background-size: 100% 100%;
      }
      .num{
        font-size: 42rpx;
        color:rgba(0,0,0,1);
        padding: 0 20rpx;
      }
    }
  }
  .remarkText{
    height:30rpx;
    font-size:30rpx;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(136,136,136,1);
    line-height:30rpx;
    margin-left: 33rpx;
    margin-top: 50rpx;
  }
  .description {
    padding: 0 30rpx;
    span {
      display: block;
      padding: 20rpx;
      font-size:24rpx;
      font-weight:500;
      color: #333;
    }
    text {
      background: #ffffff;
      display: block;
      padding: 35rpx 70rpx;
      font-size:28rpx;
      font-weight:500;
      color: #888888;
      border-radius: 10rpx;
    }

    .textarea-text {
      background: #ffffff;
      padding: 35rpx 70rpx;
      box-sizing: border-box;
      width: 100%;
      height: 160rpx;
      font-size: 32rpx;
      display: block;
      box-sizing: border-box;
      border-radius: 10rpx;
    }
  }
  .produceGift {
    margin-top: 50rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .price {
      font-size:64rpx;
      font-weight:500;
      color: #010101;
      span {
        font-size:40rpx;
      }
    }
    .produceGiftBtn {
      width: 402rpx;
      height: 69rpx;
      line-height: 69rpx;
      text-align: center;
      margin-top: 25rpx;
      font-size:32rpx;
      font-weight:500;
      color: #ffffff;
      background-color: #D31C2D;
      border-radius: 10rpx;
    }
  }
}
</style>
