<template>
  <div id="groupBuyList">
    <div class="banner">
      <img class="img" :src="Contants.GIGT_BANNER">
    </div>
    <!-- 拼团列表 -->
    <div class="list-box">
      <div v-for="(items, index) in groupBuyList" class="list" :key="index">
        <SendGiftGoodsItem :item="items" :isShowBtn="true"></SendGiftGoodsItem>
      </div>
      <div class="page-bottom-noline" v-if="showPageBootom && groupBuyList.length">已经到底了～</div>
    </div>
    <!-- nodata -->
    <div v-if="!groupBuyList.length" class="empty-list">
      <img :src="NO_CONTENT" alt="">
      <div>活动即将上线，敬请期待～</div>
    </div>
    <!-- 回到首页btn -->
    <div class="go-home-btn" id="go-home-btn" @click="goHomeBtn_clickHander">
      <img src="/static/images/index_icon_home.png" alt="">
      <div>首页</div>
    </div>
    <!-- modal -->
    <div class="modal-title" v-if="activityEnd">来晚了，该礼物活动已结束</div>
  </div>
</template>
<script>
import RouterPath from '@router/config'
// import Utils from '@utils/utils'
import { mapGetters } from 'vuex'
import Contants from '@contants/list'
import { NO_CONTENT } from '@contants/groupBuy'

import SendGiftGoodsItem from '@components/SendGift/SendGiftGoodsItem'

import API from '@api'
export default {
  data () {
    return {
      NO_CONTENT,
      Contants,
      isShowTips: false,
      groupBuyList: [],
      isloadMoreGoods: false,
      activityEnd: false,
      showPageBootom: false,
      params: {
        page: 0,
        size: 20
      }
    }
  },
  computed: {
    ...mapGetters({
      openId: 'openId',
      login: 'login',
      storeId: 'storeId',
      shopInfo: 'shopInfo',
      cartPointPosition: 'cartPointPosition'
    })
  },
  components: {
    SendGiftGoodsItem
  },
  methods: {
    // 返回首页的
    goHomeBtn_clickHander () {
      wx.reLaunch({
        url: RouterPath.Home
      })
    },
    // 搜索列表
    getgroupBuyList () {
      wx.showLoading({
        title: '加载中...',
        mask: true
      })
      this.params = { ...this.params, storeId: this.storeId }
      // 正常商品获取数据
      this.searchGoodsReq(this.params)
    },
    searchGoodsReq () {
      API.Gift.getGiftList(this.params)
        .then(res => {
          wx.hideLoading()
          if (res.status === 200) {
            // let data = Utils.resolveData(res.data.content, [{ path: 'skuImg', width: 200 }])
            let data = res.data.content
            this.loadPage = true
            this.groupBuyList = [...this.groupBuyList, ...data]
            console.log(this.groupBuyList, 'this.goodsLis')
            if (data.length) {
              this.isloadMoreGoods = false
              this.params.page++
            } else {
              this.showPageBootom = true
            }
          }
        })
        .catch(rest => {
          this.loadPage = true
          this.isloadMoreGoods = false
        })
    },
    loadMoreGoods () {
      console.log('加载更多')
      if (!this.isloadMoreGoods) {
        this.isloadMoreGoods = true
        this.getgroupBuyList(true)
      }
    },
    activeEnd () {
      this.activityEnd = true
      setTimeout(() => {
        this.activityEnd = false
      }, 3000)
    },
    clearData () {
      this.groupBuyList = []
      this.isloadMoreGoods = false
      this.activityEnd = false
      this.isShowTips = false
      this.showPageBootom = false
      this.params = {
        page: 0,
        size: 20
      }
    }
  },
  // 触底时继续请求数据
  onReachBottom () {
    console.log('继续加载11111111')
    this.loadMoreGoods()
  },
  onLoad (options) {
    this.isShowTips = options.isShowTips
    console.log('onLoad1111')
  },
  onShow () {
    this.isShowTips && this.activeEnd()
    this.loadMoreGoods()
    console.log('onShow111')
  },
  onHide () {
    this.clearData()
    console.log('onHide111')
  },
  onUnload () {
    this.clearData()
    console.log('oUn111')
  }
}
</script>
<style lang="scss" scoped>
#groupBuyList{
  .banner {
    .img {
      width: 100%;
      height: 280rpx;
      vertical-align:middle;
    }
  }
  .list-box {
    width:100%;
    overflow-y:scroll;
    .page-bottom-noline{
      padding:20rpx 0;
      color:#666;
      display:flex;
      justify-content:center;
      background-color: #f5f8fa;
    }
  }
  .empty-list{
    display: flex;
    align-items:center;
    flex-direction:column;
    margin-top:86rpx;
    >img{
      width: 305rpx;
      height: 324rpx;
    }
    >div{
      font-size:30rpx;
      font-family:PingFang-SC-Medium;
      font-weight:500;
      color:rgba(201,201,201,1);
      margin-top: 48rpx
    }

  }
  .modal-title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:428rpx;
    height:98rpx;
    background:rgba(0,0,0,1);
    opacity:0.7;
    border-radius:49rpx;
    font-size:32rpx;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
  }
  #go-home-btn{
    width:94rpx;
    height:94rpx;
    border-radius:50%;
    position:fixed;
    right:30rpx;
    top:600rpx;
    z-index:999;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: #ff8f00;
    color: #fff;
    box-shadow:0px 5px 16px 5px rgba(213,213,213,0.41);
    >img{
      width: 50rpx;
      height: 50rpx
    }
    >div{
      font-size: 24rpx;
      position: relative;
      top: -4rpx;
    }
  }
}
</style>
