<template>
  <div class="sendGiftContent">
    <img class="img" :src="Contants.GIGT_OPERATEINFO">
    <!-- <img :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/71139f8995e24ffe9cac6cdde90a0ab6.jpg?x-oss-process=image/resize,m_lfit,w_670/sharpen,80'" alt=""> -->
  </div>
</template>
<script>
// import Contants from '@contants/index'
import Contants from '@contants/list'
export default {
  data () {
    return {
      Contants
    }
  }
}
</script>
<style lang="scss" scoped>
.sendGiftContent {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  img{
    width: 100%;
    height: 1697rpx;
  }
}
</style>
