<script>
import Configure from './utils/configure'

export default {
  onLaunch (options) {
    Configure.setSystemInfo()
  },
  onShow (opt) {
    // // 强制更新
    Configure.forceUpdate()
    // 默认路由
    Configure.defaultRouter(opt)
  }
}
</script>

<style>
/*在这里引入全局公共的CSS,并且style标签不加scoped,所有页面都有效*/
@import "assets/scss/main.scss";
</style>
