<template>
  <div class="pageBox">
    <div class="for-bg-color">
    <div class="search">
      <div class="border">
        <input class="form" placeholder="搜索商品的名称" placeholder-style="text-align:center;color:#000" confirm-type="search" @confirm="confirmSearch" />
        <img class="icon" src="/static/images/classify_page_top_search_icon.png" mode="widthFix">
      </div>
    </div>

    <scroll-view class="left_scroll" scroll-y>
      <!-- 左侧一级分类 -->
      <div class="list">
        <block v-for="(item, index) in classifyList" :key="index">
          <div :class="{'act':activeId == item.id}" @click="tabChange(item.id)">{{item.categoryName}}</div>
        </block>
      </div>
    </scroll-view>
    <!-- 右侧二级分类 -->
    <scroll-view class="right_scroll" scroll-y :scroll-top="scrollTop">
      <div class="list" v-if="subData">
        <!-- banner -->
        <img class="banner" style="" :src="Contants.BASE_IMG_URL + subData.adImgUrl" v-if="subData.adImgUrl" mode="widthFix">
        <!-- 分类内容 -->
        <block v-if="subData.dtos && subData.dtos.length">

          <div class="title">{{subData.categoryName}}</div>
          <div class="classify">

            <block v-for="(item, index) in subData.dtos" :key="index">
              <div class="item" @click="goSearch('zCategoryId',item.id)">
                <div class="img">
                  <!-- <div class="img" :style="'background-image:url(http://118.24.95.162:3000/images/dianjia_mini/20181023/classify_page_item.png)'"> -->
                  <img :src="item.imgUrl || Contants.DEFAUTL_URL" alt="" />
                </div>
                <div class="name">{{item.categoryName}}</div>
              </div>
            </block>

          </div>

        </block>
        <!--<block v-if="subData.brand && subData.brand.length">-->
        <!-- 热门品牌 -->
        <div class="title" v-if="subData.brandDTOS && subData.brandDTOS.length !== 0">热门品牌</div>
        <div class="classify brand" v-if="subData.brandDTOS && subData.brandDTOS.length !== 0">
          <block v-for="(item, index) in subData.brandDTOS" :key="index">
            <div class="item" @click="goSearch('brandId',item.brandId)">
              <div class="img">
                <img :src="item.imgUrl || Contants.DEFAUTL_URL" />
              </div>
              <div class="name">{{item.brandName}}</div>
            </div>
          </block>

        </div>
        <!--</block>-->

      </div>
    </scroll-view>
    <!-- <scroll-view class="right_scroll" scroll-y :scroll-top="scrollTop">
      <div class="list" v-if="subData">
        <img class="banner" style="" :src="Contants.BASE_IMG_URL + subData.adImgUrl" v-if="subData.adImgUrl" mode="widthFix">

        <block v-if="subData.dtos && subData.dtos.length">

          <div class="title">{{subData.categoryName}}</div>
          <div class="classify">

            <block v-for="(item, index) in subData.dtos" :key="index">
              <div class="item" @click="goSearch('zCategoryId',item.id)">
                <div class="img">
                  <img :src="item.imgUrl || Contants.DEFAUTL_URL" alt="" />
                </div>
                <div class="name">{{item.categoryName}}</div>
              </div>
            </block>
          </div>
        </block>
        <div class="title" v-if="brandList && brandList.length !== 0">热门品牌</div>
        <div class="classify brand" v-if="brandList && brandList.length !== 0">

          <block v-for="(item, index) in brandList" :key="index">
            <div class="item" @click="goSearch('brandId',item.id)">
              <div class="img">
                <img :src="item.imgUrl || Contants.DEFAUTL_URL" />
              </div>
              <div class="name">{{item.brandName}}</div>
            </div>
          </block>
        </div>
      </div>
    </scroll-view> -->
  </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import API from '@api'
import Utils from '@utils/utils'
import Contants from '@contants/index'
import RouterPath from '@router/config'

export default {
  data () {
    return {
      Contants,
      activeId: '',
      classifyList: [],
      scrollTop: 0,
      subData: {},
      caches: {}
    }
  },
  props: ['nowSelectPage'],
  computed: {
    ...mapGetters({
      openId: 'openId',
      login: 'login',
      storeId: 'storeId',
      baseImgUrl: 'baseImgUrl'
    })
  },
  methods: {
    init () {
      this.getFirstLevel()
    },
    tabChange (id) {
      if (id) {
        this.activeId = id
        this.scrollTop = 10
        if (this.caches[id]) {
          this.subData = this.caches[id]
        } else {
          this.getSecendLevel(id) // 获取二级分类
        }
      } else {
        this.caches = {}
        this.subData = {}
      }
    },
    /**
     * @description 获得一级分类接口
     */
    getFirstLevel () {
      API.Classify.getFirstLevel().then(res => {
        let _id = null
        if (res.status === 200) {
          let data = res.data
          this.classifyList = data
          if (this.$Utils.isArray(data) && data.length > 0) {
            _id = data.some(k => k.id === this.activeId) ? this.activeId : data[0].id
          }
          this.tabChange(_id)
        }
      })
    },
    /**
     * @description 通过一级分类的categoryId获得二级分类接口
     */
    getSecendLevel (categoryId) {
      API.Classify.getSecendLevel({categoryId: categoryId}).then(res => {
        if (res.status === 200) {
          let data = res.data
          data['dtos'] = Utils.resolveData(data['dtos'], [{ path: 'imgUrl', width: 170 }])
          data['brandDTOS'] = Utils.resolveData(data['brandDTOS'], [{ path: 'imgUrl', width: 170 }])
          this.subData = data
          if (!this.caches[categoryId]) {
            this.caches[categoryId] = data
          }
        }
      })
    },
    confirmSearch (e) {
      const val = e.target.value.trim()
      if (val) {
        wx.navigateTo({
          url: RouterPath.Goods.GoodsSearchList + '?condition=' + val
        })
      } else {
        // 搜索为空
      }
    },
    goSearch (type, id) {
      wx.navigateTo({
        url: RouterPath.Goods.GoodsList + '?categoryId=' + this.activeId + '&' + type + '=' + id
      })
    }
  },
  onLoad (opt) {
    this.init()
  },
  created () {
  },
  onPullDownRefresh () {
    wx.stopPullDownRefresh()
  },
  onHide () {},
  onUnload () {},
  onShow () {
    if (this.nowSelectPage === 'classify') {
      this.init()
      this.caches = {}
    }
  }
}
</script>
<style lang="stylus" scoped>
.pageBox {
  .for-bg-color{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background #f5f8fa
  }
}

.search {
  background-color: #fff;
  padding: 10rpx 40rpx;

  .border {
    border: 2rpx solid #fdd41a;
    border-radius: 40rpx;
    position: relative;
    width: 100%;
    height: 60rpx;

    .form {
      position: absolute;
      top: 0;
      left: 30rpx;
      right: 25rpx;
      height: 100%;
      font-size: 26rpx;
    }

    .icon {
      display: block;
      width: 35rpx;
      height: 35rpx;
      position: absolute;
      top: 12rpx;
      right: 40rpx;
    }
  }
}

.left_scroll, .right_scroll {
  height 100%;
  box-sizing :border-box;
  position: absolute;
  top: 84rpx;
  bottom: 0;
  padding-bottom:200rpx;
  background-color: #f5f8fa;

}

.left_scroll {
  left: 0;
  width: 25%;
  z-index: 10;

  .list {
    width: 99%;

    div {
      width: 100%;
      line-height: 100rpx;
      border-top: 1px solid #e5e5e5;
      text-align: center;
      background-color: #fff;
      font-size: 28rpx;
      border-right: 1px solid #e5e5e5;
    }

    .act {
      background-color: rgba(245,248,250,1);
      position: relative;
      color: #FDD317;
      border-right: none;
    }

    .act:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 8rpx;
      background-color: #ffe558;
    }

    div:last-child {
      border-bottom: 1px solid #e5e5e5;
    }
  }
}

.right_scroll {
  right: 0;
  width: 75%;

  .list {
    padding: 30rpx 20rpx;

    .banner {
      width: 100%;
      box-shadow: 0 0 15rpx #ddd;
      height: 160rpx !important;
    }

    .title {
      color: #000;
      font-size: 28rpx;
      padding: 15rpx 0;
      font-weight: 600;
    }

    .classify {
      background-color: #fff;
      overflow: hidden;
      padding-bottom: 20rpx;
      padding-right 10rpx;

      .item {
        width: 32%;
        padding-top: 10rpx;
        float: left;
        padding-right 1%;
        .img {
          width: 90%;
          background: no-repeat center center;
          background-size: contain;
          margin: 0 auto;
          img {
            width: 165rpx;
            height: 165rpx;
          }
        }

        .name {
          margin-top: 10rpx;
          min-height: 40rpx;
          // line-height: 34rpx;
          font-size: 26rpx;
          text-align: center;
          color: #666;
          display: -webkit-box;
          word-break: break-all;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 10rpx;
          height 75rpx
        }
      }
    }

    .brand {
      .item {
        .img {
          img{
            width :153rpx;
            height :90rpx;
          }
        }
      }
    }
  }
}
</style>
