<template>
  <div :class="{'fixed-body': fixedBody}">
    <div class="newManner">
      <div class="header">
        <img :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/46aaa794dc1f41f29c76620aac312b5f.png'" alt="" style="display:block;">
        <div class="rule" @click="rule_clickHanlder">活动规则</div>
      </div>
      <section>
        <div class="newManner-vip" v-if="newCustomer && newCustomer.length > 0">
          <div class="title">· 新人专享 ·</div>
          <div class="list" v-for="(item, index) in newCustomer" :key="index">
            <div class="item" v-if="index % 2 === 0" @click="gotoActiveDetail(item)">
              <div class="info-image">
                <img :src="item.imageUrl" class="img-hot" alt="">
              </div>
              <div class="info-content">
                <div class="title">
                  <p>{{item.productName}}</p>
                </div>
                <div class="scroll-percent" style="padding-right: 61rpx;">
                  <div class="relative-content">
                    <div class="absolute-content" :style="{width:item.salePercent + '%'}"></div>
                  </div>
                  <!-- <div class="hot">
                    <img src="/static/images/hot.png" alt="">
                  </div> -->
                  <div class="num">{{item.salePercent}}%</div>
                </div>
                <div class="price">
                  <span class="new">￥{{item.sellPrice}}</span>
                  <span class="old">￥{{item.marketPrice}}</span>
                </div>
                <div class="buy-now" @click="buyNow">立即抢购</div>
              </div>
            </div>
            <div class="item" v-if="index % 2 !== 0" @click="gotoActiveDetail(item)">
              <div class="info-image right">
                <img :src="item.imageUrl" class="img-hot" alt="">
              </div>
              <div class="info-content left">
                <div class="title" style="position: relative; left: 61rpx;">
                  <p>{{item.productName}}</p>
                </div>
                <div class="scroll-percent" style="padding-left: 61rpx;">
                  <div class="relative-content">
                    <div class="absolute-content" :style="{width:item.salePercent + '%'}"></div>
                  </div>
                  <!-- <div class="hot">
                    <img src="/static/images/hot.png" alt="">
                  </div> -->
                  <div class="num">{{item.salePercent}}%</div>
                </div>
                <div class="price right-btn">
                  <span class="old">￥{{item.marketPrice}}</span>
                  <span class="new l-p">￥{{item.sellPrice}}</span>
                </div>
                <div class="buy-now right-btn" style="margin-top: 70rpx;" @click="buyNow">立即抢购</div>
              </div>
            </div>
          </div>
        </div>
        <div class="hotRecommend" v-if="recommendStoreSkus && recommendStoreSkus.length > 0">
          <div class="title">· 人气推荐 ·</div>
          <div class="hotShop">
            <ul>
              <li class="shopItem" v-for="(item, index) in recommendStoreSkus" :key="index" @click="gotoDetail(item)">
                <div class="shopItem-img">
                  <img :src="item.skuImg" class="img-hot" alt="">
                </div>
                <div>
                  <p class="text-line">{{item.productName}}</p>
                  <p class="text-price">
                    <span class="new-price">¥{{item.sellPrice}}</span>
                    <span class="old-price">¥{{item.marketPrice}}</span>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <div class="rule-content" v-if='showRulePage'>
      <view class="campaign">
        <view class="close" @click='showRulePage = false'><img src="/static/images/close.png"></view>
        <p style="display:flex; padding:30rpx 0;margin:0 20rpx;justify-content: center;align-items: center;20rpx;border-bottom:1rpx solid #fff;font-size:35rpx;font-weight:bold">活动规则</p>
        <view class="textb">
          <p class="texting">
            1. 一位新用户限购一件新人礼商品,新人礼商品与新人红包不可叠加生效。
          </p>
          <p class="texting">
            2. 同一位新用户仅能领取一次新人礼商品( 同一账户、同一手机 同一联系方式、同一IP地址、同一终端设备号或其他可以合理显示为同一用户的情形, 均视为同一用户）。
          </p>
          <p class="texting">
            3. 所有活动商品包邮，新疆、西藏、宁夏、甘肃、内蒙古、海南云南及港澳台地区不在本次活动范围。
          </p>
          <p class="texting">
            4. 如遇不可抗力，北京店佳科技有限公司有权取消、修改或暂停本活动。
          </p>
          <p class="texting">
            5. 对以不正当手段参与本活动的用户，北京店佳科技有限公司有权取消其活动参与资格, 并要求其对已发放的活动所得进行返还。
          </p>
          <p class="texting">
            6. 北京店佳科技有限公司拥有最终解释权，未尽事宜请咨询店佳客服。
          </p>
        </view>
      </view>
    </div>
    <confirmKnowModal v-if="payConfig"></confirmKnowModal>
  </div>
</template>
<script>
import API from '@api/index'
import Utils from '@utils/utils'
import Contants from '@contants/index'
import { mapGetters } from 'vuex'
import * as types from '@store/types'
import RouterPath from '@router/config'
import confirmKnowModal from '@components/UI/ConfirmKnowModal.vue'

export default {
  data () {
    return {
      Contants,
      showRulePage: false,
      // authorization: false, // 是否授权
      fromPageShare: false, // 是否是分享进来的
      fixedBody: false, // 控制页面滚回顶部
      showPop: true, // 提示框
      newCustomer: [], // 新人专享商品
      recommendStoreSkus: [], // 人气推荐商品
      storeId: 0, // 门店ID
      payConfig: false,
      storeIdCheck: false
    }
  },
  computed: {
    ...mapGetters({
      shopInfo: 'shopInfo'
    })
  },
  components: {
    confirmKnowModal
  },
  methods: {
    rule_clickHanlder () {
      this.showRulePage = true
    },
    // 数字精度方法
    formatFloat (f, d) {
      const m = Math.pow(10, d)
      return Math.round(f * m, 10) / m
    },
    // 获取新人有礼数据
    getNewCustomerData () {
      API.newManner.getActivityList({activityType: 'NEW_CUSTOMER'}).then(res => {
        if (res.status === 200) {
          res.data.map(item => {
            let _salePercent = item.salePercent * 100
            item.salePercent = this.formatFloat(_salePercent, 2)
          })
          this.newCustomer = Utils.resolveData(res.data, [{ path: 'imageUrl', width: 750 }])
        }
      })
    },
    // 去商品详情页面
    gotoActiveDetail (item) {
      this.$router.push({
        path: RouterPath.Goods.GoodsActivityDetail, query: { id: item.storeSkuId }
      })
    },
    gotoDetail (item) {
      this.$router.push({
        path: RouterPath.Goods.GoodsDetail, query: { id: item.storeSkuId }
      })
    },
    // 获取人气推荐商品
    getRecommendStoreSkus () {
      API.newManner.getRecommendStoreSkus().then(res => {
        if (res.status === 200) {
          this.recommendStoreSkus = Utils.resolveData(res.data, [{ path: 'skuImg', width: 750 }])
        }
      })
    },
    getPayConfig () {
      API.Public.getPayConfig().then(res => {
        if (res.status === 200) {
          res.data.storeIds.map(i => {
            if (i === this.shopInfo.id) {
              this.storeIdCheck = true
            }
          })
          if ((!res.data.abTest || this.storeIdCheck)) {
            console.log('这是需要微信绑定')
            if (!this.shopInfo.bind) {
              console.log('这里需要微信弹出框的问题')
              this.payConfig = true
            }
          } else {
            console.log('不适用微信绑定')
          }
        }
      })
    }
  },
  onHide () {
    this.fromPageShare = false
    this.payConfig = false
    this.storeIdCheck = false
  },
  onUnload () {
    this.fromPageShare = false
    this.payConfig = false
    this.storeIdCheck = false
  },
  onLoad (options) {
    console.log('红包执行 onLoad')
    console.log(options, 'optionsoptionsoptions')
    if (options.sf === 'new') { // 缺少保存 门店编号
      console.log(options.sId, 'options-----storeId')
      this.storeId = options.sId
      this.fromPageShare = true
      this.$store.dispatch(types.GET_SHOP_INFO_BY_ID, {storeId: this.storeId}).then(data => {})
    }
    if (this.fromPageShare) {
      wx.login({
        success: res => {
          if (res.code) {
            this.$store.dispatch(types.GET_OPEN_ID, {code: res.code, storeId: this.storeId}).then(data => {
              // if (this.login) { // 授权
              //   this.authorization = true
              // } else { // 没有授权
              //   this.authorization = false
              // }
            })
          }
        }
      })
    }
  },
  onShow () {
    this.getNewCustomerData()
    this.getRecommendStoreSkus()
    this.getPayConfig()
  },
  onShareAppMessage () {
    const name = '「新人独享」用心精选，数量有限，先到先得！'
    return {
      title: name,
      path: RouterPath.Auth.Start + '?sf=C&sId=' + this.shopInfo.id
    }
  },
  watch: {
    showRulePage (newVal, oldVal) {
      if (newVal === true) {
        this.fixedBody = true
      } else {
        this.fixedBody = false
      }
    }
  }
}
</script>
<style lang="stylus" scoped>
  .newManner{
    background:url(../../../static/images/new-bg.png);
    height:100%;
    width 100%
    background-size cover
    padding-bottom 200rpx
    display block
    position relative
    .header{
      position relative
      width 100%
      height 474rpx
      img{
        width 100%
        height 100%
        vertical-align middle
      }
      .rule{
        position:absolute;
        right:0;
        bottom:2rpx;
        width:130rpx;
        height:50rpx;
        background:rgba(0,0,0,0.4);
        border-radius:25rpx 0 0 25rpx;
        font-size:20rpx;
        display:flex;
        justify-content:center;
        align-items:center;
        color:#fff;
      }
    }
    section{
      background:url(../../../static/images/new-bg.png);
      height:100%;
      width 100%
      background-size cover
    }
    section .newManner-vip{
      width 100%
      >.title{
        font-size 33rpx
        height 60rpx
        line-height 60rpx
        display flex
        justify-content center
        align-items center
        color #fff
        padding-top 25rpx
      }
      >.list{
        .item{
          overflow hidden
          height 282rpx
          margin 20rpx 0px
          >.info-image{
            width 50%
            float left
            text-align center
            .img-hot{
              position relative
              width 250rpx
              height 250rpx
            }
          }
          >.info-content{
            width 50%
            height 100%
            float right
            text-align left
            position relative
            padding 25rpx 0rpx
            .title{
              color #ffffff
              p{
                width 90%
                overflow hidden
                // white-space nowrap
                text-overflow ellipsis
                font-size 28rpx
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                max-height:80rpx;
                word-break:break-all;

              }
              div{
                font-size 22rpx
              }
            }
            .scroll-percent{
              // display flex
              height 20px
              width 100%
              position relative
              top -17rpx
              .relative-content{
                display inline-block
                position relative
                top 5rpx
                height 10rpx
                width 230rpx
                border-radius 14rpx
                background #fff
                overflow hidden
                .absolute-content{
                  background: linear-gradient(to right, #FFC568 , #E73D4A)
                  border-radius 14rpx
                  position absolute
                  top 0
                  left 0
                  height 100%
                }
              }
              .hot{
                display inline-block
                width 26rpx
                height 34rpx
                position relative
                top 15rpx
                left 14rpx
                img{
                  width 100%
                  height 100%
                }
              }
              .num{
                display inline-block
                font-size 24rpx
                color #ffffff
                height:36rpx
                width 30rpx
                position relative
                top 8rpx
                font-weight 600
                line-height 36rpx
                margin-left 10px
              }
            }
            .price{
              color #ffffff
              margin-top 10rpx
              .new{
                font-size 34rpx
                font-weight bold
              }
              .old{
                font-size 22rpx
                color rgba(247,243,243,1)
                margin-left 15rpx
                text-decoration line-through
              }
            }
            .buy-now{
              width 150rpx
              height 54rpx
              font-size 26rpx
              margin-top 10rpx
              color rgba(254,253,252,1)
              font-weight:400;
              background: rgba(255,151,26,1)
              text-align center
              line-height 54rpx
              border-radius 6rpx
            }
          }
        }
      }
    }
  }
  .rule-content{
    position: fixed
    top 10%
    background: rgba(0,0,0,0.85)
    z-index 9999
    margin: 0 20rpx
    border-radius:20rpx
    height: auto
    .campaign{
      font-family:'SoureHanSansCN-Medium';
      color:#fff;
      font-size: 26rpx;
      padding 0 25rpx 25rpx 25rpx;
    }
    .close{
      height: 50rpx;
      width: 50rpx;
      position: absolute;
      top: 30rpx;
      right: 31rpx;
      img{
        height:100%;
        width:100%;
        background-size:cover;
      }
    }
    .textb{
      display: flex;
      flex-direction: column;
      padding: 0 22rpx;
      font-size: 30rpx;
    }
    .texting{
      padding: 10rpx 0;
    }
    .texting:nth-child(1){
      padding-top:20rpx !important;
    }
    .texting:nth-child(6){
      padding-bottom:20rpx !important;
    }
  }
  .hotRecommend{
    .title{
      font-size 33rpx
      height 60rpx
      line-height 60rpx
      display flex
      justify-content center
      align-items center
      color #fff
    }
    .hotShop{
      width 92%
      margin 0 auto
      background #ffffff
      padding 20rpx
      border-radius:10rpx
      margin-top 40rpx
      ul{
        width 100%
        display flex
        flex-direction row
        flex-wrap wrap
        .shopItem{
          width 30%
          font-size 22rpx
          margin-bottom 20rpx
          .shopItem-img{
            width 100%
            height 220rpx
            img{
              width 100%
              height 100%
            }
          }
          .text-line{
            font-size 26rpx
            margin-top 10rpx
            color #333
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            height 80rpx
          }
          .text-price{
            height 40rpx
            line-height 40rpx
            margin-top 20rpx
            .old-price{
              color #cccccc
              font-size 22rpx
              text-decoration line-through
            }
            .new-price{
              color #E94748
              font-size 34rpx
              margin-right 15rpx
              font-weight bold
            }
          }
        }
        .shopItem:nth-child(3n + 2){
          margin 0 5%
        }
      }
    }
  }
  .left{
    float left !important
  }
  .right{
    float right !important
  }
  .right-btn{
    position absolute
    right 0
  }
  .l-p{
    margin-left 10px
  }
  .fixed-body {
    overflow-y: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
</style>
