<template>
  <div id="Logistics">
    <div class="container">
        <img :src="Contants.NOTICE" alt="" mode="widthFix">
        <div class="content">
          <span style="color: #232323;font-size: 24rpx; width: 80%;" v-if="NoticeRemark && NoticeRemark.length">
            <span v-for="(item, index) in NoticeRemark" :key="index" style="width: 100%; display: block; padding: 5rpx 0rpx;">
              {{item}}
            </span>
          </span>
          <span v-else>
            新款到店，欢迎选购，更多优惠，详情咨询店主哦~~
          </span>
        </div>
    </div>
  </div>
</template>
<script>
import Contants from '@contants/list'
import { mapGetters } from 'vuex'
import API from '@api'

export default {
  components: {},
  data () {
    return {
      Contants,
      NoticeMessage: {},
      NoticeRemark: []
    }
  },
  computed: {
    ...mapGetters({
      shopInfo: 'shopInfo'
    })
  },
  watch: {},
  onLoad () {
  },
  onShow () {
    this.getNoticeMessage()
  },
  onHide () {
  },
  onUnload () {
  },
  mounted () {
  },
  methods: {
    getNoticeMessage () {
      let { userId } = this.shopInfo
      API.Notice.getNotice({userId}).then(res => {
        if (res.status === 200) {
          console.log(res, 'res----')
          if (res.data.remark) {
            let _commentTemp = res.data.remark.split('|')
            this.NoticeRemark = []
            _commentTemp.map(k => {
              console.log(this.$Utils.trim(k, 2))
              this.NoticeRemark.push(this.$Utils.trim(k, 2))
            })
          }
          console.log(this.NoticeRemark)
          // this.NoticeMessage = res.data
        }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.container{
  width: 100%;
  font-size: 0;
  img{
    width: 100%;
    display: inline-block;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
  }
  .content{
    width: 80%;
    min-height: 100rpx;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    color: #333;
    font-size: 28rpx;
    top:24%;
    position:absolute;
    left:7%;
    padding:20rpx;
  }
}
</style>
