<template>
  <view class="box" v-if="isLoading">
      <img :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/ac072c75dcf44abbb2d590b4a5d576d8.png'" class="backgroundImg" v-if="!text">
      <img :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/7f91b13b855b42e6a3daa569796739fb.png'" class="backgroundImg" v-if="text === '红包已经发完了'||!activityStart||text === '已领过'||text === '领取成功'">
      <view class="titletext">
          <button class="btn" @click='back'>返回首页</button>
          <button class="btn" open-type='share' v-if="activityStart">分享</button>
      </view>

      <view class="redPacketBox" v-if="text === '领取成功' || text === '已领过'" :animation="campaignBollen?null:getAnimation">
        <img :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/af9521ef34d24f0aa6d039d149a081c6.png'" v-if="text === '已领过'" mode="widthFix"  class="icon">
        <img :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/0c540ac1e682491f98143bdaf7d464d3.png'" v-if="text === '领取成功'" mode="widthFix"  class="icon">
        <p class="money"><span class="mon">{{amount}} <span class="dan">元</span></span></p>
        <img src="/static/images/mustuse.png" class="musttse2" @click='back'>
      </view>

      <view class="boxMain" @click='clickGet' v-if="isGet&&activityStart" >
        <img :src="Contants.BASE_IMG_URL + 'online/opmactivitymg/2eb5965f6ecf4e62bbb7b3ddc3da239e.png'" class="imgUse">
        <img src="/static/images/sureOdd.png" class="musttse">
      </view>

      <view class="boxMain" v-if="text === '红包已经发完了'||!activityStart">
        <!-- <img src="/static/images/none.png" class="text"> -->
        <div class="text" id="activity-over">活动已结束</div>
        <img src="/static/images/xingg.png" class="xing">
        <img src="/static/images/again.png" class="again" @click='back'>
      </view>

      <!-- 去掉活动规则文字 -->
      <!-- <img src="/static/images/oddlist.png" class="use" @click='campaign'> -->
      <!-- 去掉活动规则文字 -->
      <Ordination :campaignBollen='campaignBollen' @close='close'/>

  </view>
</template>
<script>
import * as types from '@store/types'
import { mapGetters } from 'vuex'
import Ordination from '@components/Activity/Ordination'
import API from '@api'
import RouterPath from '@router/config'
import Contants from '@contants/index'

export default {
  data () {
    return {
      Contants,
      campaignBollen: false,
      authorization: false, // 是否授权
      fromPageShare: false, // 是否是分享进来的
      isGet: true, // 是否可以领取红包
      // isLoading: false, // 是否加载完全
      // activityStart: true, // 活动是否开始
      isLoading: true, // 活动结束 2018-12-12
      activityStart: false, // 活动结束 2018-12-12
      amount: '', // 红包金额
      text: '',
      timer: null,
      getAnimation: {}
    }
  },
  components: {
    Ordination
  },
  computed: {
    ...mapGetters({
      storeId: 'storeId',
      login: 'login'
    })
  },
  onLoad (options) {
    console.log('红包执行 onLoad')
    const $this = this
    let _getAnimation = this.initGetAnimation()
    this.getAnimation = _getAnimation
    wx.removeStorageSync('refreshRedPacket')
    if (options.fromPageIndex === 'share') { // 缺少保存 门店编号
      const storeId = options.storeId
      $this.storeId = storeId
      $this.fromPageShare = true
      $this.$store.dispatch(types.GET_SHOP_INFO_BY_ID, {storeId: storeId}).then(data => {})
    }
    wx.login({
      success: res => {
        if (res.code) {
          $this.$store.dispatch(types.GET_OPEN_ID, {code: res.code, storeId: $this.storeId}).then(data => {
            if ($this.login) { // 授权
              $this.authorization = true
              $this.getActivity()
            } else { // 没有授权
              $this.authorization = false
              $this.isLoading = true
            }
          })
        }
      }
    })
  },
  onShow () {
    console.log('红包执行 onShow')
    const $this = this
    if (wx.getStorageSync('refreshRedPacket')) {
      wx.removeStorageSync('refreshRedPacket')
      $this.getActivity(true)
    }
  },
  methods: {
    initGetAnimation () {
      return wx.createAnimation({
        duration: 700,
        delay: 100,
        timingFunction: 'ease'
      }) || {}
    },
    back () {
      if (this.fromPageShare) {
        wx.redirectTo({
          url: RouterPath.Home
        })
      } else {
        wx.navigateBack(1)
      }
    },
    campaign () {
      this.campaignBollen = true
    },
    close (item) {
      this.campaignBollen = item
    },
    clickGet () {
      const $this = this
      if ($this.authorization) {
        $this.getActivity(true)
      } else {
        wx.navigateTo({
          url: RouterPath.Auth.Login + '?fromShareRedPacket=true'
        })
      }
    },
    getActivity (type) {
      // const $this = this
      // API.RedPacket.effective({type: 'LOGIN'}).then(res => {
      //   const data = res.data
      //   console.log(data.length)
      //   if (data.length !== 0) { // 活动开始
      //     const id = data[0]['id']
      //     $this.activityStart = true
      //     if (data[0].remainCount > 0) {
      //       $this.isGet = true
      //       $this.isLoading = true
      //       if (type) {
      //         $this.getActivityDetails(id)
      //       }
      //     } else {
      //       $this.getActivityDetails(id)
      //     }
      //   } else { // 活动结束
      //     $this.isLoading = true
      //     $this.activityStart = false
      //   }
      //   console.log(data)
      // })
    },
    getActivityDetails (id) {
      const $this = this
      API.RedPacket.trigger({id: id, storeId: $this.storeId}).then(res => {
        if (res) {
          const data = res.data
          $this.isGet = false
          $this.text = data.message
          $this.amount = data['amount']
          $this.isLoading = true
          clearTimeout(this.timer)
          this.timer = setTimeout(() => {
            let _getAnimation = this.initGetAnimation()
            _getAnimation.scale(1.1, 1.1).opacity(1).step()
            _getAnimation.scale(1, 1).step()
            this.getAnimation = _getAnimation.export()
          }, 100)
        }
      })
    }
  },
  onShareAppMessage: function () {
    // 转发内容等文案
    return {
      title: '「您有一条新的消息」新人红包，限时瓜分400万现金',
      path: RouterPath.Activitys.RedPacket + '?fromPageIndex=share&storeId=' + this.storeId,
      // imageUrl: '/static/images/repeackRed.jpg'
      imageUrl: Contants.BASE_IMG_URL + 'online/opmactivitymg/9ebf455d1bf64b74896a339572bc237d.jpg'
    }
  }
}
</script>
<style lang="stylus" scoped>
#activity-over {
  font-family: "SourceHanSansCN"
  color #fde5a7
  font-size 28px
  margin-left:0;
  transform:translateX(-50%);
  width:auto;
  height auto
}
.redPacketBox{
  position: absolute;
  top: 210rpx;
  left: 50%;
  width: 670rpx;
  margin-left: -325rpx;
  z-index: 100;
  opacity: 0;
  transform:scale(0.1,0.1);
  .icon{
    width: 670rpx;
  }
}
.use{
	height: 38rpx;
	width: 130rpx;
	background-size: cover;
	position: absolute;
	right: 0;
	top: 62%;
	z-index: 200;
}
.box{
  height: 100%;
  width:100%;
  position: relative;
}
.backgroundImg{
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  top:0;
  left: 0;
}
.boxMain{
	height: 100%;
	width: 100%;
	position: relative;
}
.titletext{
width: 100%;
display: flex;
z-index: 999;
align-items: center;
height: 120rpx;
position: absolute;
top: 0;
left: 0;
}
.btn:nth-child(1){
  margin-left:22rpx;
}
.btn:nth-child(2){
  margin-right:22rpx;
}
button::after{ border: none; }
.btn{
	background-color:transparent !important;
	font-size: 30rpx;
	color:#fff;
}
.imgUse{
  width: 644rpx;
  height: 767rpx;
  background-size: cover;
  position: absolute;
	top: 200rpx;
	left: 50%;
	margin-left: -322rpx;
}
.musttse{
	position: absolute;
	top: 812rpx;
	left: 50%;
	width: 358rpx;
	height: 83rpx;
	background-size: cover;
	margin-left: -179rpx;
}
.box {
    padding-top: constant(safe-area-inset-top);   //为导航栏+状态栏的高度 88px
    padding-left: constant(safe-area-inset-left);   //如果未竖屏时为0
    padding-right: constant(safe-area-inset-right); //如果未竖屏时为0
    padding-bottom: constant(safe-area-inset-bottom);//为底下圆弧的高度 34px
}
.dan{
	color:#ff4341;
	font-size: 30rpx !important;
	font-weight: normal;
}
.money{
	position: absolute;
	top: 90rpx;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color:#ff4341;
	font-family: 'jCuYuan';
}
.mon{
	color:#ff4341;
	font-weight: bold !important;
  font-size:60rpx;
}
.xing{
	width: 222rpx;
	height: 330rpx;
	background-size: cover;
	position: absolute;
	left: 50%;
	margin-left: -111rpx;
	top: 450rpx;
}
.text{
	width: 434rpx;
	height: 39rpx;
	background-size: cover;
	position: absolute;
	top: 320rpx;
	left: 50%;
	margin-left: -217rpx;
}
.again{
	width: 472rpx;
	height: 72rpx;
	background-size: cover;
	position: absolute;
	top: 820rpx;
	left: 50%;
	margin-left: -236rpx;
}
.musttse2{
	position: absolute;
	top: 320rpx;
	left: 50%;
	width: 472rpx;
	height: 72rpx;
	background-size: cover;
	margin-left: -236rpx;
}
</style>
