<template class='adolf'>
  <div class="my-container" :class="{'has-qr-cord': login}">
    <div class="for-bg-color">
      <div style="width:100%;overflow-x:hidden;">
      <div class="header-content">
        <header class="header">
          <div class="storeName">
            <span style="font-size:32rpx;" class="store-name-show">{{shopInfo?shopInfo.storeName:''}}</span>
            <span style="font-size:24rpx;font-family:PingFang-SC-Medium;font-weight:500;color:rgba(0,0,0,1);" @click="changeStore">
              <span>⌈</span>
              <span>切换</span>
              <span>⌋</span>
            </span>
          </div>
          <div v-if="!login" class="userImgInfo">
            <img :src="userInfo && userInfo.headPortraitImgUrl ? userInfo.headPortraitImgUrl : userInfo && userInfo.avatarUrl ? userInfo.avatarUrl : '/static/images/head_img.png'" mode="" class="img">
            <div class="register" @click="register">点击登录/注册</div>
            <!-- <img :src="'/static/images/head_img.png'" mode="" class="img"> -->
            <!-- <div class="onLine" v-if="login">
              <div class="user-name">{{userInfo?userInfo.nickName:''}}</div>
              <div class="phoneNum">{{userPhone?userPhone:''}}</div>
            </div> -->
            <!-- <div class="onLine">
              <div class="user-name">{{userInfo?userInfo.nickName:''}}</div>
              <div class="phoneNum">{{userPhone?userPhone:''}}</div>
            </div> -->
          </div>
          <div  v-if="login" class="userImgInfo rqord-box">
            <div class="img-box" style="display:flex;align-items:center;">
              <img :src="userInfo && userInfo.headPortraitImgUrl ? userInfo.headPortraitImgUrl : userInfo && userInfo.avatarUrl ? userInfo.avatarUrl : '/static/images/head_img.png'" mode="" class="img">
              <div class="user-name">{{userInfo?userInfo.nickName:''}}</div>
            </div>
            <div class="onLine rqord">
              <div class="qr-code-img">
                <canvas style="left:-10rpx;" :canvas-id="barcodeId"/>
              </div>
              <div style="text-align:center" class="phoneNum">{{userPhone?userPhone:''}}</div>
            </div>
          </div>
        </header>
        <div class="my-order-box qr-cord">
            <div class="order-header clear">
              <div class="left">我的订单</div>
              <div class="right" v-on:click="orderList">查看全部订单<div class="arrow-right"></div></div>
            </div>
            <div class="order-status">
              <div @click="goToOrderList(1)" style="position:relative">
                <img style="width:67rpx;height:64rpx;" class="icon" src="/static/images/ready_send.png" alt="">
                <div>待付款</div>
                <span class="wait-pay-count" v-if="noPayNum.noPayCount > 0 ">{{noPayNum.noPayCount}}</span>
              </div>
              <div @click="goToOrderList(2)">
                <img style="width:65rpx;height:55rpx;" class="icon" src="/static/images/in_send.png" alt="">
                <div>配送中</div>
                <span class="wait-pay-count" v-if="noPayNum.deliveringCount > 0 ">{{noPayNum.deliveringCount}}</span>
              </div>
              <div @click="goToOrderList(3)">
                <img style="width:65rpx;height:60rpx;" class="icon" src="/static/images/wait_bring.png" alt="">
                <div>待提货</div>
                <span class="wait-pay-count" v-if="noPayNum.noTakeCount > 0 ">{{noPayNum.noTakeCount}}</span>
              </div>
              <div @click="goToOrderList(4)">
                <img style="width:52rpx;height:60rpx;" class="icon" src="/static/images/send_complete.png" alt="">
                <div>已完成</div>
              </div>
            </div>
        </div>
      </div>
      <div class="list-info mayChange">
        <!-- <div class="item">
          <div class="redPack icon-word">
            <img class="icon" src="/static/images/my_red_pack.png" alt="">
            <span class="select-word">红包总额</span>
            <span class="explain" @click="explain">说明</span>
          </div>
          <div class="redPack-money"><span>￥</span><span>{{amount}}</span></div>
        </div> -->
        <!-- <div class="item" @click="groupBuy_handle_click('优惠券')">
          <div class="icon-word">
            <img style="width:34rpx;height:28rpx;" class="icon" src="/static/images/coupon.png" alt="">
            <span class="select-word">优惠券</span>
          </div>
          <div class="arrow-right"></div>
        </div> -->
        <div class="item" @click="groupBuy_handle('拼团')">
          <div class="icon-word">
            <img style="width:34rpx;height:28rpx;" class="icon" src="/static/images/my_groupBuy.png" alt="">
            <span class="select-word">拼团</span>
          </div>
          <div class="arrow-right"></div>
        </div>
        <div class="item" @click="groupBuy_handle('送礼物')">
          <div class="icon-word">
            <img class="icon" src="/static/images/my_sendGift.png" alt="">
            <span class="select-word">送礼物</span>
          </div>
          <div class="arrow-right"></div>
        </div>
        <div class="item" @click="groupBuy_handle_click('秒杀')">
          <div class="icon-word">
            <img class="icon" src="/static/images/sec.png" alt="">
            <span class="select-word">秒杀</span>
          </div>
          <div class="arrow-right"></div>
        </div>
      </div>
      <div class="list-info" style="padding-bottom:125rpx;">
        <div class="item" @click="goManageAddress()">
          <div class="icon-word">
            <img class="icon" src="/static/images/my_location.png" alt="">
            <span class="select-word">地址管理</span>
          </div>
          <div class="arrow-right"></div>
        </div>
        <div class="item" @click="afterSale">
          <div class="icon-word">
            <img class="icon" src="/static/images/my_sale_server.png" alt="">
            <span class="select-word">售后</span>
          </div>
          <div class="arrow-right"></div>
        </div>
        <div class="item" @click="helpCenter">
          <div class="redPack icon-word">
            <img class="icon" src="/static/images/my_help.png" alt="">
            <span class="select-word">帮助中心</span>
          </div>
          <div class="arrow-right"></div>
        </div>
        <div class="item" @click="call">
          <div class="icon-word">
            <img class="icon" src="/static/images/my_call.png" alt="">
            <span class="select-word">客服电话<span class="kefu-phone">{{shopInfo?shopInfo.contactPhone:''}}</span></span>
          </div>
          <!-- <div class="arrow-right"></div> -->
        </div>
      </div>
      <view class='barusertext' v-if='modalBollen'>
        <view class="userBox">
          <img src="/static/images/title.png" class="title">
          <view class="bottomBar">
          <view class="bottomTxt">
            <p>1、参与母婴24小程序红包活动，即可领取红包。</p>
            <p>2、所获红包金额可在“我的”→红包余额中进行查看。</p>
            <p>3、红包仅限在母婴24小程序购买商品使用。</p>
            <p>4、单笔订单金额≥可用红包金额，如选择使用红包，则红包不可拆分。单笔订单金额＜红包使用金额，则仅扣除与订单金额相等的红包金额。</p>
            <p>5、红包不可兑换现金、不能转赠他人、不能为他人付款，红包抵扣金额不可以开发票。</p>
            <p>6、凡以不正当手段 （包括但不限于侵犯第三人合法权利、虚假交易、作弊、扰乱系统、实施网络攻击等）参与本次活动的用户，母婴24有权终止其参与活动，取消其活动资格（如红包已发放，母婴24有权协助追回）。</p>
            <p>7、母婴24可根据活动举办的实际情况，在法律允许的范围内，对本活动规则进行变动或调整，相关变动或调整将公布在活动规则页面上。</p>
          </view> </view>
          <!-- <img src="/static/images/leave-btn.png" class="leave" @click='leave'> -->
          <span class="leave" @click='leave'>×</span>
        </view>
      </view>
      <div class="modal-sale-server" v-if="modalSaleServer" @click="close">
          <div class="content-info">
          <div class="info-box">
            <div class="word">
            <div class="sign"><span></span></div>
            <span>若购买的商品出现问题，请联系店主进行售后服务：</span>
            </div>
          <div class="store-info">
            <div class="sign"></div>
            <div>
              <p>供货商：{{shopInfo?shopInfo.storeName:''}}</p>
              <p>联系人：{{shopInfo?shopInfo.contactName:''}}</p>
              <p @click.stop="callSohou(shopInfo.contactPhone)">联系方式：<span class="phone-color">{{shopInfo?shopInfo.contactPhone:''}}</span></p>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="boom-modal" v-if="sureCallModal">
        <div class="content-box">
          <div class="del-modal">
          <div class="word">确定拨打{{shopInfo?shopInfo.contactPhone:''}}吗？</div>
          <div class="confirm-del-box">
            <div class="cancel btn" @click="cancelCall">取消</div>
            <div class="border-right"></div>
            <div class="sure btn" @click="sureCall()" style="color:#ee7300">拨打</div>
          </div>
        </div>
        </div>
      </div>
      <!-- <order-modal v-if="sureCallModal">
        <div class="del-modal">
          <div class="word">确定拨打{{shopInfo?shopInfo.contactPhone:''}}吗？</div>
          <div class="confirm-del-box">
            <div class="cancel btn" @click="cancelCall">取消</div>
            <div class="border-right"></div>
            <div class="sure btn" @click="sureCall()" style="color:#ee7300">拨打</div>
          </div>
        </div>
      </order-modal> -->
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import * as types from '@store/types'
import API from '@api/index'
import RouterPath from '@router/config'
import TalkingData from '../../../utils/talkingData.js'

import orderModal from '@components/Order/OrderModal'

// import barcode from '@xkeshi/vue-barcode'
import wxbarcode from 'wxbarcode'

export default {
  props: ['nowSelectPage'],
  data () {
    return {
      amount: 0,
      sureCallModal: false,
      modalSaleServer: false,
      modalBollen: false,
      barcodeId: 'barcodeId'
    }
  },
  computed: {
    ...mapGetters({
      openId: 'openId',
      login: 'login',
      userInfo: 'userInfo',
      shopInfo: 'shopInfo',
      userPhone: 'userPhone',
      noPayNum: 'noPayNum'
    })
  },
  components: {
    // barcode,
    orderModal
  },
  methods: {
    groupBuy_handle (type) {
      let param = ''
      if (!this.login) {
        this.notLoginToast('请先登录~')
        return
      }
      switch (type) {
        case '拼团':
          param = '?type=0'
          TalkingData.onEvent('c_我的拼团列表', 'c_我的拼团列表', {storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
          break
        case '送礼物':
          param = '?type=1'
          TalkingData.onEvent('c_我的送礼物列表', 'c_我的送礼物列表', {storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
          break
        default:
          wx.showToast({
            title: '活动暂未开始哦～',
            icon: 'none',
            duration: 2000
          })
      }
      type && wx.navigateTo({
        url: RouterPath.GroupBuy.MyGroupBuyList + param
      })
    },
    groupBuy_handle_click (type) {
      if (!this.login) {
        this.notLoginToast('请先登录~')
        return
      }
      switch (type) {
        case '优惠券':
          wx.navigateTo({
            url: RouterPath.Coupon.list
          })
          TalkingData.onEvent('c_我的优惠券列表', 'c_我的优惠券列表', {storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
          break
        case '秒杀':
          wx.navigateTo({
            url: RouterPath.SecKill.MySecKillList
          })
          TalkingData.onEvent('c_我的秒杀列表', 'c_我的秒杀列表', {storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})

          break
      }
    },
    callSohou (num) {
      this.sureCallModal = true
      this.modalSaleServer = false
    },
    init () {
      this.barcodeId = 'barcode' + new Date()
      this.getCostomerDeposits()
      this.getNoPayNum()
      const phoneNumber = this.userPhone + ' '
      wxbarcode.barcode(this.barcodeId, phoneNumber, 618, 110)
    },
    getNoPayNum () {
      API.Order.getOrderNum(this.shopInfo.storeId).then(res => {
        if (parseInt(res.status) === 200) {
          console.log(res.data)
          this.$store.commit(types.SAVE_NO_PAY_NUM, res.data)
        }
      })
    },
    goToOrderList (type) {
      if (!this.login) {
        this.notLoginToast('请先登录~')
      } else {
        wx.navigateTo({
          url: RouterPath.Order.OrderList + '?type=' + type
        })
        TalkingData.onEvent('c_我的订单列表', 'c_我的订单列表', {storeId: this.shopInfo.id, userId: this.shopInfo.userId, customerId: this.userInfo.id})
      }
    },
    notLoginToast (title) {
      wx.showToast({
        title: title,
        icon: 'none',
        duration: 1000
      })
    },
    getCostomerDeposits () {
      API.my.getCostomerDeposits().then(res => {
        // console.log(res)
        this.amount = res.data.amount
      })
    },
    register () {
      wx.navigateTo({
        url: RouterPath.Auth.Login + '?fromPage=index'
      })
    },
    callPhone (telNum) {
      if (!this.login) {
        this.notLoginToast('请先登录~')
        return
      }
      wx.makePhoneCall({
        phoneNumber: telNum
      })
    },
    sureCall () {
      let telNum = this.shopInfo.contactPhone || ''
      this.callPhone(telNum)
    },
    cancelCall () {
      this.sureCallModal = false
    },
    call () {
      this.sureCallModal = true
    },
    close () {
      this.modalSaleServer = false
    },
    afterSale () {
      this.modalSaleServer = true
    },
    leave () {
      this.modalBollen = false
    },
    explain () {
      this.modalBollen = true
    },
    goManageAddress () {
      if (!this.login) {
        this.notLoginToast('请先登录~')
        return
      }
      wx.navigateTo({
        url: RouterPath.Address.List
      })
    },
    helpCenter () {
      wx.navigateTo({
        url: RouterPath.Common.HelpCenter
      })
    },
    changeStore () {
      if (!this.login) {
        this.notLoginToast('请先登录~')
        return
      }
      wx.navigateTo({
        url: RouterPath.Address.ChangeStore
      })
    },
    orderList () {
      if (!this.login) {
        this.notLoginToast('请先登录~')
        return
      }
      wx.navigateTo({
        url: RouterPath.Order.OrderList + '?type=0'
      })
    }
  },
  onLoad (options) {
    console.log('my----onload')
    // wxbarcode.qrcode('qrcode', '1234567890123456789', 420, 420)
    wx.pageScrollTo({
      scrollTop: 0,
      duration: 0
    })
    if (this.login) {
      this.init()
    }
  },
  onPullDownRefresh () {
    wx.stopPullDownRefresh()
  },
  onHide () {
  },
  onUnload () {
  },
  onShow () {
    console.log('my----onshow')
    if (this.login && this.nowSelectPage === 'my') {
      this.init()
    }
  }
}
</script>
<style lang="stylus" scoped>
  .fixed-body{
    overflow-y: hidden;
    position: fixed;
    width: 100%;
    height 100%
    top: 0;
    left: 0
  }
  .wait-pay-count{
    position: absolute
    background #fdd317
    width 36rpx
    height 36rpx
    line-height 36rpx
    right 22rpx
    top -12rpx
    font-size:22rpx;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    border-radius 50%
    border:1px solid rgba(51,51,51,1);
  }

  .my-container .boom-modal{
    background:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    display:flex;
    position:fixed;
    top:0;
    z-index: 1002
    .content-box{
      // min-height 270rpx
      width:600rpx;
      background:#fff;
      border-radius:16rpx;
      height:auto;
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%, -50%);
      box-sizing:border-box;
      font-size:32rpx;
      color:#555;
      // padding 35rpx
      .del-modal{
        height 274rpx;
      }
      .word{
        font-size:34rpx;
        font-family:PingFang-SC-Bold;
        font-weight:bold;
        color:rgba(0,0,0,1);
        padding:0;
        margin-left: 0 !important
        height: 170rpx;
        display: flex;
        justify-content:center;
        align-items:center;
      }
    }
  }
  .my-container{
    font-family:PingFang-SC-Regular;
  }
  .my-container .for-bg-color{
    position absolute
    top 0
    left 0
    right 0
    bottom -210rpx
    background #F5F8FA
  }
  .my-container .header {
    background: #fdd317;
    // height: 290rpx;
    min-height: 290rpx;
    padding: 0 30rpx;
  }
  .my-container .storeName{
    display flex
    align-items center
    .store-name-show{
      max-width:560rpx;
      overflow:hidden;
      display:inline-block;
      white-space:nowrap;
      text-overflow:ellipsis;
      font-weight:800;
      font-size:28rpx;
      font-family:PingFang-SC-Heavy;
      font-weight:800;
      color:rgba(0,0,0,1)
    }
  }
  .my-container .storeName>span:first-child {
    color: #000;
    font-size: 28rpx;
  }
  .my-container .storeName>span:last-child {
    font-size: 24rpx;
    margin-left:15rpx;
    color: #333;
  }
  .my-container .header-content{
    position: relative;
    margin-bottom: 210rpx;
  }
  .has-qr-cord .header-content{
    margin-bottom 390rpx
  }
  .my-container .userImgInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20rpx;
    height: 140rpx;
    box-sizing: border-box;
  }
  .has-qr-cord .userImgInfo.rqord-box{
    background:#fff;
    border-radius:20rpx;
    margin-top:16rpx;
    height:294rpx;
    display:block;
    // margin-bottom:60rpx;
    position:absolute;
    top:auto;
    z-index:999;
    width:90%;
    left:5%;
    padding:15rpx
  }
  .has-qr-cord .userImgInfo.rqord-box .img-box{
    font-size:28rpx;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(0,0,0,1);
    display:flex;
    justify-items:center;
  }
  .has-qr-cord .userImgInfo.rqord-box .qr-code-img{
      // width:583rpx;
      height:110rpx;
      // background:#eee;
      padding:15rpx 0
      // border-radius 4rpx
      display:flex;
      justify-content:center;
      overflow hidden
  }
  .userImgInfo>img,
  .has-qr-cord .userImgInfo.rqord-box .img-box>img{
    height: 80rpx;
    width: 80rpx;
    border-radius 50%;
  }
  .has-qr-cord .userImgInfo.rqord-box .img-box .user-name{
    margin-left: 20rpx;
  }
  .my-container .register{
    /* padding: 15rpx 40rpx; */
    height:65rpx;
    width:260rpx;
    border:2rpx solid #000;
    border-radius:40rpx;
    line-height:65rpx;
    text-align:center;
    margin-left: 20rpx;
    font-size: 32rpx;
    font-weight:bold;
  }
  .my-container .onLine{
    font-size: 26rpx;
    margin-left: 20rpx;
    .user-name{
      width:450rpx;
      text-overflow:ellipsis;
      overflow:hidden;
      white-space:nowrap;
      font-family:PingFang-SC-Bold;
      font-weight:bold;
      color:rgba(0,0,0,1);
      font-size 30rpx
    }
    .phoneNum{
      font-size:28rpx;
      font-family:PingFang-SC-Medium;
      font-weight:500;
      color:rgba(1,1,1,1);
      letter-spacing:22rpx;
    }
  }
  .my-container .my-order-box{
    padding:20rpx;
    background:#fff;
    border-radius:20rpx;
    position:absolute;
    width:93%;
    left:3.5%;
    box-sizing:border-box;
    bottom:-170rpx;
    // top: 200rpx
  }
  .has-qr-cord .my-order-box.qr-cord{
    bottom:auto;
    top:390rpx;

  }
  .my-container .order-header{
    border-bottom:1px solid #eee;
    padding:10rpx 15rpx;
  }
  .my-container .order-header>div:first-child{
    font-size:30rpx;
    font-family:PingFang-SC-Heavy;
    font-weight:800;
    color:rgba(0,0,0,1);
    position:relative;
    top:-2rpx;
  }
  .my-container .order-header>div:last-child{
    font-size:24rpx;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(153,153,153,1);
  }
  .my-container .order-status{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding:28rpx 0 10rpx 0;
    width:114%;
    margin-left:-6%;
  }
  .my-container .order-status>div{
    width:25%;
    text-align: center;
    position relative
  }
  .my-container .order-status .icon:first-child{
    width: 67rpx
    height 64rpx
  }
  .my-container .order-status .icon:nth-child(1){
    width: 65rpx
    height 55rpx
  }
  .my-container .order-status .icon:nth-child(2){
    width: 65rpx
    height 60rpx
  }
  .my-container .order-status .icon:last-child{
    width: 50rpx
    height 57rpx
  }
  .my-container .order-status>div>div{
    font-size:24rpx;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
  }
  .my-container .list-info .icon{
    width: 32rpx;
    height: 32rpx;
    margin-right: 10rpx;
  }
  .my-container .item{
    display:flex;
    justify-content:space-between;
    width:93%;
    margin-left:3.5%;
    background:#fff;
    height:101rpx;
    align-items:center;
    border-radius:12rpx;
    padding:0 10rpx;
    box-sizing:border-box;
    margin-bottom: 4rpx;
    font-size:28rpx;
    color:#6a6969;
    font-weight:500;

  }
  .my-container .icon-word{
    display:flex;
    align-items:center;
  }
  .my-container .icon-word .select-word{
    font-size:28rpx;
    font-family:PingFang-SC-Ragular;
    color:rgba(106,105,105,1);
    font-weight 400
  }
  .my-container .mayChange{
    margin-bottom: 20rpx;
  }
  .my-container .kefu-phone{
    font-size: 28rpx
    font-family:PingFang-SC-Ragular;
    color:rgba(96,134,224,1);
    margin-left: 10rpx;
  }
  .redPack-money{
    font-size:36rpx;
    font-family:PingFang-SC-Bold;
    color:rgba(255,121,0,1);
  }

  .my-container .barusertext{
		position: fixed;
		height:100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
    align-items: center;
    top: 0;
    z-index 1000
  }
  .my-container .userBox{
		height: 730rpx;
		width: 72%;
    position: relative;
    top:-140rpx;
  }
  .my-container .bottomBar{
		height:100%;
		width:100%;
		background:#fff;
		border-radius:20rpx;
		overflow: hidden;
  }
  .my-container .bottomTxt{
		height:630rpx;
		margin-top:90rpx;
		padding-left:17px;
		padding-right:17px;
		overflow-y:auto;
		font-size: 28rpx;
		color:#666;
  }
  .my-container .leave{
    width:70rpx;
    height:70rpx;
    background-size:cover;
    position:absolute;
    bottom:-127rpx;
    left:50%;
    margin-left:-35rpx;
    background:#555;
    text-align:center;
    line-height:60rpx;
    font-size:50rpx;
    border-radius:50%;
    color:#fff;
  }
  .my-container .title{
		position: absolute;
		top: -16rpx;
		height: 100rpx;
		width: 424rpx;
		left: 50%;
		margin-left: -212rpx;
		background-size: cover;
  }
  .explain{
    color:#fff;
    font-size:18rpx;
    text-align:center;
    border-radius:17rpx 17rpx 17rpx 0;
    position:relative;
    top:-14rpx;
    left:10rpx;
    line-height 24rpx
    width:60rpx;
    height:24rpx;
    background:rgba(255,126,0,1);
    border-radius:12rpx 12rpx 12rpx 0rpx;
  }
  .modal-sale-server{
    background:rgba(0, 0, 0, 0.5);
    width 100%
    height 100%
    display:flex;
    position:fixed;
    top:0;
    z-index 1003
    .content-info{
      width:600rpx;
      background:#fff;
      border-radius:16rpx;
      height:auto;
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      box-sizing:border-box;
      font-size:32rpx;
      color #333
      .info-box{
        padding:30rpx;
      }
      .info-box:nth-of-type(1){
        // border-bottom 15rpx solid #eee
      }
      .store-info{
        display flex
        padding 20rpx 0
        .phone-color{
          color #6086E0
        }
      }
      .sign{
        width 40rpx
      }
      .word{
        display:flex;
        border-bottom 2rpx solid #eee
        padding 20rpx 0
        .sign{
          width 50rpx
        }
        .sign>span{
          width:20rpx;
          height:20rpx;
          background:#f6d94e;
          display:inline-block;
          border-radius:50%;
          border:2rpx solid #000;
        }
      }
    }
  }
  .del-modal{
      .word{
        text-align:center;
        color:#000;
        font-size:36rpx;
        padding:40rpx 0;
        border-bottom:2rpx solid #eee;
        width:600rpx;
        margin-left:-33rpx;
      }
      .confirm-del-box{
        display flex
        .btn{
          flex 1
          flex:1;
          display:flex;
          justify-content:center;
          align-items:center;
          padding-top:10px;


        }
        .border-right{
          border-right:2rpx solid #eee;
          height:100rpx;
          position:absolute;
          left:50%;

        }
        .cancel{
          //
        }
        .sure{

        }
      }
  }
</style>
