<template>
  <div>
    <div class="adolf-modal-box canNotBuyModal" style="z-index:999" @click="true" id="canNotBuyAgain">
      <div class="content-box">
        <div class="know-header">
          提示
          <span class="know-icon"></span>
        </div>
        <div class="know-content">
          <p>该门店还未绑定收款微信，暂无法进入，</p>
          <p>赶快提醒老板去App绑定吧！</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: [],
  data () {
    return {
    }
  },
  computed: {
  },
  methods: {
  },
  onLoad (options) {
    console.log()
  },
  onHide () {
  },
  onUnload () {
  },
  onShow () {
  }
}
</script>
<style lang="stylus" scoped>
.content-box{
  padding: 0px
  min-height 150rpx
  .know-header{
    font-weight bold
    border-bottom 1rpx solid #e1e1e1
    text-align center
    padding 15rpx 30rpx
    font-size 30rpx
    color #333
    position relative
    .know-icon{
      width 30rpx;
      height 30rpx;
      background: url(../../../static/images/icon-prompt.png) no-repeat;
      background-size 100% 100%;
      position absolute;
      top 15rpx;
      display inline-block;
    }
  }
  .know-content{
    text-align center
    font-size 28rpx
    height 100rpx
    line-height 50rpx
    padding 20rpx 35rpx
  }
}
</style>

