<template>
  <div>
    <div class="boom-modal">
      <div class="content-box">
        <div class="del-modal">
          <div class="word">{{title}}</div>
          <div class="confirm-del-box">
            <div class="cancel btn" @click="cancelClick(true)">{{cancel}}</div>
            <div class="border-right"></div>
            <div class="sure btn" @click="cancelClick(false)" style="color:#ee7300">{{confirm}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ['title', 'confirm', 'cancel'],
  data () {
    return {
      // title: title
      // cancle: true
    }
  },
  computed: {
  },
  methods: {
    cancelClick (isBoolean) {
      this.$emit('isCancel', isBoolean)
    }
  },
  onLoad (options) {
    console.log()
  },
  onHide () {
  },
  onUnload () {
  },
  onShow () {
  }
}
</script>
<style lang="stylus" scoped>
  .boom-modal{
      background:rgba(0,0,0,0.5);
      width:100%;
      height:100%;
      display:flex;
      position:fixed;
      top:0;
      z-index 2
      .content-box{
        min-height 200rpx
        width:600rpx;
        background:#fff;
        border-radius:16rpx;
        height:auto;
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
        box-sizing:border-box;
        font-size:32rpx;
        color:#555;
        padding 35rpx
        .del-modal{
          .word{
            text-align:center;
            color:#000;
            font-size:36rpx;
            padding:40rpx 0;
            border-bottom:2rpx solid #eee;
            width:600rpx;
            margin-left:-33rpx;
          }
          .confirm-del-box{
            display flex
            .btn{
              flex 1
              flex:1;
              display:flex;
              justify-content:center;
              align-items:center;
              padding-top:10px;


            }
            .border-right{
              border-right:2rpx solid #eee;
              height:100rpx;
              position:absolute;
              left:50%;

            }
            .cancel{
              //
            }
            .sure{

            }
          }
        }
      }
    }
</style>

