<template>
  <div id="role-modal" v-if="ruleModalProps.showRuleModal" catchtouchmove='true'>
    <!-- 活动规则模态框 -->
    <div class="barusertext">
      <view class="userBox">
        <img src="/static/images/icon-shuoming.png" class="title">
        <view class="bottomBar">
          <view class="bottomTxt">
            <div v-for="(text, index) in ruleModalProps.ruleTextArr" :key="index">
              {{text}}
            </div>
          </view>
        </view>
        <span class="leave" @click='leave'>×</span>
      </view>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      ruleModalProps: {
        showRuleModal: false,
        ruleTextArr: []
      }
    }
  },
  methods: {
    showToast (opt = {}) {
      this.ruleModalProps = { ...opt.ruleModalProps }
    },
    leave () {
      this.ruleModalProps.showRuleModal = false
    }
  },
  onShow () {
    // console.log(this.ruleModalProps)
  },
  onUnload () {
    this.leave()
  }
}
</script>
<style lang="stylus" scoped>
.barusertext{
		position: fixed;
		height:100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
    align-items: center;
    top: 0;
    z-index: 10000;
    .userBox{
      height: 730rpx;
      width: 592rpx;
      position: relative;
      top:-140rpx;
    }
    .title{
      position: absolute;
      top: -16rpx;
      height: 100rpx;
      width: 424rpx;
      left: 50%;
      margin-left: -212rpx;
      background-size: cover;
    }
    .bottomBar{
      height:100%;
      width:100%;
      background:#fff;
      border-radius:20rpx;
      overflow: hidden;
    }
    .bottomTxt{
      height:630rpx;
      margin-top:122rpx;
      padding-left:17px;
      padding-right:17px;
      overflow-y:auto;
      font-size: 28rpx;
      color:#666;
      font-family:PingFang-SC-Regular;
      font-weight:bold;
      line-height: 50rpx;
    }
    .leave{
      width:70rpx;
      height:70rpx;
      background-size:cover;
      position:absolute;
      bottom:-160rpx;
      left:50%;
      margin-left:-35rpx;
      background:#555;
      text-align:center;
      line-height:70rpx;
      font-size:50rpx;
      border-radius:50%;
      color:#fff;
      font-weight: bold;
    }
  }
</style>

