<template>
  <div>
    <div class="g_toast" v-if="isShow">{{title}}</div>
  </div>
</template>
<script>
/*
 * @Title: totast 组件
 * @Author: 徐长剑
 * @Date: 2018-11-12 19:06:46
 * @LastEditTime: 2018-11-15 11:14:49
 * @LastEditors: 徐长剑
 * @Params: title 提示文案
 * @Params: delay  消失时间
 * @Description:
 */
export default {
  props: {
    delay: {
      type: Number,
      default: 800
    }
  },
  data () {
    return {
      isShow: false,
      title: '保存成功'
    }
  },
  methods: {
    showToast (opt = {}) {
      this.isShow = true
      this.title = opt.title
      return new Promise(resolve => {
        if (this.delay) {
          setTimeout(() => {
            this.isShow = false
            resolve()
          }, this.delay)
        } else {
          resolve()
        }
      })
    },
    hideToast () {
      this.isShow = false
    }
  },
  watch: {}
}
</script>

<style lang="stylus" scoped>
.g_toast {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  min-width: 300rpx;
  height: 100rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50rpx;
  padding 0 20rpx;
  z-index 1000;
  font-size: 32rpx;
}
</style>
