<template>
  <div class="loading-gif">
    <div class="content">
      <div class="img-box">
        <img class="baby" :src="'https://img.dianjia001.com/online/opmactivitymg/3da034747f5a46908888998d85434a73.jpg'" alt="">
        <div class="circle"></div>
      </div>
      <div class="words">
          <span>正在努力加载中，请稍后</span>
          <span class="dotting"></span>
        </div>
    </div>
  </div>
</template>
<script>
import Contants from '@contants/index'
export default {
  data () {
    return {
      Contants,
      timer: null,
      gifData: '/static/images/loading_baby.gif',
      randomNum: 0
    }
  },
  onLoad () {
    // this.startInterval()
  },
  onShow () {

  },
  methods: {
    startInterval () {
      this.timer = setInterval(() => {
        this.gifData = '/static/images/loading_baby.gif?' + ++this.randomNum
        // console.log(this.gifData)
      }, 1000)
    }
  },
  onHide () {
    this.timer = null
  },
  onUnload () {
    this.timer = null
  }
}
</script>
<style lang="stylus" scoped>
  .dotting {
      display: inline-block; min-width: 2px; min-height: 2px;
      box-shadow: 2px 0 currentColor, 6px 0 currentColor, 10px 0 currentColor; /* for IE9+, ..., 3个点 */
      animation: dot 800ms infinite step-start both; /* for IE10+, ... */
      webkit-transform: translate3d(0,0,0);
  }
  .dotting:before { content: '...'; } /* for IE8. 若无需兼容IE8, 此行以及下一行删除*/
  .dotting::before { content: ''; } /* for IE9+ 覆盖 IE8 */
  :root .dotting { margin-right: 8px; } /* for IE9+,FF,CH,OP,SF 占据空间*/

  @-webkit-keyframes dot {
      25% { box-shadow: none; }                                  /* 0个点 */
      50% { box-shadow: 2px 0 currentColor; }                    /* 1个点 */
      75% { box-shadow: 2px 0 currentColor, 6px 0 currentColor;  /* 2个点 */ }
  }
  @-webkit-keyframes babyJump{
    // 0%   {top: 0rpx;}
    // 50%  {top: -60rpx;}
    // 100%  {top: 0;}
    0%   {transform: translateY(0);}
    50%  {transform: translateY(-60rpx);}
    100%  {transform: translateY(0);}
  }
  @-webkit-keyframes oval{
    0%   {width: 110rpx;height: 40rpx}
    50%  {width: 70rpx;height: 20rpx}
    100%  {width: 110rpx;height: 40rpx}
  }
  .loading-gif{
    // transform: translateY(0)
    background #fff
    z-index 10000
    position fixed
    top 0
    left 0
    bottom 0
    right 0
    display flex
    justify-content center
    align-items center
    .content{
      .img-box{
        position relative
        display flex
        flex-direction column
        align-items center
        height 190rpx
        .baby{
          position absolute
          top 0
          width 150rpx
          height 150rpx
          webkit-transform: translate3d(0,0,0);

          animation:babyJump 800ms infinite;
        }
        .circle{
          background #cccccc
          width 110rpx
          height 40rpx
          border-radius 50%
          position:absolute;
          top:150rpx;
          webkit-transform: translate3d(0,0,0);

          animation:oval 800ms infinite;
        }
      }
      .words{
        font-size 30rpx
        color #666
      }
      image{
        // width:500rpx;
        // height:500rpx;
        // transform:translateX(20%);
      }
    }
  }
</style>

