<template>
  <div id="role-modal" v-if="ruleModalProps.showRuleModal">
    <div class="barusertext">
        <div class="title"> 
            <img src="/static/images/order-open.png" >
        </div>
       <div class="text">
           <div>{{ruleModalProps.ruleTextArr[0]}}</div>
           <div>{{ruleModalProps.ruleTextArr[1]}}</div>
       </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      ruleModalProps: {
        showRuleModal: false,
        ruleTextArr: []
      }
    }
  },
  methods: {
    showToast (opt = {}) {
      let time = 1000
      this.ruleModalProps = { ...opt.ruleModalProps }
      return new Promise(resolve => {
        if (time) {
          setTimeout(() => {
            this.ruleModalProps.showRuleModal = false
            resolve()
          }, time)
        } else {
          resolve()
        }
      })
    }
  },
  onShow () {
  },
  onUnload () {
  }
}
</script>
<style lang="scss" scoped>
.barusertext{
    width: 440rpx;
    height: 304rpx;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.7);
    color: #fff;
    border-radius: 65rpx;
    padding: 0 20rpx;
    z-index: 1000;
}
.title{
    width: 80rpx;
    height: 80rpx;
    position: relative;
    left: 50%;
    margin-left: -40rpx;
    top: 60rpx;
    img{
        width: 100%;
        height: 100%;
    }
}
.text{
    width: 440rpx;
    font-size:30rpx;
    font-weight:bold;
    color:rgba(255,255,255,1);
    line-height:42rpx;
    text-align: center;
    position: relative;
    top: 80rpx;
}
</style>

